{% load i18n versioned %}
{% if request.user.is_authenticated %}
      <p class="posting-as">Posting as {{ request.user.username }}</p>
{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if request.user.is_authenticated %}
        {% ifnotequal field.name "name" %}{% ifnotequal field.name "email" %}{% ifnotequal field.name "url" %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {% if field.errors %}{{ field.errors }}{% endif %}
        {% ifnotequal field.name "comment" %}{{ field.label_tag }} {% endifnotequal %}{{ field }}
      </p>
        {% endifnotequal %}{% endifnotequal %}{% endifnotequal %}
      {% else %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {% if field.errors %}{{ field.errors }}{% endif %}
        {% ifnotequal field.name "comment" %}{{ field.label_tag }} {% endifnotequal %}{{ field }}
      </p>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if request.user.is_authenticated %}
  <input type="hidden" name="name" value="{{ request.user.username }}">
  <input type="hidden" name="email" value="{{ request.user.email }}">
  <input type="hidden" name="url" value="{{ request.user.openiduser.url }}">
  {% endif %}
  <p class="submit">
    <input name="submit" class="submit-post floatright" value="Post" type="image" src="{% versioned "/images/post.png" %}">
    <input name="preview" class="submit-preview floatleft" value="Preview" type="image" src="{% versioned "/images/preview.png" %}">
  </p>
