{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n filters comments pagetabs %}
{% block body_class %}comments{% endblock %}

{% block title %}{{ block.super }} - {% trans "Admin - Comment moderation queue" %}{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css" media="screen">
    p#nocomments { font-size: 200%; text-align: center; border: 1px #ccc dashed; padding: 4em; }
    td.actions { width: 11em; }
    td.actions form { display: inline; }
    td.actions form input.submit { width: 5em; padding: 2px 4px; margin-right: 4px;}
    td.actions form input.approve { background: green; color: white; }
    td.actions form input.remove { background: red; color: white; }
  </style>
{% endblock %}

{% block content %}
{% if empty %}
<p id="nocomments">{% trans "No comments to moderate" %}.</p>
{% else %}
<div id="content-main">
 
 <h2>Comments</h2>
 
  <div class="module" id="labels">
    {% if page_obj %}
    <div class="pag">
      {% pagetabs page_obj %}
    </div>
    {% endif %}

    <table cellspacing="0" class="rounded">
      <thead>
        <tr>
          <th><span>{% trans "Name" %}</span></th>
          <th><span>{% trans "Comment" %}</span></th>
          <th><span>{% trans "Email" %}</span></th>
          <th><span>{% trans "URL" %}</span></th>
          <th><span>{% trans "Authenticated?" %}</span></th>
          <th><span>{% trans "IP Address" %}</span></th>
          <th class="sorted desc"><span>{% trans "Date posted" %}</span></th>
          <th><span>{% trans "Video" %}</span></th>
        </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>
            {{ comment.name }}
            <div class="actions">
              <form action="{% url comments-approve comment.pk %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{% url comments-moderation-queue %}" />
                <input class="approve submit" type="submit" name="submit" value="{% trans "Approve" %}" />
              </form>
              <form action="{% url comments-delete comment.pk %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{% url comments-moderation-queue %}" />
                <input class="remove submit" type="submit" name="submit" value="{% trans "Remove" %}" />
              </form>
            </div>
          </td>
          <td>{{ comment.comment|sanitize }}</td>
          <td>{{ comment.email }}</td>
          <td>{{ comment.url }}</td>
          <td>
              {% if comment.user %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}
          </td>
          <td>{{ comment.ip_address }}</td>
          <td>{{ comment.submit_date|date:"F j, P" }}</td>
          <td><a href="{% get_comment_permalink comment %}">{{ comment.content_object }}</a></td> 
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}
