{% extends "localtv/base.html" %}

{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post" id="comment_form">{% csrf_token %}
    {% if form.errors %}
    <h2 class="errorlist">{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h2>
    {% else %}
    <h2 class="page_title">{% trans "Preview your comment" %}</h2>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </p>
    {% endif %}
    {% include "comments/form_base.html" %}
  </form>
{% endblock %}
