{% load i18n filters %}{% load url from future %}
<table>
  <tr>
    <td width="230" valign="top">
      {# This is set in FeedView._bulk_adjusted_items. #}
      {% if obj.description_thumbnail %}
        <a href="{{ obj.get_absolute_url|full_url }}">
          <img src="{{ obj.description_thumbnail|full_url }}" />
        </a>
      {% endif %}
    </td>
    <td width="300" valign="top">
      <div class="miro-community-description">{{ obj.description|sanitize }}</div>
    </td>
    <td width="250" valign="top">
      {% with authors=obj.authors.all categories=obj.categories.all tags=obj.get_tags %}
      <div>{% if authors %}<b>By:</b> {% for author in authors %}<a href="{% url 'localtv_author' author.pk as url %}{{ url|full_url }}">{% if author.firstname %}{{ author.get_full_name }}{% else %}{{ author.username }}{% endif %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      <div>{% if categories %}<b>Categories:</b> {% for cat in categories %}<a href="{{ cat.get_absolute_url|full_url }}">{{ cat.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      <div>{% if tags %}<b>Tags:</b> {% for tag in tags %}{% url 'localtv_list_tag' tag.name as tag_url %}{% if tag_url %}<a href="{{ tag_url|full_url }}">{% endif %}{{ tag.name }}{% if tag_url %}</a>{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      {% if obj.website_url %}<div><b>{% trans "Original link" %}:</b><a href="{{ obj.website_url }}">{{ obj.website_url }}</a></div>{% endif %}
      {% endwith %}
    </td>
  </tr>
</table>
