{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n filters daguerre %}
<table>
  <tr>
    <td width="230" valign="top">
      {% adjust obj.thumbnail_path width=222 height=169 as thumbnail_url %}
      {% if thumbnail_url %}
        <a href="{{ obj.get_absolute_url }}">
          <img src="{% if not thumbnail_url|slice:':7' == 'http://' and not thumbnail_url|slice:':8' == 'https://' %}http://{{ site_settings.site.domain }}{% endif %}{{ thumbnail_url }}">
        </a>
      {% endif %}
    </td>
    <td width="300" valign="top">
      <div class="miro-community-description">{{ obj.description|sanitize }}</div>
    </td>
    <td width="250" valign="top">
      {% with authors=obj.authors.all categories=obj.categories.all tags=obj.tags.all %}
      <div>{% if authors %}<b>By:</b> {% for author in authors %}<a href="{% url localtv_author author.pk %}">{% if author.firstname %}{{ author.get_full_name }}{% else %}{{ author.username }}{% endif %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      <div>{% if categories %}<b>Categories:</b> {% for cat in categories %}<a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      <div>{% if tags %}<b>Tags:</b> {% for tag in tags %}{% url localtv_list_tag tag.name as tag_url %}{% if tag_url %}<a href="{{ tag_url }}">{% endif %}{{ tag.name }}{% if tag_url %}</a>{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      {% if obj.website_url %}<div><b>{% trans "Original link" %}:</b><a href="{{ obj.website_url }}">{{ obj.website_url }}</a></div>{% endif %}
      {% endwith %}
    </td>
  </tr>
</table>
