{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n filters localtv_thumbnail %}
<table>
  <tr>
    <td width="230" valign="top">
      <a href="{{ obj.get_absolute_url }}">
        <img src="{% get_thumbnail_url obj 222 169 %}">
      </a>
    </td>
    <td width="300" valign="top">
      <div class="miro-community-description">{{ obj.description|sanitize }}</div>
    </td>
    <td width="250" valign="top">
      <div>{% if obj.authors.count %}<b>By:</b> {% for author in obj.authors.all %}<a href="{% url localtv_author author.pk %}">{% if author.firstname %}{{ author.get_full_name }}{% else %}{{ author.username }}{% endif %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      <div>{% if obj.categories.count %}<b>Categories:</b> {% for cat in obj.categories.all %}<a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      <div>{% if obj.tags.count %}<b>Tags:</b> {% for tag in obj.tags.all %}{% url localtv_list_tag tag.name as tag_url %}{% if tag_url %}<a href="{{ tag_url }}">{% endif %}{{ tag.name }}{% if tag_url %}</a>{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      {% if obj.website_url %}<div><b>{% trans "Original link" %}:</b><a href="{{ obj.website_url }}">{{ obj.website_url }}</a></div>{% endif %}
    </td>
  </tr>
</table>