{# takes image and video_list. image has priority. #}

{% load uploadtemplate daguerre %}

<figure class='grid-item-figure'>
    <div class="tiles-wrapper">
        <div class="tiles-shim">
            <img src="{% static "localtv/front/images/shim_300_216.png" %}" />
        </div>
        <ul class="tiles tiles-{% if image or not video_list or video_list|length < 2 %}1{% elif video_list|length < 6 %}2{% else %}6{% endif %}">
            {% if image %}
                <li class="tiles-item">
                    <img src="{{ image }}" />
                </li>
            {% elif not video_list %}
                <li class="tiles-item">
                    <img src="{% static "localtv/front/images/nounproject_2650_television_white.png" %}" />
                </li>
            {% elif video_list|length == 1 %}
                {% for video in video_list %}
                    <li class="tiles-item"><img src="{% adjust video.thumbnail_path width=300 height=216 adjustment="fill" %}" /></li>
                {% endfor %}
            {% elif video_list|length < 6 %}
                {% adjust_bulk video_list|slice:":2" "thumbnail" width=150 height=216 adjustment="fill" as adjusted_list %}
                {% for video, image in adjusted_list %}
                    <li class="tiles-item"><img src="{{ image }}" /></li>
                {% endfor %}
            {% else %}
                {% adjust_bulk video_list|slice:":6" "thumbnail" width=100 height=108 adjustment="fill" as adjusted_list %}
                {% for video, image in adjusted_list %}
                    <li class="tiles-item"><img src="{{ image }}" /></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</figure>
