{# Expects columns, object_list, lookup, and grid_item_template #}
{# empty_message is optional #}
{% load daguerre %}
{% if object_list %}
    {% adjust_bulk object_list lookup 'fill' width=300 height=216 as adjusted_list %}
    <ul class="grid grid-{{ columns }}">
        {% for object, image in adjusted_list %}
            <li class="grid-item">
                {% include grid_item_template %}
            </li>
        {% endfor %}
    </ul>
{% elif empty_message %}
    <div class="message warning">
        <p>{{ empty_message }}</p>
    </div>
{% endif %}
