{% load url from future %}
{% load video_list i18n %}

<a class='grid-item-link' href="{% url 'localtv_author' object.pk %}">
    {% get_video_list_for_user object as videos %}
    {% include "localtv/_grid/_item_figure.html" with image=object.get_profile.logo video_list=videos|slice:":6" %}
    <div class='grid-item-content'>
        <header class='grid-item-header'>
            <h1>{% if object.first_name %}{{ object.first_name }} {{ object.last_name }}{% else %}{{ object.username }}{% endif %}</h1>
            {% with count=videos|length %}
                <p>{{ count }} {% blocktrans count count=count %}video{% plural %}videos{% endblocktrans %}</p>
            {% endwith %}
        </header>
    </div>
</a>