{% load i18n %}

<a class='grid-item-link' href="{{ object.get_absolute_url }}">
    {% include "localtv/_grid/_item_figure.html" with image=object.logo video_list=object.approved_set|slice:":6" %}
    <div class='grid-item-content'>
        <header class='grid-item-header'>
            <h1>{{ object.name }}</h1>
            {% with count=object.approved_set.count %}
                <p>{{ count }} {% blocktrans count count=count %}video{% plural %}videos{% endblocktrans %}</p>
            {% endwith %}
        </header>
    </div>
</a>
<div class='grid-item-post'>
    {% with subcats=object.child_set.all|slice:":3" %}
        {% if subcats %}
            <p>{% trans "Subcategories" %}: {% for subcat in subcats %}<a href="{{ subcat.get_absolute_url}}">{{ subcat.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% endif %}
    {% endwith %}
</div>
