*.pyc
/mirocommunity.egg-info/*
/docs/_build/*
/.tox/
/test_mc_project/media/
/test_mc_project/test_mc_project.sl3
/test_mc_project/whoosh_index/
/test_mc_project/nosetests*.xml
/test_mc_project/webdriver_results/
