*.pyc
/mirocommunity.egg-info/*
/docs/_build/*
/.tox/
localtv/tests/selenium/Results/*.png
localtv/tests/selenium/Results/nosetests.xml
localtv/tests/selenium/Results/results.html
test_mc_project/nosetests.xml
test_mc_project/webdriver_results
