*.pyc
.sass-cache
/mirocommunity.egg-info/*
/docs/_build/*
/.tox/
/test_project/test_project/media/
/test_project/test_project/db.sl3
/test_project/test_project/whoosh_index/
/test_project/test_project/nosetests*.xml
/test_project/test_project/webdriver_results/
