-e git+http://git.participatoryculture.org/localtv@master#egg=miro-community
-e git+http://git.participatoryculture.org/djpagetabs@master#egg=djpagetabs
-e git+http://git.participatoryculture.org/djvideo@master#egg=djvideo
-e git+http://git.participatoryculture.org/vidscraper@master#egg=vidscraper
-e git+http://git.participatoryculture.org/django-email-share@master#egg=django-email-share
-e git+http://git.participatoryculture.org/django-uploadtemplate@master#egg=django-uploadtemplate
BeautifulSoup
Django==1.2.1
http://effbot.org/downloads/Imaging-1.1.6.tar.gz#egg=Imaging
South>=0.7
-e svn+http://feedparser.googlecode.com/svn/trunk/#egg=feedparser
flup>=1.0.2
lxml==2.1.5
python-memcached==1.44
python-openid==2.2.4
http://pypi.pinaxproject.com/python-yadis-1.1.0.tar.gz
simplejson==1.9.2
wsgiref==0.1.2
-e git+git://github.com/winhamwr/django-tagging.git#egg=django-tagging
-e svn+http://recaptcha.googlecode.com/svn/trunk/recaptcha-plugins/python#egg=recaptcha_client-dev
-e svn+http://recaptcha-django.googlecode.com/svn/trunk#egg=recaptcha_django-0.1-py2.5
django-haystack>=1.0.1
whoosh # or another Haystack backend
celery==1.0.0
-e git+http://git.participatoryculture.org/python-bitly@master#egg=python-bitly
django-notification==0.1.5
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
oauth2
-e git+http://github.com/paulswartz/Django-Socialauth.git@master#egg=Django-Socialauth
-e git+http://github.com/facebook/python-sdk.git@master#egg=facebook_python_sdk
oauth
-e git+https://github.com/dcramer/django-paypal.git@master#egg=django-paypal
mock
django-storages
