{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{# This inclusion template expects a form instance as ``form`` #}

{% if form.non_field_errors %}
	{{ form.non_field_errors }}
{% endif %}

<dl class='form-fields'>
	{% for field in form %}
		<dt class='form-fields-label'>{{ field.label_tag }}</dd>
		{% if field.help_text %}
			<dd class='form-fields-help-text'>{{ field.help_text }}</dd>
		{% endif %}
		{% if field.errors %}
			<dd class='form-fields-errors'>{{ field.errors }}</dd>
		{% endif %}
		<dd class='form-fields-field'>{{ field }}</dd>
	{% endfor %}
</dl>
