{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<nav class="pagination">
	<ol>
    {% if paginator.num_pages < 7 %}
      {% for page_num in paginator.page_range %}
        {% include "localtv/admin/_pagination_item.html" %}
      {% endfor %}
    {% else %}
      {% with page_num=1 %}
        {% include "localtv/admin/_pagination_item.html" %}
      {% endwith %}

      {% if page_obj.number > paginator.num_pages|add:-4 %}
        <span class="pagination-hellip">&hellip;</span>
        {% for page_num in paginator.page_range|slice:"-5:-1" %}
          {% include "localtv/admin/_pagination_item.html" %}
        {% endfor %}
      {% else %}
        {% if page_obj.number < 5 %}
          {% for page_num in paginator.page_range|slice:"1:5" %}
            {% include "localtv/admin/_pagination_item.html" %}
          {% endfor %}
          <span class="pagination-hellip">&hellip;</span>
        {% else %}
          <span class="pagination-hellip">&hellip;</span>
          {% with page_num=page_obj.previous_page_number %}
            {% include "localtv/admin/_pagination_item.html" %}
          {% endwith %}
          {% with page_num=page_obj.number %}
            {% include "localtv/admin/_pagination_item.html" %}
          {% endwith %}
          {% with page_num=page_obj.next_page_number %}
            {% include "localtv/admin/_pagination_item.html" %}
          {% endwith %}
          <span class="pagination-hellip">&hellip;</span>
        {% endif %}
      {% endif %}

      {% with page_num=paginator.num_pages %}
        {% include "localtv/admin/_pagination_item.html" %}
      {% endwith %}
    {% endif %}
	</ol>
</nav>