{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{% block title %}Just a Moment{% endblock %}</title>
<style>

body{
background: #eee;
padding: 0;
margin: 0;
}

body > div{
text-align: center;
}
div div {
background: #fff;
padding: 30px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

p{
font-size: 190%;
padding: 0px 0;
color: #999;
margin: 8% 0;
}

div p{
color: #666;
margin: 6% 0;
}

</style>
 {% block error %}
 <script type="text/javascript">
     function multipartError() {
         location.href = location.href;
     }
     if ('attachEvent' in window) {
         window.attachEvent('onload', multipartError);
     } else {
         window.addEventListener('load', multipartError, false);
     }
 </script>
 {% endblock %}
</head>

  <body>
  <div>
    {% block top %}
    <p>Just a Moment<br /><br /><img src="{{ STATIC_URL }}localtv/images/ajax-loader.gif"/></p>
    {% endblock %}
  <div>
    {% block bottom %}
    <p style="font-size: 18px;">Checking out this URL
    <br/> <br/><strong style="font-size: 24px;">"{{ feed_url }}"</strong>
    </p>
    {% endblock %}
    </div>
    </div   >
  </body>
</html>
