{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block body_class %}bulkedit{% endblock body_class %}


{% load i18n pagetabs generate_modified_query_string %}

{% block title %}{{ block.super }} - {% block subtitle %}{% trans "Admin - Bulk Edit" %}{% endblock %}{% endblock %}
{% block head %}{{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}localtv/js/admin/inline_edit.js?version={{ mc_version }}"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}localtv/js/admin/bulk_edit.js?version={{ mc_version }}"></script>
{% endblock %}
{% block content %}
  {% block subheader %}{% include "localtv/admin/video_header.html" %}{% endblock %}
  {% block pre-labels %}
  <h2>Videos | Bulk Edit</h2>
  {% endblock %}
<div id="labels">
  {% block labels %}
  <form action="" method="get" class="search_sources">
    <select class="behave" name="category">
      <option {% if not request.GET.category %}selected="selected"{% endif %}  value="">Show All Categories</option>
      {% for category in categories %}
      <option {% ifequal category.pk|stringformat:"i" request.GET.category %}selected=selected {% endifequal %}value="{{ category.pk }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <select class="behave" name="author">
      <option {% if not request.GET.user %}selected="selected"{% endif %} value="">Show All Users</option>
      {% for user in users %}
      <option {% ifequal user.pk|stringformat:"s" request.GET.author %}selected="selected"{% endifequal %} value="{{ user.pk }}">{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</option>
      {% endfor %}
    </select>
    <select class="behave" name="filter">
      <option {% if not request.GET.filter %}selected="selected"{% endif %} value="">Current Videos</option>
      <option {% ifequal request.GET.filter "featured" %}selected="selected"{% endifequal %} value="featured">Featured Videos</option>
      <option {% ifequal request.GET.filter "rejected" %}selected="selected"{% endifequal %} value="rejected">Rejected Videos</option>
      <option {% ifequal request.GET.filter "unapproved" %}selected="selected"{% endifequal %} value="unapproved">Unapproved Videos</option>      
      <option {% ifequal request.GET.filter "no-attribution" %}selected="selected"{% endifequal %} value="no-attribution">Videos without Attribution</option>
      <option {% ifequal request.GET.filter "no-category" %}selected="selected"{% endifequal %} value="no-category">Videos without Category</option>
    </select>
    <input type="text" class="small_field" name="q" value="{{ search_string }}" placeholder="Keyword Filter"/>
    <button class="med_button" type="submit"><span>Search</span></button>
  </form>


  <div class="bulkedit_controls">
    <select id="bulk_action_selector" class="behave">
      <option value="">Bulk Actions</option>
      <option value="edit">Edit</option>
      <option value="delete">Delete</option>
      <option value="approve">Approve</option>
      <option value="unapprove">Unapprove</option>
      <option value="feature">Feature</option>
      <option value="unfeature">Unfeature</option>
    </select>
    <button type="button" class="med_button" onclick="bulkAction();"><span>Apply</span></button>
  </div>
  {% endblock %}

  <form method="post" action="{{ request.get_full_path }}" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
    {% block massedit %}
    {% ifnotequal formset.initial_form_count formset.total_form_count %}
    <div id="massedit" class="simple_overlay bulk_edit rounded">
      <h2>Bulk Edit (this will edit all selected videos)</h2>
      {% with formset.forms|last as form %}
      <div class="input_field">
        <ul>
          <li class="title_edit">
            <label>Title</label>
            {{ form.name }}
          </li>
          <li class="thumb_edit">
            <label>Thumb URL</label>
            {{ form.thumbnail_url }}
            <div class="upload_dialog">or <a href="#" onclick="$(this).next().show(); return false;">Upload</a> a New Thumbnail
            <span style="display: none;">{{ form.thumbnail }}</span>
            </div>
          </li>
          <li class="date_edit">
            <label>Date</label>
            {{ form.when_published }}
            <div style="float: left; padding-left: 110px;">{{ form.when_published.help_text }}</div>
          </li>
          <li class="description_edit">
            <label class="floatnone">Description</label>
            {{ form.description }}
          </li>
          <li class="tags_edit">
            <label class="floatnone">Tags</label>
            {{ form.tags }}
          </li>
          <li class="categories_edit scrollable">
            <label class="padding">Add Categories</label>
            {{ form.categories }}
          </li>
          <li class="users_edit scrollable right">
            <label class="padding">Users</label>
            {{ form.authors }}
          </li>
        </ul>
      </div>
      <button class="approve_button marginbottom behave"><span>Save Changes</span></button>
      {% endwith %}
    </div>
    {% endifnotequal %}
    {% endblock %}

    {% if page %}
    <div class="pag">
      {% pagetabs page %}
    </div>
    {% endif %}

    <table class="rounded">
      <thead>
        <tr>
          <th class="checkbox">
            {{ formset.management_form }}
            <input type="hidden" id="bulk_action" name="bulk_action" value="" />
            <input type="checkbox" id="toggle_all"/>
          </th>
          {% for header in headers %}
          <th>
            {% if header.sort %}
            <a class="{% if forloop.last %}last {% endif %}{{ header.class }}" href="{{ header.link }}">
              {{ header.label }}
            </a>
            {% else %}
            <span>{{ header.label }}</span>
            {% endif %}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% if formset.non_form_errors %}
        <tr>
          <td colspan="{{ headers|length|add:"1" }}">{{ formset.non_form_errors }}</td>
        </tr>
        {% endif %}
        {% for form in formset.initial_forms %}
        <tr class="{% cycle "" "grey" %}">
          <td>
            {{ form.BULK }}
            <div class="simple_overlay bulk_edit editing{% if form.errors %} errors{% endif %}">
              {% for field in form.hidden_fields %}
              {{ field.errors }}
              {{ field }}
              {% endfor %}
              {{ form.non_field_errors }}
              <h2>Editing</h2>
              {% block quick-edit %}
              <div class="input_field">
                {% block quick-edit-fields %}
                <ul>
                  <li class="title_edit">
                    <label>Title</label>
                    {{ form.name.errors }}
                    {{ form.name }}
                  </li>
                  <li class="title_edit">
                    <label>Video URL</label>
                    {{ form.file_url.errors }}
                    {{ form.file_url }}
                  </li>
                  <li class="thumb_edit">
                    <label>Thumb URL</label>
                    {{ form.thumbnail_url.errors }}{{ form.thumbnail.errors }}
                    {{  form.thumbnail_url }}
                    <div style="float: right; width: 286px;">
                      or <a href="#" onclick="$(this).next().show(); return false;">upload</a> a new thumbnail
                      <span style="display: none;">{{ form.thumbnail }}</span>
                    </div>
                  </li>
                  <li class="date_edit">
                    <label>Date</label>
                    {{ form.when_published.errors }}
                    {{ form.when_published }}
                    <div style="float: left; padding-left: 110px;">{{ form.when_published.help_text }}</div>
                  </li>
                  <li class="description_edit">
                    <label class="floatnone">Description</label>
                    {{ form.description.errors }}
                    {{ form.description }}
                  </li>
                  <li class="tags_edit">
                    <label class="floatnone">Embed Code</label>
                    {{ form.embed_code }}
                    {{ form.tags.errors }}
                  </li>
                  <li class="tags_edit">
                    <label class="floatnone">Tags</label>
                    {{ form.tags.errors }}
                    {{ form.tags }}
                  </li>
                  <li class="categories_edit scrollable">
                    <label class="padding">Categories</label>
                    {{ form.categories.errors }}
                    {{ form.categories }}
                  </li>
                  <li class="users_edit scrollable right">
                    <label class="padding">Users</label>
                    {{ form.authors.errors }}
		    <a class="replace_with_href" href='?{% generate_modified_query_string "just_the_author_field" form.prefix %}&video_id={{ form.instance.id }}'>Click to edit the users associated with this video</a>
		    {% comment %}
                    {{ form.authors }}
		    {% endcomment %}
                  </li>
                </ul>
                {% endblock %}
              </div>
              <button type="submit" class="approve_button" name="submit" value="Save"><span>Save Changes</span></button>
              {% endblock %}
            </div>
          </td>
          {% block columns %}
          <td>
            <span>{{ form.instance.name }}</span>
            <div class="actions">
              <a href="#" onclick="return showEdit(this);">Edit</a> | <a href="#" class="delete_icon" onclick="return toggleDelete(this);">Delete</a> {{ form.DELETE.as_hidden }} | <a href="{{ form.instance.get_absolute_url }}" class="view_icon">View</a>
            </div>
          </td>
          <td>
            {% if form.instance.video_service %}
            {{ form.instance.video_service }} User
            <strong>{% if form.instance.feed %}{{ form.instance.feed.name }}{% else %}{{ form.instance.video_service_user }}{% endif %}</strong>
            {% else %}
            {% if form.instance.search %}
            Saved Search: <strong>{{ form.instance.search.query_string }}</strong>
            {% endif %}
            {% endif %}
          </td>
          <td>
            {% if form.initial.categories %}
            <ul class="categories_list">
              {% for choice in form.categories.field.choices %}
              {% if choice.0 in form.initial.categories %}<li>{{ choice.1 }}</li>{% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </td>
          <td width="19%">{% if form.instance.when_published %}<span class="pub_date">{{ form.instance.when_published|date:"M, d Y" }}</span>{% endif %} </td>
          <td class="last" width="19%">{% if form.instance.when_submitted %}<span class="pub_date">{{ form.instance.when_submitted|date:"M, d Y" }}</span>{% endif %} </td>
          {% endblock %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page %}
    <div class="pag bottom">
      {% pagetabs page %}
    </div>
    {% endif %}
  </form>
  <script type="text/javascript">
      $("input[type=password]:not([value])").val(''); // don't autocomplete passwords
  </script>
</div>
{% endblock content %}

