{% extends "localtv/admin/__base.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n %}


{% block body_classes %}{{ block.super }} create {{ verbose_name_plural }}{% endblock %}


{% block title %}{% blocktrans with verbose_name=verbose_name|capfirst %}Add a {{ verbose_name }}{% endblocktrans %} — {{ block.super }}{% endblock %}


{% block content_title %}<h1>Add a {{ verbose_name|capfirst }}</h1>{% endblock %}


{% block content %}
  <form class="create-form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {% block form %}
      {% include 'localtv/admin/_form.html' %}
    {% endblock %}
    <button type="submit" name="next" value="{% url list_view_name %}">Save</button>
    <button type="submit" name="next" value="{{ request.path }}">Save and continue editing</button>
  </form>
{% endblock %}
