{% extends "localtv/admin/base_wait.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block bottom %}
<p style="font-size: 18px;">Searching far and wide for videos matching
    <br/> <br/><strong style="font-size: 24px;">"{{ query_string }}"</strong>
</p>
{% endblock %}