{% extends "localtv/admin/__base.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n %}

{% block body_classes %}{{ block.super }} update {{ verbose_name_plural }}{% endblock %}

{% block title %}{% block page_title %}{{ object }} — {% blocktrans with verbose_name=verbose_name|capfirst %}Edit {{ verbose_name }}{% endblocktrans %}{% endblock %} — {{ block.super }}{% endblock %}

{% block content %}
<section>
	<header>
		<h1>{% block content_title %}Edit {{ verbose_name|capfirst }}: {{ object }}{% endblock %}</h1>
  </header>

  <form class="update-form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <table>
      <tfoot>
        <tr><td colspan=2>
          <button type="submit">Save changes</button>
        </td></tr>
      </tfoot>
      <tbody>
        {% block form %}
          {{ form }}
        {% endblock %}
      </tbody>
    </table>
  </form>
</section>
{% endblock %}