git+http://git.participatoryculture.org/djpagetabs@master#egg=djpagetabs
git+http://git.participatoryculture.org/django-email-share/@master#egg=django_email_share
git+http://git.participatoryculture.org/django-uploadtemplate@master#egg=django_uploadtemplate
git+git://github.com/pculture/mirocommunity.git@1.9#egg=mirocommunity
git+git://github.com/pculture/djvideo.git@354d55786b5882eae6a7ee6d676cf02737010fc9#egg=djvideo
git+git://github.com/pythonforfacebook/facebook-sdk.git@master#egg=facebook_python_sdk
git+git://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
hg+http://bitbucket.org/ubernostrum/django-registration/@tip#egg=django-registration
beautifulsoup4==4.0.4
Django==1.4.1
Pillow==1.7.5
lxml==2.3.4
feedparser==5.1.2
django-tagging==0.3.1
django-celery==2.3.3
celery==2.4.6
kombu==2.0.0
amqplib==1.0.2
anyjson==0.3.1
django-picklefield==0.1.9
simplejson==2.3.2
oauth==1.0.1
oauth2==1.5.211
mock==0.8.0
django-notification==0.2
whoosh==2.3.2
httplib2==0.7.2
requests==0.10.8
vidscraper==0.5.2
django-tastypie==0.9.11
django_compressor==1.1.2
django-appconf==0.5
django-mptt==0.5.2
Markdown==2.1.1
django-daguerre==0.1
django-social-auth==0.7.9
python-openid==2.2.4
