{% load i18n %}

<a class="grid-item-link" href="{{ object.get_absolute_url }}">
    {% include "localtv/_grid/_item_figure.html" with video_list=object.videos.all|slice:":6" %}
    <div class='grid-item-content'>
        <header class="grid-item-header">
            <h1>{{ object.name }}</h1>
            {% with count=object.videos.count %}
                <p>{{ count }} {% blocktrans count count=count %}video{% plural %}videos{% endblocktrans %}</p>
            {% endwith %}
        </header>
    </div>
</a>
