$gutter-width: 40px !default;
$column-gutter-width:0 !default;
$max-width-threshold: 960px !default;

@import "compass/css3/box-sizing",
		"compass/utilities/general/clearfix";

/* This grid structure is not going to work in IE7 and below. */

.container{
	width:$max-width-threshold;
	margin:0 auto;
}

.row{
	margin-left:-$column-gutter-width;
	@include clearfix;
}

.col{
	@include box-sizing(border-box);
	padding-left:$column-gutter-width;
	float:left;
}

.right{
	float:right;
	clear:right;
}


@mixin padded($ratio:1){
	@include padding-trailer($ratio);
	@include padding-leader($ratio);
	padding-left:$gutter-width*$ratio/2;
	padding-right:$gutter-width*$ratio/2;
}
@mixin unpadded($ratio:1){
	@include margin-trailer(-$ratio);
	@include margin-leader(-$ratio);
	margin-left:-$gutter-width*$ratio/2;
	margin-right:-$gutter-width*$ratio/2;
}

.padded-half{ @include padded(.5); }
.padded{ @include padded; }
.unpadded-half{ @include unpadded(.5); }
.unpadded{ @include unpadded; }

// Basic column widths

.col-one-half{
	@extend .col;
	width:$max-width-threshold/2;
}
.col-one-quarter{
	@extend .col;
	width:$max-width-threshold/4;
}
.col-three-quarters{
	@extend .col;
	width:$max-width-threshold*3/4;
}
.col-one-third{
	@extend .col;
	width:$max-width-threshold/3;
}
.col-two-thirds{
	@extend .col;
	width:$max-width-threshold*2/3;
}

// Nested column widths
.row-nested{
	@extend .row;
	& > .col-one-half{
		width:50%;
	}
	& > .col-one-quarter{
		width:25%;
	}
	& > .col-three-quarters{
		width:75%;
	}
	& > .col-one-third{
		width:33.33%;
	}
	& > .col-two-thirds{
		width:66.67%;
	}
}


// Flexible column widths for when viewport is smaller than 960
@media screen and (max-width: 960px){
	.container{
		width:100%;
		@include box-sizing(border-box);
	}
	.col-one-half{
		width:50%;
	}
	.col-one-quarter{
		width:25%;
	}
	.col-three-quarters{
		width:75%;
	}
	.col-one-third{
		width:33.33%;
	}
	.col-two-thirds{
		width:66.67%;
	}
}

@media screen and (max-width: 740px){
	.col{
		width:100%;
	}
}