@import "compass/css3/box-sizing",
		"compass/utilities/general/clearfix";

$gutter-width: 20px;
$column-gutter-width:0;
$max-width-threshold: 960px;
$single-column-threshold: 740px;

/* This grid structure is not going to work in IE7 and below. */

.container{
	width:$max-width-threshold;
	margin:0 auto;
}

.row{
	margin-left:-$column-gutter-width;
	@include clearfix;
}

.col{
	@include box-sizing(border-box);
	padding-left:$column-gutter-width;
	float:left;
}

.right{
	float:right;
	clear:right;
}

.padded{
	@include padding-trailer(.5);
	@include padding-leader(.5);
	padding-left:$gutter-width/2;
	padding-right:$gutter-width/2;
}
.unpadded{
	@include margin-trailer(-.5);
	@include margin-leader(-.5);
	margin-left:-$gutter-width/2;
	margin-right:-$gutter-width/2;
}

// Basic column widths

.col-one-half{
	@extend .col;
	width:$max-width-threshold/2;
}
.col-one-quarter{
	@extend .col;
	width:$max-width-threshold/4;
}
.col-three-quarters{
	@extend .col;
	width:$max-width-threshold*3/4;
}
.col-one-third{
	@extend .col;
	width:$max-width-threshold/3;
}
.col-two-thirds{
	@extend .col;
	width:$max-width-threshold*2/3;
}

// Nested column widths
.row-nested{
	@extend .row;
	& > .col-one-half{
		width:50%;
	}
	& > .col-one-quarter{
		width:25%;
	}
	& > .col-three-quarters{
		width:75%;
	}
	& > .col-one-third{
		width:33.33%;
	}
	& > .col-two-thirds{
		width:66.67%;
	}
}


// Flexible column widths for when viewport is smaller than 960
@media screen and (max-width: 960px){
	.container{
		width:100%;
		@include box-sizing(border-box);
	}
	.col-one-half{
		width:50%;
	}
	.col-one-quarter{
		width:25%;
	}
	.col-three-quarters{
		width:75%;
	}
	.col-one-third{
		width:33.33%;
	}
	.col-two-thirds{
		width:66.67%;
	}
}

@media screen and (max-width: 740px){
	.col{
		width:100%;
	}
}