@import "compass/utilities/general/clearfix",
		"compass/css3/box-shadow";

#main{
	@include clearfix;
}

#main > .container{
	background:#FFF;
	border-width:0 3px;
	@include box-shadow(0 0 5px 0 rgba(0,0,0,.15));
}

@media screen and (max-width:950px){
	#main > .container{
		border-width:0;
	}
}