@import "compass/css3/box-sizing";

#container{
	@include container;
	position: relative;
}


@media screen and (max-width: 950px){
	#container{
		width:100%;
		padding:10px;
		@include box-sizing(border-box);
	}
}

#search{
	position:absolute;
	top:$base-line-height;
	right:0;
}

#main{
	@include clearfix;
}