@import "compass/utilities/color/contrast";

$color1: #EEE !default;
$color2: #344F6D !default;

$main-background-color: #FFF !default;
$main-text-color: #444 !default;
$main-box-shadow: 0 0 3px rgba(0,0,0,.25) !default;

$body-background-color: #CCC !default;

$button-text-color: #666 !default;
$button-hover-text-color: #444 !default;
$button-down-text-color: #444 !default;
$button-background-color: #F5F5F5 !default;

$navigation-background-color: #FFF !default;
$navigation-text-color: #444 !default;

$pod-header-background-color: $color1 !default;
$pod-header-text-color: contrast-color($color1, darken($color1, 80%), lighten($color1, 80%), 50%) !default;

$input-border-color: #CCC !default;
$input-background-color: #FFF !default;

$precontent-background-color: #343639 !default;
$precontent-header-background: #000 !default;
$precontent-header-text-color: #FFF !default;
$precontent-header-link-color: #5C86A0 !default;
$precontent-header-link-hover-color: #4E9EDA !default;
$precontent-quiet-color: #999 !default;
$precontent-link-color:#6CF !default;

$sidebar-background-color:#F5F5F5 !default;

$site-blurb-background-color: #222 !default;
$site-blurb-text-color: #DDD !default;

$site-title-color: #000;

@import "compass/css3/images",
		"compass/css3/box-shadow";

/* base theme styles */
a{
	color:$color2;
}

a:hover{
	color:darken($color2, 15%);
}

body{
	background:$body-background-color;
	color:$main-text-color;
}

/* main container */

#main{
	border-top:1px solid darken($main-background-color, 20%);
}

#main > .container{
	background:$main-background-color;
	@include box-shadow($main-box-shadow);
}

/* buttons */

.button{
	color:$button-text-color;
	text-shadow: 0 1px 0 #FFF;
	border-color: darken($button-background-color, 15%);
	@include background(linear-gradient($button-background-color, darken($button-background-color, 10%)));
	@include box-shadow(0 1px 0 0 lighten($button-background-color, 30%) inset);
	&:hover{
		color:$button-hover-text-color;
		@include background(linear-gradient(darken($button-background-color, 7%), darken($button-background-color, 10%)));
		@include box-shadow(0 1px 0 0 lighten($button-background-color, 5%) inset);
	}
}
.button:active, .button-active, .button-selected{
	color:$button-down-text-color;
	@include background(linear-gradient(darken($button-background-color, 15%), darken($button-background-color, 25%)));
	@include box-shadow(0 3px 8px 0 rgba(0,0,0,.35) inset);
	border-color: darken($button-background-color, 50%);
}

/* navigation */

.nav-item a{
	color:$navigation-text-color;
}
.nav-item{
	border-color:lighten($navigation-text-color, 60%);
}

.nav-item-dropdown > a::after{
	border-top-color:$navigation-text-color;
}

.dropdown-list, .dropdown-box{
	border-color:darken($navigation-background-color, 20%);
	background:$navigation-background-color;
	&::before{
		border-bottom-color:darken($navigation-background-color, 20%);
	}
}

.dropdown-list > li > a{
	color:$navigation-text-color;
	&:hover{
		background:darken($navigation-background-color, 5%);
		color:darken($navigation-text-color, 5%);
	}
	&:active{
		background:darken($navigation-background-color, 10%);
	}
}

/* popover */

.popover{
	border-color:darken($main-background-color, 20%);
	background:$main-background-color;
	.arrow{
		border-right-color:darken($main-background-color, 20%);
	}
}

/* forms */

input, textarea{
	border-color: $input-border-color;
	background: $input-background-color;
	&:focus{
		border-color: $color2;
		@include box-shadow(0 0 6px 0 transparentize($color2, .65), 1px 1px 3px 0 rgba(0,0,0,.15) inset);
	}
}

/* pagetabs */

.pagetabs .ellipse span{
	color:lighten($button-text-color, 20%);
	border-color:lighten($button-text-color, 50%);
	&:hover, &:active{
		color:lighten($button-text-color, 20%);
		border-color:lighten($button-text-color, 50%);
		@include background(linear-gradient($button-background-color, darken($button-background-color, 10%)));
		@include box-shadow(0 1px 0 0 lighten($button-background-color, 30%) inset);
	}
}

/* pod */

.pod-header{
	background-color: $pod-header-background-color;
	@include background-image(linear-gradient($pod-header-background-color, darken($pod-header-background-color, 5%)));
	border-bottom-color: darken($pod-header-background-color, 10%);
	border-top-color: lighten($pod-header-background-color, 10%);
	color:$pod-header-text-color;
	a{
		color:$pod-header-text-color;
	}
}

.pod-actions {
	a{
		color: contrast-color($pod-header-background-color,
				darken($pod-header-background-color, 60%),
				lighten($pod-header-background-color, 60%)
			);
	}
	a:hover{
		color: contrast-color($pod-header-background-color,
				darken($pod-header-background-color, 80%),
				lighten($pod-header-background-color, 80%)
			);
	}
}

/* precontent */

.precontent{
	/* http://subtlepatterns.com/?p=1024 */
	background: #343639 image-url('classy_fabric.png');
}

.precontent a{
	color:$precontent-link-color;
	&:hover{
		border-color:#666;
	}
}

.precontent-header{
	background:$precontent-header-background;
	color:$precontent-header-text-color;
	a{
		color:$precontent-header-link-color;
	}
	a:hover{
		color:$precontent-header-link-hover-color;
	}
}

.colophon{
	color:$precontent-quiet-color;
}

/* site-blurb */

.site-blurb{
	background-color:$site-blurb-background-color;
	color:$site-blurb-text-color;
}

/* site-title */

#SiteTitle{
	color:$site-title-color;
	& > a{
		color:inherit;
	}
}

/* social-link-list */
.social-link-list{
	background:darken($main-background-color, 3%);
	border-color:darken($main-background-color, 10%);
	& > li{
		border-color:darken($main-background-color, 10%);
	}
}

/* tabs */

.tabs{
	border-color:darken($main-background-color, 20%);
}
.tabs > .active > a{
	background:$main-background-color;
	color:$main-text-color;
}
.tabs > li > a{
	color:darken($main-background-color, 40%);
	background:darken($main-background-color, 5%);
	border-color:darken($main-background-color, 20%);
}


/* sidebar */
@media screen and (min-width: 740px){
	.right-sidebar{
		background-color:$sidebar-background-color;
		@include background(linear-gradient(left, darken($sidebar-background-color, 10%) 0, $sidebar-background-color 2%, $sidebar-background-color 100%));
	}

	.left-sidebar{
		background-color:$sidebar-background-color;
		@include background(linear-gradient(right, darken($sidebar-background-color, 10%) 0, $sidebar-background-color 2%, $sidebar-background-color 100%));
	}
}