@import "compass/css3/images";

.home-page .popular{
	@include small;
	.video-title{
		margin-bottom:0;
	}
	.video-summary .details{
		margin-top:0;
	}
}
.home-page .popular .description{
	max-height: $base-line-height * 2;
	overflow: hidden;
}

.basic .popular > .pod-content,
.basic .popular > .pod-footer,
.cyclops .popular > .pod-content,
.cyclops .popular > .pod-footer,
.basic .new > .pod-content,
.basic .new > .pod-footer{
	@extend .right-sidebar;
}