{% load staticfiles %}<a href="{{ video.get_absolute_url }}" class='thumbnail{% if not image %} thumbnail-icon{% endif %}' data-content="
    {% filter force_escape %}
        {% if video.description %}
            <div>
                {{ video.description|truncatewords_html:30|safe }}
            </div>
        {% endif %}
        {% with video as instance %}
            <p><small class='muted'>{% include 'localtv/_when_published.html' %} {% include 'localtv/inline_edit/video_authors.html' %}</small></p>
        {% endwith %}
    {% endfilter %}
" data-toggle="popover" data-trigger="hover" data-html="true" data-title="{{ video.name }}">{% if image %}<img src="{{ image }}" width={{ image.width }} height={{ image.height }} />{% else %}{% with value="12345"|make_list|random %}<i class="{% if value == '1' %}icon-rocket{% elif value == '2' %}icon-picture{% elif value == '3' %}icon-road{% elif value == '4' %}icon-beaker{% else %}icon-globe{% endif %}"></i>{% endwith %}{% endif %}</a>

<h5>
    <a href="{{ video.get_absolute_url }}">{{ video.name }}</a>{% if sorter %}<br />
    <small>{{ sorter }}</small>{% endif %}
</h5>
