{% extends "localtv/__base.html" %}

{% load i18n comments filters uploadtemplate cache video_list email_share_tags daguerre compress %}
{% load url from future %}

{# used by js to determine whether we're on a detail page #}
{% block body_classes %}{{ block.super }} video-detail{% endblock %}

{% block meta %}
  {% with title=current_video.name %}
    <meta name="title" content="{{ title }}">
    <meta property="og:title" content="{{ title }}">
  {% endwith %}
  {% with default_description="Video from "|add:site_settings.site.name %}
    {% with description=current_video.description|striptags|default:default_description %}
      <meta name="description" content="{{ description }}" />
      <meta property="og:description" content="{{ description }}">
    {% endwith %}
  {% endwith %}

  {% if current_video.file_url %}
    <meta property="og:video:url" content="{{ current_video.file_url }}">
    {% if current_video.file_url_mimetype %}
      <meta property="og:video:type" content="{{ current_video.file_url_mimetype }}">
    {% endif %}
  {% endif %}

  <meta property="og:site_name" content="{{ site_settings.site.name }}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:type" content="video.other">

  {# not DRY, but we can't store this. #}
  {% if current_video.thumbnail %}
    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.META.HTTP_HOST }}{% adjust current_video.thumbnail.name 'fit' width=600 %}">
    <link rel="image_src" href="http{% if request.is_secure %}s{% endif %}://{{ request.META.HTTP_HOST }}{% adjust current_video.thumbnail.name 'fit' width=600 %}" />
  {% endif %}
{% endblock %}

{% block title %}{% if current_video.name %}{{ current_video.name }}{% else %}{% trans "(no title)" %}{% endif %} - {{ block.super }}{% endblock %}

{% block main-outer %}
  <div class='featured-field'>
    <div class='container'>
      <div class='featured-inner'>
        {% include "localtv/video/_embed.html" %}
      </div>
      <div class='featured-inner'>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <ul class="nav">
              <li>
                <div class="fb-like social-count" data-href="{{ request.build_absolute_uri }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
              </li>
              <li>
                <div class='social-count'>
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ request.build_absolute_uri }}">Tweet</a>
                </div>
              </li>
              <li>
                <div class='social-count'>
                  <g:plusone size="medium"></g:plusone>
                </div>
              </li>
              <li>
                <div>
                  <a href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&amp;media={% filter urlencode %}http{% if request.is_secure %}s{% endif %}://{{ request.META.HTTP_HOST }}{% adjust current_video.thumbnail.name "fit" width=600 %}{% endfilter %}&amp;description={{ current_video.name|iriencode }}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                </div>
              </li>
              <li><a href="{% get_email_share_url_for current_video %}" rel="#overlay" title="{% trans 'Email' %}"><i class='icon-envelope'></i></a></li>
              {% if current_video.file_url %}
                <li class="file-social"><a href="{{ current_video.file_url }}" title='{% trans "Download Video File" %}'><i class='icon-download-alt'></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    {% block main %}
      <div class='row'>
        <div class='span8'>
          <h2>
            {% if current_video.name %}
              {{ current_video.name }}
            {% else %}
              {% trans "(no title)" %}
            {% endif %}
            <small>
              {% with current_video as video %}
                {% include 'localtv/video/_published.html' %} {% include 'localtv/video/_authors.html' %}
              {% endwith %}
            </small>
          </h2>
          <section class="video-details">
            {{ current_video.description|safe }}
            <div class="extra-details">
              {% with categories=current_video.categories.all %}
                {% if categories %}
                  <ul class='inline'>
                    <li><strong>Categories</strong></li>
                    {% for category in categories %}
                      <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
              {% with tags=current_video.tags.all %}
                {% if tags %}
                  <ul class='inline'>
                    <li><strong>Tags</strong></li>
                    {% for tag in tags %}
                      {% if tag.name %}
                        {% url localtv_list_tag tag.name as tag_url %}
                        <li>{% if tag_url %}<a href="{% url localtv_list_tag tag.name %}">{% endif %}{{ tag.name }}{% if tag_url %}</a>{% endif %},</li>{% if not forloop.last %} {% endif %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
              {% if user_is_admin %}
                <ul>
                  {% if current_video.owner %}<li>{% trans "Owner" %}: {{ current_video.owner }}</li>{% endif %}
                  {% if current_video.search %}<li>{% trans "From search" %}: {{ current_video.search }}</li>{% endif %}
                  {% if current_video.feed %}<li>{% trans "From feed" %}: <a href="{% url 'localtv_list_feed' current_video.feed.pk %}">{{ current_video.feed }}</a></li>{% endif %}
                  {% if current_video.owner_email %}<li>{% trans "Contact" %}: {{ current_video.owner_email }}</li>{% endif %}
                </ul>
              {% endif %}
            </div>
          </section>{# /.video-details #}
          <div>
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="360px" data-num-posts="4"></div>
          </div>
        </div>
        <div class='span4'>
          {% for module in sidebar_modules %}
            {% include module %}
          {% endfor %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block scripts-foot %}
  {{ block.super }}
  {# Facebook #}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1{% if FACEBOOK_APP_ID %}&appId={{ FACEBOOK_APP_ID }}{% endif %}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {# Twitter #}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  {# Google+ #}
  <script type="text/javascript">
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  {# Pinterest #}
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}
