{% extends "localtv/video/__list.html" %}

{% load i18n %}

{% load url from future %}

{% block title %}{{ block.super }} - {% blocktrans with name=feed.name %}Videos From {{ name }}{% endblocktrans %}{% endblock %}

{% block page_title %}{% blocktrans with name=feed.name %}Videos From {{ name }}{% endblocktrans %}{% endblock %}

{% block rss_url %}{% url 'localtv_feeds_feed' feed.id %}{% endblock %}

{% block video %}
  <li class='span3'>{% include 'localtv/video/_thumbnail.html' %}</li>
{% endblock %}

