/*////////////////////////////////////////////

~ HTML

////////////////////////////////////////////*/


body{
margin: 0;
background: url(images/bg.gif) center top no-repeat;

padding: 0;
font-family: arial, helvetica, sans-serif;
font-size: 13px;
}

a{
color: #013e9a;
text-decoration: underline
}


a:hover{
color: #555555;
text-decoration: underline;
}

a img{
	border: 0px;
	}

#main p, .full p{
line-height: 1.4;
color: #444;
margin: 0px 0 10px 0 !important;
}


h2{
font-size: 18px;
margin: 0 0 10px 0;
color: #333;
padding: 0;
font-weight: normal;
}


h3{
font-weight: normal;
margin: 30px 0 5px 0;

}

h4{
margin: 20px 0 0 0;
padding: 0;

}

img{
	border:0;
}

/*////////////////////////////////////////////

~ Classes

////////////////////////////////////////////*/

.image{
padding: 5px;
background: #fff;
border-top: 1px double #dedede;
border-right: 1px double #aaa;
border-bottom: 1px double #888;
border-left: 1px double #cecece;
}

.floatright{
display: block;
float: right;
margin: 0 0 20px 20px;
}

.floatleft{
display: block;
float: left;
margin: 0 20px 30px 0;
}

.centered{
	margin: 0 auto;
	text-align: center;
}




.normal a{
display: block !important;
background: none !important;
clear: both !important;
font-size: 11px !important;
float: none !important;
line-height: 1.5em;
list-style: unordered !important;
padding: 3px 0 3px 23px! important;
margin: 0 0 0 10px !important;

}



/*////////////////////////////////////////////

~ Layout

////////////////////////////////////////////*/


#college {
background: url(/images/stripe.png) top repeat-x;
margin: 0;
padding: 0;

}

.college_container {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	color: #454545;
	width: 940px;
	margin-top: 75px;
	}

.college_masthead {
	color: #df342c;
	font-size: 50px;
	text-align: center;
	margin: 25px 0px;
	}

.college_masthead_images_side {
	font-size: 14px;
	text-align: center;
	width: 326px;
	float: right;
	}


#blue{
background: url(/images/blue_bg.png) left top repeat-x;
}



#wrap{
width: 940px;
padding:0 10px 20px 10px;
margin: 0 auto;
}


#stripe{

	top: 342px;

	position: absolute;

	width: 900px;
	padding: 0px;
	margin: 0px;

}

#stripe img{
clear:both;
}

#stripe_left{


	margin-left: 25px;


	margin-bottom: 0px;


	margin-right: 0px;


	margin-top: 0px;


	float: left;


	padding: 0px;


	text-align: left;


	width: 375px;


}

#stripe_right{

	position: relative;

	text-align: left;

	margin-left: 100px;

	margin-bottom: 0px;

	margin-right: 0px;

	margin-top: 0px;

	width: 350px;

	padding: 0px;

	float: right;

}

#stripe h1{
text-align: center;
margin-right: auto;
margin-left: auto;
margin-bottom: 0;
margin-top: 0;
letter-spacing: -1px;
color: #cc0000;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 26px;
}

#stripe p{
line-height: 1.5em;
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 10px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 16px;
}


#content{
padding-left: 0px;
clear: both;
width: 900px;
margin: 0;
letter-spacing: .015em;

}


#main{

border-top-color: #efefef;
border-top-style: solid;
border-top-width: 1px;
padding-left: 0px;
clear: both;
width: 940px;

}


#college #main{
border-top-width: 0px;
margin-top: 30px;
top: 830px;
position: absolute;
width: 900px;
}

#features #main{
border-top-width: 0px;
margin-top: 30px;
top: 830px;
width: 900px;
}

#faq #main{
border-top-width: 0px;
margin-top: 30px;
top: 830px;
width: 900px;
}

.featuredmain{
	padding:0 !important;
	margin:0 !important;
}

#main_left{
padding-top: 40px;
padding-left: 0px;
padding-bottom: 30px;
padding-right: 20px;
float: left;
width: 550px;
}

#main_right{
padding-left: 20px;
padding-bottom: 30px;
padding-right: 20px;
padding-top: 20px;
background-color: #f9f1f7;
float: right;
width: 250px;

}


#main h1{
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
margin-top: 0;
color: black;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
font-size: 22px;
}

#main h2{
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
margin-top: 0;
color: black;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
font-size: 14px;
}

h4.partners{
margin:0;
padding:12px 0 6px 0;
color: #7d7d7d;
font-weight: normal;
font-size: 12px;
}

#partnerlogos{
	height: 70px;
	border-top: 1px solid #EFEFEF;
padding: 22px;
	background: url(/images/partnerlogos.png) 0 20px no-repeat;
}

a#wnyc{
	float:left;
	padding: 20px 95px 35px 95px;
	text-decoration: none;
	margin-left: 40px;
}

a#economystory{
	float:left;
	padding: 20px 150px 35px 150px;
	text-decoration: none;
	margin-left: 57px;
}

a#bavc{
	float:left;
	padding: 20px 95px 35px 95px;
	text-decoration: none;
	margin-left: 52px;
}
	

#main p{
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
line-height: 1.8em;
margin-top: 30px;
color: black;
font-weight: normal;
font-size: 16px;
}


#main li{
	line-height: 1.5em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	list-style-position: inside;
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: disc;
	margin-bottom: 20px;
}   


#main ul{
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
	margin-bottom: 20px;
}   


#get_started{
padding-bottom: 0px;
padding-top: 12px;
background-repeat: no-repeat;
background-image: url(/images/long_heading.png);
padding-right: 40px;
padding-left: 40px;
float: left;
clear: both;
top: 0px;
position: relative;
margin-top: 10px;
width: 850px;

}


#get_started  h1{
text-transform: uppercase;
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 5px;
margin-top: 5px;
color: black;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
font-size: 16px;
}

#get_started p{
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
line-height: 1.8em;
margin-top: 30px;
color: black;
font-weight: normal;
font-size: 16px;
}

#get_started a{
	color: #000000;
}


#third{
padding: 30px;
}

/*////////////////////////////////////////////

~ Footer

////////////////////////////////////////////*/


#footer{
top: 30px;
position: relative;
clear: both;
font-size: 11px;
text-align: center;
margin: 80px 40px 80px;
}

#footer p{
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-top: 0px;
line-height: 1.8em;
color: black;
font-weight: normal;
font-size: 10px;
}



#footer .first{
font-weight: bold;
}




/*////////////////////////////////////////////

~ Intro

////////////////////////////////////////////*/


#index #intro {
padding-left: 0px;
padding-right: 20px;
padding-top: 30px;
clear: both;
}

#index #intro h1{
text-align: left;
margin-top: 10px;
line-height: 33px;
clear: right;
float: left;
display: block;
margin-left: 0;
margin-bottom: 10px;
margin-right: 0;
letter-spacing: 0px;
color: #DF342C;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 28px;
}

#index #intro p{
letter-spacing: 0px;
line-height: 1.5em;
font-family: Helvetica, Verdana, Arial, sans-serif;
margin-left: 0;
margin-right: 0;
margin-top: 10px;
color: black;
color: #333;
font-weight: normal;
padding: 0px;
font-size: 18px;
}


#intro {
margin-bottom: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 20px;
padding-top: 30px;
width: 940px;
}

#intro_top {
	margin-bottom: 15px;
	padding-bottom: 0px;
	margin-right: 0px;
	padding-left: 0px;
	height: 115px;
}

#intro_top p {
	float: left;
	width: 415px;
	font-size: 20px !important;
	line-height: 1.4em !important;
	margin:0px !important;
}

#intro_top h3 {
	position: relative;
	text-align: right;
	margin: 0;
	padding-top: 90px;
	color: #596783;
	font-weight: bold;
	font-size: 13px;
}

#intro_bottom {
	padding: 0px;
	margin: 5px 1px 0 0;
}

#intro_bottom h5 {
	margin: 10px 0 5px 0;
}

#intro_bottom h5 a {
	color: #444444;
}

#intro_bottom ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#intro_bottom li {
	float: left;
	margin: 5px 0 10px 0;
	padding: 0;
}

#intro_bottom li a {
	display: block;
	text-align: center;
	margin: 0 0 15px 0;
	color: #596783;
	text-decoration: none;
	font-size: 14px;
}

#intro_bottom li a:hover {
	text-decoration: underline;
}

.center-gallery {
	padding: 0 19px !important;
}

#intro h1{
float: left;
margin: 10px 0 0 0;
margin-left: 0;
margin-bottom: 0;
margin-right: 10px;
letter-spacing: -1px;
color: #DF342C;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 36px;
}

#intro h2{
margin-bottom: -10px;
margin-right: 0;
margin-top: 30px;
color: #949494;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 12px;
}


#intro p{
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 20px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 20px;
line-height: 2em;
}


#intro span{
float: right;
margin-right: 30px;
}

#intro_left img{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 25px;
	text-align: right;
}

/*////////////////////////////////////////////

~ Header

////////////////////////////////////////////*/

.masthead {
	width: 940px;
	text-align: center;
	}

.masthead_text {
       font-family: Helvetica,Verdana,Arial,sans-serif;
       color: #df342c;
       font-size: 50px;
       text-align: center;
       margin: 0px 0px;
       }

.masthead_row {
	text-align: center;
	margin-top: 30px;
	}

.masthead_row IMG {
	vertical-align:top;
	padding: 0px;
	margin:0px 16px;
	}

.masthead_link {
	text-align: right;
	margin-top: 40px;
	margin-bottom: 20px;
	}
	
#solution_button{
margin-top:45px;
float: right;
}


#solution_button a{
	margin-top: 0px;
	color: white;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
	padding-top: 85px;
	width: 512px;
	display: block;
	overflow: hidden;
	height: 0;
	background: url(/images/create.png) no-repeat;
	text-align: center;
}


#solution_button a:hover{
	text-decoration: none;
	color: #c3c3c3;
}

p.subtext {
	font-size: 10px !important;
	color: #444444 !important;
	margin: 0 !important;
	text-align: center !important;
	width: 302px !important;
}

#header {
	height: 65px;
	padding-top: 30px;

}

#header img{

	left: 0px;

	top: 0px;

	position: relative;

	float: left;

}


#header h1{
background: url(images/mc_logo.png) no-repeat;
margin: 0;
float: left;
width: 425px;
padding: 65px 0 0;
height: 0;
overflow: hidden;
}

#header a{
	text-decoration: none;
}

#header h2{
padding: 17px 0 0;
display: block;
color: #333333;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
float: right;
font-size: 18px;
}


#header p{
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 40px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 18px;
line-height: 2em;
}


#header span{
float: right;
margin-right: 30px;
}




.clear{
clear: both;
}



/*////////////////////////////////////////////

~ Sidebar 

////////////////////////////////////////////*/


#sidebar{
padding-left: 0px;
padding-bottom: 30px;
padding-right: 20px;
padding-top: 40px;
border-left-color: #efefef;
border-left-style: solid;
border-left-width: 1px;
float: right;
width: 306px;
}



#sidebar h1{
margin-left: 45px;
margin-bottom: 10px;
margin-right: 0;
margin-top: 1px;
font-size: 14px;
color: #333;
}


#sidebar ul{
padding: 0px;
width: 326px;
margin: 0 0 0px 0;
}

#sidebar ul li{
padding-left: 110px;
padding-bottom: 20px;
padding-right: 20px;
padding-top: 20px;
margin:  0;
list-style: none;
font-size: 12px;
font-weight: bold;
text-decoration: none;
display: block;
list-style: none;
border-bottom: 1px solid #efefef;
}





#sidebar ul li div{
padding: 0px !important;
margin:  0px 0 0 0 !important;
color: black;
font-size: 11px;
font-weight: normal;
}

#sidebar .domain{
background: url(/images/film_thumb.png) 45px center no-repeat;
}



#sidebar .existing{
background: url(/images/publish_icon.png) 42px center no-repeat;
}

#sidebar .free{
background: url(/images/gift_small.png) 34px center no-repeat;
}


#sidebar .variety{
background: url(/images/guide.png) 43px center no-repeat;
}

#sidebar .automatic{
background: url(/images/rss_big.png) 40px center no-repeat;
}



#sidebar .discussion{
background: url(/images/earth.png) 34px center no-repeat;
}


#sidebar .opensource{
padding-bottom: 30px !important;
padding-top: 30px !important;
background: url(/images/open_small.png) 28px center no-repeat;
}

#miro_can_do h1{
font-style: normal;
font-weight: normal;
font-family: Helvetica, Verdana, Arial, sans-serif;
color: #cc0000;
text-align: left;
font-size: 22px;
margin: 0;
line-height: 1.3em;
padding: 20px 0 15px 0;
}

#miro_can_do p{
background-position: 0 15px;
background-image: url(/images/bubble.png);
background-repeat: no-repeat;
padding-left: 60px;
color: black;
border-bottom-color: #efefef;
border-bottom-style: solid;
border-bottom-width: 1px;
text-align: left;
font-size: 16px;
float: left;
font-family: georgia, times, sans-serif;
font-weight: normal;
font-style: italic;
padding-top: 10px;
}





/*////////////////////////////////////////////

~ Features 

////////////////////////////////////////////*/

#featuresnav{
	width: 210px;
	float: left;
	font-size: 15px; 
	font-family: arial, helvetica, sans-serif;
	color: 444444;
	padding: 21px 0 0 0;
	margin: 0;
	list-style-type: none;
}

#featuresnav li{
	padding: 6px 10px 6px 10px;
	cursor:pointer;
	display:block;
}

#featuresnav li.current{
	color: #ffffff;
	background-color: #444444;
}

#featuresmatrix{
	width: 668px;
	float: right;
	border: 1px solid #dedede;
	background-color: #ffffff;
	padding-top: 7px;
	margin-top: 20px
}

.matrixheader{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.matrixheader li{
	padding: 0px 0px 5px 15px;
	font-weight: bold;
	font-size: 18px;
	color: #444444;

}

.matrixfeature{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.matrixfeature li{
	padding: 5px 30px 10px 35px;
	line-height: 130%;
	font-weight: normal;
	font-size: 13px;
	color: #444444;
}

.matrixfeature li.alt{
	background-color: #eaeaea;
}

.subfeature{
	padding-bottom: 10px;
}

.subfeature li{
	margin: 0px 30px 0 35px;
	padding: 0;
	list-style-type: disc;
	font-weight: normal;
	font-size: 13px;
	color: #444444;
}

.management{
	display: block;
}

.presentation{
	display: none;
}

.engagement{
	display: none;
}

.premium{
	display: none;
}

.morefeatures{
	display: none;
}


#get_started p {
	margin-top: 0;
}


/*////////////////////////////////////////////

~ FAQ

////////////////////////////////////////////*/
#featuresnav{
	width: 210px;
	float: left;
	font-size: 15px; 
	font-family: arial, helvetica, sans-serif;
	color: 444444;
	padding: 21px 0 0 0;
	margin: 0;
	list-style-type: none;
}

#featuresnav li{
	padding: 6px 10px 6px 10px;
	cursor:pointer;
	display:block;
}

#featuresnav li.current{
	color: #ffffff;
	background-color: #444444;
}

#faqheader {
	float:none !important;
}

#faqcontents{
	margin-left: 65px;
}

#faqcontents a{
	text-decoration: none;
	color: #444444;
}

#faqcontents a:hover{
	text-decoration: underline;
	color: #000000;
}

#faqcontents ul{
	text-transform: uppercase;
	list-style-type: none;
	margin-left: 0;
	font-size: 1.1em;
	line-height: 1.23em;
	padding-left: 0;
}

#faqcontents ul li ul{
	text-transform: none;
	padding-left: 30px;
}


#faq-qa {
	width: 830px;
}

#faq-qa h3{
	text-transform: uppercase;
	font-size: 2.2em;
	margin: 75px 0 25px;
}

#faq-qa h4{
	font-size: 1.5em;
	margin-top: 50px;
}

#faq-qa p {
	line-height: 1.5em;	
	margin: 5px 0 0 0;
}

#faq-qa ul{
	padding:0;
	list-style-type: none;
	margin-left: 65px;
}

#faq-qa ul li ul{
	margin: 0;
}


/*////////////////////////////////////////////

~ Signup Form 

////////////////////////////////////////////*/
#signup h1#signupheader{
text-align: left;
margin-top: 10px;
line-height: 33px;
clear: right;
display: block;
margin: 10px 10px 1 0;
letter-spacing: -1px;
color: #DF342C;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 36px;
}

#signupform{
	margin: 70px 0 30px 0;
}

#signupform label{
	font-weight: bold;
	margin-right: 8px;
}

#signupform p{
	margin-top: 0px;
	margin-bottom: 4px;
}

.errorlist{
	margin:0;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom:3px;
	padding: 0;
	color: red;
}

#signupform input{
	margin-top:13px;
}

/*////////////////////////////////////////////

~ Local

////////////////////////////////////////////*/
.local_masthead {
	color: #df342c;
	font-size: 50px;
	text-align: center;
	margin: 25px 0px;
	padding-top: 20px;
	}


#localmap {
	border:solid 1px #777;
	margin-top: 0px;
}
