{% extends "djam/__base.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{{ block.super }} - {% trans "Account Activated" %}{% endblock %}


{% block main %}
	<header class="page-header">
		<h1 class="page-title">{% trans "Account Activated" %}</h1>
	</header>
	<div class="page-content padded">
		<div class="message success">
			{% trans "Your account has been activated! You may now log in." %}
		</div>
		<a href="{% url "auth_login" %}" class="button button-wide">{% trans "Log In" %}</a>
	</div>
{% endblock %}
