{% extends "localtv/__layouts/100.html" %}

{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load uploadtemplate_tags i18n %}

{% block body_classes %}{{ block.super }} login-page{% endblock %}

{% block title %}{% trans "Login" %} - {{ block.super }}{% endblock %}

{% block main %}
	<header class="page-header">
		<h1 class="page-title">{% trans "Login" %}</h1>
	</header>
	
	<div class="page-content">
		{% if request.user.is_authenticated %}
			<div class="padded">
				<p>You are currently logged in as <strong>{{ request.user.first_name|default:request.user.username }}</strong>.</p>
			</div>
		{% endif %}
		<ul class="tabs">
			<li class="active"><a href="#login">{% trans "Login" %}/{% trans "Sign Up" %}</a></li>
			<li><a href="#facebook">Facebook</a></li>
			<li><a href="#twitter">Twitter</a></li>
			<li><a href="#openid">OpenID</a></li>
			<li><a href="#google">Google</a></li>
		</ul>
		<div class="tab-content">
			<div id="login" class="tab-pane active">
				<div class="row">
					<div class="col-one-half">
						<div class="padded">
							<h3>Login</h3>
							<form action="{{ settings.LOGIN_URL }}{% if next %}?next={{ next }}{% endif %}" method="post">
								{% csrf_token %}
								{% include "localtv/_form_inner.html" %}
							
							
								<div class="control-group">
									<div class="controls">
										<button>Login</button>
										<a href="{% url auth_password_reset %}">Forgot your password?</a>
									</div>
								</div>
							</form>
						</div>
					</div>{# /.col-one-half #}
					<div class="col-one-half">
						<div class="padded">
							<h3>Sign Up</h3>
							<form action="/accounts/register/" method="post">
								{% csrf_token %}
								<div class="control-group control-group-username">
									<label for="id_username">Username</label>
									<div class="controls">
										<input id="id_username" type="text" class="required" name="username" maxlength="30" />
									</div>
								</div>
								<div class="control-group control-group-username">
									<label for="id_email">Email</label>
									<div class="controls">
										<input id="id_email" type="text" class="required" name="email" maxlength="75" />
									</div>
								</div>
							
								<div class="control-group control-group-password">
									<label for="id_email">Password</label>
									<div class="controls">
										<input id="id_password1" type="password" class="required" name="password1" />
									</div>
								</div>
							
								<div class="control-group control-group-password">
									<label for="id_email">Password (again)</label>
									<div class="controls">
										<input id="id_password2" type="password" class="required" name="password2" />
									</div>
								</div>
							
								<div class="control-group">
									<div class="controls">
										<button>Sign Up</button>
									</div>
								</div>
							</form>
						</div>
					</div>{# /.col-one-half #}
				</div>{# /.row #}
			</div>
			<div id="facebook" class="tab-pane">
				<div class="padded">
					<h3>Login with Facebook</h3>
					<a href="{% url socialauth_begin backend='facebook' %}{% if next %}?next={{ next }}{% endif %}">
						<img src="{% get_static_url 'localtv/images/facebook_login.png' %}" width="151" height="24" alt="Sign In with Facebook" />
					</a>
				</div>
			</div>
			<div id="twitter" class="tab-pane">
				<div class="padded">
					<h3>Login with Twitter</h3>
					<a href="{% url socialauth_begin backend='twitter' %}{% if next %}?next={{ next }}{% endif %}">
						<img src="{% get_static_url 'localtv/images/twitter_login.gif' %}" width="151" height="24" alt="Sign In with Twitter" />
					</a>
				</div>
			</div>
			<div id="openid" class="tab-pane">
				<div class="padded">
					<h3>Login with OpenID</h3>
					<form action="{% url socialauth_begin backend='openid' %}{% if next %}?openid_next={{ next }}{% endif %}" method="post">
						{% csrf_token %}
						<div class="control-group">
							<label for="openid_identifier">OpenID Url</label>
							<div class="controls">
								<input type="text" id="openid_identifier" name="openid_identifier" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button>Sign In</button>
								<a href="http://openid.net/get/" class="forgot oi" target="_blank">Don't have an openid? Get One!</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="google" class="tab-pane">
				<div class="padded">
					<h3>Login with Google Account</h3>
					<form action="{% url socialauth_begin backend='google' %}" method="post">{% csrf_token %}
					<p><input type="submit" value="Sign in" class="button" /></p>
					</form>
				</div>
			</div>{# /#GoogleForm #}
		</div>{# /.tab-content #}
	</div>{# /.page-content.padded #}
{% endblock %}