{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}Sign in{% endblock %}
{% block head %}
{% url localtv_openid_start as localtv_openid_start %}
<style type="text/css">
{% if localtv_openid_start %}input.openid {
  background: url({{ logo }}) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
}
{% endif %}
.login{
padding: 20px;
}

.login h1{
margin: 0;
padding: 0;
font-size: 16px;
clear: both;
line-height: 1.3em;
}


.login form p{
clear: both;
padding: 20px;
}

#about_page #main p{
padding-bottom: 10px;
}


body{
font-family: Arial, Helvetica, sans-serif;
}

#cancel_button {
    display: none;
}

label, label + input {
    clear: left;
}
</style>
{% endblock head %}
{% block content %}
<div class="login">
<h1>Sign in with a Username/Password</h1>
  <form action="{{ settings.LOGIN_URL }}" method="POST">
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}
    {% for field in form %}
    {{ field.errors }}
    <p>
      {{ field.label_tag }}
      {{ field }}
      {% if forloop.last %}<span class="forgot-password">(<a href="{% url auth_password_reset %}">forgot your password?</a>)</span>{% endif %}
    </p>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}">
  <input type="submit" value="Log In"> or <a href="{% url registration_register %}">Sign up for an account</a>
</form>
<br />
<br />
<hr />
<br />
<br />
{% url localtv_openid_start as localtv_openid_start %}
{% if localtv_openid_start %}
<h1>Sign in with your OpenID</h1> 
<form action="{{ localtv_openid_start }}" method="post">
<p><input class="openid" type="text" name="openid_url"> <input type="submit" value="Sign in"></p>
</form>
<p>Don't have an openid?
<a href="http://openid.net/get/">Get one!</a>
</p>
<br />
<br />
<hr />
<br />
<br />
<h1 class="floatleft" style="padding-right: 14px;">Sign in with your Google Account</h1>

<form action="{{ localtv_openid_start }}" method="post">
  <input type="hidden" name="openid_url" value="https://www.google.com/accounts/o8/id">
<input type="submit" value="Click Here">
</form>
{% endif %}
</div>
 {% if request.is_ajax %}
 <input id="cancel_button" value="Cancel" type="submit" onclick="tb_remove();" />
 {% endif %}
{% endblock %}