{% extends "localtv/admin/__layouts/100.html" %}

{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block main %}
	<header class="page-header">
		<h1 class="page-title">Password reset complete</h1>
	</header>
	<div class="page-content padded">
		<div class="message success">Your password has been set.  You may go ahead and log in now.</div>
		<p><a href="{{ login_url }}" class="button button-wide">Log in</a></p>
	</div>
{% endblock %}