{% extends "djam/form.html" %}

{% load i18n %}

{% block title %}{% if form %}{% trans "Password Reset" %}{% else %}{% trans "Invalid Password Reset Link" %}{% endif %}{% endblock %}

{% block main %}
	<h1>{% if form %}{% trans "Password Reset" %}{% else %}<i class='icon-exclamation-sign text-danger'></i> {% trans "Invalid Password Reset Link" %}{% endif %}</h1>
	{% if form %}
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
		{{ block.super }}
	{% else %}
		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
{% endblock %}

{% block success-text %}{% trans "Change Password" %}{% endblock %}
