{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}Password Reset{% endblock %}
{% block head %}
<style type="text/css">
.login{
padding: 20px;
}

.login h1{
margin: 0;
padding: 0;
font-size: 16px;
clear: both;
line-height: 1.3em;
}


.login form p{
clear: both;
padding: 20px;
}

#about_page #main p{
padding-bottom: 10px;
}


body{
font-family: Arial, Helvetica, sans-serif;
}

#cancel_button {
    display: none;
}

label, label + input {
    clear: left;
}
</style>
{% endblock head %}
{% block content %}
<div class="login">
<h1>Password Reset Successful</h1>
<div>
We just sent you instructions on resetting your password to the e-mail address you submitted. You should be receiving them shortly.
</div>
</div>
 {% if request.is_ajax %}
 <input id="cancel_button" value="Close" type="submit" onclick="tb_remove();" />
 {% endif %}
{% endblock %}