{% extends "localtv/__layouts/100.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block main %}
	<header class="page-header">
		<h1 class="page-title">{% trans "Password Reset" %}</h1>
	</header>
	<div class="page-content padded">
		{% if form %}
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
			<form action="" method="post">
				{% csrf_token %}
				{% include "localtv/_form_inner.html" %}
				<div class="control-group">
					<div class="controls">
						<button>{% trans "Change Password" %}</button>
					</div>
				</div>
			</form>
		{% else %}
			<div class="message error">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</div>
		{% endif %}
	</div>
{% endblock %}