{% extends "localtv/admin/__layouts/100.html" %}

{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Registration Completed" %}{% endblock %}

{% block main %}
	<header class="page-header">
		<h1 class="page-title">{% trans "Registration Completed" %}</h1>
	</header>
	<div class="page-content padded">
		<div class="message info">{% blocktrans with name=site_settings.site.name %}Thank you for registering at {{ name }}. Please check your email for account activation instructions.{% endblocktrans %}</div>
	</div>
{% endblock %}
