@charset "UTF-8";
/* CSS Document

Dear truth, knowledge, and understanding,

You are one step closer to being free.

Love,
PCF

*/

/*/////////////////////////////////////////////

~ Markup

/////////////////////////////////////////////*/

body {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}


#home_page.scrolling {
background: url(../images/bg.png) center 121px repeat-x;
}



h2 {
font-size: 18px;
}

a { 
text-decoration: none;
text-shadow: #eee 1px 1px 0px ;
outline: none;
}

a:hover {
text-decoration: underline;
}

body, div, label, h1, h2, h3, h4, h5, span, strong, li {
text-shadow: #fff 1px 1px 0px ;
}
p {
text-shadow: #eee 1px 1px 0px ;
}
select option {
text-shadow: 0; !important
}

blockquote {
    clear: both;
    padding: 10px;
}

em {
    font-style: italic;
}

/*/////////////////////////////////////////////

~ Classes

/////////////////////////////////////////////*/

.edit_link{
background: url(../images/small_icons.png) left 0px no-repeat;
padding-left: 18px;
font-size: 11px;
cursor: pointer;
color: #4190E4 !important;
font-weight: normal;
}

.edit_link:hover{
text-decoration: underline;
}

.delete_link{
background: url(../images/small_icons.png) left -32px no-repeat;
padding-left: 18px;
font-size: 11px;
}

button.delete_link{
color: #4190e4 !important;
background: url(../images/small_icons.png) left -30px no-repeat;
}


.spam_link{
background: url(../images/small_icons.png) left -118px no-repeat;
padding-left: 18px;
font-size: 11px;
}


button.spam_link{
color: #4190e4 !important;
background: url(../images/small_icons.png) left -117px no-repeat;
}
.embed-warning {
color:red;
display:block;
font-weight:bold;
margin-bottom:12px;
}


button{
border: none;
}

.contentWrap button {
    border-style: outset;
}
.contentWrap button:active {
    border-style: inset;
}

.clearboth {
clear: both !important;
}

.floatleft {
float: left !important;
}

.floatright {
float: right !important;
}

.nick {
line-height: 1.9em;
padding-right: 10px;
}

.nick span {
text-decoration: none;
}

.marginbottom{
margin-bottom: 15px;
}

a.thumbnail {
float: left;
margin-right: 16px;
background: url(../images/default_vid.gif) left top no-repeat;
_height: 0px;
_padding-top: 102px;
overflow: hidden;
height: 110px;
width: 140px;
}

.marginbottom{
margin-bottom: 20px !important;
}

.title_desc {
padding-top: 4px;
height: 63px;
margin-bottom: 7px;
overflow: hidden;
line-height: 14px;
}

#admin .title_desc {
padding-top: 5px;
height: 94px;
margin-bottom: 2px;
overflow: hidden;
}


#admin .title_desc .desc{
display: inline;
line-height: 1.5em;
}

#sidebar .title_desc {
padding-top: 7px;
height: 53px;
margin-bottom: 2px;
overflow: hidden;
}

.title_desc h3 {
font-size: 13px;
font-weight: bold;
margin-bottom: 5px;
line-height: 15px;
color: #333;
letter-spacing: .01em;
max-height: 32px;
overflow: hidden;
}

.title_desc a h3, .title_desc h3 a {
color: #4190E4;
text-decoration: none;
}

.title_desc a:hover h3 {
text-decoration: underline !important;
}

#admin .title_desc h3{
margin: 0 0 4px;

}

.title_desc > p {
line-height: 16px;
max-height: 49px;
color: #555;
font-size: 11px;
overflow: hidden;
}

.title_desc + p + p {
    max-height: 1.5em;
    overflow: hidden;
}

.video {
float: left;
width: 100%;
padding: 0 0 5px 2px;
clear: both;
margin-bottom: 20px;
_overflow: hidden;
}

.video span.author a {
    color: #bb2515;
    display: inline;
}

.video *{
text-shadow: none !important;
}

.video > p {
margin-bottom: 1px;
color: #aaa;
}
.video p a {
display: block;
line-height: 18px;
color: #aaa;
height: 18px;
overflow: hidden;
text-decoration: none;
}

.video a span {
font-weight: bold;
}

.video a:hover {
text-decoration: underline;
}

.pub{
font-size: 11px;
color: #777;
}

.by{
font-size: 11px;
color: #777;
}


.by a{
font-weight: bold;
}


.rss {
background: url(../images/rss.png) right 2px no-repeat;
padding-right: 14px;
margin-right: 12px;
font-size: 11px;
}

.miro-subscribe {
background: transparent url(../images/miro.png) no-repeat scroll 65px 0;
font-size: 11px;
padding-right: 32px;
padding-top: 2px;
margin-right: 3px;
}

div.floatright {
color: #ddd;
}

.vid_title_wrapper, .vid_title_wrapper {
float: left;
width: 350px;
margin-bottom: 10px;
}

.vid_title_wrapper h2, h2.vid_title {
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera */
}

.vid_title h2 {
line-height: 1.3em;
padding-top: 0;
}

h2.vid_title {
float: left;
max-width: 360px;
}

.vid_title a {
text-decoration: none;
color:#4190E4;
}

.vid_title a:hover {
text-decoration: underline;
}

.date {
float: right;
width: 180px;
line-height: 1.3em;
text-align: right;
color: #666;
padding-top: 5px;
}

.byline {
    clear: left;
    float: left;
    margin-bottom: 15px;
    color: #666;
}

.byline a {
    color: #BB2515;
}

.page_title {
font-size: 18px;
padding-top: 35px;
float: left;
}

#admin h2.page_title {
padding-top: 15px;
/*
font-size: 18px;
padding-top: 0px;
float: left;
margin-bottom: 20px;
*/
}

#about_page h2 {
float: none;
margin-bottom: 10px;
}

#about_page p {
padding: 10px 0;
line-height: 1.3em;
}


.more {
display: block;
float: right;
clear: both;
padding-right: 15px;
text-decoration: none;
background: url(../images/arrow_right.png) right top no-repeat;
}

.more:hover {
text-decoration: underline;
}

.clear {
clear: both;
}


/*/////////////////////////////////////////////

~ Navigate

/////////////////////////////////////////////*/

#nav {
clear: both;
padding-top: 10px;
float: left;
width: 830px;
}

#nav li {
float: left;
list-style: none;
margin-right: 10px;
_display: inline;
}

#nav a {
line-height: 40px;
padding-right: 14px;
display: block;
color: #555;
font-weight: bold;
margin-top: 18px;
text-decoration: none;
background: url(../images/nav_right.png) right top no-repeat;
_background: url(../images/nav_right.gif) right top no-repeat;
}

#nav a span {
line-height: 29px;
display: block;
padding: 0 3px 0 17px ;
background: url(../images/nav_left.png) no-repeat;
_background: url(../images/nav_left.gif) no-repeat;
}

#nav a:hover {
background-position: right -35px;
color: #888;
}

#nav a:hover span {
background-position: left -35px;
}

#nav a:active {
background-position: right -68px;
color: #aaa;
}

#nav a:active span {
background-position: left -68px;
padding-top: 1px;
}

#home_page .home_page a,
#video_listing_featured .featured a,
#video_listing_new .new a,
#about_page .about a,
#video_listing_popular .popular a,
body.incomingvids a.sub,
body.incomingfeeds a.sub,
body.bulkedit a.sub,
body.category_admin a.sub,
body.settings a.design,
body.uploadtemplate a.design,
body.flatpages a.design,
body.user_admin a.users,
body.comments a.comments,
body#categories_page li.categories a{
background: url(../images/nav_right.png) right -69px no-repeat !important;
_background: url(../images/nav_right.gif) right -69px no-repeat !important;
color: #aaa !important;
cursor: default;
}



#home_page .home_page a span,
#video_listing_featured .featured a span,
#video_listing_new .new a span,
#about_page .about a span,
#video_listing_popular .popular a span,
body.incomingvids a.sub span,
body.incomingfeeds a.sub span,
body.bulkedit a.sub span,
body.category_admin a.sub span,
body.settings a.design span,
body.uploadtemplate a.design span,
body.flatpages a.design span,
body.user_admin a.users span,
body.comments a.comments span,
body#categories_page li.categories a span{
background-position: left -69px !important;
_background: url(../images/nav_left.gif) left -69px no-repeat !important;
}




#nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}



#nav li ul { /* second-level lists */
	background: #fff;
	margin-left: 5px;
	position: absolute;
	left: -999em; /* Hide using position */
	width: 45em;
	z-index: 999;
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}


#nav li ul li{
	border: 1px solid #d7d7d7;
	height: 28px;
	padding: 0;
	position: relative;
	margin: 0;
	width: 178px;
}
#nav li ul li div.bg {
	background: url('../images/subnav_bg.png') no-repeat;
	height: 28px;
	left: auto;
	position: absolute;
	right: -1px;
	top: 0;
	width: 20px;
	z-index: 90;
}
#nav li ul li div.text {
	height: 18px;
	overflow: hidden;
	width: 165px;
	z-index: 80;
}
#nav li ul li a{
background: 0;
margin: 0 !important;
line-height: 1.5em;
padding: 5px 10px;
overflow: hidden;
width: 160px;

}





/*/////////////////////////////////////////////

~ Admins need to Navigate too

/////////////////////////////////////////////*/

#admin_nav {
clear: both;
padding: 0px 0 30px;
float: left;
width: 100%;
}

#admin_nav li {
float: left;
list-style: none;
margin-right: 10px;
_display: inline;
}

#admin_nav a {
line-height: 40px;
padding-right: 14px;
display: block;
margin-top: 18px;
color: #555;
clear: both;
font-weight: bold;
text-decoration: none;
background: url(../images/nav_right.png) right top no-repeat;
_background: url(../images/nav_right.gif) right top no-repeat;
}

#admin_nav a span {
line-height: 29px;
display: block;
padding: 0 3px 0 17px ;
background: url(../images/nav_left.png) no-repeat;
_background: url(../images/nav_left.gif) no-repeat;
color: #555555;
}

#admin_nav a:hover {
background-position: right -35px;
color: #888;
}

#admin_nav a:hover span {
background-position: left -35px;
}

#admin_nav a:active {
background-position: right -69px;
color: #aaa;
}

#admin_nav a:active span {
background-position: left -69px;
}

#admin_subnav {
    position: relative;
    top: -1em;
    clear: both;
}

#admin_subnav ul {
    clear: both;
    float: left;
    padding-right: 10px;
    background: #eee;
    height: 2em;
}

#admin_subnav li {
    float: left;
    padding: 5px 0;
    margin: 0 0 0 30px;
    list-style: disc;
}

#admin_subnav li:first-child {
    padding-left: 10px;
    margin-left: 0;
    list-style: none;
}

#admin_subnav li a {
    color: blue !important;
    background: none !important;
}

body.incomingvids #admin_subnav a.sub,
body.incomingfeeds #admin_subnav a.watched,
body.bulkedit #admin_subnav a.bulkedit,
body.category_admin #admin_subnav a.categories,
body.settings #admin_subnav a.settings,
body.uploadtemplate #admin_subnav a.themes,
body.flatpages #admin_subnav a.flatpages,
body.editcontent #admin_subnav a.content
{
    font-weight: bold;
    text-decoration: underline;
}


/*/////////////////////////////////////////////

~ Wraaaaaaaaaapppp it up

/////////////////////////////////////////////*/

#wrapper {
width: 940px;
padding: 0 10px;
margin: 0 auto;
}

/*/////////////////////////////////////////////

~ Header

/////////////////////////////////////////////*/

#header {
height: 150px;
}

#logo {
width: 660px;
display: block;
float: left;
height: 80px;
margin: 12px 0px 0px 0;
overflow: hidden;
}

#logo img{
float: left;
height: 80px;
margin: 0 20px 0 0 !important;
}

#logo h1{
display: block;
float: left;
margin: 0px;
font-size: 22px;
font-weight: normal;
padding: 0px;
letter-spacing: .01em;
}

#logo h1 a {
text-decoration: none;
line-height: 1.2em;
}

#logo h1 a span.name {
text-decoration: none;
line-height: 1.2em;
padding-top: 18px;
display: block;
margin-bottom: 0;
color: #000000;
font-weight: normal;
}

#logo h1 span.tagline {
color: #888;
display: block;
font-size: 12px;
padding: 0px 2px;
font-weight: normal;
}


/*/////////////////////////////////////////////

~ Main

/////////////////////////////////////////////*/

#home_page.scrolling #content {
float: left;
clear: both;
}

#main {
width: 540px;
_overflow: hidden;
float: left;
}


#main #logo {
margin-bottom: 100px;
}



#main_header h2, .main_header h2 {
font-size: 12px;
float: left;
padding-left: 14px;
font-weight: bold;
}

#main_header, .main_header {
font-size: 12px;
line-height: 36px;
clear: both;
height: 40px;
background: url(../images/main_header.png) left top no-repeat;
_background: url(../images/main_header.gif) left top no-repeat;
margin: 20px 0;

}

#main_header.small, .main_header.small {
font-size: 12px;
line-height: 36px;
clear: both;
height: 40px;
background: url(../images/small_header.png) left top no-repeat;
margin: 4px 0 20px;
}


#main_header a, .main_header a {
padding-left: 10px;
color: #444;
text-decoration: none;
}

/*/////////////////////////////////////////////

~ Sidebar

/////////////////////////////////////////////*/

#sidebar {
width: 380px;
float: right;
_overflow: hidden;
}

#sidebar_header h2, .sidebar_header h2 {
font-size: 12px;
padding-left: 14px;
float: left;
font-weight: bold;
}


#sidebar_header, .sidebar_header {
font-size: 12px;
line-height: 36px;
height: 36px;
clear: both;
background: url(../images/sidebar_header.png) left top no-repeat;
_background: url(../images/sidebar_header.gif) left top no-repeat;
margin: 20px 0;
}


#sidebar_header a, .sidebar_header a {
padding-left: 10px;
color: #444;
text-decoration: none;
}

#share_links {
    padding-left: 10px;
    padding-bottom: 10px;
    min-height: 2em;
}

#share_links a {
    float: left;
    width: 150px;
    font-size: 12px;
    display: block;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #4190E4;
    text-decoration: none;
}
#share_links a.facebook{
    padding-left: 0;
    padding-right: 20px;
}

#share_links a.twitter{
	background: url(../images/tiny_icons.png) 0px 0px no-repeat;
	}

#share_links a.email{
background: url(../images/tiny_icons.png) 0px -49px no-repeat;
}

#share_links a.download{
background: url(../images/tiny_icons.png) 0px -73px no-repeat;
}

/*/////////////////////////////////////////////

~ Footer

/////////////////////////////////////////////*/

#footer {
clear: both;
text-align: right;
padding: 65px 0;
width: 960px;
margin: 0 auto;
}

#footer .powered {
font-size: 12px;
color: #666;
padding-top: 15px;
clear: both;
border-top: 1px solid #ddd;
}


#footer .powered span {
float: left;
}

#footer_links {
    float: right;
}

#footer_links li {
    display: inline;
    padding: 0 5px;
}

#footer a {
color: #4190E4;
}

#footer .powered > a {
    float: right;
}


/*/////////////////////////////////////////////

~ Search

/////////////////////////////////////////////*/

#search {
float: right;
margin-top: 37px;
padding: 0;
_padding: 34px 0 0 0;
}

#search #search_field {
margin: 2px 2px 0 0;
float: left;
background: url(../images/search_field.png) top left no-repeat;
padding: 6px 9px;
height: 18px;
border: 0;
_width: 140px;
font-size: 11px;
}

#search #searchbutton {
float: left;
margin-top: 2px;
}


/*/////////////////////////////////////////////

~ Buttons

/////////////////////////////////////////////*/

.med_button,
#edit_video_wrapper .display_data {
line-height: 25px;
padding-right: 6px;
display: block;
color: #333;
border: 0;
font-size: 11px;
float: right;
text-decoration: none;
background: url(../images/med_right.png) right top no-repeat;
_background: url(../images/med_right.gif) right top no-repeat;
}

.med_button > span,
#edit_video_wrapper .display_data a {
color: #333 !important;
line-height: 24px;
display: block;
padding: 0 8px 1px 14px ;
background: url(../images/med_left.png) no-repeat;
_background: url(../images/med_left.gif) no-repeat;
}

.med_button:hover,
#edit_video_wrapper .display_data:hover {
background-position: right -31px;
color: #888;
}

.med_button:hover span,
#edit_video_wrapper .display_data:hover a {
background-position: left -31px;
color: #888;
}

.med_button:active,
#edit_video_wrapper .display_data:active {
background-position: right -63px;
color: #aaa;
}

.med_button:active > span,
#edit_video_wrapper .display_data:active a  {
background-position: left -63px;
}


.login input.openid,
.large_field {
margin: 2px 2px 0 0;
padding: 6px 9px;
height: 18px;
border: 0;
width: 250px;
font-size: 11px;
background: url(../images/large_field.gif) top left no-repeat;
}


.small_field{
background:transparent url(../images/search_field.png) no-repeat left top;
border: none;
padding: 6px 0 5px 7px;
}

#close_submit_box {
line-height: 25px;
padding: 0 6px 0 0 !important;
display: block;
color: #333;
font-size: 11px;
cursor: pointer;
float: right;
text-decoration: none;
background: url(../images/med_right.png) right top no-repeat;
_background: url(../images/med_right.gif) right top no-repeat;
}

#close_submit_box span {
line-height: 25px;
display: block;
padding: 0 11px 0 20px ;
background: url(../images/med_left.png) no-repeat;
_background: url(../images/med_left.gif) no-repeat;
}

#submit_box #id_description {
    width: 100%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
min-height: 100px;
line-height: 1.6em;
margin: 0 0 0 -9px ;
padding-left:  8px;
}

.hoverable {
cursor: pointer;
}

div.selected {
padding: 10px;
margin: 2px;
border: 1px solid #aaa;
border-bottom: 1px solid #ccc;
background: #ccc url(../images/small_grad.png) repeat-x;
}

.unselected {
margin: 2px;
padding: 10px;
border-top: 1px solid #eee;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ccc;
background: #fff url(../images/big_grad.png) left bottom repeat-x;
}
.unselected:hover {
background: #f8f8f8;
border-bottom: 1px solid #eee;
border-right: 1px solid #ddd;
border-top: 1px solid #ddd;
border-left: 1px solid #ccc;
}

.approve_reject {
text-align: right;
font-weight: bold;
float: right;
position: relative;
margin-top: -73px;
background: #fff;
margin-right: 20px;
border: 1px solid #e9e9e9;
border-bottom: 1px solid #f9f9f9;
border-top: 1px solid #ccc;
cursor: default;
padding: 10px 0 10px 10px;
}

.approve_reject a {
margin-right: 10px;
cursor: pointer;
}

.unselected .approve_reject, .selected .approve_reject {
display: none;
}

.unselected:hover .approve_reject, .selected:hover .approve_reject {
display: block;
}


.admin_actions_all a.reject {
margin-right: 10px;
}

a.approve {
color: green;
cursor: pointer;
text-decoration: none;
font-weight: bold;
}

a.approve:hover {
color: #0e980e;
text-decoration: none;
}

a.reject {
color: #be0000;
cursor: pointer;
text-decoration: none;
font-weight: bold;
}

.reject {
color: #be0000;
cursor: pointer;
font-weight: bold;
}
a.reject:hover {
color: #df0606;
text-decoration: none;
}

a.feature {
color: #9f06df;
cursor: pointer;
text-decoration: none;
}

a.feature:hover {
color: #b118f1;
text-decoration: none;
}

#admin_table_resizebar {
text-align: center;
vertical-align: middle;
cursor: move;
background: #fafafa;
}

ul.pagetabs {
float: right;
display: inline;
}


#admin ul.pagetabs {/*
float: left;
display: inline;
*/
}

ul.pagetabs li {
display: block;
float: left;
margin-left: 5px;
}

ul.pagetabs li a {
line-height: 24px;
padding-right: 6px;
display: block;
color: #333;
font-size: 11px;
float: left;
text-decoration: none;
background: url(../images/med_right.png) right top no-repeat;
}

ul.pagetabs li.selected {
}

ul.pagetabs li.selected a {
background: url(../images/med_right.png) right -61px no-repeat;
color: #aaa;
}

ul.pagetabs li.selected a span {
background: url(../images/med_left.png) left -61px no-repeat;
padding-top: 1px;
}

ul.pagetabs li a span {
display: block;
text-align: right;
padding: 0 4px 1px 11px ;
background: url(../images/med_left.png) no-repeat;
}

ul.pagetabs li a:hover {
background: url(../images/med_right.png) right -31px no-repeat;
color: #888;
}

ul.pagetabs li a:hover span {
background: url(../images/med_left.png) left -31px no-repeat;
}

ul.pagetabs li a:active {
background: url(../images/med_right.png) right -61px no-repeat;
color: #aaa;
}

ul.pagetabs li a:active span {
background: url(../images/med_left.png) left -61px no-repeat;
padding-top: 1px;
}

#admin_rightpane {
}

#admin.searches .admin_actions_all {
display: none;
}

.video_wrapper {
text-align: center;
margin: 17px 0 35px;
clear: both;
width: 534px;
padding-left: 2px;
float: left;
z-index: 0;
position: relative;

}

.video_wrapper video + p + img, .video_wrapper video + img {
    display: none;
}

.video_wrapper object + p.help {
    margin: 5px;
    display: block;
    clear: both;
}

.pag {
height: 45px;
padding-top: 30px;
border-bottom: 1px solid #eee;
margin-bottom: 30px;
}

.pag.bottom {
    clear: both;
    border-top: 1px solid #eee;
    border-bottom: none;
}

.pag b {
display: none;
}

.page_nav {
clear: both;
padding: 30px 0 70px;
}

.next {
float: right;
}

.previous {
float: left;
}

#video_listing_new .video, #video_listing_popular .video {
width: 289px;
overflow: hidden;
clear: none;
margin-right: 12px;
}

#video_listing_new .thumbnail, #video_listing_popular .thumbnail {
_width: 140px;
}

#video_listing_new .title_desc, #video_listing_popular .title_desc {
_float: right;
_width: 140px;
height: 67px;
margin-bottm: 9px;
line-height: 15px;
}

#video_listing_featured .title_desc .desc, #category .title_desc .desc {
    display: inline !important;
}

#flag_button, #share_button {
display: none;
}

/* Load indicator */

#load-indicator {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: -30px;
    z-index: 10000;
}

#load-indicator img {
    position: relative;
    bottom: -4px;
    margin: 0 auto;
    padding: 4px;
    background: url(../images/load-indicator-bg.png);
}

/*/////////////////////////////////////////////

~ Slider

/////////////////////////////////////////////*/


#slider {
overflow: hidden;
height: 367px !important;
padding-top: 17px;
margin-bottom: 18px;
}

#slider_small {
overflow: hidden;
height: 357px;
padding-top: 25px;
margin-bottom: 38px;
}


#slider2 {
margin: 15px auto 20px;
padding: 0;
list-style: none;
height: 400px !important;
/* background: url(../images/spotlight.png) right 235px no-repeat; */
width: 860px;
position: relative;
}
#slider2 img.spotlight {
	right: 0;
	position: absolute;
	top: 235px;
	z-index: 4;
}


#slider a,
#slider_small a,
#slider2 a {
text-decoration: none;
}

#slider2 ul {
margin: 0;
padding: 0;
overflow: hidden;
}



#slider2 li {
/*
	define width and height of list item (slide)
	entire slider area will adjust according to the parameters provided here
*/
width: 860px;
list-style: none;
height: 352px;
background: url('../images/bg.png') 50% -60px repeat-x;
/* background: url(../images/shadow.png) 0px 258px no-repeat; */
position: relative;
z-index: 1;
}

#slider2 li a, #slider2 li div {
	position: relative;
	z-index: 100;
}

#slider2 li img.shadow {
	left: 0;
	position: absolute;
	top: 258px;
	z-index: 5;
}

#slider2 li h2 {
margin: 0 20px 0 10px;
color: #fff;
padding-top: 20px;
text-shadow: #333 1px 1px 0px !important;
}


#slider2 li h2 a{
color: #fff;
text-shadow: none;
}

#slider2 li h2 a{
color: #fff;
text-shadow: none;
}


#slider2 li div.copy div {
margin: 15px 20px 15px 10px;
color: #eee !important;
text-shadow: #333 1px 1px 0px !important;
}
#slider2 li div.copy span{
text-shadow: #333 1px 1px 0px !important;
}

#slider2 li div.copy div a, #slider2 li div.copy span a{
text-shadow: #000 1px 1px 9px, #000 1px 1px 1px, #000 1px 1px 0px, #000 1px 1px 3px !important;
color: #fff;
}

.copy div a{
color: #fff !important;
}

.copy div a:hover{
text-shadow: #450802 1px 1px 10px !important;
text-decoration: underline !important;
}

.copy h2 a{
color: #fff !important;
}

p#controls, p#controls2 {
margin: 0;
}


#prevBtn2, #nextBtn2 {
display: block;
margin: 0;
overflow: hidden;
text-indent: -8000px;
width: 37px;
height: 77px;
}


#prevBtn2 {
float: left;
}


#nextBtn, #nextBtn2 {
float: right;
}

#prevBtn a, #nextBtn a, #prevBtn2 a, #nextBtn2 a {
display: block;
width: 37px;
height: 35px;
background: url(../images/prev_next.png) no-repeat 0 0;
}

#prevBtn2 a:hover {
background-position: 0 -36px;
}

#prevBtn2 a:active {
background-position: 0 -72px;
}


#nextBtn2 a {
background: url(../images/prev_next.png) no-repeat -37px 0;
}


#nextBtn2 a:hover {
background-position: -37px -36px;
}

#nextBtn2 a:active {
background-position: -37px -72px;
}

#controls {
position: relative;
top: -260px;
}

a.image {
width: 220px;
float: left;
height: 0px;
padding: 295px 0 0 155px;
background: url(../images/default_big.jpg) center;
margin: 20px 30px 0 15px;
overflow: hidden;
border: 1px solid #555;
}


a.image:hover {
height: 177px;
padding: 103px 14px 15px 141px;
}




.copy {
width: 400px;
float: left;
margin: 12px 0;
height: 235px;
padding-left: 10px;
overflow: hidden;
}



.copy > h2 {
line-height: 1.3em;
}

.copy > span {
padding: 7px 0 0 10px;
display: block;
color: #aaa;
}


.copy div {
line-height: 1.5em;
padding: 0 30px 0 0;
font-size: 13px;
margin: 25px 0;
color: #666;
text-shadow: none !important;
}

.copy div * {
    text-shadow: none !important;
}

.watch {
float: left;
margin-top: 14px;
margin-left: 18px;
}

.watch span{
line-height: 2.2em;
text-shadow: #ddd 1px 1px 0px ;
padding-top: 0px;
}

.featured_small_list, .new_small_list {
width: 300px;
margin-right: 20px;
float: left;
}

.popular_small_list {
width: 300px;
float: left;
}

/*/////////////////////////////////////////////

~ Admin

/////////////////////////////////////////////*/



.show_main {
display: none;
}

.show_admin {
    color: #4190E4;
}

#admin .show_main {
display: block;
}

#admin .show_admin {
display: none;
}

#admin {
}


#admin #search {
display: none;
}



#admin_header {
border-top: 1px solid #999;
border-bottom: 1px solid #999;
font-size: 15px;
padding: 10px 0;
margin-bottom: 20px
}


#admin_header a {
font-size: 15px;
padding-right: 15px;
}


#admin_leftpane {
padding: 0px 0px 0 0;
clear: both;
}

#admin_leftpane .video {
margin-bottom: 10px;
}

#admin td {
}


#admin_rightpane {
padding: 0 0 0 30px;
}


.admin_pagetab_row {
height: 50px;
clear: both;
}

#admin .pag {
/*
clear: both !important;
height: 100px;
float: right;
border: 1px solid;
padding: 40px;
*/
padding-top: 10px;
margin-bottom: 20px;
}




.admin_feed_actions, .auto_properties_edit {
padding-top: 10px;
float: right;
}

.admin_feed_actions {
margin-right: 20px;
}


.admin_feed {
border-bottom: 1px solid #ddd;
font-size: 13px;
padding: 10px 0;
clear: both;
}


.admin_feed ul {
width: 100%;
}

.admin_feed li {
border: 1px solid #ccc;
padding: 20px 0;
background: #eee;
float: left;
width: 100%;
}


.admin_feed li .user, .admin_feed li .feed_link {
padding: 0px 0 0 20px !important;
}




.admin_feed li .feed_link {
margin: 5px 5px 5px 0;
display: block;
float: left;
font-size: 11px;
clear: left;
}

div.user {
font-size: 11px;
clear: left;
float: left;
margin: 5px 5px 5px 0;
}

div.source {
font-size: 11px;
float: left;
clear: left;
}


.admin_feed a {
text-decoration: underline;
}

.admin_feed a.med_button {
text-decoration: none;
}

#admin_table {
clear: both !important;
}


#above_admin_table {
margin-bottom: 25px;
float: left;
width: 100%;
clear: both;
}

#admin_leftpane {
    width: 100%;
    overflow: hidden;
}

#admin_rightpane {
    padding: 0;
    margin: 0;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 590px;
}

.fields {
padding: 2px 0 0 5px;
}


.fields select {
margin: 3px 0 0 5px;
}

.fields span {
margin: 2px 0 0 0px;
}

.fields strong {
margin: 0px 4px 0 0px;
}



.editing button.med_button {
float: left;
margin-left: 10px;
}



button.med_button {
border: none;
padding: 0 3px 0 0px;
background-position: right 1px;
font-family: Arial, Helvetica, sans-serif;
}

button.med_button:hover {
background-position: right -30px;

}

button.med_button span {
padding: 0 8px 1px 15px;
}


.form_wrap strong {
float: left;
line-height: 2em;
font-weight: bold;
padding-right: 10px;
}

body.uploadtemplate h1 {
    clear: left;
    float: left;
    font-size: 200%;
}

body.uploadtemplate form {
    width: 300px;
    float: left;
    border: 1px solid black;
    background: lightGrey;
    padding: 10px;
    margin-top: -2em;
}

body.uploadtemplate form h1 {
    float: none;
    text-align: center;
}

body.uploadtemplate form p {
    margin: 10px 0;
}
body.uploadtemplate ul {
    float: left;
    clear: left;
}

body.uploadtemplate .theme {
    float: left;
    height: 300px;
    width: 400px;
    padding: 20px;
}

body.uploadtemplate .theme img {
    float: left;
    width: 200px;
    border: 1px solid black;
    margin-right: 20px;
}

body.uploadtemplate .theme div.description {
    clear: none !important;
}

body.uploadtemplate #default_theme {
    clear: left;
    width: 600px;
}

body.uploadtemplate .download_theme {
    color: blue;
}

body.uploadtemplate .activate_theme {
    color: green;
}

body.uploadtemplate .remove_theme {
    color: red;
}

#admin_feed_add,
#admin_search_sources,
.form_wrap {
border: 1px solid #eee;
background: #f9f9f9;
height: 24px;
padding: 15px;
margin: 0 5px 15px 0;
}

#admin_feed_add, #admin_search_sources{
clear: both !important;
height: 50px;
}

#admin_search_sources span.select_option{
padding: 4px 7px 0 0 ;
float: left;
}

#admin_search_sources span select{
margin-left: 4px;
}


.livesearch_feed_url {
float: left;
background: transparent url(../images/large_field.gif) no-repeat scroll left top;
border: none;
width: 250px;
padding: 6px 7px 7px;
margin-top: 2px;
margin-right: 10px;
}

#admin_search_sources .livesearch_feed_url {
background: transparent url(../images/search_field.png) no-repeat scroll left top;
width: 138px;
}

#admin_feed_add p, #admin_search_sources p{
font-size: 11px;
color: #666;
padding: 9px;
line-height: 1.5em;
width: 515px;
float: right;
}

#admin_feed_add form button, #admin_search_sources form button{
margin-right: 30px;
}

#admin_search_sources form .med_button.floatright {
margin-right: 0 !important;
}

#admin_feed_add strong,
#admin_search_sources strong{
float: none;
display: block;
line-height: 1em;
font-weight: bold;
padding-left: 2px;
padding-bottom: 12px;
clear: both !important;
}

#admin_feed_add form,
#admin_search_sources form{
clear: both !important;
float: left;
}


#home_page #about {
margin: 35px 0 0 0;
}


#about {
line-height: 1.4em;
color: #666;
}

#about_page #main {
width: 100%;
}

#about_page #main p {
padding: 0px 7px 0 0px;
line-height: 1.4em;
}

#about_page #main h2 {
padding: 30px 0 7px 0px;
}

#about_page .logo {
max-width: 470px;
float: right;
margin: 50px;
margin-bottom: 20px;
}


body#admin #header ul#nav {
display: none !important;
}

#id_about {
display: block;
}

#id_title, id_tagline {
width: 200px;
}

#edit_video_wrapper {
border: 1px solid #e9e9e9;
border-bottom: 1px solid #f9f9f9;
border-top: 1px solid #ccc;
background: #f9f9f9;
padding: 10px 0 10px 10px;
margin-top: 20px;
}

#edit_video_wrapper p,
#edit_video_wrapper .display_data {
float: left;
padding-right: 6px;
}


#edit_video_wrapper a {
}

.left {
float: left;
}

input.left {
width: 400px;
}
.admin_search {
padding: 5px 0;
border-bottom: 1px solid #ccc;
width: 400px;
}

span.left {
padding: 0 5px;
line-height: 1.7em;
}

#admin #video_wrapper {
    text-align: center;
    height: auto;
}

#admin #video_wrapper object, #admin #video_wrapper embed, #admin #video_wrapper video {
border: 1px solid;
float: none;
width: 400px;
height: 350px;
}

#admin .description {
    clear: both;
}

.info, .about_me, .look {
padding: 20px;
}



.info label, .about_me label, .look label {
padding: 20px 10px 0 0;
line-height: 3em;
}


.cat_list ul {
float: left;
margin: 0 0 20px 0;
clear: both;
}

#id_title, #id_tagline, #id_blurb, #id_css, #id_sidebar_html, #id_about_html {
display: block;
}

#id_css{
height: 595px;
width: 500px;

}

.cat_list ul li a {
padding-left: 50px;
line-height: 2.8em;
clear: both;
font-size: 13px;
float: left;
margin: 0px 0 5px 0px;
display: block;
background: url(../images/lil.png) no-repeat 0 0;
}


.cat_list .top_cat_button {
padding: 0px 20px 0 0;
font-size: 13px;
float: left;
clear: both;
margin-bottom: 15px;
text-decoration: none;
background: url(../images/top_cat_cap.png) no-repeat right 0;
}


.cat_list .top_cat_button span {
padding: 8px 18px 13px;
display: block;
height: 17px;
line-height: 2em;
background: url(../images/top_cat.png) no-repeat 0 0;
max-width: 200px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}


.cat_list .top_cat_button:hover {
background-position: right -41px;
}


.cat_list .top_cat_button:hover span {
background-position: left -41px;
}


.cat_list .top_cat_button:active {
background-position: right -82px;
}


.cat_list .top_cat_button:active span {
background-position: left -82px;
}

.admin_actions_all {
float: left;
padding: 0 20px 10px 0px;
}

.admin_pagetab_row {
float: left;
}

#author_info, #category_info {
margin-top: 27px;
background: #f9f9f9 !important;
border: 1px solid #eee !important;
padding: 20px;
overflow: auto;
}

#author_info h1, #category_info h1 {
    font-size: 200%;
}
#category_info a.rss, #author_info a.rss {
float: right;
color: #4190E4;

background-position: right 0;
}

#author_info img {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 272px;
}

div#category, div#author {
float: right;
width: 600px !important;
padding-top: 46px !important;
}

#category_sidebar, #subcategory_sidebar, #author_sidebar {
width: 312px !important;
padding-top: 20px;
float: left;
clear: left;
}

#subcategory_sidebar .cat_list a {
    font-size: 100%;
    max-width: 290px;
    max-height: 38px;
    overflow: hidden;
}

#subcategory_sidebar .cat_list ul li a {
    max-width: 150px;
}

#category_sidebar h1 {
margin: 0px 0 0px 0;
font-weight: bold;
padding: 0;
width: 200px;
float: left !important;
line-height: 1.3em;
font-size: 13px;
text-align: left;
}

#category h2 {
padding-bottom: 15px;
}

#category
.actions {
padding: 0 0 15px;
float: right;
}

#category .pag {
    padding-top: 13px;
}
.actions select {
margin-right: 8px;
}

.padding{
padding: 0 15px !important;
}

.local_footer {
border-top: 1px solid #eee;
float: left;
width: 100%;
padding: 30px 0;
}



.behave{
margin: 4px 8px 0 0px;
}


.info {
margin-bottom: 20px;
}

.about_me {
}

.about_me label {
display: block;
padding: 0;
}

#id_footer {
display: block;
margin-bottom: 10px;
}

.look {
margin-left: 20px;
margin-bottom: 30px;
}

.info, .about_me, .look {
background: #f9f9f9;
padding: 25px;
border: 1px solid #ddd;
}

.info textarea, .about_me textarea, .look textarea {
margin-bottom: 10px;
}



.info h2, .about_me h2, .look h2 {
font-weight: bold;
font-size: 140%;
}

.info label, .about_me label, .look label {
font-weight: bold;
font-size: 14px;
font-weight: normal;
color: #777;
}


.info p, .about_me p, .look p {
padding: 10px 0 5px;
line-height: 1.3em;
font-size: 11px;
}

.help {
display: none;
}

.help a {
    color: #4190E4;
}

body.settings label + span {
    display: block;
    margin-top: -10px;
    margin-bottom: 5px;
    width: 400px;
}

body.settings .info {
    height: 100%;
}

body.settings .info div.form_container, body.settings #submit_settings {
    float: left;
}

body.settings .info div.form_container {
    padding: 10px;
}

body.settings .info div.form_container + div.form_container + div.form_container {
    clear: left;
}

body.settings input[type=submit] {
    clear: both;
}

#admin .help {
margin: 0 0 0px 0px;
padding: 10px 30px;
color: #666;
text-align: center;
font-size: 13px;
border: 1px solid #ccc;
background: #ddd;
display: block;
border-right: none;
border-left: none;
}

.top_bar {
background: #fff;
}


#admin_videolisting_row {
padding-right: 45px;
}


.submitted, .published {
float: left;
padding: 5px 10px 0 0 ;
}


.submitted strong, .published strong {
font-weight: bold;
}

.posting-as {
width: 524px;
margin-top: 10px;
background: #eee;
padding: 7px;
text-align: right;
color: #999;
border: 1px solid #ddd;
border-bottom: 1px solid #f6f6f6;
}

#comments label {
display: block;
margin: 10px 0;
}

#comments textarea {
margin-bottom: 15px;
}



ul#comments {
clear: both !important;
margin-top: 30px;
}

ul#comments li {
display: block !important;
clear: both !important;
width: 540px !important;
margin-bottom: 15px;
padding-bottom: 25px;
float: left;
border-top: 1px solid #eee;
}

ul#comments li .comment-poster{
float: left;
width: 100px;
font-weight: bold;
margin-right: 30px;
padding: 25px 0 0px 0;
line-height: 1.5em;
padding-bottom: 10px;
}

ul#comments li .comment-poster span {
    display: block;
    font-weight: normal;
    font-style: italic;
    color: #999;
    font-size: 85%;
    padding-bottom: 10px;
}

ul#comments li .comment-poster button{
margin-bottom: 6px;
}

ul#comments li .comment-body{
float: left;
padding: 25px 30px 0px 30px;
width: 349px;
border-left: 1px solid #f7f7f7;
background: url(../images/comment-bg.png) right top no-repeat;
}

ul#comments li h4{
font-weight: bold;
line-height: 1.5em;
padding-bottom: 10px;
}

ul#comments li p{
line-height: 1.6em;
margin-bottom: 1.6em;
}

ul#comments li div{

}

#comment_form h2.errorlist {
    color: red;
    font-size: 120%;
}

#comment_form ul.errorlist {
    color: red;
    float: left;
}

#admin ul.pagetabs {

}

button {
cursor: pointer;
}


#about_page #main p {
padding-bottom: 10px;
}


.auto_properties_edit {
float: right;
}


.auto_properties_edit h3 {
font-size: 12px;
padding: 7px;
}

.only_show {
clear: both;
padding: 16px 0 3px 8px;
}


.only_show h3, .only_show ul, .only_show li {
float: left;
font-size: 11px !important;
color: #666;
}

.only_show a {
padding: 0 0 0 12px;
font-weight: bold;
color: #666;
text-decoration: underline;
}

.auto_approve, .disable_auto_approve {
margin-right: 10px;
margin-left: 47px;
}

.disable_auto_approve {
margin-right: 10px;
margin-left: 7px;
}

#selected_count {
font-weight: bold;
}


#massedit {
float: left;
border: 1px solid #ddd;
padding: 20px;
background: #f9f9f9;
width: 90%;
}


#massedit button {
margin: 20px 0 0;
}



#massedit div {
float: left;
padding: 15px 0 5px;
clear: both;
}

#admin.bulkedit form table td, #admin.bulkedit form table th {
vertical-align: top;
padding: 5px;
}

#admin.bulkedit form table td select option {
float: left !important;
width: 100px;
}


.bulk_operations {
clear: both;
}

.bulk_operations li {
padding: 6px 10px 0 0;
}

.bulk_operations li span {
padding: 0px 10px 0 0;
}


.bulk_operations textarea, .bulk_operations select {
display: block;
margin: 10px 0 10px 17px;
width: 500px;
height: 200px;
padding: 8px;
border-top: 1px solid #aaa;
border-left: 1px solid #ccc;
border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
}

.bulk_operations select {
width: 300px;
padding: 0px;
}


.bulk_operations select option {
padding: 5px;
}

#admin.bulkedit form table td.noncheck {
min-width: 100px;
}

td.noncheck textarea {
padding: 10px;
border: 4px solid #aaa;
}

#saved_searches {
clear: both;
margin-right: 0 !important;
}

#add_feed {
float: left;
width: 45%;
padding-right: 0 !important;
padding-left: 12px !important;
}

.rounded.form_wrap.cleartheleft {
float: right !important;
margin-right: 0 !important;
width: 49% !important;
}


#add_feed .large_field {
width: 244px;
}

#add_user .large_field {
    width: 150px;
    margin-right: 5px !important;
}

#add_user #id_service {
    margin-left: 5px !important;
}

.left.large_field {
width: 135px;
background: url(../images/search_field.png) top left no-repeat;
margin-right: 10px;
margin-top: 0px;
}

.add_a_feed {
margin-right: 20px;
}

.allsites {
float: right !important ;
}

#saved_searches button {
font-weight: bold;
float: left !important;
margin-left: 10px;
}

/*.display_data {
padding-left: 20px;
font-weight: bold;
}*/

.lefthand .large_field {
margin-right: 0px !important;
}

.lefthand {
float: left;
width: 100%;
padding: 0;
}

/*---------- Safari -----------*/


@media screen and (-webkit-min-device-pixel-ratio:0) {

	#nav a span, #admin_nav a span {
padding-top: 1px;
}

	button.med_button {
padding-right: 6px;
background-position: right 0px;
}

	input.large_field {
padding-top: 1px !important;
}

body#admin.bulkedit .form_wrap {
min-width: 250px;
}

th.checkbox input{
margin-top: 8px !important;
}

.pagetabs li a span{
padding-top: 1px !important;
}

.pagetabs li.selected a span{
padding-top: 2px !important;
}

.copy div{
line-height: 1.6em !important;
}

.med_button span{
padding-top: 1px;
}


}


/*/////////////////////////////////////////////

~ Categories Page

/////////////////////////////////////////////*/

.categories_page{

}

.cat_list{
width: 312px;
float: left;
list-style: none;

border-right: 1px solid #eee;
}

.cat_list.last{
border-right: none;
margin-right: 0;
}


.cat_list dt, .cat_list dd{
float: left;
clear: both;

list-style: none;
padding-left: 22px;
}

.cat_list dd{
padding: 10px 0 10px 22px;
padding-bottom: 15px;
margin-bottom: 15px;
border-bottom: 1px solid #eee;
width: 290px;
}

.cat_list a{
float: left;
color: #4190E4;

}

.cat_list dt a{
font-weight: bold;
}

.cat_list dt{
margin-bottom: 5px;
}

.cat_list dd a{
margin-left: 1px;
display: inline;
float: none;
text-decoration: underline;
}


.cat_list a.med_button{
clear: left;
}



.amount{
line-height: 2.1em;
font-size: 11px;
padding-left: 10px;
color: #666;
}



tr.category_edit{
border: 1px solid;
}


tr.category_edit td{
vertical-align: top !important;
}


tr.category_edit td textarea{
width: 100%;
margin-bottom: 20px;
}


tr.category_edit td select{
width: 100%;
margin: 10px 0 20px;
}


tr.category_edit td input{
width: 90%;
}

tr.category_edit td.checkbox input{
width: inherit;
}


.helpful{
background: #fffbd8;
padding: 15px;
border: 1px solid #f7f2c9;
margin-bottom: 15px;
}

.successful{
background: #7abf54;
padding: 15px;
border: 1px solid #5b9c37;
margin-bottom: 15px;
color: #f1ffea;
}


.unsuccessful{
background: #cc3131;
padding: 15px;
border: 1px solid #ac1e1e;
color: #ffdada;
margin-bottom: 15px;
}

.helpful,
.successful,
.unsuccessful,
.helpful strong,
.successful strong,
.unsuccessful strong{
text-shadow: none;
}



.on{
display: inline !important;
padding-left: 18px;
padding-right: 12px;
background: url(../images/lights.png) top left no-repeat;
}


.off{
display: inline !important;
padding-left: 18px;
background: url(../images/lights.png) top left no-repeat;
}


.enabled .on{
background: url(../images/lights.png) left -37px no-repeat;
}


.disabled .off{
background: url(../images/lights.png) left -71px no-repeat;
}


.min-width{
min-width: 130px;
}


.marginbottom{
margin-bottom: 20px;
}

.bulk_edit_panel{
margin: 0px 1%;
position: fixed;
bottom: 0;
left: 0;
z-index: 100;
width: 98%;
}


.bulk_edit_panel table{
border: 4px solid #999 !important;
margin-bottom: 13px !important;

}

.bulk_edit_panel table table{
border: none !important;
}

.bulk_edit_panel table tr td{
background: #eee;
}

.bulk_edit_panel .checklist ul{
height: 143px;
}

td.bulkedit_auto{
line-height: 2.6em !important;
padding-top: 20px !important;
}

.bulkedit_auto label{
margin: 0 10px 0 0 !important;
float: left;
padding-left: 8px;
}

.margintop{
margin-top: 90px !important;
}


#welcomebox{
	width: 730px;
	height: 275px;
	background-color: #dee8ff;
	border: solid 2px #3f3f3f;
        margin: 50px auto;
        font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

#welcomebox a{
	color: #117ffb;
}

#welcomebox h1{
	margin: 25px 0 0 50px;
	padding: 0;
	font-size: 38px;
	color: #4e4e4e;
}

#welcomebox p{
	margin: 13px 60px 10px 50px;
	padding: 0;
	color: #4e4e4e;
	line-height: 22px;
}

#loginusername{
	float: left;
	margin: 12px 0 0 50px;
	padding: 0;
}

#loginpassword{
	float: left;
	margin: 12px 0 0 30px;
	padding: 0;
}

#loginfields p{
	margin: 0;
	padding: 0;
}

#loginfields label {
    float: left;
    padding: 10px 5px 0 0;
}

#loginfields input{
	float: left;
        clear: left;
	width: 175px;
	height: 30px;
	margin-top: 6px;
	padding: 2px 0 0 10px;
	background-color: #FFF;
	border: 1px solid #000;
	color: #4e4e4e;
        font-size: 18px;
}

#loginfields input.loginbutton{
	height: 30px;
	width: auto;
	margin-left: 15px;
	font-size: 18px;
	font-weight: normal;
	background-color: #e8e8e8;
	padding: 2px;
        clear: none;
}

#featurebuttondemo{
	padding: 0 0 3px 120px;
	background: url(../images/featurebuttondemo.png) no-repeat 0 0;
}


/* Old video_page.CSS styles */
strong {
    font-weight: bold;
}


#cancel_button {
    display: block !important;
}

#main ul, #main ul li{
    display: inline;
}



#main ul{
    float: left;
}

#tags {
    background: url(../images/deets.png) right bottom no-repeat;
    padding: 0;
    clear: both;
    border-top: 1px solid #f0f0f0;
    font-size: 11px;
    line-height: 1.5em;
}

#tags h3{
    clear: both;
    float: left;
    color: #666;
width: 74px;
margin-right: 3px;
font-weight: bold;

}

#tags ul.meta_listing{
width: 540px;
}

#tags ul.meta_listing a {
    color: #4190E4;
}

#tags ul.meta_listing li.item{
border-bottom: 1px solid #eee;
padding: 10px 0 !important; 
clear: both;
float: left;
width: 540px;
display: block;
}

#tags .floatleft {
clear: left;
margin: 0 !important;
}

.action + .editable, .action + div.description {
    clear: both;
    line-height: 18px;
    padding: 35px 0 10px;
    margin-bottom: 25px;
}

p.submit{
margin-top: 10px;
}

ul#comments form p label{
display: none;
}

#id_comment{
width: 508px;
background: url(../images/comment-bg.png) right top no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 1.5em;
border: 1px solid #ccc !important;
border-top: 1px solid #ddd !important;
padding: 15px;
min-height: 220px;
}

.comment-field label{ 
display: none;
}

.comments-title{
clear: both;
margin-top: 40px;
}

h2.post-comment-title{
margin-bottom: 20px;
}

#about{
    padding: 20px;
    background: #eee;
    margin-top: 35px;
}
#about h4{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

#about h1{
display: none;
}

#about h2{
margin-bottom: 10px;
padding-top: 0;
float: none;
font-size: 14px;
font-weight: bold;
}

#about p{
    line-height: 15px;
    margin-bottom: 15px;
}

#share_button{
    float: right;
    margin-top: 5px;
}

#flag_button{
    float: left;
    margin-top: 5px;
}

.log_push{
    padding-bottom: 0;
float: left;
display: block;
padding: 0px;
margin: 21px;
}

#seperate{
    float: left;	
    margin: 0px 0 0 0px;
}

#admin_header .current {
    font-weight: bold;
}

.category_edit, .author_edit {
    display: none;
}

.action{
padding-top: 20px;
}

#view_video #main{
padding-top: 33px;
}


.idc-new h3{
font-size: 14px !important;
margin-bottom: 4px !important;
border-top: 1px solid #ddd !important;
padding: 20px 0 15px 21px !important;

}

#view_video .idc-head h3{
font-size: 14px !important;

margin: 0 !important;
}

.idc-head{

margin-top: 18px !important;
}


.idc-message{
font-size: 10px !important;
margin-top: 0 !important;
}


.idc-message div{
color: #666;
font-size: 11px !important;
margin-top: 0 !important;
}


.idc-v-up {
height: 21px !important;
width: 22px !important;
background: url(../images/up.png) top left no-repeat !important;
}

.idc-v-up:hover{
background: url(../images/up.png) left -24px no-repeat !important;
}

.idc-v-up:active{
background: url(../images/up.png) left -48px no-repeat !important;
}

.idc-v-down {
height: 21px !important;
width: 22px !important;
background: url(../images/down.png) top left no-repeat !important;
}

.idc-v-down:hover{
background: url(../images/down.png) left -24px no-repeat !important;
}

.idc-v-down:active{
background: url(../images/down.png) left -48px no-repeat !important;
}



#view_video #idc-container .idc-btn_s span{
background: 0;
background: url(../images/med_left_swap.png) left top no-repeat !important;
text-align: center !important;
margin: 0px 0 0 10px;
padding-top: 6px !important;
}



#view_video #idc-container .idc-btn_s {
text-align: center !important;
padding-left: 0 !important;
background: 0 !important;
}

#view_video #idc-container .idc-c-h {
background: none !important;
border-top: 1px solid #eee !important;
margin: 0 !important;
padding: 10px 0 0 0 !important;
}




#view_video #idc-container .idc-btn_s .idc-r {
display: block !important;
font-weight: normal !important;
text-align: center !important;
background: url(../images/med_right_swap.png) right top no-repeat !important;
padding-right: 12px !important;
padding-left: 9px !important;
}

#view_video #idc-container .idc-btn_s:hover span{
background: url(../images/med_left_swap.png) left -31px no-repeat !important;
    color: #888;

}

#view_video #idc-container .idc-btn_s:active span {
background: url(../images/med_left_swap.png) left -62px no-repeat !important;
    color: #888;

}

#view_video #idc-container .idc-btn_s:hover .idc-r {
background: url(../images/med_right_swap.png) right -31px no-repeat !important;
}

#view_video #idc-container .idc-btn_s:active .idc-r {
background: url(../images/med_right_swap.png) right -62px no-repeat !important;
}


#view_video #idc-container .idc-avatar {
border: 1px solid #999;
width: 13px;
margin: 6px 0 0 6px;
display: none;
height: 13px;
}
#view_video #idc-container .idc-i span{
font-weight: bold !important;
padding-left: 2px;
}


#view_video #idc-container .idc-c-t{
padding: 0px 0 0 0px;
}

#view_video #idc-container .idc-c{
padding: 1px 0 0 0px !important;

}


#view_video #idc-container .idc-c-b{
font-size: 11px !important;
line-height: 23px !important;
margin: 10px 0 15px;

clear: both;
}

#IDCommentsNewThreadCover h3{
padding-left: 0 !important;
}



#view_video #idc-container .idc-c-b a.idc-collapselink{
font-size: 11px !important;
padding-left: 18px !important;
background: url(../images/arrow_down.png) left 5px no-repeat !important;
}



#view_video #idc-container #idc-sortLinks{
font-size: 11px;
text-align: right;
}

#view_video #idc-container .idc-reply{
padding-left: 20px;
font-size: 11px !important;
}

#view_video #idc-container .idc-text_noresize{
margin: 0 0 5px!important;
padding: 10px;
}



#view_video #idc-container .idc-reply label{
font-size: 11px !important;
padding: 20px 0 4px;
}



#view_video #idc-container .idc-c-t-inner{
font-size: 12px;
color: #555;
margin: 0;
}

#view_video #IDCommentNewThreadText{
width: 484px !important;
}

#category_sidebar h1 {
    float: none;
}

#category_sidebar img {
    max-width: 100%;
    padding-bottom: 10px;
}

#category a.count {
    font-size: 90%;
    color: #666;
}


#category a.count:hover {
text-decoration: underline;
}

#category h2{
clear: both;
float: left;
width: 100%;
}

#category h2 a.count span{
padding: 0 0 0 10px;
font-size: 12px;
    color: #999;
}

#with-children ul {
    float: left;
    padding-top: 24px;
}

#with-children li{
float: left;
}

#with-children li a {
display: block;
width: 147px;
text-align: center;
}

#with-children li a + a {
    margin: 10px 30px 20px 0;
}

#label_sidebar {
border: 1px solid #ddd;
clear: left;
    float: left;
    background: #f9f9f9;
    width: 343px;
    margin-right: 20px;
    text-align: left;
padding: 20px;
}

#label_sidebar h1 {
    padding: 5px;
    text-align: left;
    font-size: 140%;
    font-weight: bold;
    width: 100%;
    clear: both;
color: #333;
}

#label_sidebar form {
    text-align: left;
    padding: 5px;
}

#label_sidebar p {
    margin: 0px;
clear: both;
color: #777;
font-size: 11px;
line-height: 1.3em
}


#label_sidebar form label {
    float: left;
    font-size: 130%;
    clear: both;
    width: 100%;
    margin: 10px 0 3px 0;
}

#label_sidebar form input, #label_sidebar form textarea, #label_sidebar form select {
    float: left;
    margin: 5px 200px 5px 0;
    clear: both;
    width: 320px;
}

body.bulkedit td div.value {
    cursor: pointer;
}

body.bulkedit td div.field {
    display: none;
}

#massedit {
    display: none;
}

#content {
    clear: left;
}

.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
}

/* Playlists */
.playlist_title a {
    color: #4190E4;
    text-decoration: none;
    text-shadow: none;
}
#playlists {
    clear: both;
    margin-bottom: 20px;
}

#playlists li {
    clear: both;
}

#playlists .playlist_title A {
    text-decoration: none;
    color: #5D5D5D;
    padding-left: 20px;
    margin-left: -20px;
}

#playlists .playlist_name {
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #5b5b5b;
}

#playlists > div A {
    color: #5d5d5d;
    text-decoration: none;
}

#playlists .playlist_count {
    font-size: 10px;
    color: #bcbcbc;
}

#playlists .playlist_count A {
    color: #BCBCBC;
    padding: 0;
    margin: 0;
}

#playlists .playlist_count A:hover {
    text-decoration: underline;
}


h3.playlist_title {
    font-size: 140%;
    padding-bottom: 10px;
    padding-left: 2em;
}

#playlists .playlist_title {
    background: url('../images/playlist/arrow_left.png') no-repeat 2px 9px;
    border-top: 1px solid #dcdcdc;
    margin-left: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 7px;
}

#playlists .playlist_title.open {
    background-image: url('../images/playlist/arrow_down.png');
}

#playlists .playlist_title:first-child {
    border-top: none;
}

.playlist_thumbs .thumb_title {
    padding: 0px;
    margin: 0 0 20px;
    font-size: 10px;
    text-align: center;
    padding-left: 20px;
    width: 150px;
    line-height: 140%;
}

.playlist_thumbs {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.playlist_thumbs A {
    border: 0px;
    text-decoration: none;
    display: block;
    color: #5D5D5D;
}


.playlist_thumbs A IMG {
    border: 0px;
}

.playlist_thumbs .thumb_number {
    position: relative;
    top: -100px;
    color: #c6c6c6;
    padding-left: 15px;
}

#playlists .private, #playlists .private a,
.playlist_title .private, .playlist_title .private a,
h2.page_title .private, h2.page_title .private a{
    color: red;
    font-size: 0.9em;
}

div.playlist_description {
    padding-top: 10px;
    clear: left;
    margin-bottom: -50px;
}

#main .description ul {
    display: block;
    margin-bottom: 18px;
    list-style-position: inside;
}

#main .description ul li {
    display: list-item;
    list-style-type: disc;
}

#main .description ol {
    display: block;
    margin-bottom: 18px;
    list-style-position: inside;
}

#main .description ol li {
    display: list-item;
    list-style-type: decimal;
}
