@charset "UTF-8";
/* CSS Document 

Dear truth, knowledge, and understanding,

You are one step closer to being free.

Love, 
PCF

*/

/*/////////////////////////////////////////////

~ Markup 

/////////////////////////////////////////////*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 28px;
    padding: 40px 0 5px 0;
    font-weight: bold;
    float: left;
}

h2 {
    font-size: 18px;
}

a {
    color: #333;	
}


/*/////////////////////////////////////////////

~ Classes

/////////////////////////////////////////////*/

.floatright {
    float: right;	
}

.video {
    float: left;
    margin-bottom: 10px;
}

.thumbnail {
    float: left;
    margin-right: 16px;
    background: url(../images/thumbnail.png) left top no-repeat;
}

.title_desc {
    padding-top: 7px;
    height: 55px;
    margin-bottom: 2px;
    overflow: hidden;
}

.title_desc h3 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 16px;
}

.title_desc h3 a {
    text-decoration: none;
}

.title_desc p {
    line-height: 15px;
    height: 29px;
    overflow: hidden;
}

.video p a {
    display: block;
    font-size: 11px;
    line-height: 18px;
    color: #555;
    text-decoration: none;
}

.video a span {
    font-weight: bold;
}

.video a:hover {
    text-decoration: underline;
}

.rss {
    background: url(../images/rss.png) 40px 2px no-repeat;
    padding-right: 20px;
}

.miro-subscribe {
    padding-right: 32px;
    background: url(../images/miro.png) 68px 0px no-repeat;
}

.vid_title {
    float: left;
    margin-bottom: 10px;
}

.date {
    float: right;
    padding-top: 5px;
}

.more {
    display: block;
    float: right;
    clear: both;
    padding-right: 15px;
    text-decoration: none;
    background: url(../images/arrow_right.png) right top no-repeat;
}

.more:hover {
    text-decoration: underline;
}


/*/////////////////////////////////////////////

~ Navigate 

/////////////////////////////////////////////*/

#nav {
    clear: both;
    padding-top: 10px;
    float: left;
}

#nav li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

#nav a {
    line-height: 40px;
    padding-right: 14px;
    display: block;
    color: #555;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/nav_right.png) right top no-repeat;
}

#nav a span {
    line-height: 29px;
    display: block;
    padding: 0 7px 0 20px ;
    background: url(../images/nav_left.png) no-repeat;
}


#nav a:hover {
    background: url(../images/nav_right.png) right -35px no-repeat;
    color: #888;
}

#nav a:hover span {
    background: url(../images/nav_left.png) left -35px no-repeat;
}

#nav a:active {
    background: url(../images/nav_right.png) right -69px no-repeat;
    color: #aaa;
}

#nav a:active span {
    background: url(../images/nav_left.png) left -69px no-repeat;
}

/*/////////////////////////////////////////////

~ Wraaaaaaaaaapppp it up

/////////////////////////////////////////////*/

#wrapper {
    padding: 0 10px;
    margin: 0 auto;
}

/*/////////////////////////////////////////////

~ Header

/////////////////////////////////////////////*/

#header {
    height: 150px;
}

#logo {
    border: 1px solid;
    width: 60px;
    display: block;
    float: left;
    height: 60px;
    margin: 35px 15px 10px 0;
}

.tagline {
    color: #888;
    display: block;
    margin-top: 5px;
    font-size: 12px;
}


/*/////////////////////////////////////////////

~ Main

/////////////////////////////////////////////*/

#main {
    width: 540px;
    float: left;
}

#main_header h2 {
    font-size: 12px;
    float: left;
    padding-left: 14px;
    font-weight: bold;
}

#main_header {
    font-size: 12px;
    line-height: 36px;
    clear: both;
    height: 40px;
    background: url(../images/main_header.png) left top no-repeat;
    margin: 20px 0;
}

#main_header a {
    padding-left: 10px;
    color: #444;
    text-decoration: none;
}

/*/////////////////////////////////////////////

~ Sidebar

/////////////////////////////////////////////*/

#sidebar {
    width: 380px;
    float: right;
}

#sidebar_header h2 {
    font-size: 12px;
    padding-left: 14px;
    float: left;
    font-weight: bold;
}


#sidebar_header {
    font-size: 12px;
    line-height: 36px;
    height: 36px;
    clear: both;
    background: url(../images/sidebar_header.png) left top no-repeat;
    margin: 20px 0;
}


#sidebar_header a {
    padding-left: 10px;
    color: #444;
    text-decoration: none;
}


/*/////////////////////////////////////////////

~ Footer

/////////////////////////////////////////////*/

#footer {
    clear: both;
    font-size: 16px;
    text-align: center;
    padding: 75px 0;
}


/*/////////////////////////////////////////////

~ Search

/////////////////////////////////////////////*/

#search {
    float: right;
    margin-top: 40px;
    padding: 0;
}

#search #search_field {
    margin: 2px 10px 0 0;
    float: left;
}

#search #searchbutton {
    float: left;
}

/*/////////////////////////////////////////////

~ Login

/////////////////////////////////////////////*/

#login {
    float: right;
    width: 200px;
    padding-top: 10px;
}

#login li {
    float: right;
    list-style: none;
    margin-left: 10px;
}


/*/////////////////////////////////////////////

~ Buttons

/////////////////////////////////////////////*/

.med_button {
    line-height: 25px;
    padding-right: 15px;
    display: block;
    color: #333;
    font-size: 11px;
    float: right;
    text-decoration: none;
    background: url(../images/med_right.png) right top no-repeat;
}

.med_button span {
    line-height: 25px;
    display: block;
    padding: 0 6px 0 20px ;
    background: url(../images/med_left.png) no-repeat;
}

.med_button:hover {
    background: url(../images/med_right.png) right -31px no-repeat;
    color: #888;
}

.med_button:hover span {
    background: url(../images/med_left.png) left -31px no-repeat;
}

.med_button:active {
    background: url(../images/med_right.png) right -69px no-repeat;
    color: #aaa;
}

.med_button:active span {
    background: url(../images/med_left.png) left -69px no-repeat;
}

#hover_wrap {
    z-index: 10000;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#submit_box {
    border: 2px solid;
    padding: 3px;
}

#close_submit_box {
    text-align: right;
    border-bottom: 2px dashed;
    font-weight: bold;
}

#close_submit_box span {
    cursor: pointer;
}

div.selected {
    background: GreenYellow;
}

.unselected:hover {
    background: LightCyan;
}

.approve_reject {
    text-align: right;
    font-weight: bold;
}

.unselected .approve_reject {
    display: none;
}

.selected .approve_reject {
    display: block;
}

.approve_reject .approve {
    color: green;
    cursor: pointer;
    text-decoration: none;
}

.approve_reject .approve:hover {
    color: #0e980e;
    text-decoration: none;
}

.approve_reject .reject {
    color: #be0000;
    cursor: pointer;
    text-decoration: none;
}

.approve_reject .reject:hover {
    color: #df0606;
    text-decoration: none;
}

#admin_table_resizebar {
    text-align: center;
    vertical-align: middle;
    cursor: move;
    background: #fafafa;
}

ul.pagetabs {
    display: inline;
}

ul.pagetabs li {
    border: 1px solid;
    border-color: black;
    padding: 3px;
    margin: 2px;
    display: inline;
    list-style-type: none;
}

ul.pagetabs li a {
    text-decoration: none;
}

ul.pagetabs li.selected {
    background: cyan;
}

ul.pagetabs li.selected a {
    background: cyan;
}

#admin_rightpane {
    min-width: 500px;
}