@charset "UTF-8";
/*////////////////////////////////////////////

~ Modal Window

////////////////////////////////////////////*/


/* use a semi-transparent image for the overlay */
#overlay {
	background:#efefef;
	width: 600px;
    color:#efefef;
    height:400px;
    padding: 10px;
    display: none;
    border: 1px solid #225d84;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 30px 5px #3476a1;
    -webkit-box-shadow: 0 0 90px #000;
}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
    height:400px;
    background: #fff;
    overflow-y:auto;
    color: #000;
}

.close{
	background:url(../images/close.png) no-repeat;
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:32px;
    width:31px;
	}

.close:hover{
  background:url(../images/close.png) 0 -40px no-repeat;
}

/*////////////////////////////////////////////

~ Submit a Video

////////////////////////////////////////////*/


#submit_video {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

#overlay #submit_video {
    width: auto;
    padding: 0;
}

#submit_video > table, #submit_video > div {
    width: 520px;
    padding: 5px;
}

#submit_video h2 {
    float: none;
    font-size: 18px;
}
#submit_video label {
font-weight: bold;
}

#submit_video ul{
    padding: 10px 0 0 15px;
list-style: circle;
}

#submit_video li{
    padding: 0 0 10px;
list-style: circle;
}

#submit_video span.url {
    color: green;

}

#submit_video #id_url{
border: 1px solid;
padding: 10px;
width: 528px;
font-size: 14px;
margin: 10px 0 0 10px;

}

#submit_video label, #submit_video input, #submit_video textarea, #submit_video > div {
    float: left;
    margin: 5px;
}

#submit_video input, #submit_video textarea {
    clear: left;
    border: 1px solid black;
    margin-bottom: 15px;
}

#submit_video input[type=image] {
    border: none;
    margin-bottom: 5px;
}

#submit_video .inner_content {
    margin: 30px 0;
}

#submit_video td label {
	display: block;
	font-weight: bold;
}
#submit_video td input, #submit_video td textarea {margin-top: 5px;}

#submit_video ul.errorlist {
    padding: 0;
    margin: 0;
}

#submit_video ul.errorlist li {
    list-style: circle;
    margin: 0 0 0 20px;
}

/*/////////////////////////////////////////////

~ Login

/////////////////////////////////////////////*/
#login {
	border-left: 1px solid #c3c7cf;
	border-right: 1px solid #c3c7cf;
	border-bottom: 1px solid #c3c7cf;
	margin: 12px auto;
	width: 500px;
}
#login .tabs {
        font-size: 12px;
	height: 37px;
        list-style: none;
        margin-bottom: 0px;
        padding: 0px;
}
#login .tabs li {
	height: 37px;
	float: left;
	width: 117px;
}
#login .tabs {background: url('../images/login_tabs_bg.jpg') repeat-x 0 0;}
#login .tabs li a {
	color: #000000;
	display: block;
	height: 14px;
	padding: 13px 15px 10px;
	text-decoration: none;
}
#login .tabs li a:hover {text-decoration: underline;}
#login .tabs li.active {
	background: url('../images/login_tabs_bg.jpg') repeat-x bottom center;
	border-right: 1px solid #c3c7cf;
}
#login .tabs li.active.oi {
	border-right: none;
	border-left: 1px solid #c3c7cf;
	width: 118px;
}
#login .tabs li.active.go {
	border-right: none;
	border-left: 1px solid #c3c7cf;
	width: 103px;
}
#login .tabs li.active.fb, #login .tabs li.active.tw {
	border-left: 1px solid #c3c7cf;
}
#login .tabs li.active a {color: #484848;}
#login .tabs li.fb a {
	background: url('../images/login_tabs_icons.png') no-repeat 10px 11px;
	padding-left: 30px;
}
#login .tabs li.tw a {
	background: url('../images/login_tabs_icons.png') no-repeat 10px -32px;
	padding-left: 30px;
}
#login .tabs li.oi a {
	background: url('../images/login_tabs_icons.png') no-repeat 10px -75px;
	padding-left: 30px;
}
#login .tabs li.go a {
	background: url('../images/login_tabs_icons.png') no-repeat 10px -116px;
	padding-left: 30px;
}

#login .tabs_content .left {
        float: left;
	padding: 27px 26px 27px 18px;
	width: 188px;
}
#login .tabs_content .right {
        float: left;
	border-left: 1px solid #c3c7cf;
	padding: 27px 26px 27px 18px;
	width: 188px;
}
#login .tabs_content .inactive {display: none;}
#login .tabs_content h4 {
        margin: 0 0 19px;
	font-size: 14px;
	font-weight: bold;
}
#login .tabs_content form p {margin-bottom: 19px;}
#login .tabs_content form label input {
	background: url('../images/login_form_input_bg.jpg') repeat-x 0 0;
	border: 1px solid #bfbfbf;
	color: #a3a3a3;
	padding: 5px 11px;
	width: 165px;
}
#login .tabs_content form label input.active {color: #333333;}
#login .tabs_content form input.button {
	background: url('../images/login_form_button_bg.jpg') repeat-x 0 0;
	border: 1px solid #b6b6b6;
	color: #333333;
	float: right;
	height: 26px;
	font-weight: bold;
	padding: 0 8px;
	text-transform: uppercase;
}
#login .tabs_content form input.button:hover {text-decoration: underline;}
#login .tabs_content form a.forgot {
	color: #333333;
	display: block;
	float: left;
	font-size: 11px;
	margin-top: 8px;
	max-width: 115px;
	text-decoration: underline;
}
#login .tabs_content form a.forgot.oi {margin-top: 3px;}
#login .tabs_content form a.forgot:hover {color: #000000;}

/*/////////////////////////////////////////////

~ Post-comment popup

/////////////////////////////////////////////*/
#overlay .comment_posted {
    float: none;
    text-align: center;
    margin: 0px auto;
    width: auto;
}