strong {
    font-weight: bold;
}

div.description{
    clear: both;
    line-height: 18px;
    padding: 35px 0;
}

#cancel_button {
    display: block !important;
}

#main ul, #main ul li{
    display: inline;
}



#main ul{
    float: left;
}

#tags h3{
    clear: both;
    float: left;
    margin-bottom: 10px;
    color: #666;
}

#tags ul{
    font-weight: bold;
    padding-left: 3px;
    color: #666;
    width: 370px;
}

#tags {
    background: url(../images/deets.png) right bottom no-repeat;
    padding: 15px 0;
    border-top: 1px solid #f0f0f0;
    font-size: 11px;
}

#about h4{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

#about{
    padding: 20px;
    background: #eee;
    margin-top: 35px;
}

#about h1{
display: none;
}


#about h2{
margin-bottom: 10px;
padding-top: 0;
float: none;
font-size: 14px;
font-weight: bold;
}

#about p{
    line-height: 15px;
    margin-bottom: 15px;
}

#share_button{
    float: right;
    margin-top: 5px;
}

#flag_button{
    float: left;
    margin-top: 5px;
}

.log_push{
    padding-bottom: 0;
float: left;
display: block;
padding: 0px;
margin: 21px;
}

#seperate{
    float: left;	
    margin: 0px 0 0 0px;
}

#admin_header .current {
    font-weight: bold;
}

.editable {
    cursor: pointer;
}
.vid_title.editable, .vid_title.editable h2 {
    display: inline;
}

div.editable:hover:after {
    content: "✎";
}

.editable.open {
    cursor: inherit;
}

div.editable.open:hover:after {
    content: "";
}

.editable.open .save {
    color: green;
    cursor: pointer;
}

.editable.open .cancel {
    color: red;
    cursor: pointer;
}

#edit_video_wrapper form {
    display: none;
}

.category_edit, .author_edit {
    display: none;
}

.action{
padding-top: 20px;
}

#view_video #main{
padding-top: 33px;
}


.idc-new h3{
font-size: 14px !important;
margin-bottom: 4px !important;
border-top: 1px solid #ddd !important;
padding: 20px 0 15px 21px !important;

}

#view_video .idc-head h3{
font-size: 14px !important;

margin: 0 !important;
}

.idc-head{

margin-top: 18px !important;
}


.idc-message{
font-size: 10px !important;
margin-top: 0 !important;
}


.idc-message div{
color: #666;
font-size: 11px !important;
margin-top: 0 !important;
}


.idc-v-up {
height: 21px !important;
width: 22px !important;
background: url(../images/up.png) top left no-repeat !important;
}

.idc-v-up:hover{
background: url(../images/up.png) left -24px no-repeat !important;
}

.idc-v-up:active{
background: url(../images/up.png) left -48px no-repeat !important;
}

.idc-v-down {
height: 21px !important;
width: 22px !important;
background: url(../images/down.png) top left no-repeat !important;
}

.idc-v-down:hover{
background: url(../images/down.png) left -24px no-repeat !important;
}

.idc-v-down:active{
background: url(../images/down.png) left -48px no-repeat !important;
}



#view_video #idc-container .idc-btn_s span{
background: 0;
background: url(../images/med_left_swap.png) left top no-repeat !important;
text-align: center !important;
margin: 0px 0 0 10px;
padding-top: 6px !important;
}



#view_video #idc-container .idc-btn_s {
text-align: center !important;
padding-left: 0 !important;
background: 0 !important;
}

#view_video #idc-container .idc-c-h {
background: none !important;
border-top: 1px solid #eee !important;
margin: 0 !important;
padding: 10px 0 0 0 !important;
}




#view_video #idc-container .idc-btn_s .idc-r {
display: block !important;
font-weight: normal !important;
text-align: center !important;
background: url(../images/med_right_swap.png) right top no-repeat !important;
padding-right: 12px !important;
padding-left: 9px !important;
}

#view_video #idc-container .idc-btn_s:hover span{
background: url(../images/med_left_swap.png) left -31px no-repeat !important;
    color: #888;

}

#view_video #idc-container .idc-btn_s:active span {
background: url(../images/med_left_swap.png) left -62px no-repeat !important;
    color: #888;

}

#view_video #idc-container .idc-btn_s:hover .idc-r {
background: url(../images/med_right_swap.png) right -31px no-repeat !important;
}

#view_video #idc-container .idc-btn_s:active .idc-r {
background: url(../images/med_right_swap.png) right -62px no-repeat !important;
}


#view_video #idc-container .idc-avatar {
border: 1px solid #999;
width: 13px;
margin: 6px 0 0 6px;
display: none;
height: 13px;
}
#view_video #idc-container .idc-i span{
font-weight: bold !important;
padding-left: 2px;
}


#view_video #idc-container .idc-c-t{
padding: 0px 0 0 0px;
}

#view_video #idc-container .idc-c{
padding: 1px 0 0 0px !important;

}


#view_video #idc-container .idc-c-b{
font-size: 11px !important;
line-height: 23px !important;
margin: 10px 0 15px;

clear: both;
}

#IDCommentsNewThreadCover h3{
padding-left: 0 !important;
}



#view_video #idc-container .idc-c-b a.idc-collapselink{
font-size: 11px !important;
padding-left: 18px !important;
background: url(../images/arrow_down.png) left 5px no-repeat !important;
}



#view_video #idc-container #idc-sortLinks{
font-size: 11px;
text-align: right;
}

#view_video #idc-container .idc-reply{
padding-left: 20px;
font-size: 11px !important;
}

#view_video #idc-container .idc-text_noresize{
margin: 0 0 5px!important;
padding: 10px;
}



#view_video #idc-container .idc-reply label{
font-size: 11px !important;
padding: 20px 0 4px;
}



#view_video #idc-container .idc-c-t-inner{
font-size: 12px;
color: #555;
margin: 0;
}

#view_video #IDCommentNewThreadText{
width: 484px !important;
}

#category_sidebar {
    float: left;
    background: #eee;
    width: 20%;
    margin-right: 20px;
    text-align: center;
}

#category_sidebar h1 {
    float: none;
}

#category_sidebar img {
    max-width: 100%;
    padding-bottom: 10px;
}

#category {
    width: 70%;
    float: left;
}

#category a.count {
    font-size: 90%;
    color: #666;
}


#category a.count:hover {
text-decoration: underline;
}


#category > div {

}

#category h2{
clear: both;
float: left;
width: 100%;
}

#category h2 a.count span{
padding: 0 0 0 10px;
font-size: 12px;
    color: #999;
}

#with-children ul {
    float: left;
    padding-top: 24px;
}

#with-children li{
float: left;
}

#with-children li a {
display: block;
width: 147px;
text-align: center;
}

#with-children li a + a {
    margin: 10px 30px 20px 0;
}

#label_sidebar {
    float: left;
    background: #f9f9f9;
    width: 343px;
    margin-right: 20px;
    text-align: left;
padding: 20px;
}

#label_sidebar h1 {
    padding: 5px;
    text-align: left;
    font-size: 140%;
    font-weight: bold;
    width: 100%;
color: #333;
}

#label_sidebar form {
    text-align: left;
    padding: 5px;
}

#label_sidebar p {
    margin-bottom: 20px;
clear: both;
color: #777;
font-size: 11px;
line-height: 1.3em
}


#label_sidebar form label {
    float: left;
    font-size: 130%;
    clear: both;
    width: 100%;
    margin: 25px 0 3px 0;
}

#label_sidebar form input, #label_sidebar form textarea, #label_sidebar form select {
    float: left;
    margin: 5px 200px 5px 0;
    clear: both;
}

#id_slug, #id_name{
width: 300px;
}


body.bulkedit td div.value {
    cursor: pointer;
}

body.bulkedit td div.field {
    display: none;
}

#massedit {
    display: none;
}