git+http://git.participatoryculture.org/django-email-share/@master#egg=django_email_share
git+http://git.participatoryculture.org/djpagetabs@0d5ec5a1a318830380728e04d2160bc35db8469a#egg=djpagetabs
git+git://github.com/pculture/django-uploadtemplate.git@233bdf6dce5108e9ed3d6efec6593148d62e5b0c#egg=django-uploadtemplate
git+git://github.com/pculture/djvideo.git@ddc27014800a3432abc82872d8bacf103ab91c2f#egg=djvideo
git+git://github.com/pythonforfacebook/facebook-sdk.git@master#egg=facebook_python_sdk
git+git://github.com/toastdriven/django-haystack.git@6065c8525bea4b9a116c7fa279b9e3e26ac7362f#egg=django-haystack
git+git://github.com/oberlin/django-daguerre.git@6d0dfb9c7626c5a51ab92cc125ba2076104ebddd#egg=django-daguerre
django-registration==0.8
vidscraper==1.0.2
beautifulsoup4==4.0.4
Django==1.4.3
Pillow==1.7.8
lxml==2.3.5
feedparser==5.1.3
django-tagging==0.3.1
django-celery==3.0.11
pytz==2012j
celery==3.0.13
billiard==2.7.3.19
kombu==2.5.4
anyjson==0.3.3
amqp==1.0.6
python-dateutil==1.5
django-picklefield==0.1.9
simplejson==2.3.2
oauth==1.0.1
oauth2==1.5.211
mock==0.8.0
django-notification==0.2
whoosh==2.4.1
httplib2==0.7.7
requests==0.14.2
django-tastypie==0.9.11
django_compressor==1.1.2
django-appconf==0.5
django-mptt==0.5.2
Markdown==2.1.1
django-social-auth==0.7.9
python-openid==2.2.4
django-nose==1.1
nose==1.2.1
blessings==1.5
nose-progressive==1.3
nose-exclude==0.1.9
certifi==0.0.8
chardet==1.0.1
BeautifulSoup==3.2.0
mimeparse==0.1.3
