{% extends "localtv/admin/list.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load filters localtv_imports %}

{% block object_list_item_headers %}
<th>Name</th>
<th>Total videos</th>
<th>Last import</th>
<th></th>
{% endblock %}

{% block object_list_item_fields %}
  {{ block.super }}
  <td>{{ object.video_count }}</td>
  {% get_source_import_info object as info %}
  <td>{% if info.import %}
      {{ info.import.get_status_display }} {% if info.import.status == info.import.STARTED %}{{ info.import.start|simpletimesince }}{% else %}{{ info.import.last_activity|simpletimesince }}{% endif %} ago
    {% else %}
      No imports found
    {% endif %}</td>

  <td>{% if info.import %}
      {% if info.import.status == info.import.COMPLETE %}{{ info.import.videos_imported }} video{{ info.import.videos_imported|pluralize }} imported{% endif %}

     {% if info.import.status == info.import.FAILED %}{% with error_count=info.errors.count %}{{ error_count }} error{{ error_count|pluralize }}{% endwith %}{% endif %}
    {% endif %}</td>
{% endblock %}