{% load url from future %}

{% load i18n djam %}

<ul class="nav navbar-nav navbar-right">
  {% url 'localtv_about' as url %}
  {% trans 'About' as text %}
  {% include 'djam/_nav_item.html' with url=url text=text request=request only %}

  {% if site_settings.submission_allowed %}
    {% url 'localtv_submit_video' as url %}
    {% trans 'Submit' as text %}
    {% include 'djam/_nav_item.html' with url=url text=text request=request only %}
  {% endif %}
  {% if browse_modules %}
    <li class="dropdown">
      <a href="#" class='dropdown-toggle' data-toggle='dropdown'>{% trans "Browse" %} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for module in browse_modules %}
          {% include module %}
          {% if not forloop.last %}
            <li class='divider'></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="nav-item">
      {% url 'localtv_list_new' as url %}
      {% trans 'All Videos' as text %}
      {% include 'djam/_nav_item.html' with url=url text=text request=request only %}
    </li>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% trans 'Your Profile' as title %}
    {% include 'djam/_nav_item.html' with url=base_riff.profile.get_default_url title=title text=request.user.get_full_name|default:request.user.username icon='icon-user' request=request only %}

    {% if user_is_admin %}
      {% trans 'Admin' as title %}
      {% include 'djam/_nav_item.html' with icon='icon-cogs' url=base_riff.get_default_url title=title request=request only %}
    {% endif %}

    {% riff_url base_riff.auth 'logout' as url %}
    {% trans 'Logout' as title %}
    {% include 'djam/_nav_item.html' with icon='icon-signout' url=url|add:"?next="|add:request.META.PATH_INFO title=title request=request only %}
  {% else %}{# if not request.user.is_authenticated #}
    {% riff_url base_riff.auth 'login' as url %}
    {% trans 'Login' as text %}
    {% include 'djam/_nav_item.html' with url=url|add:"?next="|add:request.META.PATH_INFO text=text request=request only %}
  {% endif %}
</ul>
