{% load i18n djam %}{% load url from future %}

{% get_displayed_riffs base_riff as displayed_riffs %}

{% if displayed_riffs %}
  <div class="navbar navbar-default">
    <ul class='nav navbar-nav'>
      {% with current_riff=riff %}
        {% for riff in displayed_riffs %}
          {% if riff == current_riff %}
            {% include 'djam/_nav_item.html' with active=1 url=riff.get_default_url text=riff.display_name request=request only %}
          {% else %}
            {% include 'djam/_nav_item.html' with active=0 url=riff.get_default_url text=riff.display_name request=request only %}
          {% endif %}
        {% endfor %}
      {% endwith %}
    </ul>
  </div>
{% endif %}
