{% comment %}
This is a clone of the base admin header, plus a link for the voting page. This should be considered a stopgap measure until the admin refactor lands.
{% endcomment %}

 <ul id="new_admin_nav">
{% comment %}
The "admin nav" contains a bunch of things -- it even contains things if you are
not an admin. If you are an admin, we show some special links:
{% endcomment %}
    {% if user_is_admin %}
        {% if site_settings.should_show_dashboard %}
        <li id="admin_dash"><a href="{% url localtv_admin_index %}"><span>Dashboard</span></a></li>
        {% endif %}

    <li id="admin_videos"><a href="{% url localtv_admin_approve_reject %}">Videos</a></li>
    <li id="admin_settings"><a href="{% url localtv_admin_settings %}">Settings</a></li>
    <li id="admin_users"><a href="{% url localtv_admin_users %}">Users</a></li>
    <li id="admin_comments"><a href="{% url comments-moderation-queue %}">Comments</a></li>

        {% if site_settings.should_show_account_level %}
        <li id="admin_account"><a class="account" href="{% url localtv_admin_tier %}"><span>Account</span></a></li>
        {% endif %}

    <li id="admin_contests"><a href="{% url localtv_admin_contests %}">Contests</a></li>

    {% endif %}

{% comment %}
The "admin nav" also contains a link to your profile, if you are logged in.
It always provides a link to the widget embed code.
{% endcomment %}

    {% if request.user.is_authenticated %}
    <li id="admin_profile"><a href="{% url localtv_user_profile %}">Your Profile</a></li>
    {% endif %}
    <li id="admin_goodies"><a href="{% url localtv_goodies_widget %}">Goodies</a></li>
 </ul>
