{% if form.non_field_errors %}
    <div class="message error">
        {% if form.non_field_errors|length == 1 %}
            {{ form.non_field_errors.0 }}
        {% else %}
            The following errors occurred:
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    {% include "localtv/admin/_form_field.html" %}
{% endfor %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}