{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Add a Source" %}{% endblock %}

{% block body_class %}addingfeed{% endblock body_class %}

{% block content %}
<form method="post" action="{{ request.get_full_path }}">

<button class="add" type="submit" name="cancel"><span>Cancel</span></button>
<button class="add" type="submit"><span>Add Source</span></button>

<h2>Review Feed Before Adding</h2>

<div class="floatleft">
          <h3>{{ form.instance.name }}</h3>
          {{ form.instance.feed_url }}
          {% if form.instance.video_service %}
          <span class="video_service">{{ form.instance.video_service }} User</span>
          {% endif %}
          <div class="video_count">
            <span>Found approximately {{ video_count }} video{{ video_count|pluralize }}</span>
            <div>
              <label for="id_auto_approve_0">
                <input type="radio" id="id_auto_approve_0" name="auto_approve" value="True"/>
                Approve All (current and future)
              </label>
              <label for"id_auto_approve_1">
                <input type="radio" id="id_auto_approve_1" name="auto_approve" value="False" checked="checked"/>
                Review them first
              </label>
            </div>
          </div>


</div>
       <div class="cat_left">
          {{ form.auto_categories.errors }}
          <label class="padding">Categories</label>
          {{ form.auto_categories }}
      </div>
      <div class="auth_right">
          {{ form.auto_authors.errors }}
          <label class="padding">Users</label>
          {{ form.auto_authors }}
 </div>
  </form>

{% endblock content %}
