{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}



{% block body_class %}incomingvids{% endblock body_class %}


{% load pagetabs i18n %}

{% block head %}
  {% include "localtv/inline_edit/header.html" %}
  <script src="{{ STATIC_URL }}localtv/js/admin/admin_tables.js?version={{ mc_version }}"
          type="text/javascript">
  </script>
  
{% endblock head %}

{% block title %}{{ block.super }} - {% block name %}{% trans "Admin - To Be Reviewed" %}{% endblock %}{% endblock %}



{% block content %}

{% include "localtv/admin/video_header.html" %}

<h2 class="page_title">{% block page_title %}Videos | Videos for Review{% endblock %}</h2>


{% if page_obj.paginator.count %}

 

	{% block helpful %}<div class="helpful rounded">
        Videos here require moderator approval before appearing on the site.
        <div>
          <a class="rss" href="{% url localtv_admin_feed_unapproved feed_secret %}">Unapproved RSS</a>
          <a class="rss" href="{% url localtv_admin_feed_unapproved_user feed_secret %}">Unapproved User RSS</a>
          </div>
        </div>
        {% endblock %}

        {% block admin_actions %}
        <a class="approve_button" href="{% url localtv_admin_approve_all %}?page={{ page_obj.number }}"><span>Approve All Videos on This Page</span></a>
        <a class="reject_button" href="{% url localtv_admin_reject_all %}?page={{ page_obj.number }}"><span>Reject All Videos on This Page</span></a>
        <a class="plain_button" href="{% url localtv_admin_clear_all %}"><span>Clear Entire Queue</span></a>
       {% endblock %}



<div id="labels">

    <div class="pag">
                  {% block pagination %}
                    {% if page_obj and page_obj.has_other_pages  %}
                      {% pagetabs page_obj %}
                    {% endif %}
                  {% endblock pagination %}
    </div>
    <br class="clear" />
    <div id="admin_table">
        {% block leftpane %}
            <div id="admin_leftpane">
                <div id="admin_videolisting_row">
                    {% block videolisting_rows %}
                        {% include "localtv/admin/video_listing.html" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock leftpane %}
        <div id="admin_rightpane">
          {% block rightpane %}
            {% if current_video %}
              {% include "localtv/admin/video_preview.html" %}
            {% endif %}
          {% endblock rightpane %}
          <br class="clear" />
        </div>
    </div>
{% else %}
  <div class="helpful clear rounded">You have no videos that need reviewing.  <a href="{% url localtv_admin_manage_page %}">Manage your Sources</a> to import YouTube user videos, searches of video sites and other automated sources.</div>
{% endif %}
</div>
{% endblock content %}
