{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}



{% block body_class %}incomingvids{% endblock body_class %}


{% load pagetabs i18n uploadtemplate_tags %}

{% block head %}
  <link rel="StyleSheet" type="text/css" href="{% get_static_url "/css/inline_edit.css" %}" />
  <script src="{% get_static_url "/js/admin_tables.js" %}"
          type="text/javascript">
  </script>
  <script src="{% get_static_url "/js/new_edit_form.js" %}"
          type="text/javascript">
  </script>
  
{% endblock head %}

{% block title %}{{ block.super }} - {% block name %}{% trans "Admin - To Be Reviewed" %}{% endblock %}{% endblock %}



{% block content %}

{% include "localtv/admin/video_header.html" %}

         
       {% block admin_actions %}
                <a class="approve_button" href="{% url localtv_admin_approve_all %}?page={{ page_obj.number }}"><span>Approve Page</span></a>
                <a class="reject_button" href="{% url localtv_admin_reject_all %}?page={{ page_obj.number }}"><span>Reject Page</span></a>
                <a class="plain_button" href="{% url localtv_admin_clear_all %}"><span>Clear Queue</span></a>
       {% endblock %}

<h2 class="page_title">Videos for Review</h2>


{% if page_obj.paginator.count %}

 

	{% block helpful %}<div class="helpful rounded">
        Videos here require moderator approval before appearing on the site.
        <div>
          <a class="rss" href="{% url localtv_admin_feed_unapproved feed_secret %}">Unapproved RSS</a>
          <a class="rss" href="{% url localtv_admin_feed_unapproved_user feed_secret %}">Unapproved User RSS</a>
          </div>
        </div>
        {% endblock %}


<div id="labels">

    <div class="pag">
                  {% block pagination %}
                    {% if page_obj and page_obj.has_other_pages  %}
                      {% pagetabs page_obj %}
                    {% endif %}
                  {% endblock pagination %}
              </div>
  <div id="admin_table">
               {% block leftpane %}


       
                   </div>

       
        <div id="admin_leftpane">

			
              <div id="admin_videolisting_row">
                  {% block videolisting_rows %}
                    {% include "localtv/admin/video_listing.html" %}
                  {% endblock %}
              </div>
            
          
              
          {% endblock leftpane %}
        </div>
        <div id="admin_rightpane">
          {% block rightpane %}
            {% if current_video %}
              {% include "localtv/admin/video_preview.html" %}
            {% endif %}
          {% endblock rightpane %}
        </div>
{% else %}
  <div class="helpful clear rounded">You have no videos that need reviewing.  <a href="{% url localtv_admin_manage_page %}">Manage your Sources</a> to import YouTube user videos, searches of video sites and other automated sources.</div>
  
  </div>
{% endif %}
{% endblock content %}
