{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<!DOCTYPE html>
<html>
  {% if not request.is_ajax %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/reset.css" />
    <link rel="StyleSheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin.css" />
    <link rel="StyleSheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/new_admin.css" />
    <link rel="StyleSheet" type="text/css" href="{{ STATIC_URL }}localtv/css/overlay.css" />
<!--[if lt IE 8]>
   <link rel="StyleSheet" type="text/css" href="{{ STATIC_URL }}localtv/css/msie7.css" />
<![endif]-->
    <script src="{{ STATIC_URL }}localtv/js/extern/jquery.tools-1.1.2.min.js"></script>
    <script src="{{ STATIC_URL }}localtv/js/extern/jquery.form.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}localtv/js/miro_community.js?version={{ mc_version }}" type="text/javascript"></script>
    <title>{% block title %}{{ sitelocation.site.name }}{% endblock title %}</title>
    {% block extrahead %}
    {% endblock extrahead %}
    {% block head %}{% endblock head %}
  </head>
  {% endif %}
  <body id="{% block body_id %}admin{% endblock body_id %}" class="{% block body_class %}{% endblock %}">
    {% block next_link %}<a id="next" href="{{ request.path }}"></a>{% endblock %}
    {% if not request.is_ajax %}
    <!--[if IE]><p class="internet_explorer">
      Administrative content is not optimized for Internet Explorer.
      We recommend upgrading to a <a href="http://www.firefox.com/">better browser</a> if you are experiencing problems.
    </p><![endif]-->

    
      <div id="header">
        <div class="clear">
          <div id="user_panel">
            {% if request.user.is_authenticated %}
              <span>logged in as <em>{{ request.user.username }}</em></span>
              <a href="{{ settings.LOGOUT_URL }}?next={{ request.META.PATH_INFO }}">Sign Out</a>
              {% else %}
              <a href="{{ settings.LOGIN_URL }}?next={{ request.META.PATH_INFO }}" rel="#overlay" title="Please Sign In"><span>Sign In</span></a>
            {% endif %}
          </div><!-- // user_pane -->
        <div id="logo">
          {% url localtv_index as localtv_index %}
            <a href="{{ localtv_index }}">
              <img alt="{{ sitelocation.site.name }} Logo" src="{% if sitelocation.logo %}{{ sitelocation.logo.url }}{% else %}{{ STATIC_URL }}localtv/images/logo.gif{% endif %}" />
              <span class="site_name">{{ sitelocation.site.name }}</span>
            </a>
        </div><!-- // logo -->
        </div><!-- // clear -->
      </div><!-- // header -->
      <div id="wrapper">
      {% block nav %}{% include "localtv/admin/new_header.html" %}{% endblock %}
      <div id="content">
      {% endif %}
        {% block content %}
        {% endblock content %}
      {% if not request.is_ajax %}
      </div><!-- // content -->
      <div class="clear"></div>
    </div><!-- // wrapper -->
    <div class="clear"></div>
    <div id="admin_footer">
      <ul class="clear">
        <li><a target="_blank" href="http://pculture.org/pcf/websites-privacy/">Privacy Policy</a></li>
        <li><a href="http://mirocommunity.org/terms">Terms of Service</a></li>
        <li><a href="http://mirocommunity.org/faq/">FAQ</a></li>
        <li><a href="https://develop.participatoryculture.org/index.php/MiroCommunityManual">Miro Community Manual</a></li>
      </ul>
      {% if user_is_admin %}
        <p id="footer_help">Need help setting up your site or getting a certain feature working? Ask us, we'd love to help.  Email the support team: <a href="mailto:questions@mirocommunity.org">questions@mirocommunity.org</a></p>
      {% endif %}
    </div><!-- // admin_footer -->
    
    
<!-- overlayed element --> 
<div class="overlay" id="overlay"> 
<!-- the external content is loaded inside this tag --> 
<div class="contentWrap"></div> 
</div><!-- // overlay -->

      {% if settings.GOOGLE_ANALYTICS_UA %}
    <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ?
  "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
      var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_UA }}");
      {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
      pageTracker._setDomainName(".{{ settings.GOOGLE_ANALYTICS_DOMAIN }}");
      {% endif %}
      pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}
  {% endif %}
  </body>
</html>
