{% extends "localtv/admin/bulk_edit.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n filters %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}localtv/js/admin/urlify.js?version={{ mc_version }}"></script>
  </script>
  <script type="text/javascript">
      $(document).ready(function() {
          document.getElementById("id_slug").onchange = function() { this._changed = true; };
          document.getElementById("id_name").onkeyup = function() {
              var e = document.getElementById("id_slug");
              if (!e._changed) { e.value = URLify(document.getElementById("id_name").value, 50); }
          }
      });
</script>
{% endblock %}
{% block title %}{{ block.super }} - {% trans "Admin - Categories" %}{% endblock %}

{% block body_class %}category_admin{% endblock body_class %}

{% block pre-labels %}
<h2>Videos | Categories</h2>
<a href="#" class="add" rel="#label_sidebar"><span>Add Category</span></a>
<div id="label_sidebar" class="simple_overlay displaynone {% if add_category_form.errors %}errors{% endif %}">
  <div class="close"></div>
  <h2>Add a Category</h2>
  <div class="input_field">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <ul>
        {% if add_category_form.non_field_errors %}
        <li>
          <strong>{% if add_category_form.non_field_errors|length_is:"1" %}
          We're sorry, there was an error saving your changes:
          {% else %}
          We're sorry, there were errors saving your changes:
          {% endif %}</strong>
          {{ add_category_form.non_field_errors }}
          Please make corrections and try saving again.
        </li
        {% endif %}
        {% for field in add_category_form %}
        <li>
          {{ field.label_tag }}
          {{ field.errors }}
          {{ field }}
          {% if field.help_text %}
          <span class="form_help">{{ field.help_text }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <button type="submit" value="Add" class="approve_button" name="submit"><span>Add Category</span></button>
  </form>
</div>
{% endblock %}

{% block labels %}
<div class="bulkedit_controls">
  <select name="action" id="bulk_action_selector">
    <option value="">Bulk Actions</option>
    <option value="delete">Delete</option>
  </select>
  <button type="button" class="med_button" onclick="bulkAction();"><span>Apply</span></button>
</div>
{% endblock %}

{% block massedit %}{% endblock %}

{% block columns %}
<td valign="middle">
  <span>{{ form.instance.dashes }}{{ form.instance.name }}</span>
  <div class="actions">
    <a href="#" onclick="return showEdit(this, true);">Edit</a> | <a href="#" class="delete_icon" onclick="return toggleDelete(this);">Delete</a> {{ form.DELETE.as_hidden }} | <a href="{{ form.instance.get_absolute_url }}" class="view_icon">View</a>
  </div>
</td>
<td valign="middle">{{ form.instance.description|sanitize }}</td>
<td valign="middle">{{ form.instance.slug }}</td>
{% with form.instance.video_set.count as count %}
<td valign="middle">{% if not count %}{{ count }}{% else %}<a href="{{ form.instance.get_absolute_url }}">{{ count }}</a>{% endif %}</td>
{% endwith %}
{% endblock %}

{% block quick-edit-fields %}
<ul>
  {% for field in form.visible_fields %}
  {% ifnotequal field.name field.name|upper %}
  <li>
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    {% if field.help_text %}
    <span class="form_help">{{ field.help_text }}</span>
    {% endif %}
  </li>
  {% endifnotequal %}
  {% endfor %}
</ul>
{% endblock %}
