{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}



{% block body_class %}incomingvids{% endblock body_class %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - {% block name %}{% trans "Admin - Confirm Clear" %}{% endblock %}{% endblock %}

{% block content %}
  <div style="width: 500px;">
    Are you sure you want to reject {{ videos.count }} videos?
    <form method="POST" action="">
      <button class="med_button" name="confirm" value="yes"><span>Clear Queue</span></button>
      <a class="med_button" href="{% url localtv_admin_approve_reject %}"><span>Cancel</span></a>
    </form>
  </div>
{% endblock content %}
