{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block body_class %}editdesign{% endblock body_class %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Edit Design" %}{% endblock %}

{% block content %}
  <br class="clearboth" />
  <form method="POST" action="" enctype="multipart/form-data">

  <table>
  <tr>
  <td width="20%">
  <div class="info rounded">
    <h2>Site Information</h2>

    {{ title_form.as_p }}
    <input type="submit" name="type_title" value="save">
  </div>
  
  
  <div class="about_me rounded">
      <h2>Organization Information</h2>

    {{ sidebar_form.as_p }}
    <input type="submit" name="type_sidebar" value="save">

  </div>
	</td>
		
	<td>
  <div class="look rounded">
      <h2>Design Settings</h2>
      
    {% for field in misc_form %}
    <p>
      {{ field.errors }}
      <label for="id_{{ field.name }}">{{ field.label }}</label>
      {{ field }}
      {{ field.help_text }}
      {% ifequal field.name "background" %}<input type="submit" name="delete_background" value="delete background">{% endifequal %}
    </p>
    {% endfor %}
    <input type="submit" name="type_misc" value="save">
    </div>

    <div class="look rounded">
      <h2>Comment Settings</h2>
        {{ comment_form.as_p }}
        <input type="submit" name="type_comment" value="save">
    </div>
</td>
</tr>
</table>
</form>
{% endblock content %}
