{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block body_class %}settings" onbeforeunload="return setting_onunload();{% endblock body_class %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Edit Settings" %}{% endblock %}
{% block head %}
  <script type="text/javascript" src="/js/extern/jquery.dirtyform.js"></script>
  <script type="text/javascript">
      function setting_onunload(event) {
          if ($("form input.changed").length) {
              unload_text = 'Your settings have not been saved.';
              if ($.browser.msie) {
                  window.event.returnValue = event.returnValue = unload_text;
              } else if ($.browser.safari) {
                  return 'Are you sure you want to navigate away from this page?\n\n' + unload_text;
              } else {
                  return unload_text;
              }
          }
      }
      $(document).ready(function() {
          $("form").dirty_form();
      });
  </script>
{% endblock %}
{% block content %}
{% include "localtv/admin/settings_header.html" %}
<br class="clearboth" />
<form method="POST" action="" enctype="multipart/form-data">
  <div class="info rounded">
    <div>
    <h2>Design and Content</h2>
    <div class="form_container">
      <p>
        {{ form.title.errors }}
        {{ form.title.label_tag }}
        {{ form.title }}
      </p>
      <p>
        {{ form.tagline.errors }}
        {{ form.tagline.label_tag }}
        {{ form.tagline }}
      </p>
      <p>
        {{ form.logo.errors }}
        {{ form.logo.label_tag }}
        {{ form.logo }}
      </p>
      <p>
        {{ form.background.errors }}
        {{ form.background.label_tag }}
        {{ form.background }}
        <input type="submit" name="delete_background" value="delete background">
      </p>
      <p>
        {{ form.css.errors }}
        {{ form.css.label_tag }}
        {{ form.css }}
      </p>
    </div>
    <div class="form_container">
      <p>
        {{ form.about_html.errors }}
        {{ form.about_html.label_tag }}
        {{ form.about_html }}
      </p>
      <p>
        {{ form.sidebar_html.errors }}
        {{ form.sidebar_html.label_tag }}
        {{ form.sidebar_html }}
      </p>
      <p>
        {{ form.footer_html.errors }}
        {{ form.footer_html.label_tag }}
        <span>{{ form.footer_html.help_text }}</span>
        {{ form.footer_html }}
      </p>
    </div>
    <div class="form_container">
      <h2>Additional Settings</h2>
      <p>
        {{ form.display_submit_button.label_tag }}
        {{ form.display_submit_button }}
        {{ form.display_submit_button.help_text }}
      </p>
      <p>
        {{ form.submission_requires_login.label_tag }}
        {{ form.submission_requires_login }}
        {{ form.submission_requires_login.help_text }}
      </p>
      <p>
        {{ form.use_original_date.label_tag }}
        {{ form.use_original_date }}
        {{ form.use_original_date.help_text }}
      </p>
      <p>
        {{ form.screen_all_comments.label_tag }}
        {{ form.screen_all_comments }}
        {{ form.screen_all_comments.help_text }}
      </p>
      <p>
        {{ form.comments_required_login.label_tag }}
        {{ form.comments_required_login }}
        {{ form.comments_required_login.help_text }}
      </p>
      <p>
        {{ form.comments_email_admins.label_tag }}
        {{ form.comments_email_admins }}
        {{ form.comments_email_admins.help_text }}
      </p>
      <p>
        {{ form.email_on_new_video.label_tag }}
        {{ form.email_on_new_video }}
        {{ form.email_on_new_video.help_text }}
      </p>
      <p>
        {{ form.email_review_status.label_tag }}
        {{ form.email_review_status }}
        {{ form.email_review_status.help_text }}
      </p>
    </div>
    <input id="submit_settings" type="submit" value="save all changes">
    <br class="clearboth">
  </div>
  </div>
</form>
{% endblock content %}
