{% extends "localtv/admin/base_wait.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}Importing videos...{% endblock %}
{% block error %}
  <meta http-equiv='refresh' content='5; {{ request.path }}?task_id={{ task_id }}'>
{% endblock %}
{% block bottom %}
<p style="font-size: 18px;">{% if fully_thumbnailed_count %}Imported {{ fully_thumbnailed_count }} videos{% else %}Importing videos{% endif %} from
<br/> <br/><strong style="font-size: 24px;">{{ feed.feed_url }}</strong>
<br/><br/>This page will reload periodically with updates on the import status.
</p>
{% endblock %}
