{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
 <ul id="admin_nav">
    {% if user_is_admin %}
    <li><a class="dash" href="{% url localtv_admin_index %}"><span>Dashboard</span></a></li>
    <li><a class="sub" href="{% url localtv_admin_approve_reject %}"><span>Videos</span></a></li>
    <li><a class="design" href="{% url localtv_admin_settings %}"><span>Settings</span></a></li>
    <li><a class="users" href="{% url localtv_admin_users %}"><span>Users</span></a></li>
    <li><a class="comments" href="{% url comments-moderation-queue %}"><span>Comments</span></a></li>{% endif %}
    {% if request.user.is_authenticated %}<li><a class="profile" href="{% url localtv_user_profile %}"><span>Your Profile</span></a></li>{% endif %}
    <li><a class="goodies" href="{% url localtv_goodies_widget %}"><span>Goodies</span></a></li>
    <li id="footer">
      {% if request.user.is_authenticated %}
      <a href="{{ settings.LOGOUT_URL }}?next={{ request.META.PATH_INFO }}">Logout {{ request.user.username }}</a>
      {% else %}
      <a href="{{ settings.LOGIN_URL }}?next={{ request.META.PATH_INFO }}" rel="#overlay" title="Please Sign In"><span>Login</span></a>
      {% endif %}
    </li>
 </ul>
