{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

 <ul id="admin_nav">
    <li><a class="sub" href="{% url localtv_admin_approve_reject %}"><span>To Be Reviewed</span></a></li>
    <li><a class="watched" href="{% url localtv_admin_manage_page %}"><span>Manage Sources</span></a></li>
    <li><a class="bulkedit" href="{% url localtv_admin_bulk_edit %}"><span>Bulk Edit</span></a></li>
    <li><a class="design" href="{% url localtv_admin_edit_design %}"><span>Design Settings</span></a></li>
    <li><a class="themes" href="{% url uploadtemplate-index %}"><span>Themes</span></a></li>
    <li><a class="categories" href="{% url localtv_admin_categories %}"><span>Categories</span></a></li>
    <li><a class="users" href="{% url localtv_admin_users %}"><span>Users</span></a></li>
    <li><a class="comments" href="{% url comments-moderation-queue %}"><span>Moderate Comments</span></a></li>
    <li><a id="submit_button" href="{% url localtv_submit_video %}"><span>Submit a Video</span></a></li>
 </ul>
<br style="clear:both;" />
