{% extends "localtv/admin/__layouts/25_75.html" %}

{% load i18n %}
{% load url from future %}

{% block body_classes %}{{ block.super }} admin-dashboard{% endblock %}

{% block side %}
{% include 'localtv/admin/_admin_navigation.html' %}
{% endblock %}

{% block main %}
  <header class="page-header">
    <h1>{% block page_title %}{% trans 'Dashboard' %}{% endblock %}</h1>
  </header>

  <div class="page-content">
    <h1>Stats</h1>

    <ul>
      <li><a href="{% url 'localtv_admin_approve_reject' %}">{{ unreviewed_count }} video{{ unreviewed_count|pluralize }} pending moderation</a></li>
      <li><a href="{% url 'comments-moderation-queue' %}">{{ comment_count }} comment{{ comment_count|pluralize }} pending moderation</a></li>
      <li><a href="{% url 'localtv_list_this_week' %}">{{ videos_this_week_count }} video{{ videos_this_week_count|pluralize }} added this week</a></li>
    </ul>


    {% if not site_settings.hide_get_started %}
      <h1>Get Started</h1>

      <ul>
        <li><a href="{% url 'localtv_admin_manage_page' %}">Add Video Feeds</a> — Click the Add Feed button &amp; paste in any media RSS feed or a YouTube, blip.tv or Vimeo profile URL.</li>
        <li><a href="{% url 'localtv_admin_settings' %}">Edit Your Site Info &amp; Design</a> — Upload a logo for your site, set your title and tagline, and more.</li>
        <li><a href="{% url 'localtv_user_notifications' %}">Set Your Notification Preferences</a> — Decide what updates you'd like to receive about activity on the site.</li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
