{% extends "localtv/admin/approve_reject_table.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load pagetabs i18n %}

{% block name %}{% trans "Admin - Search Video Sites" %}{% endblock %}
{% block body_class %}searches{% endblock body_class %}
{% block admin_actions %}{% endblock %}
{% block content %}

<h2 class="marginbottom">Search Video Sites</h2>

<div class="helpful rounded">Use this page to search videos from video sharing sites.</div>
  
  <div id="saved_searches" class="search_sites form_wrap rounded">
  <form method="GET" action="{% url localtv_admin_search %}">
    
    <button class="med_button"><span>Search Video Sites</span></button>
  <div class="fields">

    <input id="livesearch_query_input" class="left large_field"
           name="query"
           value="{{ query_string }}"/>
           <span class="left">and sort by</span>
    <select name="order_by" class="left">
      <option value="relevant"
              {% ifequal order_by "relevant" %}
                selected="selected"
              {% endifequal %}>Relevance</option>
      <option value="latest"
              {% ifequal order_by "latest" %}
                selected="selected"
              {% endifequal %}>Latest</option>
    </select>
    </div>
    
    
  </form>
  {% if is_saved_search %}
    <i class="floatright">This search is saved</i>
  {% else %}
  {% if query_string %}
    <a href="{% url localtv_admin_search_add %}?query={{ query_string|urlencode }}" class="med_button allsites">
      <span>Save "{{ query_string }}" as Source</span></a>
  {% endif %}
  {% endif %}
	</div>
  {{ block.super }}
{% endblock %}

{% block pagination %}
  {% if page_obj and page_obj.has_other_pages %}
   {% pagetabs page_obj "localtv/admin/livesearch_pagetabs.html" %}
  {% endif %}
{% endblock pagination %}

{% block pagination2 %}
  {% if page_obj and page_obj.has_other_pages  %}
   {% pagetabs page_obj "localtv/admin/livesearch_pagetabs.html" %}
  {% endif %}
{% endblock pagination2 %}

{% block helpful %}{% endblock %}