{% extends "localtv/admin/bulk_edit.html" %}
{% load filters %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Manage Sources" %}{% endblock %}

{% block body_class %}managesources{% endblock body_class %}

{% block head %}
  {{ block.super }}
  {% include "localtv/inline_edit/header.html" %}
  <script type="text/javascript">

$(document).ready(function() {
    $("td.autoapprove a").click(function() {
        obj = this;
        $.get(this.href, function() {
            if (obj.className === "off") {
                $(obj.parentNode).removeClass('disabled').addClass('enabled').children('input').val('True');
            } else {
                $(obj.parentNode).removeClass('enabled').addClass('disabled').children('input').val('False');
            }
        });
        return false;
    });
    $('form:last').submit(function() {
        if (($('input[name$=bulk]:checked').length &&
            $('#bulk_action_selector').val() == 'remove') |
            $('input[name$=DELETE][value=checked]').length)
        {
            // deleting a source, so ask about deleting the videos
            if (!confirm('Press OK to delete all videos from this source.')) {
                $('form:last input[name=keep]').val('yes');
            }
        }
    });
});
  </script>
{% endblock head %}

{% block pre-labels %}
<a href="#" rel="#admin_search_sources" class="add"><span>Search For Video</span></a>
<a href="#" rel="#admin_feed_add" class="add"><span>Add Feed</span></a>
<h2>Videos | Manage Your Video Sources</h2>
<div class="helpful clear rounded">Use this page to keep track of and edit sources of incoming video.</div>
{% if successful %}<div class="successful clear rounded">Your changes were saved successfully.</div>{% endif %}
{% if formset.errors %}<div class="unsuccessful clear rounded">There were problems with your edits.</div>{% endif %}
<div id="admin_feed_add" class="simple_overlay displaynone">
  <form method="get" action="{% url localtv_admin_feed_add %}">
    <strong>Add Sources of Video</strong>
    {{ add_feed_form.feed_url }}
    <button type="submit" class="med_button"><span>Add</span></button>
  </form>
  <p>Sources let you automatically import video onto your site from video hosting accounts (ie YouTube users) or RSS. Just paste in a video URL or RSS feed.</p>
</div>

<div id="admin_search_sources" class="simple_overlay displaynone">
  <form method="get" action="{% url localtv_admin_search %}">
    <strong>Search Video Sites</strong>
    <input class="livesearch_feed_url" name="q" />
    <span class="select_option">and sort by
    <select name="order_by">
      <option value="latest">Latest</option>
      <option value="relevant">Relevance</option>
    </select>
    </span>
    <button type="submit" class="med_button"><span>Search</span></button>
  </form>
  <p>
    Search will import results from a bunch of video sites. You can pick out videos you think are interesting and optionally create an automated source.
  </p>
</div>
{% endblock %}

{% block labels %}
<form action="" method="get" class="search_sources">
  <select class="behave" name="category">
    <option {% if not request.GET.category %}selected="selected"{% endif %} value="">Show All Categories</option>
    {% for category in categories %}
    <option {% ifequal category.pk|stringformat:"s" request.GET.category %}selected="selected"{% endifequal %}value="{{ category.pk }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <select class="behave" name="author">
    <option {% if not request.GET.user %}selected="selected"{% endif %} value="">Show All Users</option>
    {% for user in users %}
    <option {% ifequal user.pk|stringformat:"s" request.GET.author %}selected="selected"{% endifequal %} value="{{ user.pk }}">{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</option>
    {% endfor %}
  </select>
  <input type="text" class="small_field" name="q" value="{{ search_string }}" placeholder="Search Sources"/>
  <button class="med_button" type="submit"><span>Search</span></button>
</form>
<ul class="only_show">
  <li><label>Only Show:</label></li>
  <li{% if not request.GET.filter %} class="selected"{% endif %}><a href="{% url localtv_admin_manage_page %}">All</a></li>
  <li{% ifequal request.GET.filter "user" %} class="selected"{% endifequal %}><a href="?filter=user">Video Site Users</a></li>
  <li{% ifequal request.GET.filter "search" %} class="selected"{% endifequal %}><a href="?filter=search">Video Site Searches</a></li>
  <li{% ifequal request.GET.filter "feed" %} class="selected"{% endifequal %}><a href="?filter=feed">RSS Feeds</a></li>
</ul>
<div class="bulkedit_controls">
  <select id="bulk_action_selector" class="behave">
    <option selected="selected" value="">Bulk Actions</option>
    <option value="edit">Edit</option>
    <option value="remove" class="delete_icon">Remove</option>
  </select>
  <button type="button" class="med_button" onclick="bulkAction();"><span>Apply</span></button>
</div>
{% endblock %}

{% block columns %}
<td><span class="overflow">
  {{ form.instance }}
</span>
 
<div class="actions">
  <a href="#" onclick="return showEdit(this, true);">Edit</a> <a href="#" onclick="return toggleDelete(this);" class="delete_icon">Delete</a> {{ form.DELETE.as_hidden }} <a href="{{ form.instance.get_absolute_url }}" class="view_icon">View</a>
</div>
</td>
<td>
  {% for category in form.instance.auto_categories.all %}
  {{ category.name }}{% if not forloop.last %}, {% endif %}
  {% endfor %}
</td>
<td>
  <span class="overflow">
    {% for user in form.instance.auto_authors.all %}
      {% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  </span>
</td>
<td>{{ form.instance.source_type }}</td>
<td>
{% with form.instance.feedimport_set.latest as latest_import %}
{% if latest_import %}
  {% if form.instance.status == 0 %}First{% else %}Latest{% endif %}
  {% if latest_import.status != latest_import.STARTED %}import ended {{ latest_import.last_activity|simpletimesince }} ago
  {% else %}import started {{ latest_import.start|simpletimesince }} ago{% endif %}<br/>
{% if latest_import.videos_imported and latest_import.videos_skipped %}
Imported {{ latest_import.videos_imported }} videos, skipped {{ latest_import.videos_skipped }} videos.
{% else %}
{% if latest_import.videos_skipped %}
Skipped {{ latest_import.videos_skipped }} videos.
{% else %}
Imported {{ latest_import.videos_imported }} videos.
{% endif %}
{% endif %}
{% endif %}
{% endwith %}</td>
{% if form.instance.query_string %}
{% url localtv_admin_search_auto_approve form.instance.pk as auto_approve_url %}
{% else %}
{% url localtv_admin_feed_auto_approve form.instance.pk as auto_approve_url %}
{% endif %}
<td class="last autoapprove {% if form.instance.auto_approve %}enabled{% else %}disabled{% endif %}" style="width: 100px;"><a class="on" href="{{ auto_approve_url }}?disable=true">On</a> <a class="off" href="{{ auto_approve_url }}">Off</a>{{ form.auto_approve.as_hidden }}</td>
{% endblock %}

{% block quick-edit-fields %}
<ul>
  {% for field in form.extra_fields %}
  <li>
    {{ field.label_tag }}
    {{ field.errors }}
    {{ field }}
  </li>
  {% endfor %}
  <li>
    {{ form.thumbnail.label_tag }}
    {{ form.thumbnail.errors }}
    {{ form.thumbnail }}
  </li>
  <li class="scrollable">
    {{ form.auto_categories.label_tag }}
    {{ form.auto_categories.errors }}
    {{ form.auto_categories }}
  </li>
  <li class="scrollable right">
    {{ form.auto_authors.label_tag }}
    {{ form.auto_authors.errors }}
    {{ form.auto_authors }}
  </li>
  <li class="clear"></li>
</ul>
{% endblock %}

{% block massedit %}
  <input type="hidden" name="keep" value="{{ request.POST.keep }}" />
  <div id="massedit" class="bulk_edit_panel simple_overlay" style="display: none;">
    {% with formset.forms|last as form %}
    <button class="approve_button"><span>Bulk Update</span></button>
    <h2>Bulk Edit</h2>
    <span class="bulkedit_auto">(affects all checked sources)</span>
    <div class="input_field">
      <ul>
        <li class="auto_approve">
          <label class="padding">Auto-Approve</label>
          {{ form.auto_approve }}
        </li>
        <li class="categories_edit">
          <label class="padding">Categories</label>
          {{ form.auto_categories }}
        </li>
        <li class="users_edit">
          <label class="padding">Users</label>
          {{ form.auto_authors }}
        </li>
      </ul>
    </div>
    {% endwith %}
  </div>
{% endblock %}

