{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
 <ul id="new_admin_nav">
    {% if user_is_admin %}
    <li id="admin_dash"><a href="{% url localtv_admin_index %}"><span>Dashboard</span></a></li>
    <li id="admin_videos"><a href="{% url localtv_admin_approve_reject %}">Videos</a></li>
    <li id="admin_settings"><a href="{% url localtv_admin_settings %}">Settings</a></li>
    <li id="admin_users"><a href="{% url localtv_admin_users %}">Users</a></li>
    <li id="admin_comments"><a href="{% url comments-moderation-queue %}">Comments</a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li id="admin_profile"><a href="{% url localtv_user_profile %}">Your Profile</a></li>
    {% endif %}
    <li id="admin_goodies"><a href="{% url localtv_goodies_widget %}">Goodies</a></li>
 </ul>
