{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block body_class %}newsletter_settings" onbeforeunload="return setting_onunload();{% endblock body_class %}



{% load i18n localtv_thumbnail %}

{% block title %}{{ block.super }} - {% trans "Admin - Newsletter Settings" %}{% endblock %}
{% block head %}
  {% include "localtv/admin/dirty_form.html" %}
{% endblock %}
{% block content %}
{% include "localtv/admin/settings_header.html" %}
<form method="POST" action="" enctype="multipart/form-data" class="floatleft">{% csrf_token %}
  <button id="submit_settings" type="submit" value="save all changes" class="approve_button"><span>Save Changes</span></button>
  
  <h2>Settings | Newsletter Settings</h2>
  <div class="helpful rounded">
    Configuring the settings on this page will determine how the newsletter works.
  </div>
  <div class="form_container">
    {{ form.as_p }}
  </div>
  <br class="clearboth">
  <input type="submit" name="send_email" value="Save and Send Newsletter">
  <input type="submit" name='preview' value='Save and Preview'>
  {% if form.instance.next_send_time %}Next Send scheduled for: {{ form.instance.next_send_time }}{% endif %}
</form>
<script type="text/javascript">
$("#id_status").change(function() {
  if (this.value != "3") { // Custom
    $("form input[id^='id_video']").parents('p').hide();
  } else {
    $("form input[id^='id_video']").parents('p').show();
  }
}).change();
$("#id_repeat").change(function() {
  if (this.value == "0") {
    $("#id_last_sent_0").parents('p').hide();
  } else {
    $("#id_last_sent_0").parents('p').show();
 }
}).change();
</script>
{% endblock content %}
