{% load localtv_thumbnail filters uploadtemplate_tags staticfiles %}
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      {{ site.name }} - {{ sitelocation.tagline }}
    </title>
    <style type="text/css">
      body { font-family: Helvetica, Arial, sans-serif; font-size: 14px; }
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      p a { color: #444; font-weight: bold; }
      p { margin: 0; }
    </style>
  </head>
  <body style="margin: 0; padding: 0;" bgcolor="#e7e7e7">
    <div style="width: 730px; margin: 25px auto;">
      {% if not preview %}<p style="text-align: center; margin: 0 0 10px 0; font-size: 12px; color: #777;">Having trouble viewing this email? <a href="http://{{ site.domain }}{% url localtv_newsletter %}">View it online</a></p>{% endif %}
      <div id="header" style="width: 729px; height: 138px; margin: 0 0 0 2px; border: 1px #bebebe solid; background-color: #FFF;">
        <table style="padding: 12px 0 0 20px;">
          <tr>
            {% if newsletter.show_icon and sitelocation.logo %}
            <td>
              <img src="{% if sitelocation.logo %}{% get_thumbnail_url absolute sitelocation 130 110 %}{% else %}{{ STATIC_URL }}localtv/images/logo.gif{% endif %}" alt="Logo for {{ site.name }}" />
            </td>
            {% endif %}
            <td style="width: 450px; padding: 0 0 0 15px;">
              <h1 style="color: #444; font-size: 24px; margin: 0; padding: 0;"><a href="http://{{ site.domain }}/">{{ site.name }}</a></h1>
              <h2 style="color: #555; font-size: 14px; margin: 0; padding: 0;">{{ sitelocation.tagline|truncatewords_html:"10" }}</h2>
            </td>
            <td style="padding: 5px 0 0 0; text-align: right;">
              {% if newsletter.twitter_url %}<a style="margin: 0 10px 0 0;" href="{{ newsletter.twitter_url }}"><img src="http://{{ site.domain }}{% static 'localtv/images/newsletter/icon_twitter.png' %}" alt="Twitter page for {{ site.domain }}"/></a>{% endif %}
              {% if newsletter.facebook_url %}<a href="{{ newsletter.facebook_url }}"><img src="http://{{ site.domain }}{% static 'localtv/images/newsletter/icon_facebook.png' %}" alt="Facbook page for {{ site.domain }}" /></a>{% endif %}
            </td>
          </tr>
        </table>
      </div>
      <div id="content" style="width: 699px; margin: 0 0 0 2px; font-size: 14px; color: #444; line-height: 18px; padding: 5px 15px 0 15px; border-right: 1px #bfbfbf solid; border-left: 1px #bfbfbf solid; background: #FFF;">
        {% if newsletter.intro %}<p style="font-size: 16px; line-height: 32px; color: #777;">{{ newsletter.intro }}</p>{% endif %}

        {% if newsletter.status != 3 %}<h1 style="margin: 20px 0 0 0; padding: 0 0 5px 0; color: #109f53; font-size: 18px; border-bottom: 1px #DDD solid;">{% if newsletter.status = 1 %}Editor's Picks{% else %}{% if newsletter.status = 2%}Top Videos This Week{% else %}Fresh this Week{% endif %}{% endif %}</h1>{% endif %}
        <table style="padding: 15px 0 0 0;">
          {% for video in newsletter.videos %}
          <tr>
            <td style="vertical-align: top;{% if not forloop.first %} padding: 20px 0 20px 0;{% endif %}"><img src="{% get_thumbnail_url absolute video 222 169 %}" alt="Thumbnail for {{ video.name }}" /></td>
            <td>
              {% with authors=video.authors.all %}
              <h1 style="font-size: 16px; color: #333; margin: -5px 0 5px 10px; padding: 0; max-width: 400px; overflow: hidden; text-overflow: ellipsis;">{{ video.name }}</h1>
              {% if authors %}<p style="font-size: 13px; color: #656565; margin: 0 0 0 10px;">Posted by {% for user in authors %}<a style="color: #109f53;" href="http://{{ site.domain }}{% url localtv_author user.pk %}">{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
              <p style="font-size: 15px; line-height: 20px; color: #656565; margin: 10px 0 0 10px;">{{ video.description|sanitize|truncatewords:"50" }}</p>
              <p style="margin: 5px 0 0 10px;"><a href="http://{{ site.domain }}{{ video.get_absolute_url }}"><img src="http://{{ site.domain }}{% static 'localtv/images/newsletter/btn_view.jpg' %}" alt="View video" /></a></p>
              {% endwith %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div><!-- // content -->
      <div id="footer"><img src="http://{{ site.domain }}{% static 'localtv/images/newsletter/footer_bg.jpg' %}" alt="footer image" /></div>
      <table>
        <tr>
          <td style="width: 335px;"><a href="http://mirocommunity.org"><img src="http://{{ site.domain }}{% static 'localtv/images/newsletter/poweredby.jpg' %}" alt="Powered by Miro Community" /></a></td>
          <td style="text-align: right;"><p style="font-size: 13px; color: #777;">Not interested in receiving the newsletter? <a href="http://{{ site.domain }}{% url localtv_user_notifications %}">You can unsubscribe</a></p>
        </tr>
      </table>
    </div><!-- // container -->
  </body>
</html>
