{% comment %}
So, if the user is upgrading to a tier that would require warnings, the form we generate
is a GET to an admin page explaining what the admin would lose.

Also, this template could use a refactoring.
{% endcomment %}

{% if go_to_warnings %}
<form class="target_tier_name_{{target_tier_name}}" action="{% url localtv_admin_downgrade_confirm %}" method="POST"> {% csrf_token %}
<input type="hidden" name="target_tier_name" value="{{ target_tier_name }}">
{% else %}
{% if skip_paypal %}
<form class="target_tier_name_{{target_tier_name}}" action="{% url localtv_admin_confirmed_change_tier %}" method="POST"> {% csrf_token %}
<input type="hidden" name="target_tier_name" value="{{ target_tier_name }}">
{% else %}
<form class="target_tier_name_{{target_tier_name}}" action="{{ paypal_url }}" method="post">
  <input type="hidden" name="cmd" value="_xclick-subscriptions">
  <input type="hidden" name="business" value="{{ paypal_email_acct}}">
  <input type="hidden" name="item_name" value="Miro Community subscription ({{ target_tier_name }} on {{ sitelocation.site.domain }})">
  <input type="hidden" name="image_url"
value="http://www.mirocommunity.org/images/mc_logo.png">
  <input type="hidden" name="no_shipping" value="1">
  <input type="hidden" name="cancel_return"
value="http://{{ sitelocation.site.domain }}{% url localtv_admin_tier %}">
  <input type="hidden" name="notify_url"
value="http://{{ sitelocation.site.domain }}{% url localtv_admin_ipn_endpoint payment_secret=payment_secret %}">
  {% if offer_free_trial %}
  <input type="hidden" name="return" value="http://{{ sitelocation.site.domain }}{% url localtv_admin_begin_free_trial payment_secret=payment_secret %}?target_tier_name={{ target_tier_name }}">
  <input type="hidden" name="a1" value="0">
  <input type="hidden" name="p1" value="30">
  <input type="hidden" name="t1" value="D">
  {% else %}
  {% if specific_payment_override %}
  <input type="hidden" name="a1" value="{{ specific_payment_override.cost_for_prorated_period }}">
  <input type="hidden" name="p1" value="{{ specific_payment_override.days_covered_by_prorating }}">
  <input type="hidden" name="t1" value="D">
  {% endif %}
  <input type="hidden" name="return" value="http://{{ sitelocation.site.domain }}{% url localtv_admin_paypal_return payment_secret target_tier_name %}">
  {% endif %}
  {% if can_modify %}
  <input type="hidden" name="modify" value="1">
  {% endif %}
  <input type="hidden" name="a3" value="{{ amount }}">
  <input type="hidden" name="p3" value="30">
  <input type="hidden" name="t3" value="D">
  <input type="hidden" name="src" value="1">
  <input type="hidden" name="sra" value="1">
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="rm" value="2">
  <input type="hidden" name="invoice" value="{{ target_tier_name }}">
  <input type="hidden" name="custom" value="{{ target_tier_name }} for {{ sitelocation.site.domain }}">
{% endif %}
{% endif %}
  <div {% if not skip_div_class %} class="buttons_like_links" {% endif %}>
    <button
       class="{{ button_class }}"
       type="submit"
       >
        <span>
        {% if not skip_div_class %}<em>{% endif %}
            {{ message }}
        {% if not skip_div_class %}</em>{% endif %}
        </span>
    </button>
  </div>

  
</form>
