{% with "paypal_1297893164_biz@s.asheesh.org" as paypal_email_acct %}
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_xclick-subscriptions">
  <input type="hidden" name="business" value="{{ paypal_email_acct}}">
  <input type="hidden" name="item_name" value="Miro Community service ({{ target_tier_name }})">
  <input type="hidden" name="image_url"
value="http://www.mirocommunity.org/images/mc_logo.png">
  <input type="hidden" name="no_shipping" value="1">
  <input type="hidden" name="cancel_return"
value="http://{{ site.domain }}{% url localtv_admin_tier %}">
  <input type="hidden" name="notify_url"
value="http://{{ site.domain }}/admin/ipn_endpoint">
  {% if not skip_free_trial %}
  <input type="hidden" name="return"
value="http://{{ site.domain }}{% url localtv_admin_begin_free_trial %}?target_tier_name={{ target_tier_name }}">
  <input type="hidden" name="a1" value="0">
  <input type="hidden" name="p1" value="30">
  <input type="hidden" name="t1" value="D">
  {% endif %}
  {# set modify=1 maybe sometime; FIXME #}
  <input type="hidden" name="a3" value="{{ amount }}">
  <input type="hidden" name="p3" value="1">
  <input type="hidden" name="t3" value="M">
  <input type="hidden" name="src" value="1">
  <input type="hidden" name="sra" value="1">
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="rm" value="1">
  <input type="hidden" name="invoice" value="{{ target_tier_name }}">
  <input type="hidden" name="custom" value="{{ target_tier_name }} for {{ site.domain }}">
  <input type="submit"
	 name="stubmit"
	 value="{{ message }}">
</form>
{% endwith %}
