{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2010-2011 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block body_class %}account" onbeforeunload="return setting_onunload();{% endblock body_class %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Change site tier" %}{% endblock %}
{% block head %}
  {% include "localtv/admin/dirty_form.html" %}
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/signup.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/upgrade.css" />
{% endblock extrahead %}

{% block body_id %}tier{% endblock %}

{% block content %}
{% include "localtv/admin/account_header.html" %}
<div class="clear">
  <div id="upgrade_title">
    <h1>Upgrade Your Site</h1>
    {% if offer_free_trial %}
    <p>All <strong>new</strong> monthly subscribers get a <strong>free 30 day</strong> trial.</p> 
    {% endif %}
  </div><!-- // upgrade_title -->
  
{% ifequal site_location.tier_name 'basic' %}
<div id="basic_plan" class="clear">
    <h1>Your current plan: <strong>basic</strong></h1>
    <p>{% ifequal site_location.tier_name 'basic' %}
      {% if offer_free_trial %}
        Easily upgrade to receive a free 30 day trial. Only takes seconds.
      {% else %}
        To upgrade, make a choice below.
      {% endif %}
      {% else %}
        You can always downgrade to the basic plan.
      {% endifequal %}
    </p>

</div><!-- // basic_plan -->

{% else %}

<div id="switchbasic" class="clear">
  <h1>Basic <strong>Free</strong></h1>
    <p>{% ifequal site_location.tier_name 'basic' %}
      {% if offer_free_trial %}
        Easily upgrade to receive a free 30 day trial. Only takes seconds.
      {% else %}
        To upgrade, make a choice below.
      {% endif %}
      {% else %}
        500 videos, your own logo and background.
      {% endifequal %}
    </p>
    {% ifnotequal site_location.tier_name 'basic' %}{# Note: all changes to "basic" are downgrades #}
    {% with "Switch to basic" as message %}{% with "basic" as target_tier_name %}{% with "basic" as tier_name %}{% with would_lose_for_tier.basic as go_to_warnings %}
    {% include 'localtv/admin/downgrade_snippet.html' %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}
    {% endifnotequal %}
</div><!-- // basic_plan -->
{% endifequal %}

<div id="starter_pack" class="{% ifequal site_location.tier_name 'plus' %}selected {% endifequal %}{% if plus_would_be_downgrade %}switch_to {% endif %} plan">
  <div class="hdr">
    <h1>Plus</h1>
    <h2>${{ tier_to_price.plus }}/month</h2>
  </div><!-- // hdr -->
  <ul>
    <li>Your site, logo &amp; background</li>
    <li>Custom Domain</li>
    <li>Custom CSS</li>
    <li><strong>1,000</strong> Video Limit</li>
    <li><strong>5</strong> Administrator Accounts</li>
  </ul>
  <div class="ft">
    <p>Plus</p>
    {% ifnotequal site_location.tier_name 'plus' %}{% with tier_to_price.plus as amount %}{% with "plus" as target_tier_name %}{% with switch_messages.plus as message %}{% with would_lose_for_tier.plus as go_to_warnings %}{% with can_modify_mapping.plus as can_modify %}{% with upgrade_extra_payments.plus as specific_payment_override %}
      {% include 'localtv/admin/paypal_form_snippet.html' %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endifnotequal %}
      </p>

  </div><!-- // ft -->
</div><!-- // starter_pack -->

<div id="value_added" class="{% ifequal site_location.tier_name 'premium'%}selected {% endifequal %}plan">
  <div class="hdr">
    <h1>Premium</h1>
    <h2>${{ tier_to_price.premium}}/month</h2>
  </div><!-- // hdr -->
  <ul>
    <li>Your site, logo &amp; background</li>
    <li>Custom Domain</li>
    <li>Custom CSS</li>
    <li><strong>5,000</strong> Video Limit</li>
    <li><strong>Unlimited</strong> Administrator Accounts</li>
    <li>You can run advertising</li>
  </ul>
  <div class="ft">
{% ifnotequal "premium" site_location.tier_name %}{% with tier_to_price.premium as amount %}{% with "premium" as target_tier_name %}{% with switch_messages.premium as message %}{% with would_lose_for_tier.premium as go_to_warnings %}{% with can_modify_mapping.premium as can_modify %}{% with upgrade_extra_payments.premium as specific_payment_override %}
      {% include 'localtv/admin/paypal_form_snippet.html' %}
      {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endifnotequal %}

    <p>Premium</p>
  </div><!-- // ft -->
</div><!-- // value_added -->

<div id="delicious_plan" class="{% ifequal site_location.tier_name 'max' %}selected {% endifequal %}last plan">
  <div class="hdr">
    <h1>Max</h1>
    <h2>${{ tier_to_price.max }}/month</h2>
  </div><!-- // hdr -->
  <ul>
    <li>Your site, logo &amp; background</li>
    <li>Custom Domain</li>
    <li>Custom CSS</li>
    <li><strong>25,000</strong> Video Limit</li>
    <li><strong>Unlimited</strong> Administrator Accounts</li>
    <li>You can run advertising</li>
    <li>Fully Custom Templating</li>
  </ul>
  <div class="ft">
{% ifnotequal sitelocation.tier_name "max" %}{% with tier_to_price.max as amount %}{% with "max" as target_tier_name %}{% with "Upgrade Your Account" as message %}{% with would_lose_for_tier.max as go_to_warnings %}{% with can_modify_mapping.max as can_modify %}{% with upgrade_extra_payments.max as specific_payment_override %}
      {% include 'localtv/admin/paypal_form_snippet.html' %}
      {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endifnotequal %}
    <p>Max</p>
  </div><!-- // ft -->
</div><!-- // delcisious_plan -->
</div><!-- // clear -->
{% endblock %}

