{% extends "localtv/admin/bulk_edit.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n uploadtemplate_tags %}

{% block title %}{{ block.super }} - {% trans "Admin - Users" %}{% endblock %}
{% block head %}
  {{ block.super }}
  <style type="text/css">
#labels form > table tr td:first-child, #labels form > table tr th.checkbox {
    display: none;
}
#labels form > table tr.editing td:first-child {
    display: table-cell;
}
  </style>
{% endblock %}
{% block body_class %}user_admin{% endblock body_class %}

{% block pre-labels %}
  <div id="label_sidebar">
    <div id="add_user" class="rounded">
      <h1>Add a User</h1>
      <form action="" method="POST" enctype="multipart/form-data">
        {{ add_user_form.as_p }}
        <input type="submit" value="Add" name="submit">
      </form>
    </div>
  </div>
{% endblock %}
{% block pre-form %}{% endblock %}
{% block columns %}
<td>
  {{ form.instance.username }}
  <div class="actions">
    <a href="#" onclick="return showEdit(this, true);">Edit</a> | <a href="#" class="delete_icon" onclick="return toggleDelete(this);">Delete</a> {{ form.DELETE.as_hidden }} | <a href="{% url localtv_author form.instance.pk %}" class="view_icon">View</a>
  </div>
</td>
<td>{{ form.instance.email }}</td>
<td>{% ifequal form.role.field.initial "admin" %}{% if form.instance.is_superuser %}Superuser{% else %}Admin{% endif %}{% else %}User{% endifequal %}</td>
<td>{% if form.instance.authored_set__count %}<a href="{% url localtv_author form.instance.pk %}">{{ form.instance.authored_set__count }}</a>{% else %}0{% endif %}</td>
{% endblock %}
{% block quick-edit-title %}Edit User: {{ form.instance.username }}{% endblock %}
{% block quick-edit-colspan %}2{% endblock %}
{% block quick-edit %}
{{ form.id }}
{{ form.username.as_hidden }}
{{ form.non_field_errors }}
<table>
  <tbody>
    <tr>
      <td>
        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.website.errors }}
        {{ form.website.label_tag }}
        {{ form.website }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.logo.errors }}
        {{ form.logo.label_tag }}
        {{ form.logo }}
      </td>
    </tr>
    <tr>
      <td class="checklist" width="250" colspan="3">
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
{% block quick-edit-additional-columns %}
<td style="padding-right: 20px;" colspan="2">
  <table class="larger_labels">
    <tbody>
      <tr>
        <td>
          {{ form.role.errors }}
          {{ form.role.label_tag }}
          {{ form.role }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          {{ form.first_name.errors }}
          {{ form.first_name.label_tag  }}
          {{ form.first_name }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.last_name.errors }}
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.password_f.errors }}
          {{ form.password_f.label_tag }}
          {{ form.password_f }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.password_f2.errors }}
          {{ form.password_f2.label_tag }}
          {{ form.password_f2 }}
        </td>
      </tr>
    </tbody>
  </table>
</td>
{% endblock %}
