{% extends "localtv/admin/bulk_edit.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Users" %}{% endblock %}
{% block body_class %}user_admin{% endblock body_class %}
{% block subheader %}{% endblock %}
{% block pre-labels %}
  <h2>Users</h2>
  <div id="label_sidebar">
    <a id="add_user_link" href="#" rel="#add_user" class="add"><span>Add User</span></a>
    {% if add_user_form.errors %}<script type="text/javascript">$(function() { $('#add_user_link').click();})</script>{% endif %}
    <div id="add_user" class="simple_overlay displaynone rounded">
      <h2>Add a User</h2>
      <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="input_field">
          <ul>
            {% for field in add_user_form %}
            <li>
              {{ field.label_tag }}
              {{ field.errors }}
              {{ field }}
              {% if field.help_text %}
              <span class="form_help">{{ field.help_text }}</span>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        <button type="submit" value="Add" name="submit" class="approve_button"><span>Add User</span></button>
      </form>
    </div>
  </div>
{% endblock %}
{% block labels %}
<ul class="only_show">
  <label>Only Show</label>
  <li{% if request.GET.show %} class="selected"{% endif %}><a href="{% url localtv_admin_users %}?show=all">All</a></li>
  <li{% if not request.GET.show %} class="selected"{% endif %}><a href="{% url localtv_admin_users %}">Show "Human" Accounts</a></li>
</ul>
{% endblock %}
{% block columns %}
<td>
  <span>{{ form.instance.username }}</span>
  <div class="actions">
    <a href="#" onclick="return showEdit(this, true);">Edit</a> | <a href="#" class="delete_icon" onclick="return toggleDelete(this);">Delete</a> {{ form.DELETE.as_hidden }} | <a href="{% url localtv_author form.instance.pk %}" class="view_icon">View</a>
  </div>
</td>
<td>{{ form.instance.email }}</td>
<td>{% ifequal form.role.field.initial "admin" %}{% if form.instance.is_superuser %}Superuser{% else %}Admin{% endif %}{% else %}User{% endifequal %}</td>
<td>{% if form.instance.authored_set__count %}<a href="{% url localtv_author form.instance.pk %}">{{ form.instance.authored_set__count }}</a>{% else %}0{% endif %}</td>
{% endblock %}
