{% load i18n daguerre filters %}

<div {% ifequal video current_video %}
       class="video hoverable selected"
     {% endifequal %}
     {% ifnotequal video current_video %}
       class="video hoverable unselected"
     {% endifnotequal %}>
  <span class="video_id">{{ video.id }}</span>
  <span class="video_preview">
    {# http://{{ site_settings.site.domain #}
     {% if is_livesearch %}
       {% url localtv_admin_search_video_display %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}
     {% else %}
       {% url localtv_admin_preview_video %}?video_id={{ video.id }}
     {% endif %}
  </span>
  <a class="thumbnail" style="height: 110px; width: 140px; background: url({% if is_livesearch %}{{ video.thumbnail_url }}{% else %}{% adjust video.thumbnail_path 'fill' height=140 width=110 %}{% endif %}) center no-repeat;" href="#">
    <span>
    </span>
  </a>
   
   
  <div class="title_desc">
    <h3>
      <a class="click_to_display" href="#">
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>

    {% autoescape off %}
      <div class="desc">{{ video.description|sanitize|truncatewords_html:50 }}</div>
    {% endautoescape %}
   </div>
   
   
    {% if video.when_submitted %}
    <p class="submitted"><strong>Submitted</strong> {{ video.when_submitted|simpletimesince }} ago</p>
    {% endif %}
    {% if video.when %} 
    <p class="published"><strong>{% if video.when_published %}Posted{% else %}Submitted{% endif %}</strong> {{ video.when|simpletimesince }} ago</p>
    {% endif %}

   
  
  <div class="approve_reject">
      <a class="feature med_button"
         {% if is_livesearch %}
           href="{% url localtv_admin_search_video_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}&feature=true"
         {% else %}
           href="{% url localtv_admin_feature_video %}?video_id={{ video.id }}"
         {% endif %}><span>Feature</span></a>
    <a class="approve med_button"
       {% if is_livesearch %}
         href="{% url localtv_admin_search_video_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
       {% else %}
         href="{% url localtv_admin_approve_video %}?video_id={{ video.id }}"
       {% endif %}><span>Approve</span></a>
    <a class="reject med_button"
       {% if is_livesearch %}
         href="{% url localtv_admin_search_video_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}&queue=true"><span>Add to Queue</span>
       {% else %}
         href="{% url localtv_admin_reject_video %}?video_id={{ video.id }}"><span>Reject</span>
       {% endif %}
    </a>
  </div>
</div>
