{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load video i18n filters editable_widget %}


<h2 class="preview_heading">Click Videos to Preview Here</h2>

<div class="preview_inner">

<div class="vid_title">
  {% if not current_video.metasearch_vid %}
  {% editable_widget current_video "name" %}
  {% else %}
  <h3>
    {% if current_video.name %}
    {{ current_video.name }}
    {% else %}
    {% trans "(no title)" %}
    {% endif %}
  </h3>
  {% endif %}
</div>

<span class="date">
    {% if not current_video.metasearch_vid %}
    {% editable_widget current_video "when_published" %}
    {% else %}
    {% with current_video as instance %}
    {% include "localtv/inline_edit/video_when_published.html" %}
    {% endwith %}
    {% endif %}
</span>

<div id="video_wrapper">
  {% if current_video.embed_code %}
  {{ current_video.embed_code|wmode_transparent }}
  {% else %}
  {% video current_video.file_url mime_type=current_video.file_url_mimetype autoplay=0 %}
  {% endif %}
</div>

 {% if not current_video.metasearch_vid %}
 {% editable_widget current_video "description" %}
 {% else %}
 <div class="description">
   {{ current_video.description|sanitize }}
 </div>
 {% endif %}

<div id="tags">
  <ul class="meta_listing">
    {% if not current_video.metasearch_vid %}
    <li class="item">
      {% editable_widget current_video "categories" %}
    </li>
    <li class="item">
      {% editable_widget current_video "tags" %}
    </li>
    {% endif %}
    <li class="item">
      {% if not current_video.metasearch_vid %}
      {% editable_widget current_video "website_url" %}
      {% else %}
      {% with current_video as instance %}
      {% include "localtv/inline_edit/video_website_url.html" %}
      {% endwith %}
      {% endif %}
    </li>
  {% if currrent_video.submitter %}<li class="item"><h3>Submitted by</h3> {{ current_video.submitter }}</li>{% endif %}
  {% if current_video.search %}<li class="item"><h3>From search</h3> {{ current_video.search }}</li>{% endif %}
  {% if current_video.feed %}<li class="item"><h3>From feed</h3> {{ current_video.feed }}</li>{% endif %}
  </ul>
</div>
  
  <div class="clear">&nbsp;</div>
  </div>
</div>
