{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div id="admin_subnav">
 <ul>
    <li><a class="sub" href="{% url localtv_admin_approve_reject %}"><span>Review Queue</span></a></li>
    <li><a class="watched" href="{% url localtv_admin_manage_page %}"><span>Manage Sources</span></a></li>
    <li><a class="bulkedit" href="{% url localtv_admin_bulk_edit %}"><span>Bulk Edit</span></a></li>
    <li><a class="categories" href="{% url localtv_admin_categories %}"><span>Categories</span></a></li>
    <li><a class="overlayLoad" href="{% url localtv_submit_video %}"><span>Submit a Video</span></a></li>
 </ul>
</div>
<br class="clearboth" />

