<div id="admin_subnav">
 <ul>
    <li><a class="sub" href="{% url localtv_admin_approve_reject %}"><span>Review Queue</span></a></li>
    <li><a class="watched" href="{% url localtv_admin_manage_page %}"><span>Manage Sources</span></a></li>
    <li><a class="bulkedit" href="{% url localtv_admin_bulk_edit %}"><span>Bulk Edit</span></a></li>
    <li><a class="categories" href="{% url localtv_admin_categories %}"><span>Categories</span></a></li>
    <li><a href="{% url localtv_submit_video %}"><span>Submit a Video</span></a></li>
 </ul>
</div>
<br class="clearboth" />

