{% extends "localtv/admin/base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Admin - Contest{% endblock %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/admin/css/contest.css" />{% endblock %}

{% block body_class %}admin contests{% endblock %}

{% block content %}
  <form action='{{ request.path }}' method='post'>{% csrf_token %}
    <h2 style="float:none;">Are you sure you want to delete "{{ contest.name }}"?</h2>
    <button type="submit" class="reject_button"><span>{% trans "Delete contest" %}</span></button>
  </form>
{% endblock %}
