{% extends "localtv/admin/base.html" %}

{% block title %}{{ block.super }} - Admin - Contest{% endblock %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/admin/css/contest.css" />{% endblock %}

{% block body_class %}admin contests{% endblock %}

{% block content %}
  <form action='{{ request.path }}' method='post'>{% csrf_token %}
    <button type="submit" class="approve_button"><span>{% if contest.pk %}Save changes{% else %}Add contest{% endif %}</span></button>
    <h2>Video contest</h2>
    <div class="input_field">
      <ul>
        {% for field in form %}
        <li>
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <span class="form_help">{{ field.help_text }}</span>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </form>
{% endblock %}
