{% extends "localtv/admin/bulk_edit.html" %}

{% load i18n pagetabs %}

{% block body_class %}admin contests{% endblock %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/admin/css/contest.css" />{% endblock %}

{% block subtitle %}{% trans "Contests" %}{% endblock %}

{% block content %}
  <h2>Contests</h2>
  <div id="label_sidebar">
    <a id="add_user_link" href="{% url localtv_admin_contests_create %}" rel="#add_user" class="add"><span>Add Contest</span></a>
  </div>

  {% if is_paginated %}
    <div class="pag">
      {% pagetabs page_obj %}
    </div>
  {% endif %}

  {# Hacks to get the styles right. Ugh. #}
  <div id="labels">
  <form>
  <table class="rounded">
    <thead>
      <tr>
        <th>&nbsp;</th>{# ick ick ick... #}
        {% for header in headers %}
        <th>
          {% if header.sort %}
          <a class="{% if forloop.last %}last {% endif %}{{ header.class }}" href="{{ header.link }}">
            {{ header.label }}
          </a>
          {% else %}
          <span>{{ header.label }}</span>
          {% endif %}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for contest in contests %}
        <tr class="{% cycle '' 'grey' %}">
          <td></td>
          <td>
            <span>{{ contest.name }}</span>
            <div class="actions">
              <a href="{% url localtv_admin_contests_update pk=contest.pk %}">Edit</a>
              <a href="{% url localtv_admin_contests_delete pk=contest.pk %}">Delete</a>
              <a href="{% url contests_contest_detail pk=contest.pk %}">View</a>
            </td>
          <td>{{ contest.vote_count }}</td>
          <td class="last">{{ contest.video_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
  </div>

  {% if is_paginated %}
    <div class="pag bottom">
      {% pagetabs page_obj %}
    </div>
  {% endif %}
{% endblock %}