@import "compass/css3/images",
		"compass/css3/box-shadow",
		"compass/css3/box-sizing";

.button{
	border:1px solid;
	text-align:center;
	@include box-sizing(border-box);
	line-height:$base-line-height;
	padding: $base-line-height*.25 $base-line-height*.5;
	@include border-radius(5px);
	margin:0;
}

.button-wide{
	@extend .button;
	display:block;
	line-height:2 * $base-line-height;
}