@import "compass/css3/border-radius";

.card{
	@extend .padded;
}

.card-link{
	@extend .unpadded;
	@extend .padded;
	padding-bottom:0;
	overflow:hidden;
	@include margin-trailer(.5);
	display: block;
	&:hover{
		background:#EEE;
		border:0;
	}
	@include border-radius(5px);
}
	
.card-header, .card-figure{
	@include margin-trailer(.5);
}
.card-title{
	font-weight:bold;
	color:#444;
}
.card-title-quiet{
	color:#666;
}