
.nav-item-dropdown{
	position:relative;
}

// This adds a cute arrow to the dropdown items in navbars
.nav-item-dropdown > a::after{
	content:' ';
	@include arrow("down", 4px, #000);
	display:inline-block;
	margin-left:5px;
	position:relative;
	top:-2px;
	left:-1px;
}

// Positions the dropdown list appropriately
.dropdown-list, .dropdown-box{
	display:none;
	position:absolute;
	z-index:1337;
	top:$base-line-height;
	left:0;
	@include border-radius(0 4px 4px 4px);
	@include box-shadow(0 1px 3px 0 rgba(0,0,0,.15));
	border:1px solid;
}
.dropdown-box{
	min-width:300px;
	@extend .padded-half;
	@media screen and (max-width: 740px){
		min-width:auto;
	}
}
.dropdown-list{
	@extend .unstyled-list;
	@extend .row-nested;
	min-width:200px;
	@media screen and (max-width: 740px){
		min-width:auto;
	}
}
.dropdown-list > li > a{
	display:block;
	border:0;
	padding:#{$base-line-height / 2 - 4px} #{$gutter-width / 2 - 4px};
}
.dropdown-list > li:first-child > a{
	@include border-radius(3px 3px 0 0);
}
.dropdown-list > li:last-child > a{
	@include border-radius(0 0 3px 3px);
}


.browse-box-section{
	@include margin-trailer;
	&:last-child{
		margin-bottom:0;
	}
}
.browse-box-section > h1{
	@include small;
	text-transform:uppercase;
	letter-spacing:1px;
	@include margin-trailer(.5);
}
.browse-box-section > ul{
	@extend .unstyled-list;
	@include clearfix;
}
.browse-box-section > ul > li{
	min-width:33%;
	float:left;
}

.open{
	& > a, & > a:hover {
		position:relative;
		z-index:1339;
		border-width:1px;
		border-style:solid;
		border-bottom:0;
		padding-bottom:1px;
		margin-bottom:-1px;
		margin-right:-1px;
		padding-top:3px;
		margin-top:-4px;
		@include border-radius(4px 4px 0 0);
	}
	& > .dropdown-list, & > .dropdown-box{
		display:block;
	}
}

@media screen and (max-width: 740px){
	.dropdown-list, .dropdown-box{
		position:static;
		@include border-radius(3px);
		@include box-shadow(none);
	}
}