@import "compass/css3/box-sizing",
		"compass/css3/border-radius",
		"compass/css3/box-shadow",
		"compass/css3/transition",
		"compass/css3/images";

input, textarea{
	outline:none;
	border:1px solid #CCC;
	background:#FFF;
	@include border-radius(3px);
	@include box-shadow(1px 1px 3px 0 rgba(0,0,0,.15) inset);
	padding:0;
	margin:0;
	@include transition(all .15s linear);
	&:focus{
		border:1px solid $color2;
		@include box-shadow(0 0 6px 0 transparentize($color2, .65), 1px 1px 3px 0 rgba(0,0,0,.15) inset);
	}
}

input{
	@include box-sizing(border-box);
	line-height: $base-line-height;
	padding: $base-line-height*.25;
}

label{
	line-height: $base-line-height * 1.5;
}

button{
	@extend .button;
}