@import "compass/css3/box-sizing",
		"compass/css3/border-radius",
		"compass/css3/box-shadow",
		"compass/css3/transition",
		"compass/css3/images";

/* base form styles */

input, textarea{
	outline:none;
	border:1px solid #CCC;
	background:#FFF;
	@include border-radius(3px);
	@include box-shadow(1px 1px 3px 0 rgba(0,0,0,.15) inset);
	padding:0;
	margin:0;
	@include transition(box-shadow .15s linear);
	&:focus{
		border:1px solid $color2;
		@include box-shadow(0 0 6px 0 transparentize($color2, .65), 1px 1px 3px 0 rgba(0,0,0,.15) inset);
	}
}

input{
	@include box-sizing(border-box);
	line-height: $base-line-height;
	padding: $base-line-height*.25;
}

label{
	line-height: $base-line-height * 1.5;
}

button{
	@extend .button;
}


form{
	@extend .form-horizontal;
	@include margin-trailer;
}

/* modular form styles */

.control-group{
	@include clearfix;
}
.form-horizontal label{
	width:200px;
	float:left;
	text-align:right;
}
.form-horizontal .controls{
	margin-left:200px + $gutter-width;
}
.form-horizontal > .form-actions{
	padding-left:200px + $gutter-width;
}
.help-text{
	color:#888;
	@include padding-leader(.5);
	@include padding-trailer(.5);
}
.error .controls input{
	border-color:#800;
	&:focus{
		@include box-shadow(0 0 6px 0 transparentize(#800, .65), 1px 1px 3px 0 rgba(0,0,0,.15) inset);
	}
}
.errorlist{
	color:#800;
	@extend .unstyled-list;
}

.large{
	& > label {
		line-height: 2 * $base-line-height;
	}
	& > .controls > input{
		@include large;
	}
}
.x-large{
	& > label {
		line-height: 3 * $base-line-height;
	}
	& > .controls > input{
		@include x-large;
		width:60%;
	}
}