@import "compass/css3/box-sizing",
		"compass/css3/border-radius",
		"compass/css3/box-shadow",
		"compass/css3/transition",
		"compass/css3/images";

/* base form styles */

input, textarea{
	outline:none;
	border:1px solid;
	@include border-radius(3px);
	@include box-shadow(1px 1px 3px 0 rgba(0,0,0,.15) inset, 0 1px 0 0 rgba(255,255,255,.5));
	padding:0;
	margin:0;
	@include transition(box-shadow .15s linear);
	width:80%;
	@include box-sizing(border-box);
	padding: $base-line-height*.25;
	height: $base-line-height + $base-line-height * .5 + 2px;
}

input{
	line-height: $base-line-height;
}

label{
	line-height: $base-line-height * 1.5;
}

button{
	@extend .button;
}


form{
	@extend .form-horizontal;
	@include margin-trailer;
}

/* modular form styles */

.control-group{
	@include clearfix;
	@include margin-trailer(.5);
}
.form-horizontal label{
	width:200px;
	float:left;
	text-align:right;
}
.form-horizontal .controls{
	margin-left:200px + $gutter-width;
}
.form-horizontal > .form-actions{
	padding-left:200px + $gutter-width;
}
.help-text{
	color:#888;
	@include padding-leader(.5);
	@include padding-trailer(.5);
}
.error .controls input{
	border-color:#800;
	&:focus{
		@include box-shadow(0 0 6px 0 transparentize(#800, .65), 1px 1px 3px 0 rgba(0,0,0,.15) inset);
	}
}
.errorlist{
	color:#800;
	@extend .unstyled-list;
}

.large{
	& > label {
		line-height: 2 * $base-line-height;
	}
	& > .controls > input{
		@include large;
	}
}
.x-large{
	& > label {
		line-height: 3 * $base-line-height;
	}
	& > .controls > input{
		@include x-large;
	}
}

.btn-right-controls > input, .btn-left{
	@include border-radius(3px 0 0 3px);
	float:left;
}
.btn-right, .btn-left-controls > input{
	@include border-radius(0 3px 3px 0);
	float:left;
}

.btn-right{
	border-left:0;
}
.btn-left{
	border-right:0;
}

/* specific fields */

.control-group-honeypot{
	height:0;
	overflow:hidden;
}