@import "compass/utilities/general/clearfix",
		"compass/css3/box-sizing";

.grid-list{
	@extend .unstyled-list;
	@include clearfix;
}

.grid-item{
	width:25%;
	float:left;
	@extend .padded;
	@include box-sizing(border-box);
}

@media screen and (max-width:740px){
	.grid-item{
		width:50%;
	}
}