@import "compass/utilities/general/clearfix",
		"compass/css3/box-sizing";

.grid-list{
	@extend .unstyled-list;
	@include pie-clearfix;
}

.grid-item{
	width:25%;
	float:left;
	@extend .padded;
	@include box-sizing(border-box);
}

.video-thumb-placeholder{
	width:200px;
	height:144px;
	/* Image from: Piero borgo, from The Noun Project (http://thenounproject.com/noun/television/#icon-No2650) */
	background: #333 image-url('nounproject_2650_television_white.png') center center no-repeat;
}

@media screen and (max-width:740px){
	.grid-item{
		width:50%;
	}
}