.replaced{
	text-indent:-9999px;
	display:block;
}

.search-icon{
	@extend .replaced;
	background-image:image-url('glyphicons_027_search.png');
	background-size:16px 16px;
	background-position:center center;
	background-repeat:no-repeat;
}