@import "compass/css3/border-radius";

.unstyled-list{
	margin:0;
	padding:0;
	li{
		list-style-type:none;
	}
}

.pill-list a{
	padding: #{$base-line-height / 2} $base-line-height;
	@include border-radius($base-line-height);
	float:right;
	background:#CCC;
}

.action-list{
	@extend .unstyled-list;
	@extend .pill-list;
}