@import "compass/css3/border-radius",
		"compass/css3/images";

#navigation{
	background-color:#222;
	@include pie-clearfix;
	@include background-image(linear-gradient(#333, #222));
	border-bottom:1px solid #000;
	border-top:1px solid #444;
}

.navigation-list{
	@extend .unstyled-list;
}
.navigation-list-secondary{
	float:right;
}

.nav-item{
	float:left;
}

.nav-item > ul{
	display:none;
}

.nav-item{
	list-style-type:none;
}

.nav-item > a{
	display:block;
	@extend .padded;
	color:#DDD;
	text-shadow:0 -1px 0 #000;
	margin:-1px 0;
	border-bottom:1px solid transparent;
	border-top:1px solid transparent;
	&:hover{
		border-bottom:1px solid #111;
		border-top:1px solid #666;
		background-color:#444;
		@include background-image(linear-gradient(#555, #333));
		color:#FFF;
	}
}

.nav-admin{
}