@import "compass/css3/border-radius",
		"compass/css3/images";

#navigation{
	padding:0;
	margin:#{$base-line-height - 1px} 0;
	border:1px solid #CCC;
	background-color:#EEE;
	border-top-color:#DDD;
	border-bottom-color:#BBB;	@include border-radius(8px);
	@include background(linear-gradient(#F5F5F5, #E9E9E9));
	@include box-shadow(0 1px 3px 0 rgba(0,0,0,.1));
	@include clearfix;
}

.navigation-list{
	@extend .unstyled-list;
}
.navigation-list-secondary{
	float:right;
	border-left:1px solid #CCC;
	a:last-child{
		border-right:0;
	}
}

.nav-item{
	float:left;
}

.nav-item > ul{
	display:none;
}

.nav-item{
	list-style-type:none;
}

.nav-item > a{
	border-left:1px solid #FFF;
	border-right:1px solid #CCC;
	display:block;
	padding: #{$base-line-height / 2} $base-line-height;
	font-weight:bold;
	color:#666;
	text-shadow:0 1px 0 #FFF;
	@include box-shadow(0 1px 0 0 #FFF);
	&:hover{
		@include background(linear-gradient(#FFF, #EEE));
		background-color:#FFF;
	}
	&:active{
		@include background(linear-gradient(#EEE, #FFF));
		@include box-shadow(0 2px 6px 0 rgba(0,0,0,.15) inset);
		border-left:1px solid #DDD;
	}
}

.nav-admin{
	float:right;
	@include background(linear-gradient(#348FBF, #26688B));
	& > a{
		border-left:1px solid rgba(255,255,255,.75);
		color:#FFF;
		text-shadow:0 -1px 0 rgba(0,0,0,.35);
		&:hover{
			@include background(linear-gradient(#3BA2D8, #2E80AA));
		}
		&:active{
			@include background(linear-gradient(#2E80AA, #3BA2D8));
			@include box-shadow(0 2px 6px 0 rgba(0,0,0,.15) inset);
		}
	}
}