@import "compass/css3/box-shadow";

.pagetabs{
	@extend .unpadded;
	@include clearfix;
	@include box-shadow(0 1px 0 0 #FFF);
	@include margin-trailer;
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
	background:#FFF;
	a, .ellipse span{
		float:left;
		border-right:1px solid #CCC;
		border-bottom:0;
		padding:#{$base-line-height / 2 - 1px} $base-line-height;
	}
	a:hover{
		background:#F5F5F5;
	}
	.selected a{
		background:lighten($color1, 60%);
	}
}