.pod-header {
	position:relative;
	border-bottom:1px solid;
	border-top:1px solid;
	padding: #{$base-line-height / 2 - 1px} #{$gutter-width / 2};
	h1 a:hover{
		border-bottom:0;
	}
}

.pod-header > h1 {
	display: inline;
	@include large;
}

.pod-actions {
	padding:$base-line-height * .75;
	position:absolute;
	top:0;
	right:0;
	li{
		list-style-type:none;
		float:left;
		margin-left: $gutter-width / 4;
	}
	a{
		display:block;
		padding:3px 0;
		margin-top:-3px;
	}
	a:hover{
		border:0;
	}
}

.pod-content{
	@extend .padded;
}

.pod-footer{
	@extend .padded;
}

.pod-footer-actions{
	@extend .unstyled-list;
}
