.pod{
	background:#F9F9F9;
}

.pod-header {
	background: #FFF;
	@include padding-leader(0.5);
	@include padding-trailer(0.5);
	padding-left: $gutter-width / 2;
	padding-right: $gutter-width / 2;
	position:relative;
	background:$color1;
	color:#FFF;
	a{
		color:#FFF;
	}
}

.pod-header > h1 {
	display: inline;
	@include large;
}

.pod-actions {
	@extend .unstyled-list;
	position:absolute;
	top:0;
	right:0;
	@include padding-leader(0.5);
	@include padding-trailer(0.5);
	padding-left: $gutter-width / 2;
	padding-right: $gutter-width / 2;
	li{
		float:left;
		margin-left: $gutter-width / 2;
	}
	a{
		display:block;
		background-color:darken($color1, 10%);
		padding:3px $gutter-width/2;
		margin-top:-2px;
		@include border-radius($base-line-height/2+3px)
	}
	a:hover{
		border:0;
		background-color: #FFF;
		color:darken($color1, 20%);
	}
}

.pod-content{
	padding-left: $gutter-width / 2;
	padding-right: $gutter-width / 2;
}
