/* Loosely based on https://github.com/twitter/bootstrap/blob/master/less/popovers.less */

.popover{
	@extend .padded-half;
	position:absolute;
	border:1px solid;
	background:#FFF;
	@include border-radius(5px);
	z-index:1337;
	top:0;
	left:0;
	@include box-shadow(0 1px 3px 0 rgba(0,0,0,.15));
}

.popover.right{
	margin-left:10px;
	.arrow{
		position:absolute;
		top:50%;
		left:-$gutter-width/4 + 1px;
	}
}

.popover.left{
	margin-left:-10px;
	.arrow{
		position:absolute;
		top:50%;
		right:-$gutter-width/4 + 1px;
	}
}

.popover-inner{
	width:280px;
	overflow:hidden;
	position:relative;
}

.popover h3, .popover :last-child{
	margin:0;
}

.popover-normal-text{
	@include box-sizing(border-box);
	max-height:$base-line-height*6;
	overflow:hidden;
	padding-bottom:$base-line-height;
	position:relative;
	&::after{
		content:"";
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:$base-line-height;
		@include background(linear-gradient(top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%));
	}
}