$logo-width: 130px;

#header{
	@include clearfix;
	background:#FFF;
	@include padding-trailer(.5);
	@include padding-leader(.5);
}

#header > .container{
	@extend .padded;
	position:relative;
}

#SiteLogo{
	width:$logo-width;
	float:left;
	img{
		width:$logo-width;
	}
}

#SiteTitle{
	@include x-large;
}
#SiteTagline{
	@include large;
}

#SiteTitle, #SiteTagline{
	@include margin-trailer(.5);
	padding-left:$logo-width+$gutter-width;
	font-weight:400;
}

#search{
	@extend .padded-half;
	position:absolute;
	top:0;
	right:0;
	width:300px;
}

.logo-link:hover{
	border:0;
}

@media screen and (max-width: 740px){
	#header > .container{
		position:static;
	}
	#search{
		top:0;
		right:0;
		left:0;
		background:#EEE;
		width:auto;
		border-bottom:1px solid #CCC;
	}
	#SiteTitle, #SiteLogo{
		margin-top:2*$base-line-height;
	}
}