$logo-width: 130px;

#header{
	@include clearfix;
	background:#FFF;
}

#header > .container{
	@extend .padded;
	position:relative;
}

#SiteLogo{
	width:$logo-width;
	float:left;
	img{
		width:$logo-width;
	}
}

#SiteTitle, #SiteTagline{
	padding-left:$logo-width+$gutter-width;
}

#search{
	@extend .padded;
	position:absolute;
	top:0;
	right:0;
}