.social-link-list{
	@extend .unstyled-list;
	@include clearfix;
	border-bottom:1px solid;
	& > li{
		float:left;
		display: block;
		height:28px;
		line-height:19px;
		width:17%;
		@include box-sizing(border-box);
		@include padded(.25);
		border-left:1px solid;
		&:first-child{
			border-left:0;
		}
	}
}