.social-link-list{
	@extend .unstyled-list;
	@include clearfix;
	border-bottom:1px solid;
	padding:0 $gutter-width/2;
	& > li{
		float:left;
		display: block;
		&:first-child{
			border-left:0;
		}
		position:relative;
		top:4px;
		width:120px;
		min-height:5px;
		margin:$base-line-height/2 0;
		height:24px;
	}
	& > .facebook-social{
		width:110px;
	}
	& > .gplus-social{
		width:100px;
	}
	& > .pinterest-social{
		width:110px;
	}
	& > .email-social{
		width:100px;
	}
	a:hover{
		border:0;
	}
	.button{
		@include small;
		height:22px;
		line-height:20px;
		padding:0 6px;
	}
	.button:hover{
		border:1px solid;
	}
}