.js{
	.tab-pane{
		display:none;
	}
	.tab-pane.active{
		display:block;
	}
}

.tabs{
	@extend .unstyled-list;
	@include margin-leader;
	@include pie-clearfix;
	border-bottom:1px solid;
	@media screen and (max-width: 740px){ border-bottom:0; @include padded(.5); }
	& > li{
		float:left;
		@media screen and (max-width: 740px){ float: none; }
		&.active > a{
			position:relative;
			padding-bottom:$base-line-height/2+1px;
			margin-bottom:-1px;
			@media screen and (max-width: 740px){
				@include margin-trailer(.5);
				padding-bottom:$base-line-height/2;
			}
		}
		& > a{
			border:1px solid;
			border-bottom:0;
			@include border-radius(5px 5px 0 0);
			@extend .padded-half;
			margin-left:$gutter-width/2;
			text-align:center;
			display:block;
			@media screen and (max-width: 740px){
				@include border-radius(5px);
				border:1px solid;
				margin-left:0;
				@include margin-trailer(.5);
			}
		}
	}
}