$thumb-border-radius: 3px !default
$thumb-background-color: black !default

.thumb
	+margin-trailer(0.5)
	position: relative
	background: $thumb-background-color
	+border-radius($thumb-border-radius)
	& > a
		display: block
		position: relative
		overflow: hidden
		+transition(all 0.25s linear)
		+border-radius($thumb-border-radius)
		border-bottom: 0
	& > a:hover
		+box-shadow(0 0 8px 0 $thumb-background-color)
	& > a > img
		display: block
		+border-radius($thumb-border-radius)
	// This adds gloss
	& > a::after
		content: " "
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		// @include background(linear-gradient(-45deg, rgba(255,255,255,.15) 0, rgba(255,255,255,.15) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%));
		+border-radius($thumb-border-radius)
		border: 3px solid $thumb-background-color

.video-thumb-placeholder
	+border-radius($thumb-border-radius)
	width: 200px
	height: 144px
	/* Image from: Piero borgo, from The Noun Project (http://thenounproject.com/noun/television/#icon-No2650)
	background: #333333 image-url("nounproject_2650_television_white.png") center center no-repeat
