@import "compass/css3/border-radius",
		"compass/css3/box-shadow";

.video-summary{
	@include clearfix;
	border-bottom:1px solid #CCC;
	margin-bottom:-1px;
	@include padding-leader;
	@include padding-trailer;
}

.thumb{
	@include column(2);
	img{
		display:block;
	}
}

.video-summary .video-header h1{
	@include normal;
}

.video-summary .details{
	color:#999;
	@include margin-leader;
}
.details-list{
	padding-left:0;
	li{
		list-style-type:none;
	}
}
.video-summary .details, .video-summary .description{
	padding-left:span(2)+$blueprint-grid-margin;
}