.video-large, .preview-large a{
	height:360px;
}
.video-large-preview a{
	border:none;
	background:#000;
	display:block;
	line-height:360px;
	text-align:center;
	position:relative;
	&:hover{
		&::after{
			$width:40px;
			content: "▶";
			color:#FFF;
			display: block;
			position:absolute;
			top:50%;
			left:50%;
			width:$width;
			height:$width;
			margin-top:-$width/2+1px;
			margin-left:-$width/2+2px;
			z-index:1338;
			text-align:center;
			line-height:$width;
			font-size:$width+10px;
			text-shadow:0 -1px 0 #000;
		}
		&::before{
			$width:80px;
			content: "";
			display: block;
			position:absolute;
			top:50%;
			left:50%;
			width:$width;
			height:$width;
			border-radius:$width/2;
			margin-top:-$width/2;
			margin-left:-$width/2;
			z-index:1337;
			@include box-shadow(0 0 0 1px rgba(0,0,0,.7), 0 0 0 1px rgba(255,255,255,.25) inset, 0 0 5px 0 rgba(0,0,0,.35));
			@include background(linear-gradient(top left, rgba(80,80,80,.75), rgba(0,0,0,1)));
		}
	}
}
.video-large-preview img{
	margin:0 auto;
	vertical-align:middle;
}

.video-large-details{
	@extend .precontent-details;
}

.video-large-description{
	@include margin-trailer;
	max-height: $base-line-height * 5;
	overflow:hidden;
}