@import "compass/css3/box-shadow";

.video-player > *{
	display:block;
	margin-left:auto;
	margin-right:auto;
	background:#000;
	@include margin-leader;
	@include margin-trailer;
	@include box-shadow(0 0 0 1px rgba(255,255,255,.1), 0 0 32px 0 rgba(0,0,0,.75));
	
	@media screen and (max-width: 740px){
		max-width:100%;
		@include margin-leader(0);
		@include margin-trailer(0);
	}
}

.video-player p{
	@extend .padded-half;
	color:#EEE;
}