@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,800);
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* This grid structure is not going to work in IE7 and below. */
/* line 11, ../sass/partials/_grid.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 16, ../sass/partials/_grid.scss */
.row {
  margin-left: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../sass/partials/_grid.scss */
.col, .col-one-half, .col-one-quarter, .col-three-quarters, .col-one-third, .col-two-thirds {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  float: left;
}

/* line 27, ../sass/partials/_grid.scss */
.right {
  float: right;
  clear: right;
}

/* line 32, ../sass/partials/_grid.scss */
.padded, .sidebar-about {
  padding-bottom: 9px;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 39, ../sass/partials/_grid.scss */
.col-one-half {
  width: 50%;
}

/* line 43, ../sass/partials/_grid.scss */
.col-one-quarter {
  width: 25%;
}

/* line 47, ../sass/partials/_grid.scss */
.col-three-quarters {
  width: 75%;
}

/* line 51, ../sass/partials/_grid.scss */
.col-one-third {
  width: 33.333%;
}

/* line 55, ../sass/partials/_grid.scss */
.col-two-thirds {
  width: 66.667%;
}

@media screen and (max-width: 950px) {
  /* line 61, ../sass/partials/_grid.scss */
  .container {
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 740px) {
  /* line 69, ../sass/partials/_grid.scss */
  .col, .col-one-half, .col-one-quarter, .col-three-quarters, .col-one-third, .col-two-thirds {
    width: 100%;
  }
}
/* line 10, ../sass/partials/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 1, ../sass/partials/_base.scss */
a {
  text-decoration: none;
}

/* line 5, ../sass/partials/_base.scss */
body {
  font-size: 13px;
  line-height: 18px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #EEE;
  color: #444;
}

/* line 12, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-smoothing: antialiased;
}

/* line 16, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-bottom: 18px;
}

/* line 20, ../sass/partials/_base.scss */
h1 {
  font-size: 30px;
  line-height: 36px;
}

/* line 23, ../sass/partials/_base.scss */
h2 {
  font-size: 24px;
  line-height: 36px;
}

/* line 26, ../sass/partials/_base.scss */
h3 {
  font-size: 16px;
  line-height: 18px;
}

/* line 29, ../sass/partials/_base.scss */
h4 {
  font-size: 13px;
  line-height: 18px;
}

/* line 32, ../sass/partials/_base.scss */
h5 {
  font-size: 13px;
  line-height: 18px;
}

/* line 35, ../sass/partials/_base.scss */
h6 {
  font-size: 13px;
  line-height: 18px;
  color: #CCC;
}

/* line 3, ../sass/partials/_layout.scss */
#main {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
label {
  font-weight: bold;
}

/* line 19, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
legend {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, button.text, input.title, button.title, input[type=email], button[type=email], input[type=text], button[type=text], input[type=password], button[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.title, button.title {
  font-size: 1.5em;
}

/* line 29, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
textarea {
  margin: 0.5em 0;
  padding: 5px;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
select {
  margin: 0.5em 0;
}

/* line 55, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
fieldset {
  border: 1px solid #dddddd;
}

/* line 58, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, button.text, input.title, button.title, input[type=email], button[type=email], input[type=text], button[type=text], input[type=password], button[type=password],
textarea {
  background-color: #fff;
  border: 1px solid #cccccc;
}
/* line 61, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text:focus, button.text:focus, input.title:focus, button.title:focus, input[type=email]:focus, button[type=email]:focus, input[type=text]:focus, button[type=text]:focus, input[type=password]:focus, button[type=password]:focus,
textarea:focus {
  border-color: #88aacc;
}

/* line 65, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

/* line 44, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, button.text, input.title, button.title, input[type=email], button[type=email], input[type=text], button[type=text], input[type=password], button[type=password] {
  width: 300px;
}

/* line 46, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
textarea {
  width: 390px;
  height: 250px;
}

/* line 11, ../sass/partials/modules/_forms.scss */
input:focus, button:focus {
  outline: none;
}

/* line 15, ../sass/partials/modules/_forms.scss */
button {
  box-sizing: content-box;
  padding: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #fdfdfd, #eeeeee);
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  background: -o-linear-gradient(top, #fdfdfd, #eeeeee);
  background: -ms-linear-gradient(top, #fdfdfd, #eeeeee);
  background: linear-gradient(top, #fdfdfd, #eeeeee);
}

/* line 22, ../sass/partials/modules/_forms.scss */
button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -o-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -ms-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: linear-gradient(top, #f5f5f5, #e5e5e5);
}

/* line 26, ../sass/partials/modules/_forms.scss */
button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(top, #e5e5e5, #f5f5f5);
  background: -moz-linear-gradient(top, #e5e5e5, #f5f5f5);
  background: -o-linear-gradient(top, #e5e5e5, #f5f5f5);
  background: -ms-linear-gradient(top, #e5e5e5, #f5f5f5);
  background: linear-gradient(top, #e5e5e5, #f5f5f5);
}

/* line 30, ../sass/partials/modules/_forms.scss */
input, button, button, textarea {
  border: 1px solid #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 0 white;
  -webkit-box-shadow: 0 1px 0 0 white;
  -o-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}

/* line 3, ../sass/partials/modules/_lists.scss */
.unstyled-list, .action-list, .navigation-list, .pagetabs, .pod-actions {
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/partials/modules/_lists.scss */
.unstyled-list li, .action-list li, .navigation-list li, .pagetabs li, .pod-actions li {
  list-style-type: none;
}

/* line 11, ../sass/partials/modules/_lists.scss */
.pill-list a, .action-list a {
  padding: 9px 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -khtml-border-radius: 18px;
  border-radius: 18px;
  float: right;
  background: #CCC;
}

/* line 6, ../sass/partials/modules/_video_summary.scss */
.video-summary {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #CCC;
  margin-bottom: -1px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 160px;
}

/* line 15, ../sass/partials/modules/_video_summary.scss */
.thumb {
  width: 140px;
  margin-left: -160px;
  float: left;
}
/* line 19, ../sass/partials/modules/_video_summary.scss */
.thumb > img {
  display: block;
}

/* line 24, ../sass/partials/modules/_video_summary.scss */
.video-summary .video-header h1 {
  font-size: 13px;
  line-height: 18px;
}

/* line 28, ../sass/partials/modules/_video_summary.scss */
.video-summary .details {
  color: #999;
  margin-top: 18px;
}

/* line 32, ../sass/partials/modules/_video_summary.scss */
.details-list {
  padding-left: 0;
}
/* line 34, ../sass/partials/modules/_video_summary.scss */
.details-list li {
  list-style-type: none;
}

/* line 3, ../sass/partials/modules/_site_header.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 36px;
  padding-top: 18px;
  margin-bottom: -36px;
  -moz-box-shadow: 0 1px 0 0 white, 0 -1px 0 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 0 white, 0 -1px 0 0 rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: 0 1px 0 0 white, 0 -1px 0 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 0 0 white, 0 -1px 0 0 rgba(0, 0, 0, 0.15) inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #cccccc, #dddddd);
  background: -moz-linear-gradient(top, #cccccc, #dddddd);
  background: -o-linear-gradient(top, #cccccc, #dddddd);
  background: -ms-linear-gradient(top, #cccccc, #dddddd);
  background: linear-gradient(top, #cccccc, #dddddd);
}
/* line 10, ../sass/partials/modules/_site_header.scss */
#header > .container {
  position: relative;
}

/* line 15, ../sass/partials/modules/_site_header.scss */
#SiteLogo {
  width: 130px;
  float: left;
}

/* line 20, ../sass/partials/modules/_site_header.scss */
#SiteTagline {
  font-size: 18px;
  color: #999;
  line-height: 1;
}

/* line 26, ../sass/partials/modules/_site_header.scss */
#SiteTitle, #SiteTagline {
  padding-left: 150px;
}
/* line 28, ../sass/partials/modules/_site_header.scss */
#SiteTitle > a, #SiteTagline > a {
  color: #444;
}

/* line 33, ../sass/partials/modules/_site_header.scss */
#search {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 750px) {
  /* line 40, ../sass/partials/modules/_site_header.scss */
  #search {
    clear: both;
    position: static;
  }
}
/* line 4, ../sass/partials/modules/_navigation.scss */
#navigation > .container {
  padding: 0;
  margin: 17px auto;
  border: 1px solid #CCC;
  background-color: #EEE;
  border-top-color: #DDD;
  border-bottom-color: #BBB;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(#f5f5f5, #e9e9e9);
  background: -moz-linear-gradient(#f5f5f5, #e9e9e9);
  background: -o-linear-gradient(#f5f5f5, #e9e9e9);
  background: -ms-linear-gradient(#f5f5f5, #e9e9e9);
  background: linear-gradient(#f5f5f5, #e9e9e9);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  *zoom: 1;
}

/* line 19, ../sass/partials/modules/_navigation.scss */
.navigation-list-secondary {
  float: right;
  border-left: 1px solid #CCC;
}
/* line 22, ../sass/partials/modules/_navigation.scss */
.navigation-list-secondary a:last-child {
  border-right: 0;
}

/* line 27, ../sass/partials/modules/_navigation.scss */
.nav-item {
  float: left;
}

/* line 31, ../sass/partials/modules/_navigation.scss */
.nav-item > ul {
  display: none;
}

/* line 35, ../sass/partials/modules/_navigation.scss */
.nav-item {
  list-style-type: none;
}

/* line 39, ../sass/partials/modules/_navigation.scss */
.nav-item > a {
  border-left: 1px solid #FFF;
  border-right: 1px solid #CCC;
  display: block;
  padding: 9px 18px;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 0 white;
  -webkit-box-shadow: 0 1px 0 0 white;
  -o-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}
/* line 48, ../sass/partials/modules/_navigation.scss */
.nav-item > a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(#ffffff, #eeeeee);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  background: -ms-linear-gradient(#ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
  background-color: #FFF;
}
/* line 52, ../sass/partials/modules/_navigation.scss */
.nav-item > a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#eeeeee, #ffffff);
  background: -moz-linear-gradient(#eeeeee, #ffffff);
  background: -o-linear-gradient(#eeeeee, #ffffff);
  background: -ms-linear-gradient(#eeeeee, #ffffff);
  background: linear-gradient(#eeeeee, #ffffff);
}

/* line 57, ../sass/partials/modules/_navigation.scss */
.nav-admin {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #348fbf), color-stop(100%, #26688b));
  background: -webkit-linear-gradient(#348fbf, #26688b);
  background: -moz-linear-gradient(#348fbf, #26688b);
  background: -o-linear-gradient(#348fbf, #26688b);
  background: -ms-linear-gradient(#348fbf, #26688b);
  background: linear-gradient(#348fbf, #26688b);
}
/* line 59, ../sass/partials/modules/_navigation.scss */
.nav-admin > a {
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}
/* line 63, ../sass/partials/modules/_navigation.scss */
.nav-admin > a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3ba2d8), color-stop(100%, #2e80aa));
  background: -webkit-linear-gradient(#3ba2d8, #2e80aa);
  background: -moz-linear-gradient(#3ba2d8, #2e80aa);
  background: -o-linear-gradient(#3ba2d8, #2e80aa);
  background: -ms-linear-gradient(#3ba2d8, #2e80aa);
  background: linear-gradient(#3ba2d8, #2e80aa);
}
/* line 66, ../sass/partials/modules/_navigation.scss */
.nav-admin > a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e80aa), color-stop(100%, #3ba2d8));
  background: -webkit-linear-gradient(#2e80aa, #3ba2d8);
  background: -moz-linear-gradient(#2e80aa, #3ba2d8);
  background: -o-linear-gradient(#2e80aa, #3ba2d8);
  background: -ms-linear-gradient(#2e80aa, #3ba2d8);
  background: linear-gradient(#2e80aa, #3ba2d8);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 3, ../sass/partials/modules/_pagetabs.scss */
.pagetabs {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #C6C6C6;
  -moz-box-shadow: 0 1px 0 0 white;
  -webkit-box-shadow: 0 1px 0 0 white;
  -o-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
}
/* line 10, ../sass/partials/modules/_pagetabs.scss */
.pagetabs a, .pagetabs .ellipse span {
  float: left;
  border-right: 1px solid #CCC;
  padding: 8px 18px;
  /* the border at the top will only show up if the navigation spans more than one line */
  border-top: 1px solid #CCC;
  margin-top: -1px;
}
/* line 18, ../sass/partials/modules/_pagetabs.scss */
.pagetabs a:hover {
  background: #F5F5F5;
}
/* line 21, ../sass/partials/modules/_pagetabs.scss */
.pagetabs .selected a {
  background: #D0ECFE;
}

/* line 1, ../sass/partials/modules/_page_header.scss */
.page-header {
  margin-bottom: 17px;
  border-bottom: 1px solid #CCC;
  position: relative;
}
/* line 5, ../sass/partials/modules/_page_header.scss */
.page-header .page-actions {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 1, ../sass/partials/modules/_pod.scss */
.pod {
  background: #F9F9F9;
}

/* line 5, ../sass/partials/modules/_pod.scss */
.pod-header {
  background: #FFF;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background: #9e0007;
  color: #FFF;
}
/* line 14, ../sass/partials/modules/_pod.scss */
.pod-header a {
  color: #FFF;
}

/* line 19, ../sass/partials/modules/_pod.scss */
.pod-header > h1 {
  display: inline;
  font-size: 16px;
  line-height: 18px;
}

/* line 24, ../sass/partials/modules/_pod.scss */
.pod-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 33, ../sass/partials/modules/_pod.scss */
.pod-actions li {
  float: left;
  margin-left: 10px;
}

/* line 39, ../sass/partials/modules/_pod.scss */
.pod-content {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1, ../sass/partials/modules/_sidebar_about.scss */
.sidebar-about {
  background: #000;
  color: #FFF;
}
