/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* This grid structure is not going to work in IE7 and below. */
/* line 10, ../sass/partials/_grid.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 15, ../sass/partials/_grid.scss */
.row, .row-nested, .dropdown-list {
  margin-left: 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after, .row-nested:after, .dropdown-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../sass/partials/_grid.scss */
.col, .col-one-half, .col-one-quarter, .col-three-quarters, .col-one-third, .precontent-details, .details-large, .col-two-thirds, .col-one-fifth, .col-two-fifths, .col-three-fifths, .col-four-fifths {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  float: left;
}

/* line 26, ../sass/partials/_grid.scss */
.right, .precontent-details, .details-large {
  float: right;
  clear: right;
}

/* line 45, ../sass/partials/_grid.scss */
.padded-half, .dropdown-box, .precontent-header {
  padding-bottom: 9px;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 46, ../sass/partials/_grid.scss */
.padded, #footer > .container, .pod-content, .pod-footer, .site-blurb, .content-box, .card, .card-link, .precontent-details, .details-large, .grid-item {
  padding-bottom: 18px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 47, ../sass/partials/_grid.scss */
.unpadded-half {
  margin-bottom: -9px;
  margin-top: -9px;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 48, ../sass/partials/_grid.scss */
.unpadded, .card-link {
  margin-bottom: -18px;
  margin-top: -18px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 52, ../sass/partials/_grid.scss */
.col-one-half {
  width: 480px;
}

/* line 56, ../sass/partials/_grid.scss */
.col-one-quarter {
  width: 240px;
}

/* line 60, ../sass/partials/_grid.scss */
.col-three-quarters {
  width: 720px;
}

/* line 64, ../sass/partials/_grid.scss */
.col-one-third, .precontent-details, .details-large {
  width: 320px;
}

/* line 68, ../sass/partials/_grid.scss */
.col-two-thirds {
  width: 640px;
}

/* line 72, ../sass/partials/_grid.scss */
.col-one-fifth {
  width: 192px;
}

/* line 76, ../sass/partials/_grid.scss */
.col-two-fifths {
  width: 384px;
}

/* line 80, ../sass/partials/_grid.scss */
.col-three-fifths {
  width: 576px;
}

/* line 84, ../sass/partials/_grid.scss */
.col-four-fifths {
  width: 768px;
}

/* line 92, ../sass/partials/_grid.scss */
.row-nested > .col-one-half, .dropdown-list > .col-one-half {
  width: 50%;
}
/* line 95, ../sass/partials/_grid.scss */
.row-nested > .col-one-quarter, .dropdown-list > .col-one-quarter {
  width: 25%;
}
/* line 98, ../sass/partials/_grid.scss */
.row-nested > .col-three-quarters, .dropdown-list > .col-three-quarters {
  width: 75%;
}
/* line 101, ../sass/partials/_grid.scss */
.row-nested > .col-one-third, .dropdown-list > .col-one-third, .row-nested > .precontent-details, .dropdown-list > .precontent-details, .row-nested > .details-large, .dropdown-list > .details-large {
  width: 33.33%;
}
/* line 104, ../sass/partials/_grid.scss */
.row-nested > .col-two-thirds, .dropdown-list > .col-two-thirds {
  width: 66.67%;
}
/* line 107, ../sass/partials/_grid.scss */
.row-nested > .col-one-fifth, .dropdown-list > .col-one-fifth {
  width: 20%;
}
/* line 110, ../sass/partials/_grid.scss */
.row-nested > .col-two-fifths, .dropdown-list > .col-two-fifths {
  width: 40%;
}
/* line 113, ../sass/partials/_grid.scss */
.row-nested > .col-three-fifths, .dropdown-list > .col-three-fifths {
  width: 60%;
}
/* line 116, ../sass/partials/_grid.scss */
.row-nested > .col-four-fifths, .dropdown-list > .col-four-fifths {
  width: 80%;
}

@media screen and (max-width: 960px) {
  /* line 124, ../sass/partials/_grid.scss */
  .container {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 128, ../sass/partials/_grid.scss */
  .col-one-half {
    width: 50%;
  }

  /* line 131, ../sass/partials/_grid.scss */
  .col-one-quarter {
    width: 25%;
  }

  /* line 134, ../sass/partials/_grid.scss */
  .col-three-quarters {
    width: 75%;
  }

  /* line 137, ../sass/partials/_grid.scss */
  .col-one-third, .precontent-details, .details-large {
    width: 33.33%;
  }

  /* line 140, ../sass/partials/_grid.scss */
  .col-two-thirds {
    width: 66.67%;
  }
}
@media screen and (max-width: 740px) {
  /* line 146, ../sass/partials/_grid.scss */
  .col, .col-one-half, .col-one-quarter, .col-three-quarters, .col-one-third, .precontent-details, .details-large, .col-two-thirds, .col-one-fifth, .col-two-fifths, .col-three-fifths, .col-four-fifths {
    width: 100%;
  }
}
/* line 14, ../sass/partials/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 1, ../sass/partials/_base.scss */
a {
  text-decoration: none;
}

/* line 4, ../sass/partials/_base.scss */
a:hover {
  border-bottom: 1px solid #CCC;
}

/* line 8, ../sass/partials/_base.scss */
body {
  font-size: 13px;
  line-height: 18px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 13, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-bottom: 18px;
}

/* line 17, ../sass/partials/_base.scss */
h1 {
  font-size: 30px;
  line-height: 36px;
}

/* line 20, ../sass/partials/_base.scss */
h2 {
  font-size: 24px;
  line-height: 36px;
}

/* line 23, ../sass/partials/_base.scss */
h3 {
  font-size: 16px;
  line-height: 27px;
}

/* line 26, ../sass/partials/_base.scss */
h4 {
  font-size: 13px;
  line-height: 18px;
}

/* line 29, ../sass/partials/_base.scss */
h5 {
  font-size: 13px;
  line-height: 18px;
}

/* line 32, ../sass/partials/_base.scss */
h6 {
  font-size: 13px;
  line-height: 18px;
  color: #CCC;
}

/* line 4, ../sass/partials/_layout.scss */
#main {
  overflow: hidden;
  *zoom: 1;
}

/* base form styles */
/* line 9, ../sass/partials/modules/_forms.scss */
input, textarea {
  outline: none;
  border: 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
  -moz-transition: box-shadow 0.15s linear;
  -webkit-transition: box-shadow 0.15s linear;
  -o-transition: box-shadow 0.15s linear;
  transition: box-shadow 0.15s linear;
  width: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4.5px;
}

/* line 22, ../sass/partials/modules/_forms.scss */
input {
  line-height: 18px;
}

/* line 26, ../sass/partials/modules/_forms.scss */
label {
  line-height: 27px;
}

/* line 35, ../sass/partials/modules/_forms.scss */
form {
  margin-bottom: 18px;
}

/* modular form styles */
/* line 42, ../sass/partials/modules/_forms.scss */
.control-group {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 9px;
}

/* line 46, ../sass/partials/modules/_forms.scss */
.form-horizontal label, form label {
  width: 200px;
  float: left;
  text-align: right;
}

/* line 51, ../sass/partials/modules/_forms.scss */
.form-horizontal .controls, form .controls {
  margin-left: 240px;
}

/* line 54, ../sass/partials/modules/_forms.scss */
.form-horizontal > .form-actions, form > .form-actions {
  padding-left: 240px;
}

/* line 57, ../sass/partials/modules/_forms.scss */
.help-text {
  color: #888;
  padding-top: 9px;
  padding-bottom: 9px;
}

/* line 62, ../sass/partials/modules/_forms.scss */
.error .controls input {
  border-color: #800;
}
/* line 64, ../sass/partials/modules/_forms.scss */
.error .controls input:focus {
  -moz-box-shadow: 0 0 6px 0 rgba(136, 0, 0, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 0 6px 0 rgba(136, 0, 0, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: 0 0 6px 0 rgba(136, 0, 0, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 6px 0 rgba(136, 0, 0, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 68, ../sass/partials/modules/_forms.scss */
.errorlist {
  color: #800;
}

/* line 74, ../sass/partials/modules/_forms.scss */
.large > label {
  line-height: 36px;
}
/* line 77, ../sass/partials/modules/_forms.scss */
.large > .controls > input {
  font-size: 16px;
  line-height: 27px;
}

/* line 82, ../sass/partials/modules/_forms.scss */
.x-large > label {
  line-height: 54px;
}
/* line 85, ../sass/partials/modules/_forms.scss */
.x-large > .controls > input {
  font-size: 24px;
  line-height: 36px;
}

/* line 90, ../sass/partials/modules/_forms.scss */
.btn-right-controls > input, .btn-left {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  float: left;
}

/* line 94, ../sass/partials/modules/_forms.scss */
.btn-right, .btn-left-controls > input {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  float: left;
}

/* line 99, ../sass/partials/modules/_forms.scss */
.btn-right {
  border-left: 0;
}

/* line 102, ../sass/partials/modules/_forms.scss */
.btn-left {
  border-right: 0;
}

/* specific fields */
/* line 108, ../sass/partials/modules/_forms.scss */
.control-group-honeypot {
  height: 0;
  overflow: hidden;
}

/* line 3, ../sass/partials/modules/_lists.scss */
ul, ol {
  padding-left: 1.5em;
}

/* line 6, ../sass/partials/modules/_lists.scss */
ul > li {
  list-style-type: disc;
}

/* line 9, ../sass/partials/modules/_lists.scss */
ol > li {
  list-style-type: decimal;
}

/* line 13, ../sass/partials/modules/_lists.scss */
.unstyled-list, .errorlist, .details-list, .navigation-list, .dropdown-list, .browse-box-section > ul, .pagetabs, .pod-footer-actions, .tile-box, .media-grid, .social-link-list, .grid-list {
  margin: 0;
  padding: 0;
}
/* line 16, ../sass/partials/modules/_lists.scss */
.unstyled-list > li, .errorlist > li, .details-list > li, .navigation-list > li, .dropdown-list > li, .browse-box-section > ul > li, .pagetabs > li, .pod-footer-actions > li, .tile-box > li, .media-grid > li, .social-link-list > li, .grid-list > li {
  list-style-type: none;
}

/* line 5, ../sass/partials/modules/_buttons.scss */
.button, button, .button-wide, .pagetabs a, .pagetabs .ellipse span {
  border: 1px solid;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 4.5px 9px;
}

/* line 15, ../sass/partials/modules/_buttons.scss */
.button-wide {
  display: block;
  line-height: 36px;
}

/* line 7, ../sass/partials/modules/_video_summary.scss */
.video-summary {
  *zoom: 1;
  margin-bottom: 18px;
  padding-left: 160px;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.video-summary:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../sass/partials/modules/_video_summary.scss */
.video-summary > .thumb {
  width: 140px;
  margin-left: -162px;
  float: left;
}

/* line 19, ../sass/partials/modules/_video_summary.scss */
.video-title {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 9px;
}

/* line 24, ../sass/partials/modules/_video_summary.scss */
.video-summary .details {
  color: #999;
  margin-top: 9px;
}

/* line 3, ../sass/partials/modules/_video_full.scss */
.video-player > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 32px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 32px 0 rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 32px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 32px 0 rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 740px) {
  /* line 3, ../sass/partials/modules/_video_full.scss */
  .video-player > * {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* line 3, ../sass/partials/modules/_site_header.scss */
#header {
  *zoom: 1;
  background: #FFF;
  padding-bottom: 9px;
  padding-top: 9px;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../sass/partials/modules/_site_header.scss */
#header > .container {
  position: relative;
}

/* line 14, ../sass/partials/modules/_site_header.scss */
#SiteLogo {
  float: left;
}
/* line 16, ../sass/partials/modules/_site_header.scss */
#SiteLogo img {
  display: block;
}

/* line 22, ../sass/partials/modules/_site_header.scss */
#SiteTitle, #SiteTagline {
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  line-height: 27px;
}

/* line 29, ../sass/partials/modules/_site_header.scss */
#SiteTitle {
  font-weight: bold;
}
/* line 31, ../sass/partials/modules/_site_header.scss */
.no-tagline > #SiteTitle {
  font-size: 30px;
  line-height: 36px;
  line-height: 54px;
}

/* line 38, ../sass/partials/modules/_site_header.scss */
#SiteTagline {
  font-weight: 400;
}

/* line 43, ../sass/partials/modules/_site_header.scss */
#search #search_field {
  width: 80%;
}
/* line 46, ../sass/partials/modules/_site_header.scss */
#search .btn-right {
  width: 20%;
}
@media screen and (max-width: 740px) {
  /* line 42, ../sass/partials/modules/_site_header.scss */
  #search {
    position: absolute;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    right: 0;
    left: 0;
    background: #EEE;
    width: auto;
    border-bottom: 1px solid #CCC;
  }
}

/* line 61, ../sass/partials/modules/_site_header.scss */
.logo-link:hover {
  border: 0;
}

@media screen and (max-width: 960px) {
  /* line 66, ../sass/partials/modules/_site_header.scss */
  #header > .container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 740px) {
  /* line 71, ../sass/partials/modules/_site_header.scss */
  #header > .container {
    position: static;
    margin-top: 45px;
  }
}
/* line 1, ../sass/partials/modules/_site_footer.scss */
#footer {
  background: #222;
}

/* line 5, ../sass/partials/modules/_navigation.scss */
#navigation {
  *zoom: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-right: 20px;
  float: right;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#navigation:after {
  content: "";
  display: table;
  clear: both;
}

/* line 16, ../sass/partials/modules/_navigation.scss */
.nav-item {
  margin: 5.5px 0;
  float: left;
  list-style-type: none;
  border-left: 1px solid;
}

/* line 22, ../sass/partials/modules/_navigation.scss */
.nav-item:first-child {
  border-left: none;
}

/* line 26, ../sass/partials/modules/_navigation.scss */
.nav-item > a {
  padding: 0 10px;
  display: block;
}
/* line 29, ../sass/partials/modules/_navigation.scss */
.nav-item > a:hover {
  border: 0;
}

/* line 34, ../sass/partials/modules/_navigation.scss */
.nav-item:first-child > a {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 38, ../sass/partials/modules/_navigation.scss */
.nav-item:last-child > a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 42, ../sass/partials/modules/_navigation.scss */
.nav-item-dropdown {
  position: relative;
}

/* line 47, ../sass/partials/modules/_navigation.scss */
.nav-item-dropdown > a {
  position: relative;
  padding-right: 24px;
}

/* line 51, ../sass/partials/modules/_navigation.scss */
.nav-item-dropdown > a::after {
  content: ' ';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 6px;
}

/* line 63, ../sass/partials/modules/_navigation.scss */
.dropdown-list, .dropdown-box {
  display: none;
  position: absolute;
  z-index: 1337;
  top: 30px;
  left: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid;
}
/* line 72, ../sass/partials/modules/_navigation.scss */
.dropdown-list::before, .dropdown-box::before {
  content: ' ';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 10px;
}

/* line 83, ../sass/partials/modules/_navigation.scss */
.dropdown-box {
  min-width: 300px;
}

/* line 87, ../sass/partials/modules/_navigation.scss */
.dropdown-list {
  min-width: 200px;
}

/* line 92, ../sass/partials/modules/_navigation.scss */
.dropdown-list > li > a {
  display: block;
  border: 0;
  padding: 5px 16px;
}

/* line 97, ../sass/partials/modules/_navigation.scss */
.dropdown-list > li:first-child > a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 100, ../sass/partials/modules/_navigation.scss */
.dropdown-list > li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -khtml-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/* line 105, ../sass/partials/modules/_navigation.scss */
.browse-box-section {
  margin-bottom: 18px;
}
/* line 107, ../sass/partials/modules/_navigation.scss */
.browse-box-section:last-child {
  margin-bottom: 0;
}

/* line 111, ../sass/partials/modules/_navigation.scss */
.browse-box-section > h1 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 9px;
}

/* line 117, ../sass/partials/modules/_navigation.scss */
.browse-box-section > ul {
  overflow: hidden;
  *zoom: 1;
}

/* line 121, ../sass/partials/modules/_navigation.scss */
.browse-box-section > ul > li {
  width: 33%;
  float: left;
}

@media screen and (max-width: 740px) {
  /* line 127, ../sass/partials/modules/_navigation.scss */
  .dropdown-list, .dropdown-box {
    position: static;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}
/* line 6, ../sass/partials/modules/_pagetabs.scss */
.pagetabs {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 18px;
}
/* line 10, ../sass/partials/modules/_pagetabs.scss */
.pagetabs a, .pagetabs .ellipse span {
  float: left;
  margin-left: 3px;
}

/*
.page-content{
	@extend .pod-content;
}
*/
/* line 1, ../sass/partials/modules/_pod.scss */
.pod-header, .page-header {
  position: relative;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 8px 20px;
}
/* line 6, ../sass/partials/modules/_pod.scss */
.pod-header h1 a:hover, .page-header h1 a:hover {
  border-bottom: 0;
}

/* line 11, ../sass/partials/modules/_pod.scss */
.pod-header > h1, .page-header > h1 {
  display: inline;
  font-size: 16px;
  line-height: 27px;
}

/* line 16, ../sass/partials/modules/_pod.scss */
.pod-actions, .page-actions {
  padding: 13.5px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 21, ../sass/partials/modules/_pod.scss */
.pod-actions li, .page-actions li {
  list-style-type: none;
  float: left;
  margin-left: 10px;
}
/* line 26, ../sass/partials/modules/_pod.scss */
.pod-actions a, .page-actions a {
  display: block;
  padding: 3px 0;
  margin-top: -3px;
}
/* line 31, ../sass/partials/modules/_pod.scss */
.pod-actions a:hover, .page-actions a:hover {
  border: 0;
}

/* line 1, ../sass/partials/modules/_site_blurb.scss */
.site-blurb {
  font-size: 16px;
  line-height: 27px;
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
  -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
}

/* line 7, ../sass/partials/modules/_site_blurb.scss */
.site-blurb > :last-child {
  margin-bottom: 0;
}

/* line 4, ../sass/partials/modules/_tile_box.scss */
.tile-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 0 1px white inset, 0 1px 6px 0 rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0 0 0 1px white inset, 0 1px 6px 0 rgba(0, 0, 0, 0.25) inset;
  -o-box-shadow: 0 0 0 1px white inset, 0 1px 6px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 0 1px white inset, 0 1px 6px 0 rgba(0, 0, 0, 0.25) inset;
  height: 108px;
  background: #EEE;
  overflow: hidden;
  border: 1px solid #CCC;
  padding: 3px;
}

/* line 15, ../sass/partials/modules/_tile_box.scss */
.tile {
  width: 25%;
  overflow: hidden;
  float: left;
  height: 54px;
}
/* line 20, ../sass/partials/modules/_tile_box.scss */
.tile > img {
  display: block;
}
/* line 23, ../sass/partials/modules/_tile_box.scss */
.tile:first-child {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -khtml-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  overflow: hidden;
}
/* line 27, ../sass/partials/modules/_tile_box.scss */
.tile:nth-child(4) {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -khtml-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  overflow: hidden;
}
/* line 31, ../sass/partials/modules/_tile_box.scss */
.tile:nth-child(5) {
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -khtml-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  overflow: hidden;
}
/* line 35, ../sass/partials/modules/_tile_box.scss */
.tile:nth-child(8) {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -khtml-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
  overflow: hidden;
}

/* line 7, ../sass/partials/modules/_card.scss */
.card-link {
  padding-bottom: 0;
  overflow: hidden;
  margin-bottom: 9px;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 14, ../sass/partials/modules/_card.scss */
.card-link:hover {
  background: #EEE;
  border: 0;
}

/* line 21, ../sass/partials/modules/_card.scss */
.card-header, .card-figure {
  margin-bottom: 9px;
}

/* line 24, ../sass/partials/modules/_card.scss */
.card-title {
  font-weight: bold;
  color: #444;
}

/* line 28, ../sass/partials/modules/_card.scss */
.card-title-quiet {
  color: #666;
}

/* line 1, ../sass/partials/modules/_precontent.scss */
.precontent {
  overflow: hidden;
  *zoom: 1;
  -moz-box-shadow: 0 1px 0 0 white;
  -webkit-box-shadow: 0 1px 0 0 white;
  -o-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}

/* line 8, ../sass/partials/modules/_precontent.scss */
.precontent-header h1, .precontent-header h2 {
  display: inline;
  margin: 0;
}
/* line 12, ../sass/partials/modules/_precontent.scss */
.precontent-header h1 {
  font-size: 16px;
  line-height: 27px;
}
/* line 15, ../sass/partials/modules/_precontent.scss */
.precontent-header h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}
/* line 19, ../sass/partials/modules/_precontent.scss */
.precontent-header .title {
  margin-right: 10px;
}
/* line 22, ../sass/partials/modules/_precontent.scss */
.precontent-header a {
  border: none;
}

/* line 27, ../sass/partials/modules/_precontent.scss */
.precontent-content {
  margin: 0 -100px;
  -moz-box-shadow: 0 -2px 64px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 -2px 64px rgba(0, 0, 0, 0.5) inset;
  -o-box-shadow: 0 -2px 64px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -2px 64px rgba(0, 0, 0, 0.5) inset;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 740px) {
  /* line 27, ../sass/partials/modules/_precontent.scss */
  .precontent-content {
    margin: 0;
  }
}

/* line 37, ../sass/partials/modules/_precontent.scss */
.precontent-details, .details-large {
  color: #EEE;
  text-shadow: 0 -1px 0 black;
}
/* line 43, ../sass/partials/modules/_precontent.scss */
.precontent-details h1 > a, .details-large h1 > a {
  color: #FFF;
  border: none;
}

/* line 1, ../sass/partials/modules/_video_large_preview.scss */
.video-large, .preview-large a {
  height: 360px;
}

/* line 4, ../sass/partials/modules/_video_large_preview.scss */
.preview-large a {
  border: none;
  background: #000;
  display: block;
  line-height: 360px;
  text-align: center;
}

/* line 11, ../sass/partials/modules/_video_large_preview.scss */
.preview-large img {
  margin: 0 auto;
  vertical-align: middle;
}

/* line 3, ../sass/partials/modules/_media_grid.scss */
.media-grid {
  *zoom: 1;
  margin-left: -40px;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.media-grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../sass/partials/modules/_media_grid.scss */
.media-item {
  float: left;
  margin-left: 40px;
  margin-bottom: 18px;
}

/* line 4, ../sass/partials/modules/_thumb.scss */
.thumb {
  margin-bottom: 9px;
  position: relative;
  background: black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 9, ../sass/partials/modules/_thumb.scss */
.thumb > a {
  display: block;
  position: relative;
  overflow: hidden;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 0;
}
/* line 17, ../sass/partials/modules/_thumb.scss */
.thumb > a:hover {
  -moz-box-shadow: 0 0 8px 0 black;
  -webkit-box-shadow: 0 0 8px 0 black;
  -o-box-shadow: 0 0 8px 0 black;
  box-shadow: 0 0 8px 0 black;
}
/* line 20, ../sass/partials/modules/_thumb.scss */
.thumb > a > img {
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 25, ../sass/partials/modules/_thumb.scss */
.thumb > a::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid black;
}

/* line 1, ../sass/partials/modules/_title_link.scss */
.title-link {
  border-bottom: 0;
  color: inherit;
}

/* line 1, ../sass/partials/modules/_compact.scss */
.compact * {
  display: inline;
}

/* line 1, ../sass/partials/modules/_icons.scss */
.replaced, .search-icon {
  text-indent: -9999px;
  display: block;
}

/* line 6, ../sass/partials/modules/_icons.scss */
.search-icon {
  background-image: url('/static/localtv/front/images/glyphicons_027_search.png?1332893585');
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 1, ../sass/partials/modules/_social_link_list.scss */
.social-link-list {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid;
}
/* line 5, ../sass/partials/modules/_social_link_list.scss */
.social-link-list > li {
  float: left;
  display: block;
  line-height: 19px;
  height: 39px;
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 20px;
  border-left: 1px solid;
}
/* line 14, ../sass/partials/modules/_social_link_list.scss */
.social-link-list > li:first-child {
  border-left: 0;
}

/* Enforce facebook comments fill the space they are placed in. */
/* line 2, ../sass/partials/modules/_facebook_comments.scss */
.fb-comments, .fb-comments iframe {
  width: 100% !important;
}

/* line 4, ../sass/partials/modules/_grid_list.scss */
.grid-list {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.grid-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../sass/partials/modules/_grid_list.scss */
.grid-item {
  width: 25%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width:740px) {
  /* line 17, ../sass/partials/modules/_grid_list.scss */
  .grid-item {
    width: 50%;
  }
}
/* line 1, ../sass/partials/pages/_video_grid.scss */
.video-grid > .media-item {
  width: 200px;
  margin-bottom: 36px;
}

/* line 6, ../sass/partials/pages/_video_grid.scss */
.video-grid > .media-item > .video-header {
  height: 36px;
  overflow: hidden;
}

/* base theme styles */
/* line 44, ../sass/partials/_theme.scss */
a {
  color: #344f6d;
}

/* line 48, ../sass/partials/_theme.scss */
a:hover {
  color: #1b2939;
}

/* line 52, ../sass/partials/_theme.scss */
body {
  background: #cccccc;
  color: #444444;
}

/* main container */
/* line 59, ../sass/partials/_theme.scss */
#main {
  border-top: 1px solid #cccccc;
}

/* line 63, ../sass/partials/_theme.scss */
#main > .container {
  background: white;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

/* buttons */
/* line 70, ../sass/partials/_theme.scss */
.button, button, .button-wide, .pagetabs a, .pagetabs .ellipse span {
  color: #666666;
  text-shadow: 0 1px 0 #FFF;
  border-color: #cfcfcf;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(#f5f5f5, #dcdcdc);
  background: -moz-linear-gradient(#f5f5f5, #dcdcdc);
  background: -o-linear-gradient(#f5f5f5, #dcdcdc);
  background: -ms-linear-gradient(#f5f5f5, #dcdcdc);
  background: linear-gradient(#f5f5f5, #dcdcdc);
  -moz-box-shadow: 0 1px 0 0 white inset;
  -webkit-box-shadow: 0 1px 0 0 white inset;
  -o-box-shadow: 0 1px 0 0 white inset;
  box-shadow: 0 1px 0 0 white inset;
}
/* line 76, ../sass/partials/_theme.scss */
.button:hover, button:hover, .button-wide:hover, .pagetabs a:hover, .pagetabs .ellipse span:hover {
  color: #444444;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(#e3e3e3, #dcdcdc);
  background: -moz-linear-gradient(#e3e3e3, #dcdcdc);
  background: -o-linear-gradient(#e3e3e3, #dcdcdc);
  background: -ms-linear-gradient(#e3e3e3, #dcdcdc);
  background: linear-gradient(#e3e3e3, #dcdcdc);
  -moz-box-shadow: 0 1px 0 0 white inset;
  -webkit-box-shadow: 0 1px 0 0 white inset;
  -o-box-shadow: 0 1px 0 0 white inset;
  box-shadow: 0 1px 0 0 white inset;
}

/* line 82, ../sass/partials/_theme.scss */
.button:active, button:active, .button-wide:active, .pagetabs a:active, .pagetabs .ellipse span:active, .button-active, .button-selected, .pagetabs .selected > a {
  color: #444444;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfcfcf), color-stop(100%, #b5b5b5));
  background: -webkit-linear-gradient(#cfcfcf, #b5b5b5);
  background: -moz-linear-gradient(#cfcfcf, #b5b5b5);
  background: -o-linear-gradient(#cfcfcf, #b5b5b5);
  background: -ms-linear-gradient(#cfcfcf, #b5b5b5);
  background: linear-gradient(#cfcfcf, #b5b5b5);
  -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35) inset;
  -o-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35) inset;
  border-color: #767676;
}

/* navigation */
/* line 91, ../sass/partials/_theme.scss */
.nav-item a {
  color: #444444;
}

/* line 94, ../sass/partials/_theme.scss */
.nav-item {
  border-left-color: #dddddd;
}

/* line 98, ../sass/partials/_theme.scss */
.nav-item-dropdown > a::after {
  border-top-color: #444444;
}

/* line 103, ../sass/partials/_theme.scss */
.dropdown-list, .dropdown-box {
  border-color: #cccccc;
  background: white;
}
/* line 106, ../sass/partials/_theme.scss */
.dropdown-list::before, .dropdown-box::before {
  border-bottom-color: #cccccc;
}

/* line 111, ../sass/partials/_theme.scss */
.dropdown-list > li > a {
  color: #444444;
}
/* line 113, ../sass/partials/_theme.scss */
.dropdown-list > li > a:hover {
  background: #f2f2f2;
  color: #373737;
}
/* line 117, ../sass/partials/_theme.scss */
.dropdown-list > li > a:active {
  background: #e6e6e6;
}

/* forms */
/* line 124, ../sass/partials/_theme.scss */
input, textarea {
  border-color: #cccccc;
  background: white;
}
/* line 127, ../sass/partials/_theme.scss */
input:focus, textarea:focus {
  border-color: #344f6d;
  -moz-box-shadow: 0 0 6px 0 rgba(52, 79, 109, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 0 6px 0 rgba(52, 79, 109, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
  -o-box-shadow: 0 0 6px 0 rgba(52, 79, 109, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 6px 0 rgba(52, 79, 109, 0.35), 1px 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
}

/* pagetabs */
/* line 135, ../sass/partials/_theme.scss */
.pagetabs .ellipse span {
  color: #999999;
  border-color: #e6e6e6;
}
/* line 138, ../sass/partials/_theme.scss */
.pagetabs .ellipse span:hover, .pagetabs .ellipse span:active {
  color: #999999;
  border-color: #e6e6e6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(#f5f5f5, #dcdcdc);
  background: -moz-linear-gradient(#f5f5f5, #dcdcdc);
  background: -o-linear-gradient(#f5f5f5, #dcdcdc);
  background: -ms-linear-gradient(#f5f5f5, #dcdcdc);
  background: linear-gradient(#f5f5f5, #dcdcdc);
  -moz-box-shadow: 0 1px 0 0 white inset;
  -webkit-box-shadow: 0 1px 0 0 white inset;
  -o-box-shadow: 0 1px 0 0 white inset;
  box-shadow: 0 1px 0 0 white inset;
}

/* pod */
/* line 148, ../sass/partials/_theme.scss */
.pod-header, .page-header {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(#eeeeee, #e1e1e1);
  background-image: -moz-linear-gradient(#eeeeee, #e1e1e1);
  background-image: -o-linear-gradient(#eeeeee, #e1e1e1);
  background-image: -ms-linear-gradient(#eeeeee, #e1e1e1);
  background-image: linear-gradient(#eeeeee, #e1e1e1);
  border-bottom-color: #d4d4d4;
  border-top-color: white;
  color: #222222;
}
/* line 154, ../sass/partials/_theme.scss */
.pod-header a, .page-header a {
  color: #222222;
}

/* line 160, ../sass/partials/_theme.scss */
.pod-actions a, .page-actions a {
  color: #555555;
}
/* line 166, ../sass/partials/_theme.scss */
.pod-actions a:hover, .page-actions a:hover {
  color: #222222;
}

/* precontent */
/* line 176, ../sass/partials/_theme.scss */
.precontent {
  /* http://subtlepatterns.com/?p=1024 */
  background: #343639 url('/static/localtv/front/images/classy_fabric.png?1332893585');
}

/* line 181, ../sass/partials/_theme.scss */
.precontent-header {
  background: black;
  color: white;
}
/* line 184, ../sass/partials/_theme.scss */
.precontent-header a {
  color: #5c86a0;
}
/* line 187, ../sass/partials/_theme.scss */
.precontent-header a:hover {
  color: #4e9eda;
}

/* line 192, ../sass/partials/_theme.scss */
.colophon {
  color: #999999;
}

/* site-blurb */
/* line 198, ../sass/partials/_theme.scss */
.site-blurb {
  background-color: #222222;
  color: #dddddd;
}

/* site-title */
/* line 205, ../sass/partials/_theme.scss */
#SiteTitle {
  color: black;
}
/* line 207, ../sass/partials/_theme.scss */
#SiteTitle > a {
  color: inherit;
}

/* social-link-list */
/* line 213, ../sass/partials/_theme.scss */
.social-link-list {
  background: #f7f7f7;
  border-color: #e6e6e6;
}
/* line 216, ../sass/partials/_theme.scss */
.social-link-list > li {
  border-color: #e6e6e6;
}

/* sidebar */
@media screen and (min-width: 740px) {
  /* line 224, ../sass/partials/_theme.scss */
  .right-sidebar, .basic .popular > .pod-content,
  .basic .popular > .pod-footer,
  .cyclops .popular > .pod-content,
  .cyclops .popular > .pod-footer,
  .basic .new > .pod-content,
  .basic .new > .pod-footer {
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dcdcdc), color-stop(2%, #f5f5f5), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(left, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: -moz-linear-gradient(left, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: -o-linear-gradient(left, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: -ms-linear-gradient(left, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: linear-gradient(left, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
  }

  /* line 229, ../sass/partials/_theme.scss */
  .left-sidebar {
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #dcdcdc), color-stop(2%, #f5f5f5), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(right, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: -moz-linear-gradient(right, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: -o-linear-gradient(right, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: -ms-linear-gradient(right, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
    background: linear-gradient(right, #dcdcdc 0%, #f5f5f5 2%, #f5f5f5 100%);
  }
}
