{% extends "localtv/__base.html" %}

{% load uploadtemplate i18n %}

{% block title %}{% trans "Submit a Video" %} – {{ block.super }}{% endblock %}

{% block main %}
  <h1>{% trans "Submit a Video" %}</h1>

  {% block pre_form %}{% endblock %}
  <form action="{% block form_action %}{% endblock %}" method="{% block form_method %}post{% endblock %}">
    {% csrf_token %}
    {% block inner_form %}
    {% endblock %}
    <footer class="form-actions">
      <button>Submit</button>
    </footer>
  </form>
  {% block post_form %}{% endblock %}
{% endblock %}
