{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load uploadtemplate_tags %}
{% block top %}
  {% if request.GET.bookmarklet %}
  <link rel="StyleSheet" type="text/css" href="{% get_static_url 'localtv/css/overlay.css' %}" />
  {% endif %}
{% endblock %}
{% block title %}Submit a Video{% endblock %}
{% block next_link %}{% endblock %}
{% block content %}
<div class="content">
<form action="{% block form_action %}{% endblock %}{% if request.GET.bookmarklet %}?from_ajax&bookmarklet=1{% endif %}" method="post" id="submit_video">{% csrf_token %}
  {% block pre-table %}{% endblock %}
  <table>
    {% block table %}{% endblock %}
    <tr>
      <td><input type="image" src="{% get_static_url 'localtv/images/submit.gif' %}" value="Submit" /></td>
    </tr>
  </table>
  {% block post-table %}{% endblock %}
</form>
</div>
{% endblock content %}