{% extends "localtv/submit_video/second.html" %}

{% block form_action %}{% url localtv_submit_embedrequest_video %}{% endblock %}

{% block inner_form %}
	{% with field=form.name %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% with field=form.embed %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% with field=form.thumbnail_file %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% with field=form.thumbnail %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% with field=form.description %}{% include "localtv/_form_field.html" %}{% endwith %}
	{{ block.super }}
{% endblock %}