{% extends "localtv/submit_video/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block form_action %}{% url localtv_submit_embedrequest_video %}{% endblock %}
{% block pre-table %}{{ form.url }}{% endblock %}
{% block table %}
    <tr>
      <td>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.embed.errors }}
        {{ form.embed.label_tag }}
        {{ form.embed }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.thumbnail_file.errors }}
        {{ form.thumbnail_file.label_tag }}
        {{ form.thumbnail_file }}
      </td>
    </tr>
    <tr>
      <td>
        <div class="floatleft">or</div>
        {{ form.thumbnail.errors }}
        {{ form.thumbnail.label_tag }}
        {{ form.thumbnail }}
      </td>
      </tr>
      <tr>
        <td>
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
        </td>
      </tr>
      <tr>
        <td>
        <label style="font-weight: normal;" for="id_tags">{{ form.tags.help_text|safe }}</label>
        {{ form.tags }}
        </td>
      </tr>
    {% if not request.user.is_authenticated %}
    <tr>
      <td>
        {{ form.contact.errors }}
        {{ form.contact.label_tag }}
        {{ form.contact }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.notes.label_tag }}
        {{ form.notes }}
      </td>
    </tr>
    {% endif %}
{% endblock %}