{% extends "localtv/submit_video/__base.html" %}

{% load i18n uploadtemplate_tags filters %}

{% block inner_form %}
	{% with field=form.url %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% with field=form.tags %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% if form.contact %}
		{% with field=form.contact %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% endif %}
	{% if not user_is_admin %}
		{% with field=form.notes %}{% include "localtv/_form_field.html" %}{% endwith %}
	{% endif %}
{% endblock %}
