 {% extends "localtv/submit_video/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n uploadtemplate_tags filters %}
{% block pre-table %}
{{ form.url }}
{% endblock %}
{% block table %}
  {% block form %}
  {% endblock %}
    <tr>
      <td>
      {{ form.tags.errors }}
      <label for="id_tags">{{ form.tags.help_text|safe }}</label>
      {{ form.tags }}
      </td>
    </tr>
    {% if not request.user.is_authenticated %}
    <tr>
      <td>
        {{ form.contact.errors }}
        {{ form.contact.label_tag }}
        {{ form.contact }}
      </td>
    </tr>
    {% endif %}
    {% if not user_is_admin %}
    <tr>
      <td>
        {{ form.notes.errors }}
        {{ form.notes.label_tag }}
        {{ form.notes }}
      </td>
    </tr>
    {% endif %}
{{ form.construction_hint }}
{% endblock %}
