{% extends "localtv/__base.html" %}

{% load url from future %}
{% load i18n floppyforms %}

{% block title %}{% trans "Submit a Video" %} – {{ block.super }}{% endblock %}

{% block main %}
  <div class='row'>
    <div class='span6 offset3'>
      <h2>{% trans "Submit a Video" %}</h2>
      {% if was_duplicate %}
        <div class="alert alert-error">
          It appears that we already have a copy of that video{% if video %} <a href="{{ video.get_absolute_url }}">here</a>{% endif %}... sorry! You can submit another video if you like.
        </div>
      {% else %}
        {% for error in form.url.errors %}
          <div class="alert alert-error">
            {{ error }}
          </div>
      {% endfor %}
      {% endif %}
      <form action="{% url 'localtv_submit_video' %}" method='get'>
        <div class='input-append'>
          <input class='span5' type='url' name='url' placeholder='Enter video URL' />
          <button class='btn btn-success'>{% trans "Submit" %}</button>
        </div>
      </form>
      <h3>Tips</h3>
      <ul>
        <li>Miro Community automatically imports metadata for video URLs from a variety of video sites, including <a href='http://youtube.com'>YouTube</a>, <a href='http://vimeo.com'>Vimeo</a>, and <a href='http://blip.tv'>blip.tv</a>. Just submit the URL for the video page: <code>http://www.youtube.com/watch?v=wuGbLY-l930</code></li>
        <li>If Miro Community doesn't know how to handle your video automatically, you can also manually enter <code>&lt;embed&gt;</code> code for the video during the submission process.</li>
        <li>The URL can also be a video file: <code>http://www.ted.com/clips.mov</code></li>
      </ul>
    </div>
  </div>
{% endblock %}
