{% extends "localtv/__layouts/100.html" %}

{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}Thanks for submitting a video - {{ block.super }}{% endblock %}

{% block main %}
	<div class="padded">
		{% if video %}
			<div class="message success">Thanks for submitting a video.  You can see it <a id="next" href="{{ video.get_absolute_url }}">here</a>.</div>
		{% else %}
			<div class="message success">Thanks for submitting a video, our moderators will review it soon.</div>
		{% endif %}
	</div>
{% endblock %}