{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% if instance.authors.count %}
    By {% for user in instance.authors.all %}<a href="{% url localtv_author user.pk %}">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
{% else %}
  {% if instance.feed %}
  Posted by <a href="{% url localtv_list_feed instance.feed.pk %}">{{ instance.feed.name }}</a>
  {% else %}
    {% if instance.video_service_user %}
    Posted by {{ instance.video_service_user }}
    {% endif %}
  {% endif %}
{% endif %}
  {% if rendered_within_get_display_content %}
  <a href="#" class="edit_link">Edit {% if not instance.authors.count and not instance.feed and not instance.video_service_user %}Attribution{% endif %}</a>
  {% endif %}
