{% comment %}
Copyright 2010 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load editors_comment %}

{% get_editors_comment for instance as editors_comment %}
{% if editors_comment %}
<div class="description editors_notes">
  <span class="written_by">{{ editors_comment.user }} writes:</span>
  {{ editors_comment.comment|safe }}
</div>
{% endif %}
{% if not sitelocation %}{# sitelocation is not present if we're rendering a widget #}
<a href="#" class="edit_link">{% if editors_comment %}Edit{% else %}Add Editors Comment{% endif %} </a>
{% endif %}