html, body {
  height: 100%;
}

body{
    position: relative;
}

header {
    margin-bottom: $line-height-base * $base-font-size;
}

footer {
    background-color: $gray-darker;
    padding-top: $line-height-base * $base-font-size * 2;
    padding-bottom: $line-height-base * $base-font-size * 2;

    color: $gray-light;
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px - $line-height-base * $base-font-size * 2;
    clear: both;
    text-align: center;
    box-sizing: content-box;
}

#top {
    padding-bottom: $line-height-base * $base-font-size * 2;
}

.featured-field {
    background: url(../images/classy_fabric.png);
    padding: 20px;
}

.featured-inner {
    margin: 0 auto;
    border: 1px solid $gray;
    @include box-shadow(0 0 10px #000);
    width: 800px;
    background: #000;
    @include box-sizing(content-box);
    position: relative;

    @media (max-width: 979px) {
        width: 100%;
    }

    .navbar {
        margin: 0px;
        @include border-radius(0px);

        .navbar-embed{
            padding: 15px;
        }
    }
}

.featured-video{
    //height: 500px;

    iframe {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:after{
        content: '';
        display: block;
        padding-bottom: 100% * 5 / 8;
    }
}


.carousel-indicators > li {
    @include box-shadow(0 0 0 1px #000);
}


.carousel-inner .item {

     > a{
        display: block;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            display: block;
            padding-bottom: 100% * 5 / 8;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
    > .carousel-caption {
        text-shadow: 0 0 10px #000;

        a {
            color: #fff;
        }
    }
}

// Some cleanup to bootstrap dropdowns to allow for forms/labels inside a dropdown.

.dropdown-menu {
    .form-control, label {
        margin: 3px 20px;
        clear: both;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
        width: auto;
    }
}

// Correct dropdown behavior for top navbar.
.navbar-static-top{
    z-index: 1001;
}

// Support for link dropdown headers.
.dropdown-menu > .dropdown-header-link > a{
    font-weight: bold;
}


// Tweak styles for navs inside headers.
h1, h2, h3, h4, h5, h6{
    .list-inline{
        margin-bottom: 0;
        font-size: .75em;
        display: inline-block;
    }
}

// Support spans inside navs, plus special nav-header spans.
.nav-tabs > li > span,
.nav-pills > li > span {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; // keeps the overall height an even number
  display: block;
}

.nav-tabs > li > span {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: $line-height-base * $base-font-size;
  border: 1px solid transparent;
  @include border-radius(4px 4px 0 0);
}

.nav-pills > li > span {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  @include border-radius(5px);
}

.nav-pills, .nav-tabs {
    > li > .nav-header-item {
        font-weight: bold;
    }
}

// Tweak styles for icons as thumbnails

.thumbnail-icon{
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 216px;

    &:after{
        content: '';
        display: block;
        padding-bottom: 100% * 5 / 8;
    }

    > i {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    > i {
        @extend .text-muted;
        text-align: center;
        font-size: 100px;
        height: 100px;
        text-decoration: none;

        @media (min-width: 1200px) {
            font-size: 125px;
            height: 125px;
        }

        @media (min-width: 768px) and (max-width: 979px) {
            font-size: 75px;
            height: 75px;
        }

        @media (max-width: 767px) {
            font-size: 200px;
            height: 200px;
        }
    }
}

// Tiled thumbnails (made up of multiple sub-images.)
.thumbnail-tiles {
    > ul {
        list-style: none;
        max-width: 300px;
        margin: auto;

        > li {
            display: inline-block;
        }
    }
}

.thumbnail-tiles-2 {
    > ul > li {
        width: 50%;
    }
}

.thumbnail-tiles-6 {
    > ul > li {
        width: 33%;
    }
}

// Shrinkydink
.shrinkydink-handle{
    @extend small;
    @extend .text-muted;
    display: block;
    border-bottom: 1px solid;
    text-align: center;
    height: $line-height-base * $base-font-size / 2;
    margin-bottom: $line-height-base * $base-font-size * 1.5;
}

.shrinkydink-handle-inner{
    display: inline-block;
    background: #FFF;
    padding: 0 5px;
}

// Shim for footer that sinks to the bottom.

#top {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}


// add margin to input groups. Bootstrap is missing this.

.input-group{margin-bottom: 15px;}
