html, body {
  height: 100%;
}

body{
    position: relative;
}

header {
    margin-bottom: $baseLineHeight;
}

footer {
    background-color: $grayDarker;
    padding-top: $baseLineHeight * 2;
    padding-bottom: $baseLineHeight * 2;

    color: $grayLight;
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px - $baseLineHeight * 2;
    clear: both;
    text-align: center;
}

.featured-field {
    background: url(../images/classy_fabric.png);
    padding: 20px;
}

.featured-inner {
    margin: 0 auto;
    border: 1px solid $gray;
    @include box-shadow(0 0 10px $black);
    width: 800px;
        
    @media (max-width: 979px) {
        width: 100%;
    }
}

.carousel {
    margin: 0;
}

.carousel-inner .item {
    background-color: #000;

    > a {
        display: block;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            display: block;
            padding-bottom: 100% * 5 / 8;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
}

.carousel-control {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0;
    @include transition(opacity 0.4s ease-in-out);
}

.carousel:hover .carousel-control {
    opacity: .75;
    @include transition(opacity 0.4s ease-in-out);

    &:hover {
        opacity: 1;
        @include transition(opacity 0.4s ease-in-out);
    }
}

// Some cleanup to bootstrap dropdowns to allow for forms/labels inside a dropdown.

.dropdown-menu > li {
    & > input, & > label, & > select {
        margin: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
    }
}

// Tweak styles for navs inside headers.
h3 .nav{
    margin-bottom: 0;
    font-size: .75em;
    vertical-align: text-top;
    display: inline-block;
}

#top {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}
