{% extends "localtv/admin/base.html" %}

{% block body_class %}themes{% endblock body_class %}


{% load i18n daguerre %} 

{% block title %}{{ block.super }} - {% trans "Admin - Upload Templates" %}{% endblock %}

{% block content %}
  {% include "localtv/admin/settings_header.html" %}

  <div class="helpful">
    Miro Community themes are implemented with Django templates, which are <a href="https://docs.djangoproject.com/en/1.3/topics/templates/">documented here</a>.<br/>
    There were recently significant changes to Miro Community themes. Find out more <a href="http://support.mirocommunity.org/solution/categories/13505/folders/107934">here</a>.
  </div>


  <a href="{% url uploadtemplate-create %}" class="add"><span>Add Theme</span></a>

  {% if default %}
  
  
  <h2>Current Theme</h2>

  <div id="default_theme" class="theme">
  
  <span id="check_bubble"></span>
  {% if default.thumbnail %}<img src="{% adjust default.thumbnail width=200 %}" />{% endif %}
 
  <h3>{{ default.name }}</h3>
  <div class="description">{{ default.description }}</div>
    <a class="edit_theme" href="{% url uploadtemplate-update pk=default.pk %}">Edit</a>
    <a class="remove_theme" href="{% url uploadtemplate-unset_default %}">Deactivate (Return to Default Theme)</a>
  </div>
  {% endif %}
  {% if themes|length > 1 or not default %}
    <h2>Settings | Additional Themes</h2>
    <ul>
      {% for theme in themes %}
        {% if theme != default %}
          <li class="theme">
            {% if theme.thumbnail %}<img src="{% adjust theme.thumbnail width=200 %}" />{% endif %}
            <h3>{{ theme.name }}</h3>
            <div class="description">{{ theme.description }}</div>
            <a class="activate_theme" href="{% url uploadtemplate-set_default theme.pk %}">Activate</a>
            <a class="edit_theme" href="{% url uploadtemplate-update pk=theme.pk %}">Edit</a>
            <a class="remove_theme" href="{% url uploadtemplate-delete theme.pk %}">Remove</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
