{% extends "localtv/subsite/base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "About" %}{% endblock %}

{% block body_id %}about_page{% endblock %}

{% block content %}
  <div id="main">
    <h2 class="page_title">About {{ sitelocation.site.name }}</h2>
     <p>
      {% blocktrans %}
        Miro Local TV is be a site that helps communities gather their
        videos into one place. It's a project of the Participatory
        Culture Foundation
      {% endblocktrans %}
    </p>
   {% autoescape off %}
      {{ sitelocation.about_html }}
    {% endautoescape %}
<br />
    <h2>{% trans "About Miro Community" %}</h2>
    <p>
      {% blocktrans %}
        Miro Community is be a site that helps communities gather their
        videos into one place. It's a project of the Participatory
        Culture Foundation
      {% endblocktrans %}
    </p>
  </div>

{% endblock %}
