{% extends "localtv/subsite/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load filters %}
{% block content %}
<div id="category_sidebar">
  {% if author.get_profile.logo %}<img src="{{ author.get_profile.logo.url }}">{% endif %}

  <h1>{% if author.first_name %}{{ author.first_name }} {{ author.last_name }}{% else %}{{ author.username }}{% endif %}</h1>

  <div>{{ author.get_profile.description|sanitize }}</div>

</div>

<div id="category">

  <div id="individual">
    <ul>
      {% for video in video_list %}
      <li>
        {% include "localtv/subsite/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
