{% extends "localtv/subsite/base.html" %}
{% load filters %}
{% block content %}
<div id="category_sidebar">
  {% if author.get_profile.logo %}<img src="{{ author.get_profile.logo.url }}">{% endif %}

  <h1>{% if author.first_name %}{{ author.first_name }} {{ author.last_name }}{% else %}{{ author.username }}{% endif %}</h1>

  <div>{{ author.get_profile.description|sanitize }}</div>

</div>

<div id="category">

  <div id="individual">
    <ul>
      {% for video in video_list %}
      <li>
        {% include "localtv/subsite/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
