<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="StyleSheet" type="text/css" href="/css/reset.css">
    <link rel="StyleSheet" type="text/css" href="/css/lights-on.css">
    <link rel="StyleSheet" type="text/css" href="/css/video_page.css">
    {% if sitelocation.css or sitelocation.background %}
    <style type="text/css">
    {{ sitelocation.css }}
    {% if sitelocation.background %}body {
       background: url("{{ sitelocation.background.url }}");
    }{% endif %}
    </style>
    {% endif %}
    <script src="/js/extern/jquery.min.js"
            type="text/javascript">
    </script>
    <script src="/js/extern/jquery.form.js"
            type="text/javascript">
    </script>
    <script src="/js/extern/jquery.corners.js"
            type="text/javascript">
    </script>
    <script src="/js/submit_video.js"
            type="text/javascript">
    </script>
    <script>
    $(document).ready( function(){
  		$('.rounded').corners();
		});
	</script>

    <title>{% block title %}{{ sitelocation.site.name }}{% endblock title %}</title>
    {% block head %}{% endblock head %}
  </head>

  <body id="{% block body_id %}video_page{% endblock body_id %}" class="{% block body_class %}{% endblock %}" onload="add_submit_callback();">
    <div id="wrapper" style="{% block wrapper-style-extra %}{% endblock %}">
      <div id="header">
        <a href="{% url localtv_subsite_index %}">
          <img id="logo" alt="{{ sitelocation.site.name }} Logo" src="{% if sitelocation.logo %}{{ sitelocation.logo.url }}{% else %}/images/logo.gif{% endif %}" />
          <h1 style="text-decoration: none;">
            {{ sitelocation.site.name }}
            <span class="tagline">{{ sitelocation.tagline }}</span>
          </h1>
        </a>

        <ul id="login">
          {% if openid_localtv.url %}
          
          
            {% if openid_localtv.admin_for_current_site %}
            <li>
              <a class="nick show_admin" href="{% url localtv_admin_approve_reject %}">View Admin</a>
              <a class="nick show_main" href="{% url localtv_subsite_index %}">View Main Site</a>
            </li>
            {% endif %}
          {% else %}


          {% endif %}
        </ul>
        
        <ul id="nav">
          <li class="home_page">
            <a href="{% url localtv_subsite_index %}">
              <span>Home</span>
            </a>
          </li>
          <li class="featured">
            <a href="{% url localtv_subsite_list_featured %}">
              <span>Featured</span>
            </a>
          </li>
          <li class="new">
            <a href="{% url localtv_subsite_list_new %}">
              <span>New Videos</span>
            </a>
          </li>
          <li class="popular">
            {# eventually use {% url localtv_subsite_list_popular %} #}
            <a href="{% url localtv_subsite_list_popular %}">
              <span>Popular</span>
            </a>
          </li>
          {% if display_submit_button %}
          <li class="submit">
            <a id="submit_button" href="{% url localtv_submit_video %}">
              <span>Submit A Video</span>
            </a>
          </li>
          {% endif %}
          <li class="about">
            <a href="{% url localtv_about %}">
              <span>About Us</span>
            </a>
          </li>
        </ul>
        
         <form id="search"
              action="{% url localtv_subsite_search %}"
              method="GET">
          <input name="query" type="text" id="search_field" />
          <input type="image" id="searchbutton" src="/images/search.gif" value="submit" />
        </form>

      </div>

      <div id="hover_wrap" class="rounded {5px transparent}">
        <div id="submit_box" >
          <p id="close_submit_box">
            <span>close</span>
          </p>
          <div id="submit_box_content">
          </div>
        </div>
      </div>

      <div id="content">
        {% block content %}
        {% endblock content %}
      </div>

      {% block footer_wrapper %}
        <div id="footer">
          <div class="local_footer">
          {% block footer %}
            
            {% autoescape off %}
            {{ sitelocation.footer_html }}
            {% endautoescape %}
            
            
          {% endblock footer %}
          </div>
          
          <div>
          
			<p class="powered"><span>{{ sitelocation.site.name }} is powered by Miro Community</span>

          {% if openid_localtv.url %}
            <a href="{% url localtv_openid_signout %}?next={{ request.META.PATH_INFO }}">Logout {{ openid_localtv.nickname }}</a>
            {% if openid_localtv.admin_for_current_site %}
           
            {% endif %}
          {% else %}
            <a href="{% url localtv_openid_start %}">Admin Login</a>
          {% endif %}
        </p>
          </div>
        </div>
      {% endblock footer_wrapper %}
    </div>
  </body>
</html>
