{% extends "localtv/subsite/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load filters %}
{% block content %}
{% if category.name %}
<div id="category_sidebar">
  {% if category.logo %}<img src="{{ category.logo.url }}">{% endif %}

  <h1>{{ category.name }}</h1>

  <div>{{ category.description|sanitize }}</div>

</div>
{% endif %}
<div id="category">

  <div id="with-children">
    <ul>
      {% for child in category.child_set.all %}
      {% if child.child_set.count %}
      <li>
        <a href="{{ child.get_absolute_url }}">
          {% if child.logo %}
          <img src="{{ child.logo.url }}">
          {% endif %}
        </a>
        <a href="{{ child.get_absolute_url }}">
          {{ child.name }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    <ul>
  </div>

  <div id="no-children">
    {% for child in category.child_set.all %}
    
    {% if not child.child_set.count %}
    <h2><a href="{{ child.get_absolute_url }}" class="count">{{ child.name }} <span>{{ child.approved_set.count }} Videos &gt;&gt;</span></a></h2>
    <ul>
      {% for video in child.video_set.all|slice:":4" %}
      <li>
        {% include "localtv/subsite/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% endfor %}
  </div>
 
   {% if category.approved_set.count %}
  <div id="individual">
    <h2>Individual {{ category.name }} Videos</h2>
    <ul>
      {% for video in category.approved_set.all %}
      <li>
        {% include "localtv/subsite/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
 

</div>
{% endblock %}
