{% extends "localtv/subsite/base.html" %}

{% block body_id %}home_page{% endblock %}


{% block content %}
  
  
	<div id="slider">
		<div id="slider2">
			<ul>				
				<li>
					<div class="image">
						
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>
				<li>
					<div class="image">
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>			
				<li>
					<div class="image">
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>	
				<li>
					<div class="image">
						
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>
				<li>
					<div class="image">
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>			
				<li>
					<div class="image">
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>
				<li>
					<div class="image">
						
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>
				<li>
					<div class="image">
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>			
				<li>
					<div class="image">
					</div>
				
					<div class="copy">
						<h2>Season Two Kickoff, ES Webisode</h2>
						<span>1 day, 9 hours ago</span>
						<p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
					</div>
					<a href="#" class="watch med_button"><span>Watch</span></a>
				</li>
			</ul>
		</div>		
	</div>


<div class="featured_small_list">

<div id="main_header" class="small">   
      <h2>Featured</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
<div class="video">
  <a href="/video/129/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/129/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>

  <div class="title_desc">
    <h3>
      <a href="/video/129/">
        
          Easy Star All-Stars- Lovely Rita Live (5-15-09)
        
      </a>
    </h3>
        
    
      <p>Easy Star All-Stars Live At The "Middle East" In Cambridge, MA May-15-2009 ... easy star all stars live middle east ma cambridge</p>
    

  </div>
  <p>

    <a href="#">Published on Wed, 20 May 2009 18:06:06 -0500</a>
  </p>
</div>

  
    

<div class="video">
  <a href="/video/128/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/128/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>

  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/128/">
        
          Season Two Kickoff, ES Webisode
        
      </a>
    </h3>
        
    
      <p>Hosts John Herman and Maria Ciampa welcome the teams from Arlington, Cambridge, and Medford Massachusetts, introduce the sponsors, experts, and special guests, describe the journey and explain the rules.</p>
    

  </div>

  <p>
    <a href="#">Published on Wed, 20 May 2009 18:05:27 -0500</a>
  </p>
</div>

  <div class="video">
  <a href="/video/103/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/103/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">

    <h3>
      <a href="/video/103/">
        
          CCTV Hands-On Open House TODAY!
        
      </a>
    </h3>
        
    
      <p>

Today, Sunday, May 10, as part of the Cambridge Open Studios, CCTV s having a fun, educational, and interactive Open House, from noon-6pm, open to all interested in getting to know their local TV station and community media center. The BeLive set will be open, so you can stop by and go on live TV; we'll have a studio shoot in progress that you can watch; in computerCENTRAL you'll be able to learn about web videos and media, and you'll be able to take a tour of our facilities. Read more about the schedule of events and bring your friends, family, and curiosity about TV and media! Hope to see you there!</p>
    

  </div>
  <p>

    <a href="#">Published on Thu, 14 May 2009 18:04:34 -0500</a>
  </p>
</div>
    

<div class="video">
  <a href="/video/127/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/127/142x104.png) no-repeat;" src="/images/vid_overlay.png" />

      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/127/">
        
          Season Two, Cambridge Leadership Council
        
      </a>
    </h3>
        
    
      <p>Cambridge Leadership Council discusses the Energy Smackdown.</p>

    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 18:05:16 -0500</a>
  </p>
</div>

  
    

<div class="video">
  <a href="/video/126/" class="thumbnail">
    <div>

      
        <img style="background: url(/images/default_vid.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/126/">
        
          ?2?az?zjex?vW?j?Bjf???0
9??:
        
      </a>
    </h3>

        
    
      <p>Acid Mothers Temple and the Melting UFO Paraiso. Middle East Upstairs. One of their best performances I've seen. This is one of the songs they seem to play every time I see them. It's a long one, so this is just a clip.</p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 18:05:10 -0500</a>
  </p>
</div>

  </div>
  
  
  <div class="new_small_list">
        <div id="main_header" class="small">   
      <h2>New</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
<div class="video">
  <a href="/video/122/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/122/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">

    <h3>
      <a href="/video/122/">
        
          Harvard University: Cambridge, Massachusetts
        
      </a>
    </h3>
        
    
      <p>My dad took me and my sister to Cambridge,Massachusetts near downtown Boston to visit Harvard University, where I aspire to go to after high school. The campus and Cambridge itself is beautiful, but busy. I like big cities so its perfect for me. The people are actually there to learn and not to party which is me in a nutshell. I really love it there! Pictures of Interest: 0:38-0:53 My sister, Jessica being amazing ^^ 1:14 Jessica and dorky looking me 1:32 Harvard Yard 1:39 Statue of John ...</p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 18:04:56 -0500</a>

  </p>
</div>
<div class="video">
  <a href="/video/119/" class="thumbnail">
    <div>

      
        <img style="background: url(/site_media/localtv/video_thumbs/119/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/119/">
        
          Cambridge Chord Company @EBC2009 contest
        
      </a>
    </h3>

        
    
      <p>Cambridge Chord Company, winning the European Male Chorus Bronze Medal 2009 in the chorus contest of the European Barbershop Convention 2009, singing "Just A Cottage Small" and "New Orleans Medley"</p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 16:20:48 -0500</a>
  </p>
</div>

  
    

<div class="video">
  <a href="/video/118/" class="thumbnail">

    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/118/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/118/">
        
          How Many Light Bulbs? From Cambridge Ideas
        
      </a>

    </h3>
        
    
      <p>Cambridge University physicist, David Mackay, in a passionate, personal analysis of the energy crisis in the UK, in which he comes to some surprising conclusions about the way forward. The film is based on his new book Sustainable Energy without the hot air, in which Prof Mackay has calculated the numbers involved for the alternatives to fossil fuels like coal, gas and oil. He debunks some myths about energy saving - unplugging our phone chargers, does not make any appreciable difference ...</p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 16:19:20 -0500</a>
  </p>
</div>

  
    


<div class="video">
  <a href="/video/106/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/106/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/106/">

        
          Critical Focus Roll-in with Cambridge Teens
        
      </a>
    </h3>
        
    
      <p>

xcerpt of an interview with teens from the Media Technology program at Cambridge Rindge and Latin about media, to be used as roll-in to the second episode of "Critical Focus."</p>
    

  </div>
  <p>
    <a href="#">Published on Thu, 14 May 2009 18:04:35 -0500</a>

  </p>
</div>

  
    

<div class="video">
  <a href="/video/125/" class="thumbnail">

    <div>
      
        <img style="background: url(/images/default_vid.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/125/">
        
          ?2?az?zjex?vW?j?Bjf???0
9??:
        
      </a>

    </h3>
        
    
      <p>Acid Mothers Temple and the Melting UFO Paraiso. Middle East Upstairs. One of their best performances I've seen. This is one of the songs they seem to play every time I see them. It's a long one, so this is just a clip.</p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 18:05:08 -0500</a>
  </p>
</div>

  </div>
  
  
  <div class="popular_small_list">
    <div id="main_header" class="small">   
      <h2>Popular</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>


<div class="video">
  <a href="/video/124/" class="thumbnail">
    <div>
      
        <img style="background: url(/images/default_vid.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/124/">

        
          ?2?az?zjex?vW?j?Bjf???0
9??:
        
      </a>
    </h3>
        
    
      <p>Acid Mothers Temple and the Melting UFO Paraiso. Middle East Upstairs. One of their best performances I've seen. This is one of the songs they seem to play every time I see them. It's a long one, so this is just a clip.</p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 18:05:04 -0500</a>
  </p>

</div>

  
    

<div class="video">
  <a href="/video/123/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/123/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">
    <h3>

      <a href="/video/123/">
        
          Obama&#39;s supporters at Central Square (Cambridge, Massachusetts, USA)
        
      </a>
    </h3>
        
    
      <p></p>
    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 18:05:00 -0500</a>

  </p>
</div>

  
    



  
    

<div class="video">
  <a href="/video/105/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/105/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>
  </a>
  <div class="title_desc">

    <h3>
      <a href="/video/105/">
        
          BLOWW
        
      </a>
    </h3>
        
    
      <p>

Boston League of Women Wrestlers "Battle of the Blondes" at the Middle East Downstairs on October 31, 2006. Feel the pain!</p>
    

  </div>
  <p>

    <a href="#">Published on Thu, 14 May 2009 18:04:35 -0500</a>
  </p>
</div>

  
    

<div class="video">
  <a href="/video/121/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/121/142x104.png) no-repeat;" src="/images/vid_overlay.png" />
      
    </div>

  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/121/">
        
          Sarah Felker Cambridge Songwriter Competition 2009
        
      </a>
    </h3>
        
    
      <p></p>
    

  </div>

  <p>
    <a href="#">Published on Wed, 20 May 2009 16:22:48 -0500</a>
  </p>
</div>

  
    

<div class="video">
  <a href="/video/120/" class="thumbnail">
    <div>
      
        <img style="background: url(/site_media/localtv/video_thumbs/120/142x104.png) no-repeat;" src="/images/vid_overlay.png" />

      
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="/video/120/">
        
          Torquay united fireworks at end of 2009 play off final at wembley
        
      </a>
    </h3>
        
    
      <p>After Torquay United defeated Cambridge 2-0 in the 2009 BSP play off final. They recieved the cup and this is the team behind the blue square boards with fireworks behind them. CONGRATS TORQUAY! ... Torquay "Torquay United" Wembley fireworks "play- off final" "play off final" 2-0 "Cambridge United"</p>

    

  </div>
  <p>
    <a href="#">Published on Wed, 20 May 2009 16:22:16 -0500</a>
  </p>
</div>

  




</div>


  
  <!--
  <div id="main">
    <div id="main_header">   
      <h2>Editor's Picks</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
  
  
    {% for video in featured_videos %}
      {% if forloop.first %}
        {% include "localtv/subsite/video_feature_frontpage.html" %}
      {% else %}
        {% include "localtv/subsite/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}
  <br class="clear" />
  <div id="main_header">
      <h2>Popular in the Last 24 Hours</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_popular %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in popular_videos %}
      {% if forloop.first %}
        {% include "localtv/subsite/video_feature_frontpage.html" %}
      {% else %}
        {% include "localtv/subsite/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}

  </div>
  <div id="sidebar">
    <div id="about">
      {% autoescape off %}
        {{ sitelocation.sidebar_html }}
      {% endautoescape %}
    </div>

    <div id="sidebar_header">   
      <h2>New Videos</h2>
              
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_new %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
    {% for video in new_videos %}
      {% include "localtv/subsite/sidebar_video.html" %}
    {% endfor %}
  </div>

	-->


{% endblock content %}
