{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% extends "localtv/subsite/base.html" %}

{% block body_id %}home_page{% endblock %}


{% block content %}
  <div id="main">
    <div id="main_header">   
      <h2>Editor's Picks</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
  
    {% for video in featured_videos %}
      {% if forloop.first %}
        {% include "localtv/subsite/video_feature_frontpage.html" %}
      {% else %}
        {% include "localtv/subsite/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}
  <br class="clear" />
  <div id="main_header">
      <h2>Popular in the Last 24 Hours</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_popular %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in popular_videos %}
      {% if forloop.first %}
        {% include "localtv/subsite/video_feature_frontpage.html" %}
      {% else %}
        {% include "localtv/subsite/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}

  </div>
  <div id="sidebar">
    <div id="about">
      {% autoescape off %}
        {{ sitelocation.sidebar_html }}
      {% endautoescape %}
    </div>

    <div id="sidebar_header">   
      <h2>New Videos</h2>
              
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_new %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
    {% for video in new_videos %}
      {% include "localtv/subsite/sidebar_video.html" %}
    {% endfor %}
  </div>

{% endblock content %}
