{% extends "localtv/subsite/base.html" %}
{% load versioned %}

{% block body_id %}home_page{% endblock %}
{% block body_class %}scrolling{% endblock %}

{% block head %}
      <script type="text/javascript" src="{% versioned "js/easySlider1.5.js" %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider2").easySlider({
				controlsBefore:	'<p id="controls">',
				controlsAfter:	'</p>',		
				prevId: 'prevBtn2',
				nextId: 'nextBtn2',	
				auto: true,
				pause: 4500,
				controlsFade: true,
				continuous: true
			});			
		});	
	</script>
{% endblock %}

{% block content %}

  <div id="slider_small">
    <div id="slider2">
      <ul>
        {% for video in featured_videos|slice:":3" %}
        <li>
          {% include "localtv/subsite/video_feature_categorized.html" %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="featured_small_list">
    <div id="main_header" class="small">
      <h2>Categories</h2>
      <!-- <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
      -->
    </div>

  <ul class="cat_list">
    {% for category in categories %}
  	<a href="{{ category.get_absolute_url }}" class="top_cat_button"><span>{{ category.name }}</span></a>
        {% if category.child_set.count %}
  		<ul>
                  {% for subcategory in category.child_set.all %}
  			<li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                  {% endfor %}
  		</ul>
        {% endif %}
    {% endfor %}
  </ul>
  
  
  </div>

  <div class="new_small_list">
    <div id="main_header" class="small">
      <h2>New</h2>
      <div class="floatright">
        {% url localtv_subsite_feeds_new as feeds_new %}
        <a href="{{ feeds_new }}" class="rss">RSS</a> |
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ feeds_new|urlencode }}" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in new_videos|slice:":5" %}
      {% include "localtv/subsite/video_listing_individual.html" %}
    {% endfor %}
             	<a href="{% url localtv_subsite_list_new %}" class="med_button clear"><span>More</span></a>

  </div>

  <div class="popular_small_list">
    <div id="main_header" class="small">
      <h2>Popular</h2>
      <div class="floatright">
        {% url localtv_subsite_feeds_popular as feeds_popular %}
        <a href="{{ feeds_popular }}" class="rss">RSS</a> |
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ feeds_popular|urlencode }}" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in popular_videos|slice:":5" %}
      {% include "localtv/subsite/video_listing_individual.html" %}
    {% endfor %}
         	<a href="{% url localtv_subsite_list_popular %}" class="med_button clear"><span>More</span></a>

  </div>
{% endblock content %}



