{% extends "localtv/subsite/base.html" %}

{% block body_id %}home_page{% endblock %}


{% block content %}

  <div id="slider">
    <div id="slider2">
      <ul>

        <!-- localtv demo slider block... edit here -->
        <li>
          <div class="image"
               style="background: url(http://farm1.static.flickr.com/41/98895797_fd2bf897af.jpg?v=0) no-repeat;">
    </div>

    <div class="copy">
      <h2>Cambridge Grocery Stores</h2>
      <span>3 hours ago</span>
      <p>
              A look at the best food shopping in Cambridge.
2A            </p>
    </div>
    <a href="#" class="watch med_button"><span>Watch</span></a>
        </li>
        <!-- localtv demo slider block... end edits here -->

        <li>
    <div class="image">
    </div>

    <div class="copy">
      <h2>Harvard Renovations</h2>
      <span>1 day, 1 hours ago</span>
      <p>Plans to renovate several major Harvard buildings are moving ahead.</p>
    </div>
    <a href="#" class="watch med_button"><span>Watch</span></a>
        </li>
        <li>
          <div class="image"
        style="background: url(http://farm1.static.flickr.com/82/266326206_ae02265241.jpg?v=0) no-repeat;">
      </div>
        <div class="copy">
      <h2>Brass Liberation Orchestra</h2>
      <span>9 hours ago</span>
      <p>Marching bands took to the streets on Sunday.</p>
    </div>
    <a href="#" class="watch med_button"><span>Watch</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="featured_small_list">
    <div id="main_header" class="small">
      <h2>Featured</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in featured_videos %}
      {% include "localtv/subsite/video_listing_individual.html" %}
    {% endfor %}
  </div>

  <div class="new_small_list">
    <div id="main_header" class="small">
      <h2>New</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_new %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in new_videos %}
      {% include "localtv/subsite/video_listing_individual.html" %}
    {% endfor %}
  </div>

  <div class="popular_small_list">
    <div id="main_header" class="small">
      <h2>Popular</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_popular %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in popular_videos %}
      {% include "localtv/subsite/video_listing_individual.html" %}
    {% endfor %}

  </div>



  <!--
  <div id="main">
    <div id="main_header">
      <h2>Editor's Picks</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_featured %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>


    {% for video in featured_videos %}
      {% if forloop.first %}
        {% include "localtv/subsite/video_feature_frontpage.html" %}
      {% else %}
        {% include "localtv/subsite/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}
  <br class="clear" />
  <div id="main_header">
      <h2>Popular in the Last 24 Hours</h2>
      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_popular %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in popular_videos %}
      {% if forloop.first %}
        {% include "localtv/subsite/video_feature_frontpage.html" %}
      {% else %}
        {% include "localtv/subsite/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}

  </div>
  <div id="sidebar">
    <div id="about">
      {% autoescape off %}
        {{ sitelocation.sidebar_html }}
      {% endautoescape %}
    </div>

    <div id="sidebar_header">
      <h2>New Videos</h2>

      <div class="floatright">
        <a href="{% url localtv_subsite_feeds_new %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
    {% for video in new_videos %}
      {% include "localtv/subsite/sidebar_video.html" %}
    {% endfor %}
  </div>

  -->


{% endblock content %}
