{% load i18n localtv_thumbnail %}

<div class="video">
  <a href="{% url localtv_view_video video_id=video.id %}" class="thumbnail">
    <div>
      {% if video.has_thumbnail %}
        <img style="background: url({% get_thumbnail_url video 142 104 %}) no-repeat;" src="/images/vid_overlay.png" />
      {% else %}
        <img style="background: url(/images/default_vid.gif) no-repeat;" src="/images/vid_overlay.png" />
      {% endif %}
    </div>
  </a>
  <div class="title_desc">
    <a href="{% url localtv_view_video video_id=video.id %}">
      {% if video.name %}
        <h3>{{ video.name }}</h3>
      {% else %}
        <h3>{% trans "(no title)" %}</h3>
      {% endif %}
    </a>
      
    {% autoescape off %}
      <p>{{ video.description|striptags }}</p>
    {% endautoescape %}
  </div>
  <p>
    <a href="#">Published {{ video.when_submitted|date:"r" }}</a>
  </p>
</div>
