<div class="video">
  <a href="{{ video.get_absolute_url }}" class="thumbnail">
    <div>
  	<img src="/images/vid_overlay.png" />
    </div>
  </a>
  <div class="title_desc">
    <h3><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></h3>
    <p>
      {{ video.description|striptags }}
    </p>
  </div>
  <p>
    <a href="#">
      Published {% if video.submitter.nickname %}by <span>{{ video.submitter.nickname }}</span> {% endif %}{{ video.when_approved|timesince }}  ago
    </a>
    <a href="#">244 Comments</a>
  </p>
</div>
