{% load i18n localtv_thumbnail filters %}

<div class="video">
  
       <a href="{% url localtv_view_video video_id=video.id %}" class="thumbnail rounded {transparent}" style="background: url({% get_thumbnail_url video 140 110 %}) no-repeat;">
   <img src="/images/vid_overlay.png" /></a>

  <div class="title_desc">
    <a href="{% url localtv_view_video video_id=video.id %}">
      {% if video.name %}
        <h3>{{ video.name }}</h3>
      {% else %}
        <h3>{% trans "(no title)" %}</h3>
      {% endif %}
    </a>
      
    {% autoescape off %}
      <p>{{ video.description|striptags }}</p>
    {% endautoescape %}
  </div>
  <p>
    <a href="#">{% if video.when_published %}Posted{% else %}Submitted{% endif %} {{ video.when|simpletimesince }} ago</a>
  </p>
</div>
