{% load i18n %}

<div class="video">
  <a href="{% url localtv_view_video video_id=video.id %}" class="thumbnail">
    <div>
      <img src="/images/vid_overlay.png" />
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="{% url localtv_view_video video_id=video.id %}">
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>
        
    {% autoescape off %}
      <p>{{ video.description|striptags }}</p>
    {% endautoescape %}

  </div>
  <p>
    <a href="#">Published on {{ video.when_submitted|date:"r" }}</a>
  </p>
</div>
