{% extends "localtv/subsite/base.html" %}

{% load pagetabs %}

{% block content %}
  
  <h2 class="page_title">{% block page_title %}Page Title{% endblock %}</h2>
  
  {% block pagination %}
    <div class="pag">
      {% if page_obj.has_other_pages %}
        <b>Pages</b> {% pagetabs page_obj %}
      {% endif %}
    </div>
  {% endblock pagination %}

  {% for video in video_list %}
    {% include "localtv/subsite/video_listing_individual.html" %}
  {% endfor %}

  {% block pagination2 %}
  <div class="pag bottom">
    {% pagetabs page_obj %}
  </div>
  {% endblock %}

{% endblock content %}
