{% load localtv_thumbnail i18n %}
{% if video.has_thumbnail %}
<a href="{{ video.get_absolute_url }}" class="image" style="background: url({% get_thumbnail_url video 500 281 %}) no-repeat;">
   <img src="/images/play.png" />
</a> 
{% else %}
<a href="{{ video.get_absolute_url }}" class="image" style="background: url(/images/default_vid.gif) no-repeat;">
  <img src="/images/play.png" />
</a>

{% endif %}
<div class="copy">
{% if video.name %}
  <h2>{{ video.name }}</h2>
{% else %}
  <h2>{% trans "(no title)" %}</h2>
{% endif %}
  <span>{{ video.when|timesince }} ago</span>
  <p>{% autoescape off %}{{ video.description|striptags }}{% endautoescape %}</p>
</div>
<a href="{{ video.get_absolute_url }}" class="watch med_button"><span>Watch</span></a>
