{% load i18n %}

<div class="video">
  <a href="{% url localtv_view_video video_id=video.id %}" class="thumbnail">
    <div>
      <img src="/images/vid_overlay.png" />
    </div>
  </a>
  <div class="title_desc">
    <a href="{% url localtv_view_video video_id=video.id %}">
      {% if video.name %}
        <h3>{{ video.name }}</h3>
      {% else %}
        <h3>{% trans "(no title)" %}</h3>
      {% endif %}
    </a>
      
    {% autoescape off %}
      {{ video.description|striptags }}
    {% endautoescape %}
  </div>
  <p>
    <a href="#">Published on {{ video.when_submitted|date:"r" }}</a>
  </p>
</div>
