{% load localtv_thumbnail i18n filters %}
{% if video.has_thumbnail %}
<a href="{{ video.get_absolute_url }}" class="image rounded" style="background: #000 url({% get_thumbnail_url video 375 295 %}) center no-repeat;">
   <img src="/images/play.png" />
</a> 
{% else %}
<a href="{{ video.get_absolute_url }}" class="image rounded" style="background: #fff url(/images/default_big.jpg) center no-repeat;">
  <img src="/images/play.png" />
</a>

{% endif %}
<div class="copy"> 
{% if video.name %}
  <h2><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></h2>
{% else %}
  <h2><a href="{{ video.get_absolute_url }}">{% trans "(no title)" %}</a></h2>
{% endif %}
  <span><a href="{{ video.get_absolute_url }}">{{ video.when|simpletimesince }} ago</a></span>
  <p><a href="{{ video.get_absolute_url }}">{{ video.description|removetags:"iframe title frame frameset object script embed applet meta link body html img table tr td"|safe }}</a></p>
</div>
<a href="{{ video.get_absolute_url }}" class="watch med_button"><span>Watch</span></a>
