{% extends "localtv/subsite/base.html" %}

{% load pagetabs %}

{% block content %}
  {% block pagination %}
    {% if page_obj %}
      <b>Pages:</b> {% pagetabs page_obj %}
    {% endif %}
  {% endblock pagination %}

  {% for video in video_list %}
    {% include "localtv/subsite/video_listing_individual.html" %}
  {% endfor %}

  <p>
    {% if has_previous %}
      <a href="?page={{ previous }}">Previous</a>{% if has_next %} | {% endif %}
    {% endif %}
    {% if has_next %}
      <a href="?page={{ next }}">Next</a>
    {% endif %}
  </p>
{% endblock content %}
