{% load i18n localtv_thumbnail filters %}

<div class="video">

  <a href="{% url localtv_view_video video_id=video.id %}" class="thumbnail rounded {transparent}" style="background: url({% get_thumbnail_url video 140 110 %}) center no-repeat;">
  <img src="/images/vid_overlay.png" /></a>

  <div class="title_desc">
    <h3>
      <a href="{% url localtv_view_video video_id=video.id %}">
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>
    <span class="desc" {% if not video.feed.is_user and not video.user %}style="display: inline;"{% endif %}>
    {% autoescape off %}
    {{ video.description|striptags }}
    {% endautoescape %}
    </span>
  </div>
  <p>
    {% if video.when_published %}Posted{% else %}Submitted{% endif %} {{ video.when|simpletimesince }} ago
  </p>
  <p>
    {% if video.feed.is_user %}
    By <span class="author"><a href="{% url localtv_subsite_list_feed video.feed.pk %}">{{ video.feed.name }}</a></span>
    {% else %}
    {% if video.user %}
    By <span class="author"><a href="{% url localtv_subsite_list_user video.user.username %}">{{ video.user.username }}</a></span>
    {% endif %}
    {% endif %}
  </p>
</div>
