{% load video i18n filters %}
{% if video.name %}
  <h2 class="vid_title"><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></h2>
{% else %}
  <h2 class="vid_title">{% trans "(no title)" %}</h2>
{% endif %}
<span class="date">{{ video.when|simpletimesince }} ago</span>
<div id="video_wrapper">
  {% if video.embed_code %}
  {{ video.embed_code|wmode_transparent }}
  {% else %}
  {% video video.file_url mime_type=video.file_url_mimetype autoplay=0 %}
  {% endif %}
  <img src="{% get_thumbnail_url current_video 534 430 %}" />
</div>
<br />
