{% load localtv_thumbnail i18n filters %}
{% if video.has_thumbnail %}
<a href="{{ video.get_absolute_url }}" class="image rounded" style="background: #fff url({% get_thumbnail_url video 375 295 %}) no-repeat;">
   <img src="/images/play.png" />
</a> 
{% else %}
<a href="{{ video.get_absolute_url }}" class="image rounded" style="background: url(/images/default_big.jpg) no-repeat;">
  <img src="/images/play.png" />
</a>

{% endif %}
<div class="copy">
{% if video.name %}
  <h2>{{ video.name }}</h2>
{% else %}
  <h2>{% trans "(no title)" %}</h2>
{% endif %}
  <span>{{ video.when|simpletimesince }} ago</span>
  <div>{{ video.description|removetags:"iframe title frame frameset object script embed applet meta link body html img table thead th tbody tr td div span"|safe }}</div>
</div>
<a href="{{ video.get_absolute_url }}" class="watch med_button"><span>Watch</span></a>
