{% extends "localtv/subsite/base.html" %}

{% load pagetabs %}

{% block content %}
  
  <h2 class="page_title">{% block page_title %}Page Title{% endblock %}</h2>
  
  {% block pagination %}
    <div class="pag">
      {% if page_obj.has_other_pages %}
        <b>Pages</b> {% pagetabs page_obj %}
      {% endif %}
    </div>
  {% endblock pagination %}

  {% for video in video_list %}
    {% include "localtv/subsite/video_listing_individual.html" %}
  {% endfor %}

  <p class="page_nav">
    {% if has_previous %}
      <a class="previous med_button" href="?page={{ previous }}"><span>Previous</span></a>{% if has_next %}{% endif %}
    {% endif %}
    {% if has_next %}
      <a class="next med_button" href="?page={{ next }}"><span>Next</span></a>
    {% endif %}
  </p>
{% endblock content %}
