{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load video i18n filters localtv_thumbnail %}
{% if video.name %}
  <h2 class="vid_title"><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></h2>
{% else %}
  <h2 class="vid_title">{% trans "(no title)" %}</h2>
{% endif %}
<span class="date">{{ video.when|simpletimesince }} ago</span>
<div id="video_wrapper">
  {% if video.embed_code %}
  {{ video.embed_code|wmode_transparent }}
  {% else %}
  {% video video.file_url mime_type=video.file_url_mimetype autoplay=0 %}
  {% endif %}mode
  <img src="{% get_thumbnail_url video 534 430 %}" />
</div>
<br />
