{% load localtv_thumbnail i18n %}
{% if video.has_thumbnail %}
<a href="{{ video.get_absolute_url }}" class="image" style="background: url({% get_thumbnail_url video 500 281 %}) no-repeat;">
   <img src="/images/play.png" />
</a> 
{% else %}
<a href="{{ video.get_absolute_url }}" class="image" style="background: url(/images/default_vid.gif) no-repeat;">
  <img src="/images/play.png" />
</a>

{% endif %}
<div class="copy">
{% if video.name %}
  <h2><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></h2>
{% else %}
  <h2><a href="{{ video.get_absolute_url }}">{% trans "(no title)" %}</a></h2>
{% endif %}
  <span><a href="{{ video.get_absolute_url }}">{{ video.when|timesince }} ago</a></span>
  <p><a href="{{ video.get_absolute_url }}">{{ video.description }}</a></p>
</div>
<a href="{{ video.get_absolute_url }}" class="watch med_button"><span>Watch</span></a>
