{% extends "localtv/subsite/base.html" %}

{% load video i18n comments filters versioned %}

{% block body_id %}view_video{% endblock %}


{% block title %}{{ block.super }} - {{ current_video.name }}{% endblock %}

{% block head %}
  {% if edit_video_form %}
    <script src="{% versioned "/js/edit_form.js" %}"
            type="text/javascript">
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  {% if edit_video_form %}
    {% include "localtv/subsite/admin/edit_video_form.html" %}
  {% endif %}

  <div id="main">
    <div class="vid_title_wrapper">
      <div class="vid_title{% if edit_video_form %} editable{% endif %}">
        {% if current_video.name %}
        <h2>{{ current_video.name }}</h2>
        {% else %}
        <h2{% trans "(no title)" %}</h2>
        {% endif %}
      </div>
    </div>
    <span class="date{% if edit_video_form %} editable{% endif %}">{{ current_video.when_prefix|title }} {{ current_video.when|simpletimesince }} ago</span>
    {% if current_video.feed.is_user %}
    <span class="byline">Posted by <a href="{{ current_video.feed.webpage }}">{{ current_video.feed.name }}</a> on {{ current_video.feed.is_user }}</span>
    {% endif %}
    <div id="video_wrapper">
        {% if current_video.embed_code %}
        {{ current_video.embed_code|safe }}
        {% else %}
        {% video current_video.file_url mime_type=current_video.file_url_mimetype %}
        {% endif %}
    </div>

    <div class="action">
      <a href="#" id="flag_button" class="med_button">
        <span>Flag Video<img src="{% versioned "/images/arrow_down.png" %}" /></span>
      </a>

      <a href="#" id="share_button" class="med_button">
        <span>Share Video<img src="{% versioned "/images/arrow_down.png" %}" /></span> 
      </a>

      <a href="{{ current_video.website_url }}" id="seperate" class="med_button">
        <span>See video on its original page</span>
      </a>
    </div>

    <div class="description">
      {{ current_video.description|sanitize }}
      {{ description }}
      {% if edit_video_form %}
      <span class="editable">Change Description</span>
      {% endif %}
    </div>

    <div id="tags">
      {% if current_video.categories.count or edit_video_form %}
                		 {% if edit_video_form %} <a href="#add_cat" id="add_cat" class="categories editable"><span>Change Category</span></a>{% endif %}

        
	<div class="floatleft">        
        <h3>Category - </h3>

        <ul>
          {% for category in current_video.categories.all %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li> 
          {% endfor %}
        </ul>
        
	</div>
        
      {% endif %}

      {% if current_video.tags.count or edit_video_form %}
        
        
                 {% if edit_video_form %}<a href="#add_tag" id="add_tag" class="tags editable"><span>Edit Tags</span></a>{% endif %}

        
       <div class="floatleft">        

        <h3>Tags - </h3>

        <ul>
          {% for tag in current_video.tags.all %}
            <li><a href="{% url localtv_subsite_list_tag tag.name %}">{{ tag.name }}</a></li> 
          {% endfor %}
        </ul>
        
        
        </div>
        
        
      {% endif %}
      {% if current_video.authors.count or edit_video_form %}
     
         {% if edit_video_form %}<a href="#add_author" id="add_author" class="authors editable"><span>Add an Author</span></a>{% endif %}

     
     	<div class="floatleft">        

     <h3>Authors - </h3>
      
     
        <ul>
          {% for author in current_video.authors.all %}
            <li><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></li> 
          {% endfor %}
        </ul>
		</div>



      {% endif %}
      {% if user_is_admin %}
  <!--<h3>{{ current_video|pprint }}</h3> -->
  {% if currrent_video.submitter %}<h3>Submitted by <ul><li>{{ current_video.submitter }}</h3>{% endif %}
  {% if current_video.search %}<h3>From search {{ current_video.search }}</h3>{% endif %}
  {% if current_video.feed %}<h3>From feed <a href="{% url localtv_subsite_list_feed current_video.feed.pk %}">{{ current_video.feed }}</a></h3>{% endif %}
  <h3>Website: {{ current_video.website_url|urlize }}</h3>
  {% endif %}
  {% comment %}
      <form id="add_tag">
        <input type="text" class="text_field" />
        <input type="image" id="suggest_tag" src="{% versioned "/images/suggest.png" %}" value="submit" />

        <a href="#" class="log_push">Login to add a tag</a>
      </form>
{% endcomment %}
      <br class="clear" />
    </div>

    <ul id="comments">
      {% get_comment_list for current_video as comments %}
      {% for comment in comments %}
      <li>
        <p>{{ comment }}</p>
        {% if user_is_admin %}
        <div class="comment-moderation">
          <form action="{% url comments-delete comment.id %}" method="post">
            <input type="hidden" name="next" value="{{ request.META.PATH_INFO }}">
            <button type="submit">delete</button>
          </form>
          <form action="{% url comments-spam comment.id %}" method="post">
            <input type="hidden" name="next" value="{{ request.META.PATH_INFO }}">
            <button type="submit">spam</button>
          </form>
        </div>
        {% endif %}
      </li>
      </p>
      {% endfor %}
      <h2>Post a comment</h2>
      {% get_comment_form for current_video as comment_form %}
      <form action="{% comment_form_target %}" method="POST">
        <input type="hidden" name="next" value="{{ current_video.get_absolute_url }}w">
        {% with comment_form as form %}
        {% include "comments/form_base.html" %}
        {% endwith %}
    </div>
  </div>

  <div id="sidebar">
    {% if sitelocation.sidebar_html %}
    <div id="about" class="rounded">
      {% autoescape off %}
        {{ sitelocation.sidebar_html }}
      {% endautoescape %}
    </div>
    {% endif %}
    <div id="sidebar_header">
      {% if category %}
      <h2>{{ category.name }}</h2>
      {% else %}
      <h2>Most Popular</h2>

      <div class="floatright">
        {% url localtv_subsite_feeds_popular as popular_rss %}
        <a href="{{ popular_rss }}" class="rss">RSS</a> |
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ popular_rss|urlencode }}" class="miro-subscribe">Subscribe</a>
      </div>
      {% endif %}
    </div>

    {% for video in popular_videos %}
      {% include "localtv/subsite/sidebar_video.html" %}
    {% endfor %}
  </div>
{% endblock content %}
