{% extends "localtv/subsite/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load video i18n comments filters versioned editable_widget localtv_thumbnail %}

{% block body_id %}view_video{% endblock %}


{% block title %}{{ current_video.name }} - {{ block.super }}{% endblock %}

{% block head %}
  {% if edit_video_form %}
    <script src="{% versioned "/js/new_edit_form.js" %}"
            type="text/javascript">
    </script>
    <script type="text/javascript"
            src="{% versioned "/js/edit_form.js" %}">
    </script>
  {% endif %}
  {% get_comment_form for current_video as comment_form %}
  {% if not sitelocation.comments_required_login or request.user.is_authenticated %}
  {{ comment_form.media }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if edit_video_form %}
    {% include "localtv/subsite/admin/edit_video_form.html" %}
  {% endif %}

  <div id="main">
    <div class="vid_title_wrapper">
      <div class="vid_title">
        {% if user_is_admin %}
        {% editable_widget current_video "name" %}
        {% else %}
        <h2>
        {% if current_video.name %}
        {{ current_video.name }}
        {% else %}
        {% trans "(no title)" %}
        {% endif %}
        </h2>
        {% endif %}
      </div>
    </div>
    <div class="date">
    {% if user_is_admin %}
    {% editable_widget current_video "when_published" %}
    {% else %}
    {% with current_video as instance %}
    {% include "localtv/subsite/display_templates/video_when_published.html" %}
    {% endwith %}
    {% endif %}
    </div>
    <div class="byline">
    {% if user_is_admin %}
      {% editable_widget current_video "authors" %}
    {% else %}
      {% with current_video as instance %}
      {% include "localtv/subsite/display_templates/video_authors.html" %}
      {% endwith %}
    {% endif %}
    </div>
    <div id="video_wrapper">
        {% if current_video.embed_code %}
        {{ current_video.embed_code|wmode_transparent }}
        {% else %}
        {% video current_video.file_url mime_type=current_video.file_url_mimetype %}
        {% endif %}
        <img src="{% get_thumbnail_url current_video 534 430 %}" alt="Background thumbnail for {{ current_video.name }}" />
    </div>

    <div class="action">
      <a href="#" id="flag_button" class="med_button">
        <span>Flag Video<img src="{% versioned "/images/arrow_down.png" %}" alt="Down arrow" /></span>
      </a>

      <a href="#" id="share_button" class="med_button">
        <span>Share Video<img src="{% versioned "/images/arrow_down.png" %}" alt="Down arrow" /></span>
      </a>

      <a href="{{ current_video.website_url }}" id="seperate" class="med_button">
        <span>See video on its original page</span>
      </a>
    </div>

    {% if user_is_admin %}
    {% editable_widget current_video "description" %}
    {% else %}
    <div class="description">
      {{ current_video.description|sanitize }}
    </div>
    {% endif %}
    <div id="tags">
      <ul class="meta_listing">
        <li class="item">
          {% if user_is_admin %}
          {% editable_widget current_video "categories" %}
          {% else %}
            {% with current_video as instance %}
            {% include "localtv/subsite/display_templates/video_categories.html" %}
            {% endwith %}
          {% endif %}
        </li>
        <li class="item">
          {% if user_is_admin %}
          {% editable_widget current_video "tags" %}
          {% else %}
            {% with current_video as instance %}
            {% include "localtv/subsite/display_templates/video_tags.html" %}
            {% endwith %}
          {% endif %}
        </li>
        {% if user_is_admin %}
  <li class="item">
    {% editable_widget current_video "website_url" %}
  </li>
  {% if currrent_video.submitter %}<li class="item"><h3>Submitted by</h3><ul><li> {{ current_video.submitter }}</li></ul></li>{% endif %}
  {% if current_video.search %}<li class="item"><h3>From search</h3><ul><li> {{ current_video.search }}</li</ul></li>>{% endif %}
  {% if current_video.feed %}<li class="item"><h3>From feed</h3<ul><li> <a href="{% url localtv_subsite_list_feed current_video.feed.pk %}">{{ current_video.feed }}</a></li></ul></li>{% endif %}
  {% endif %}
  {% comment %}
      <form id="add_tag">
        <input type="text" class="text_field" />
        <input type="image" id="suggest_tag" src="{% versioned "/images/suggest.png" %}" value="submit" />

        <a href="#" class="log_push">Login to add a tag</a>
      </form>
{% endcomment %}
    </ul>
    <br class="clear" />
    </div>

    {% get_comment_count for current_video as comment_count %}


    {% if comment_count %}<h2 class="comments-title">{{ comment_count }} Comment{{ comment_count|pluralize }}</h2>{% endif %}
    {% get_comment_list for current_video as comments %}
    {% if comments %}
    <ul id="comments">
      {% for comment in comments %}
      <li>
        <div class="comment-poster">
          <h4>{{ comment.user_name }}</h4>
          {% if user_is_admin %}
          <div class="comment-moderation">
            <form action="{% url comments-delete comment.id %}" method="post">
              <input type="hidden" name="next" value="{{ request.META.PATH_INFO }}">
              <button type="submit">delete</button>
            </form>
            <form action="{% url comments-spam comment.id %}" method="post">
              <input type="hidden" name="next" value="{{ request.META.PATH_INFO }}">
              <button type="submit">spam</button>
            </form>
          </div>
          {% endif %}
        </div>
        <div class="comment-body">
          {{ comment.comment|sanitize }}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if not sitelocation.comments_required_login or request.user.is_authenticated %}
    <h2 class="clear post-comment-title">Post a comment</h2>
    {% get_comment_form for current_video as comment_form %}
    <form action="{% comment_form_target %}" method="post">
      {% with comment_form as form %}
      {% include "comments/form_base.html" %}
      {% endwith %}
    </form>
    {% endif %}
  </div>

  <div id="sidebar">
    {% if sitelocation.sidebar_html %}
    <div id="about" class="rounded">
      {% autoescape off %}
        {{ sitelocation.sidebar_html }}
      {% endautoescape %}
    </div>
    {% endif %}
    <div id="sidebar_header">
      {% if category %}
      <h2>{{ category.name }}</h2>
      {% else %}
      <h2>Most Popular</h2>

      <div class="floatright">
        {% url localtv_subsite_feeds_popular as popular_rss %}
        <a href="{{ popular_rss }}" class="rss">RSS</a> |
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ popular_rss|urlencode }}" class="miro-subscribe">Subscribe</a>
      </div>
      {% endif %}
    </div>

    {% for video in popular_videos|slice:":9" %}
      {% include "localtv/subsite/sidebar_video.html" %}
    {% endfor %}
  </div>

{% endblock content %}
