{% comment %}
This template assumes that {{ video_list }} is a list of videos in ranked
order with the first video being #1.
{% endcomment %}

{% load i18n daguerre %}
{% load url from future %}

<ul class="media-grid-4 video-grid">
	{% for video in video_list %}
		<li class="media-item video-grid-item" data-content="
			{% filter force_escape %}
				{% if video.description %}
					<div class="popover-normal-text">
						{{ video.description|safe }}
					</div>
				{% endif %}
				{% with video as instance %}
					<p class="byline">{% include "localtv/_when_published.html" %} {% include "localtv/inline_edit/video_authors.html" %}</p>
				{% endwith %}
			{% endfilter %}
		">
			{% include "localtv/_video_grid_item_inner.html" %}
			<div class="media-item-badge">
				{{ forloop.counter }}
			</div>
		</li>
	{% endfor %}
</ul>