{% load i18n daguerre %}
{% load url from future %}

<ul class="media-grid video-grid">
	{% for video in video_list %}
			{% for contestvideo in video.contestvideo_set.all %}
				<li class="media-item video-grid-item" data-content="
					{% filter force_escape %}
						{% if video.description %}
							<div class="popover-normal-text">
								{{ video.description|safe }}
							</div>
						{% endif %}
						{% with video as instance %}
							<p class="byline">{% include "localtv/_when_published.html" %} {% include "localtv/inline_edit/video_authors.html" %}</p>
						{% endwith %}
					{% endfilter %}
				">
					{% include "localtv/_video_grid_item_inner.html" %}
					{% if contestvideo.contest == contest %}
						{% url "api_dispatch_detail" api_name="v1" resource_name="contestvideo" pk=contestvideo.pk as contestvideo_detail_uri %}
						{% url "api_dispatch_list" api_name="v1" resource_name="contestvote" as contestvote_list_uri %}
						{% url "api_dispatch_detail" api_name="v1" resource_name="user" pk=user.pk as user_detail_uri %}
						<div class="video-contest-vote-widget"
							data-contestvideo-detail-uri="{{ contestvideo_detail_uri }}"
							data-contestvote-list-uri="{{ contestvote_list_uri }}"
							{% if user.is_authenticated %}
								data-user-detail-uri="{{ user_detail_uri }}"
								data-user="{{ user.pk }}"
							{% else %}
								data-login-uri="{{ settings.LOGIN_URL }}?next={{ request.path }}"
							{% endif %}
							data-contestvideo="{{ contestvideo.pk }}"
							data-downvotes="{% if contest.allow_downvotes %}1{% else %}0{% endif %}"
							>
							<div class="message warning">You must have javascript enabled to vote in a contest.</div>
						</div>
					{% endif %}
				</li>
			{% endfor %}
	{% endfor %}
</ul>