{% extends 'localtv/__layouts/100.html' %}

{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load markup i18n uploadtemplate_tags %}
{% load url from future %}

{% block scripts %}
	{{ block.super }}
	<script src="{% get_static_url 'localtv/js/localtv.contests.js' bundled %}"></script>
{% endblock %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% get_static_url 'localtv/stylesheets/localtv.contests.screen.css' bundled %}" media="screen" />
{% endblock %}

{% block precontent %}
	{% if top_videos %}
		<div class="precontent">
			<div class="precontent-header">
				<div class="container">
					<h1>{{ contest.name }}</h1>
				</div>{# /.container #}
			</div>{# /.precontent-header #}
			<div class="precontent-content">
				<div class="container">
					<div class="padded">
							{% with top_videos|slice:"8" as video_list %}
								{% include "contests/_contest_ranked_list.html" %}
							{% endwith %}
							
							<a class="button button-dark button-wide" href="{% url 'localtv_contests_submit_video' pk=contest.pk slug=contest.slug %}">{% blocktrans with name=contest.name %}Submit a video to <span class="name">{{ name }}</span>{% endblocktrans %}</a>
					</div>{# /.padded #}
				</div>{# /.container #}
			</div>{# /.precontent-content #}
		</div>{# /.precontent #}
	{% endif %}{# endif top_videos #}
{% endblock %}

{% block main %}
	{% if not top_videos %}
		<header class="page-header">
			<h1>{{ contest.name }}</h1>
			<ul class="page-actions">
				<li><a href="{% url 'localtv_contests_submit_video' pk=contest.pk slug=contest.slug %}">Submit a Video</a></li>
			</ul>
		</header>
	{% endif %}
	<div class="contest-description padded">
		{{ contest.description|markdown }}
	</div>
	{% if new_videos and random_videos %}
		<div class="contest-videos row">
			<div class="pod col-one-half">
				<header class="pod-header">
					<h1>{% trans "New Videos" %}</h1>
				</header>
				<div class="pod-content">
					{% include "localtv/_grid/video_list.html" with video_list=new_videos|slice:"10" columns=2 %}
				</div>
			</div>
			<div class="pod col-one-half right-sidebar">
				<header class="pod-header">
					<h1>{% trans "Random Videos" %}</h1>
				</header>
				<div class="pod-content">
					{% include "localtv/_grid/video_list.html" with video_list=random_videos|slice:"10" columns=2 %}
				</div>
			</div>
		</div>{# /.row-flexible.contest-videos #}
	{% else %}
		{% if new_videos %}
			<div class="pod">
				<header class="pod-header">
					<h1>{% trans "New Videos" %}</h1>
				</header>
				<div class="pod-content">
					{% include "localtv/_grid/video_list.html" with video_list=new_videos|slice:"10" columns=4 %}
				</div>
			</div>
		{% endif %}
		{% if contest_videos %}
			<div class="pod">
				<header class="pod-header">
					<h1>{% trans "Random Videos" %}</h1>
				</header>
				<div class="pod-content">
					{% include "localtv/_grid/video_list.html" with video_list=random_videos|slice:"10" columns=4 %}
				</div>
			</div>
		{% endif %}
	{% endif %}
	
	<div class="padded">
		<a class="button-wide continue" href="{% url 'contests_contest_listing' pk=contest.pk slug=contest.slug %}">See All Videos</a>
	</div>
{% endblock %}
