{% extends "localtv/__layouts/100.html" %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - Contests{% endblock %}

{% block main %}
	<header class="page-header">
	  <h1 class="page-title">{% trans "Contests" %}</h1>
	</header>
	<div class="padded page-content">
		<div class="pagination upper">
			{% if page_obj.has_other_pages %}
				{% pagetabs page_obj %}
			{% endif %}
		</div>

		{% include "localtv/_grid/contest_list.html" %}

		{% if page_obj.has_other_pages %}
			<div class="pagination lower">
				{% pagetabs page_obj %}
			</div>
		{% endif %}
	</div>
{% endblock %}