{% extends "localtv/__layouts/100.html" %}
{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load pagetabs daguerre i18n static %}

{% block title %}{{ block.super }} - Contests{% endblock %}

{% block main %}
	<header class="page-header">
	  <h1 class="page-title">{% trans "Contests" %}</h1>
	</header>
	<div class="padded page-content">
		<div class="pagination upper">
			{% if page_obj.has_other_pages %}
				{% pagetabs page_obj %}
			{% endif %}
		</div>
		<ul class="grid grid-4">
			{% for contest in contest_list %}
				<li class="grid-item">
					<a class="grid-item-link" href="{{ contest.get_absolute_url }}">
						<figure class="grid-item-figure">
							<div class="tiles-wrapper">
								<div class="tiles-shim">
									<img src="{% static "localtv/front/images/shim_300_216.png" %}" />
								</div>
								{% with videos=contest.videos.all|slice:":6" %}
								<ul class="tiles tiles-{% if videos|length < 2 %}1{% elif videos|length < 6 %}2{% else %}6{% endif %}">
									{% if not videos %}
										<li class="tiles-item">
											<img src="{% static "localtv/front/images/nounproject_2650_television_white.png" %}" />
										</li>
									{% elif videos|length == 1 %}
										{% for video in videos %}
											<li class="tiles-item"><img src="{% adjust video.thumbnail_path width=300 height=216 adjustment="fill" %}" /></li>
										{% endfor %}
									{% elif videos|length < 6 %}
										{% for video in videos %}
											<li class="tiles-item"><img src="{% adjust video.thumbnail_path width=150 height=216 adjustment="fill" %}" /></li>
										{% endfor %}
									{% else %}
										{% for video in videos %}
											<li class="tiles-item"><img src="{% adjust video.thumbnail_path width=100 height=108 adjustment="fill" %}" /></li>
										{% endfor %}
									{% endif %}
								</ul>
								{% endwith %}
							</div>
						</figure>
						<div class='grid-item-content'>
							<header class="grid-item-header">
								<h1>{{ contest.name }}</h1>
								{% with count=contest.videos.count %}
									<p>{{ count }} {% blocktrans count count=count %}video{% plural %}videos{% endblocktrans %}</p>
								{% endwith %}
							</header>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}