.byline {
    width: 100%;
}

#video_wrapper {
    clear: none;
}

#home_page .med_button.clear {
    clear: none;
}

#user_profile .form_container {
    margin-top: 0;
}

.add span, .approve_button span {
    float: left;
}