{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div id="admin_subnav">
 <ul>
   <li><a class="widget" href="{% url localtv_goodies_widget %}"><span>Widget</span></a></li>
   <li><a class="bookmarklet" href="{% url localtv_goodies_bookmarklet %}"><span>Bookmarklet</span></a></li>
   {% if sitelocation.playlists_enabled %}<li><a class="playlists" href="{% url localtv_playlist_index %}"><span>Playlists</span></a></li>{% endif %}
 </ul>
</div>
<br class="clear" />
