{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block body_class %}widgetcreator{% endblock body_class %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Create a Widget" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/widget.css">
<script src="/js/widget.js"></script>
<script type="text/javascript">
var embed_base = "{% filter escapejs %}{% include "localtv/goodies/widget_embed.html" %}{% endfilter %}";

function update_widget() {
    display = $("#widget-display");
    area = $("#widget-code textarea");
    title = $("input[name=title]").val();
    count = $("input[name=count]").val();
    source = $("select[name=source]").val();
    embed = embed_base;
    embed = embed.replace(/TITLE/g, title);
    embed = embed.replace(/COUNT/g, count);
    embed = embed.replace(/SOURCE/g, source);
    area.val(embed);
    $('#widget-example h2').text(title);
    $('#widget-example ul').empty();
    example_widget = new MiroCommunity.Widget({domain: '{{ sitelocation.site.domain }}',
                                               source: source,
                                               count: count
                                              });
    example_widget.id = 'widget-example';
    example_widget.load();
}

$(document).ready(update_widget);
</script>
{% endblock %}
{% block content %}
  <div id="widget-base">
    <h2>Create a Widget to Display on Your Site</h2>
    <div>
      <div id="widget-settings">
        <h2>Pick Your Options</h2>
        <div>
          <label for="count">Title</label>
          <input name="title" value="Watch Videos on {{ sitelocation.site.name }}" />
        </div>
        <div>
          <label for="count">Number of Videos:</label>
          <input name="count" value="4" />
        </div>
        {% comment %}
        <div>
          <label for="thumb_size">Thumbnail Size:</label>
          <select name="thumb_size">
            <option value="small">Small</option>
            <option value="large">Large</option>
          </select>
        </div>
        {% endcomment %}
        <div>
          <label for="source">Video Source:</label>
          <select name="source">
            <option value="new/">New</option>
            <option value="popular/">Popular</option>
            <option value="featured/">Featured</option>
          </select>
        </div>
        {% comment %}
        <div>
          <label for="titles">Show Title:</label>
          <input type="checkbox" selected="selected" name="titles">
        </div>
        <div>
          <label for="titles">Show Description:</label>
          <input type="checkbox" selected="selected" name="titles">
        </div>
        {% endcomment %}
        <button id="widget-submit" type="button" onclick="update_widget();">Update</button>
      </div>
      <div id="widget-code">
        <h2>Widget Code</h2>
        <textarea cols="40" rows="10"></textarea>
      </div>
    </div>
    <div id="widget-display">
      <h2>Preview</h2>
      <div id="widget-example" class="mc-widget">
        <h2>Watch Videos From Miro Community</h2>
        <ul></ul>
        <a class="mc-from" href="http://{{ sitelocation.site.domain }}/">{{ sitelocation.site.domain }}</a>
      </div>
    </div>
  </div>
{% endblock content %}
