{% extends "localtv/admin/list.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}

{% block body_classes %}{{ block.super }} moderation videos queue{% endblock %}


{% block title %}{% trans "Video Review Queue" %} — {% trans "Moderation" %}{{ block.super }}{% endblock %}


{% block content_title %}<h1>{% trans "Video Review Queue" %}</h1>{% endblock %}


{% block content_header_tools %}
  <a class="content-header-tool content-header-tool-rss" href="{# {% url localtv_admin_feed_unapproved_user feed_secret %} #}">Feed of unreviewed user submissions</a>
  <a class="content-header-tool content-header-tool-rss" href="{# {% url localtv_admin_feed_unapproved feed_secret %} #}">Feed of all unreviewed videos</a>
{% endblock %}


{% block content %}
  {% if not object_list %}
    <p>You have no videos that need reviewing.  <a href="{# {% url localtv_admin_manage_page %} #}">Manage your Sources</a> to import YouTube user videos, searches of video sites and other automated sources.</p>
  {% else %}
    <p>Videos here require moderator approval before appearing on the site.</p>

    <form method="post" action="{{ request.path }}">
      {{ formset.management_form }}
      {{ formset.non_form_errors }}

      {{ block.super }}

      <button type="submit">Save all decisions</button>
      <button type="reset">Reset all decisions</button>
    </form>
  {% endif %}
{% endblock %}
