{% extends "localtv/admin/__base.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}

{% block body_classes %}{{ block.super }} moderation videos queue{% endblock %}


{% block title %}{% trans "Review Queue" %} — {% trans "Videos" %} — {{ block.super }}{% endblock %}


{% block content %}
<section>
  <header>
    <h1>Video Review Queue</h1>
    <h2><a class="rss" href="{# {% url localtv_admin_feed_unapproved feed_secret %} #}">Feed of unreviewed videos</a></h2>
    <h2><a class="rss" href="{# {% url localtv_admin_feed_unapproved_user feed_secret %} #}">Feed of unreviewed user submissions</a></h2>
  </header>

  <ul class="messages">
    {% if not paginator.count %}
      <li class="messages-info">You have no videos that need reviewing.  <a href="{# {% url localtv_admin_manage_page %} #}">Manage your Sources</a> to import YouTube user videos, searches of video sites and other automated sources.</li>
    {% else %}
      <li class="messages-info">Videos here require moderator approval before appearing on the site.</li>
    {% endif %}
  </ul>

  {% if paginator.count %}
    {% if page.has_other_pages %}
      {% include "localtv/admin/_pagination.html" %}
    {% endif %}
    <form class="bulk-edit" method="post" action="">
      {% for form in formset.forms %}
        <article>
          {{ form.as_p }}
        </article>
      {% endfor %}
      <button type="submit">Save all changes</button>
    </form>
  {% endif %}
</section>
{% endblock %}
