{% extends 'djam/__base.html' %}

{% load uploadtemplate %}

{% block title %}{{ site_settings.site.name }}{% endblock %}

{% block styles %}
	{{ block.super }}
    {% if site_settings.css %}
        <style type="text/css">
            {{ site_settings.css|safe }}
        </style>
    {% endif %}
    {% if site_settings.background %}
        <style type="text/css">
            body {
                background: url("{{ site_settings.background.url }}") !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block main-outer %}
    <div class='container'>
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}
