{% extends "localtv/__layouts/100.html" %}

{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n pagetabs %}

{% block body_classes %}{{ block.super }} video-list-page{% endblock %}

{% block top %}
	<header class="page-header">
		{% block page_header %}
		<h1>{% block page_title %}Video List{% endblock %}</h1>
		<div class="page-actions">
			<ul class="action-list">
				<li>{% block rss_link %}<a class="rss" href="{% block rss_url %}{% endblock %}" title="{% trans "RSS" %}"><i class="icon-16 icon-16-rss">{% trans "RSS" %}</i></a>{% endblock %}</li>
			</ul>
		</div>
		{% endblock %}
	</header>
{% endblock %}

{% block main %}
	<div class="page-content">
		<div class="padded">
			{% if page_obj.has_other_pages %}
				<div class="pagination upper">
					{% pagetabs page_obj %}
				</div>
			{% endif %}

			{% include "localtv/_grid/video_list.html" %}

			{% if page_obj.has_other_pages %}
				<div class="pagination lower">
					{% pagetabs page_obj %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
