{% extends "localtv/__layouts/100.html" %}

{% load i18n pagetabs %}

{% block body_classes %}{{ block.super }} video-list-page{% endblock %}

{% block main %}

	<header class="page-header">
		<h1>{% block page_title %}Video List{% endblock %}</h1>
		<div class="page-actions">
			<ul class="action-list">
				<li>{% block rss_link %}<a class="rss" href="{% block rss_url %}{% endblock %}" title="{% trans "RSS" %}"><i class="icon-16 icon-16-rss">{% trans "RSS" %}</i></a>{% endblock %}</li>
			</ul>
		</div>
	</header>

	<div class="page-content">
		<div class="padded">
			{% if page_obj.has_other_pages %}
				<div class="pagination upper">
					{% pagetabs page_obj %}
				</div>
			{% endif %}
			
			{% include "localtv/_grid/video_list.html" %}

			{% if page_obj.has_other_pages %}
				<div class="pagination lower">
					{% pagetabs page_obj %}
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock %}