{% load url from future %}
{% load i18n localtv_thumbnail uploadtemplate_tags %}

<a href="{{ localtv_index }}" id="SiteLogo" class="logo-link">
	<img alt="{{ sitelocation.site.name }} Logo" src="{% if sitelocation.logo %}{% get_thumbnail_url sitelocation 130 110 %}{% else %}{% get_static_url 'localtv/images/logo.gif' bundled %}{% endif %}" class="logo-img" />
</a>
<h1 id="SiteTitle">
	<a href="{{ localtv_index }}" class="site-name">
		{{ sitelocation.site.name }}
	</a>
</h1>
<h2 id="SiteTagline">
	{{ sitelocation.tagline|safe }}
</h2>

<form id="search" action="{% url 'localtv_search' %}" method="get">
	<input name="q" type="text" id="search_field" value="{{ query }}"/>
	<button>{% trans 'Search' %}</button>
</form>