{% load url from future %}
{% load i18n localtv_thumbnail uploadtemplate_tags %}

<a href="{{ localtv_index }}" id="SiteLogo" class="logo-link">
	<img alt="{{ site_settings.site.name }} Logo" src="{% if site_settings.logo %}{% get_thumbnail_url site_settings 130 110 %}{% else %}{% get_static_url 'localtv/images/logo.gif' bundled %}{% endif %}" class="logo-img" />
</a>
<h1 id="SiteTitle">
	<a href="{{ localtv_index }}" class="site-name">
		{{ site_settings.site.name }}
	</a>
</h1>
<h2 id="SiteTagline">
	{{ site_settings.tagline|safe }}
</h2>

<form id="search" action="{% url 'localtv_search' %}" method="get">
	<div class="btn-right-controls">
		<input name="q" type="text" id="search_field" value="{{ query }}"/>
		<button class="btn-right">{% trans 'Search' %}</button>
	</div>
</form>