{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load url from future %}

{% load i18n %}

<ul class="navigation-list">
	<li class="nav-item nav-about">
		<a href="{% url 'localtv_about' %}">{% trans 'About' %}</a>
	</li>
	{% if site_settings.display_submit_button %}
		<li class="nav-item nav-submit">
			<a href="{% url 'localtv_submit_video' %}">{% trans 'Submit' %}</a>
		</li>
	{% endif %}
	{% if browse_modules %}
		<li class="nav-item nav-item-dropdown">
			<a href="#">{% trans "Browse" %}</a>
			<div class="dropdown-box browse-box">
				{% for module in browse_modules %}
					{% include module %}
				{% endfor %}
			</div>
		</li>
	{% else %}
		<li class="nav-item">
			<a href="{% url 'localtv_list_new' %}">{% trans "All Videos" %}</a>
		</li>
	{% endif %}
	{% if request.user.is_authenticated %}
		<li class="nav-item nav-item-dropdown nav-auth">
			<a href="#">{% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}{{ request.user }}{% endif %}</a>
			<ul class="dropdown-list">
				<li class="footer-nav-item">
					<a href="{% url 'localtv_user_profile' %}">{% trans 'Your Profile' %}</a>
				</li>
				{% if user_is_admin %}
					<li class="nav-admin">
						<a href="{% url 'localtv_admin_index' %}">{% trans 'Admin' %}</a>
					</li>
				{% endif %}
				<li class="nav-logout">
					<a href="{{ settings.LOGOUT_URL }}?next={{ request.META.PATH_INFO }}">{% trans 'Logout' %}</a>
				</li>
			</ul>
		</li>
	{% else %}{# if not request.user.is_authentication #}
		<li class="nav-item nav-login">
			<a href="{{ settings.LOGIN_URL }}?next={{ request.META.PATH_INFO }}">{% trans 'Login' %}</a>
		</li>
	{% endif %}
</ul>