{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load url from future %}

{% load i18n %}

{% if site_settings.footer_html %}
	<div class="local-footer">
		{% autoescape off %}{{ site_settings.footer_html }}{% endautoescape %}
	</div>
{% endif %}
<div class="miro-footer">
	<p>{% blocktrans with site_name=site_settings.site.name %}{{ site_name }} is powered by <a href="http://www.mirocommunity.org">Miro Community</a>{% endblocktrans %}</p>
</div>
<nav class="footer-nav">
	<ul>
		<li class="footer-nav-item">
			<a href="{% url 'localtv_index' %}">{% trans 'Home' %}</a>
		</li>
		{% if request.user.is_authenticated %}
			<li class="footer-nav-item">
				<a href="{% url 'localtv_user_profile' %}">{% trans 'Your Profile' %}</a>
			</li>
		{% endif %}
		<li class="footer-nav-item">
			<a href="{% url 'localtv_goodies_widget' %}">{% trans 'Goodies' %}</a>
		</li>
		<li class="footer-nav-item">
			{% if request.user.is_authenticated %}
				<a href="{{ settings.LOGOUT_URL }}?next={{ request.META.PATH_INFO }}">{% trans 'Logout' %}</a>
			{% else %}
				<a href="{{ settings.LOGIN_URL }}?next={{ request.META.PATH_INFO }}">{% trans 'Login' %}</a>
			{% endif %}
		</li>
	</ul>
</nav>