{% load i18n pagetabs %}

{% if page_obj.has_other_pages %}
	<div class="pagination upper">
			{% pagetabs page_obj %}
	</div>
{% endif %}

<div class="video-list-wrapper">
	{% for video in video_list %}
		{% if forloop.first %}
			<ul class="media-grid video-grid">
		{% endif %}
		{% include "localtv/_video_grid_item.html" %}
		{% if forloop.last %}
			</ul>
		{% endif %}
	{% empty %}
		<div class="message warning">
			<p>{% trans "No videos have been added yet." %}</p>
		</div>
	{% endfor %}
</div>

{% if page_obj.has_other_pages %}
	<div class="pagination lower">
		{% pagetabs page_obj %}
	</div>
{% endif %}