{% load daguerre static %}

<a href="{{ video.get_absolute_url }}" class="popover-trigger" data-content="
	{% filter force_escape %}
		{% if video.description %}
			<div class="popover-normal-text">
				{{ video.description|safe }}
			</div>
		{% endif %}
		{% with video as instance %}
			<p class="byline">{% include "localtv/_when_published.html" %} {% include "localtv/inline_edit/video_authors.html" %}</p>
		{% endwith %}
	{% endfilter %}
">
	<span  class="video-thumb-wrapper">
		{% adjust video.thumbnail_file.name width=300 height=216 adjustment="fill" as image %}
		{% if image %}
			<img src="{{ image }}" />
		{% else %}
			<img src="{% static "localtv/front/images/nounproject_2650_television_white.png" %}" />
		{% endif %}
	</span>
</a>
	
<div class="video-summary-details">
	<h3><a href="{{ video.get_absolute_url }}" class="title-link">{{ video.name }}</a></h3>
	<a href="{{ video.get_absolute_url }}" class="timestamp-link quiet">{% include "localtv/_when_published.html" with instance=video %}</a>
</div>