{% extends "localtv/__base.html" %}
{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n uploadtemplate_tags daguerre %}

{% block title %}{{ block.super }} - {% trans "About" %}{% endblock %}

{% block body_id %}about_page{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-one-half">
			<div class="pod">
				<header class="pod-header">
					<h1 class="pod-title">{% trans "About" %}</h1>
				</header>
				<div class="pod-content">
					{% if site_settings.logo %}
						<figure class="figure-left">
							<img class="logo" alt="{{ site_settings.site.name }} Logo" src="{% if site_settings.logo %}{% adjust site_settings.thumbnail_path width=480 height=160 adjustment="fit" %}{% else %}{% endif %}" />
						</figure>
					{% endif %}
					{% autoescape off %}
						{{ site_settings.about_html }}
					{% endautoescape %}
				</div>
			</div>{# /.pod #}
		</div>{# /.col-one-half #}
		<div class="col-one-half">
			<div class="pod">
				<header class="pod-header">
					<h1 class="pod-title">{% trans "Powered by Miro Community" %}</h1>
				</header>
				<div class="pod-content">
					<figure class="figure-left">
						<img class="logo" alt="Miro Community logo" src="http://www.mirocommunity.org/images/mc_logo.png" width="422" height="65"/>
					</figure>
					<p>
						{% blocktrans %}
							<a href="http://www.mirocommunity.org">Miro Community</a> is an easy open source video curation platform. Anyone can quickly embed, organize and display videos from around the internet. <a href="http://mirocommunity.org/signup/">Get started now</a>&#8212;it&#8217;s free and takes less than a minute.
						{% endblocktrans %}
					</p>
					<p>
						{% blocktrans %}
							Miro Community is developed by the <a href="http://pculture.org">Participatory Culture Foundation</a>.
						{% endblocktrans %}
					</p>
				</div>
			</div>{# /.pod #}
		</div>{# /.col-one-half #}
	</div>{# /.row #}
{% endblock %}
