{% extends "localtv/__layouts/100.html" %}

{% load url from future %}
{% load pagetabs %}

{% block title %}{{ block.super }} - Users{% endblock %}

{% block body_classes %}{{ block.super }} author-list-page{% endblock %}

{% block main %}
	<header class="page-header">
		<h1 class="page-title">Authors</h1>
	</header>
	<div class="padded page-content">
		<div class="pagination upper">
			{% if page_obj.has_other_pages %}
				{% pagetabs page_obj %}
			{% endif %}
		</div>

		{% include "localtv/_grid/author_list.html" %}

		<div class="pagination lower">
			{% if page_obj.has_other_pages %}
				{% pagetabs page_obj %}
			{% endif %}
		</div>
	</div>
{% endblock %}