{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load filters pagetabs %}
{% block content %}
<div id="author_sidebar">
  <div id="author_info">
    {% if author.get_profile.logo %}<img src="{{ author.get_profile.logo.url }}">{% endif %}
    <h1>{% if author.first_name %}{{ author.get_full_name }} ({{ author.username }}){% else %}{{ author.username }}{% endif %}</h1>
    <a class="rss" href="{% url localtv_feeds_author author.pk %}">RSS</a>
    {% if author.get_profile.location %}<div id="location">{{ author.get_profile.location }}</div>{% endif %}
    {% if author.get_profile.website %}<div id="link"><a href="{{ author.get_profile.website }}">{{ author.get_profile.website }}</a></div>{% endif %}
    <div>{{ author.get_profile.description|sanitize }}</div>
  </div>
</div>
<div class="pag">
  {% if page_obj.has_other_pages %}
  <b>Pages</b>
  {% pagetabs page_obj %}
  {% endif %}
</div>

<div id="author_videos">
  <ul>
    {% for video in video_list %}
    <li>
      {% include "localtv/video_listing_individual.html" %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
