{% extends "localtv/video/__list.html" %}
{% load daguerre filters pagetabs %}
{% load url from future %}

{% block title %}{% if author.first_name %}{{ author.get_full_name }} ({{ author.username }}){% else %}{{ author.username }}{% endif %} – {{ block.super }}{% endblock %}

{% block pre-list %}
  {% adjust author.get_profile.logo "fit" width=300 height=500 as profile_image %}
  <div class='row'>
    <ul class='thumbnails span3'>
      <li{% if not profile_image %} class='span3'{% endif %}><a class='thumbnail{% if not profile_image %} thumbnail-icon{% endif %}' href='{{ author.get_absolute_url }}'>{% if profile_image %}<img class='img-polaroid' src="{{ profile_image }}" height="{{ profile_image.height }}" width="{{ profile_image.width }}" />{% else %}<i class='icon-user'></i>{% endif %}</a></li>
    </ul>

    <div class='span9'>
      <dl class="dl-horizontal">
        {% if author.get_profile.location %}
          <dt>Location</dt>
          <dd>{{ author.get_profile.location }}</dd>
        {% endif %}
        {% if author.get_profile.website %}
          <dt>Website</dt>
          <dd><a href="{{ author.get_profile.website }}">{{ author.get_profile.website }}</a></dd>
        {% endif %}
      </dl>

      <div>{{ author.get_profile.description|sanitize }}</div>
    </div>
  </div>
{% endblock %}

{% block page_title %}{% if author.first_name %}{{ author.get_full_name }} ({{ author.username }}){% else %}{{ author.username }}{% endif %}{% endblock %}

{% block rss_url %}{% url 'localtv_feeds_author' author.pk %}{% endblock %}

{% block video %}
  <li class='span3'>{% include 'localtv/video/_thumbnail.html' with sorter=video.when|simpletimesince|add:" ago" %}</li>
{% endblock %}
