{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load uploadtemplate_tags localtv_thumbnail %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  {% block top %}{% endblock %}
  {% if not request.is_ajax %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="StyleSheet" type="text/css" href="{% get_static_url 'localtv/css/reset.css' %}" />
    <link rel="StyleSheet" type="text/css" href="{% get_static_url 'localtv/css/lights-on.css' %}" />
    <link rel="StyleSheet" type="text/css" href="{% get_static_url 'localtv/css/overlay.css' %}" />
<!--[if lt IE 8]>
   <link rel="StyleSheet" type="text/css" href="{% get_static_url 'localtv/css/msie7.css' %}" />
<![endif]-->
    {% if sitelocation.css or sitelocation.background %}
    <style type="text/css">
    {{ sitelocation.get_css_for_display_if_permitted|safe }}
    {% if sitelocation.background %}body {
       background: url("{{ sitelocation.background.url }}") !important;
    }{% endif %}
    </style>
    {% endif %}
    <script src="{% get_static_url 'localtv/js/extern/jquery.tools-1.2.4.min.js' %}" type="text/javascript"></script>
    <script src="{% get_static_url 'localtv/js/extern/jquery.form.js' %}"
            type="text/javascript">
    </script>
    <script src="{% get_static_url 'localtv/js/miro_community.js' %}?version={{ mc_version }}"
            type="text/javascript">
    </script>
    <title>{% block title %}{{ sitelocation.site.name }}{% if sitelocation.tagline %} - {{ sitelocation.tagline }}{% endif %}{% endblock title %}</title>
    {% block head %}
    <meta name="description" content="{% if sitelocation.about_html|striptags %}{{ sitelocation.about_html|striptags }}{% else %}A Video Community for {{ sitelocation.site.name }}{% endif %}">
    {% if sitelocation.has_thumbnail %}<link rel="image_src" href="{% get_thumbnail_url sitelocation 130 110 %}" />{% endif %}
    {% endblock head %}
  </head>
  {% endif %}
  <body id="{% block body_id %}video_page{% endblock body_id %}" class="{% block body_class %}{% endblock %}">
    {% block next_link %}<a id="next" href="{{ request.path }}"></a>{% endblock %}
    {% if not request.is_ajax %}
    <p class="help">Need help setting up your site or getting a certain feature working? Ask us, we'd love to help.  Email the support team: <a href="mailto:questions@mirocommunity.org">questions@mirocommunity.org</a></p>
    <div id="wrapper" style="{% block wrapper-style-extra %}{% endblock %}">
      <div id="header">
        <div id="logo">
          {% url localtv_index as localtv_index %}
          <a href="{{ localtv_index }}">
            <img alt="{{ sitelocation.site.name }} Logo" src="{% if sitelocation.logo %}{{ sitelocation.logo.url }}{% else %}{% get_static_url 'localtv/images/logo.gif' %}{% endif %}" />
          </a>
          <h1 style="text-decoration: none;">
            <a href="{{ localtv_index }}">
              <span class="name">{{ sitelocation.site.name }}</span>
            </a>
            <span class="tagline">{{ sitelocation.tagline|safe }}</span>
          </h1>
        </div>
        {% if user_is_admin %}
        <a class="nick show_main med_button" href="{{ localtv_index }}"><span>View Main Site</span></a>
        {% endif %}

        {% block nav %}
         <form id="search"
              action="{% url localtv_search %}"
              method="get">
          <input name="q" type="text" id="search_field" value="{{ query }}"/>
          <input type="image" id="searchbutton" src="{% get_static_url 'localtv/images/search.png' %}" alt="Search" />
        </form>
        <ul id="nav">
          <li class="home_page">
            <a href="{{ localtv_index }}">
              <span>Home</span>
            </a>
          </li>
          <li class="featured">
            <a href="{% url localtv_list_featured %}">
              <span>Featured</span>
            </a>
          </li>
          <li class="new">
            <a href="{% url localtv_list_new %}">
              <span>New Videos</span>
            </a>
          </li>
          {% if categories %}
          <li class="categories">
            <a href="{% url localtv_category_index %}"><span>Categories</span></a>
	        <ul>
	            {% for category in categories %}
	            <li>
	               <a href="{{ category.get_absolute_url }}">
	                   <div class="bg"></div>
	                   <div class="text">{{ category }}</div>
	               </a>
	            </li>
	            
	            {% if forloop.last %}
	                {% if not categories|length|divisibleby:"3" %}
	                    {% if not categories|length|add:"1"|divisibleby:"3" %}
	                        <li>&nbsp;</li>
	                        <li>&nbsp;</li>
	                    {% else %}
	                        <li>&nbsp;</li>
	                    {% endif %}
	                {% endif %}
	            {% endif %}
	            {% endfor %}
	        </ul>
	  </li>
	  {% endif %}
          <li class="popular">
            <a href="{% url localtv_list_popular %}">
              <span>Popular</span>
            </a>
          </li>
          {% if sitelocation.display_submit_button %}
          <li class="submit">
            <a rel="#overlay" href="{% url localtv_submit_video %}">
              <span>Submit A Video</span>
            </a>
          </li>
          {% endif %}
          <li class="about">
            <a href="{% url localtv_about %}">
              <span>About Us</span>
            </a>
          </li>
        </ul>
      {% endblock %}
      {% if user_is_admin %}
      <a class="nick show_admin med_button" href="{% url localtv_admin_index %}"><span>View Admin</span></a>
      {% endif %}

      </div>
      <div id="content">
      {% endif %}
     
        {% block content %}
        
        
        {% endblock content %}

      {% if not request.is_ajax %}
      </div>
    </div>
      {% block footer_wrapper %}
        <div id="footer">
          {% if sitelocation.footer_html %}
          <div class="local_footer">
          {% block footer %}
            
            {% autoescape off %}
            {{ sitelocation.footer_html }}
            {% endautoescape %}
            
            
          {% endblock footer %}
          </div>
          {% endif %}
          <div>
            
            <div class="powered">
              <span>{{ sitelocation.site.name }} is powered by <a href="http://www.mirocommunity.org">Miro Community</a></span>
              <ul id="footer_links">
                <li><a href="{% url localtv_index %}">Home</a></li>
                {% if request.user.is_authenticated %}<li><a href="{% url localtv_user_profile %}">Your Profile</a><li>{% endif %}
                <li><a href="{% url localtv_goodies_widget %}">Goodies</a></li>
                <li>
          {% if request.user.is_authenticated %}
            <a href="{{ settings.LOGOUT_URL }}?next={{ request.META.PATH_INFO }}">Logout {{ request.user.username }}</a>
          {% else %}
            <a href="{{ settings.LOGIN_URL }}?next={{ request.META.PATH_INFO }}" rel="#overlay" title="Please Sign In">Login</a>
          {% endif %}
                </li>
              </ul>
          </div>
        </div>
      </div>

{% endblock footer_wrapper %}

<!-- overlayed element -->
<div class="overlay" id="overlay">
  <!-- the external content is loaded inside this tag -->
  <div class="contentWrap"></div>
</div>

      <div id="load-indicator">
        <img alt="Loading..." src="{% get_static_url 'localtv/images/load-indicator.gif' %}" />
      </div>

    {% if settings.GOOGLE_ANALYTICS_UA %}
    <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ?
  "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
      var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_UA }}");
      {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
      pageTracker._setDomainName(".{{ settings.GOOGLE_ANALYTICS_DOMAIN }}");
      {% endif %}
      pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}
  {% endif %}
  </body>
</html>
