{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load versioned %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {% if not request.is_ajax %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="StyleSheet" type="text/css" href="{% versioned "/css/reset.css" %}" />
    <link rel="StyleSheet" type="text/css" href="{% versioned "/css/lights-on.css" %}" />
    <link rel="StyleSheet" type="text/css" href="{% versioned "/css/video_page.css" %}" />
    <link rel="StyleSheet" type="text/css" href="{% versioned "/css/tb.css" %}" />
<!--[if lt IE 8]>
   <link rel="StyleSheet" type="text/css" href="{% versioned "/css/msie7.css" %}" />
<![endif]-->
    {% if sitelocation.css or sitelocation.background %}
    <style type="text/css">
    {{ sitelocation.css|safe }}
    {% if sitelocation.background %}body {
       background: url("{{ sitelocation.background.url }}");
    }{% endif %}
    </style>
    {% endif %}
    <script src="{% versioned "/js/extern/jquery.min.js" %}"
            type="text/javascript">
    </script>
    <script src="{% versioned "/js/extern/jquery.form.js" %}"
            type="text/javascript">
    </script>
    <script src="{% versioned "/js/extern/jquery.corners.js" %}"
            type="text/javascript">
    </script>
    <script type="text/javascript">
        if (!$.browser.msie) {
            $(document).ready( function(){
  		$('.rounded').corners();
	    });
        }
    </script>
    <script src="{% versioned "/js/extern/jquery.tb.min.js" %}"
            type="text/javascript">
    </script>
    <script src="{% versioned "/js/submit_video.js" %}"
            type="text/javascript">
    </script>
    <script type="text/javascript">

	/*
	Clear default form value script- by JavaScriptKit.com
	Featured on JavaScript Kit (http://javascriptkit.com)
	Visit javascriptkit.com for 400+ free scripts!
	*/

	function clearText(thefield){
	if (thefield.defaultValue==thefield.value)
	thefield.value = ""
	} 
	</script>

    <title>{% block title %}{{ sitelocation.site.name }}{% endblock title %}</title>
    {% block head %}{% endblock head %}
  </head>
  {% endif %}
  <body id="{% block body_id %}video_page{% endblock body_id %}" class="{% block body_class %}{% endblock %}" onload="add_submit_callback();">
    {% if not request.is_ajax %}
    <p class="help">Need help setting up your site or getting a certain feature working? Ask us, we'd love to help.  Email Anne Jonas: <a href="mailto:anne@pculture.org">anne@pculture.org</a></p>

    <div id="wrapper" style="{% block wrapper-style-extra %}{% endblock %}">
      <div id="header">
        <div id="logo">
          {% url localtv_index as localtv_index %}
          <a href="{{ localtv_index }}">
            <img alt="{{ sitelocation.site.name }} Logo" src="{% if sitelocation.logo %}{{ sitelocation.logo.url }}{% else %}{% versioned "/images/logo.gif" %}{% endif %}" />
          </a>
          <h1 style="text-decoration: none;">
            <a href="{{ localtv_index }}">
              <span class="name">{{ sitelocation.site.name }}</span>
            </a>
            <span class="tagline">{{ sitelocation.tagline|safe }}</span>
          </h1>
        </div>
        {% if user_is_admin %}
        <ul class="login">
          <li>
            <a class="nick show_main med_button" href="{{ localtv_index }}"><span>View Main Site</span></a>
          </li>
        </ul>
        {% endif %}

        {% block nav %}
         <form id="search"
              action="{% url localtv_search %}"
              method="get">
          <input name="query" type="text" id="search_field" />
          <input type="image" id="searchbutton" src="{% versioned "/images/search.png" %}" value="submit" />
        </form>
        <ul id="nav">
          <li class="home_page">
            <a href="{{ localtv_index }}">
              <span>Home</span>
            </a>
          </li>
          <li class="featured">
            <a href="{% url localtv_list_featured %}">
              <span>Featured</span>
            </a>
          </li>
          <li class="new">
            <a href="{% url localtv_list_new %}">
              <span>New Videos</span>
            </a>
          </li>
          <li class="popular">
            <a href="{% url localtv_list_popular %}">
              <span>Popular</span>
            </a>
          </li>
          {% if display_submit_button %}
          <li class="submit">
            <a id="submit_button" href="{% url localtv_submit_video %}">
              <span>Submit A Video</span>
            </a>
          </li>
          {% endif %}
          <li class="about">
            <a href="{% url localtv_about %}">
              <span>About Us</span>
            </a>
          </li>
        </ul>
      {% endblock %}
      {% if user_is_admin %}
      <ul class="login">
        <li>
          <a class="nick show_admin med_button" href="{% url localtv_admin_approve_reject %}"><span>View Admin</span></a>
        </li>
      </ul>
      {% endif %}

      </div>

      <div id="hover_wrap" class="rounded {5px transparent}">
        <div id="submit_box" >
          <div id="submit_box_content">
          </div>
        </div>
      </div>
      {% endif %}
      <div id="content">
     
        {% block content %}
        
        
        {% endblock content %}

        
      </div>
      {% if not request.is_ajax %}
    </div>
      {% block footer_wrapper %}
        <div id="footer">
          <div class="local_footer">
          {% block footer %}
            
            {% autoescape off %}
            {{ sitelocation.footer_html }}
            {% endautoescape %}
            
            
          {% endblock footer %}
          </div>
          
          <div>
          
			<p class="powered"><span>{{ sitelocation.site.name }} is powered by <a href="http://www.mirocommunity.org">Miro Community</a></span>

          {% if request.user.is_authenticated %}
            <a href="{{ settings.LOGOUT_URL }}?next={{ request.META.PATH_INFO }}">Logout {{ request.user.username }}</a>
          {% else %}
            <a href="{{ settings.LOGIN_URL }}?next={{ request.META.PATH_INFO }}&amp;height=450&amp;width=450&amp;modal=true" class="thickbox" title="Please Sign In">Login</a>
          {% endif %}
        </p>
          </div>
        </div>
      {% endblock footer_wrapper %}
    {% if settings.GOOGLE_ANALYTICS_UA %}
    <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ?
  "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
      var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_UA }}");
      {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
      pageTracker._setDomainName(".{{ settings.GOOGLE_ANALYTICS_DOMAIN }}");
      {% endif %}
      pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}
  {% endif %}
  </body>
</html>
