{% extends "localtv/video/__list.html" %}
{% load i18n daguerre pagetabs filters %}
{% load url from future %}

{% block title %}{{ category.name }} – {{ block.super }}{% endblock %}

{% block page_title %}{{ category.name }}{% endblock %}

{% block rss_url %}{% url 'localtv_feeds_category' category.slug %}{% endblock %}

{% block pre-list %}
  {% adjust category.logo "fit" width=300 height=500 as logo %}
  <div class='row'>
    <div class='span3'>
      <ul class='thumbnails'>
        <li{% if not logo %} class='span3'{% endif %}><a class='thumbnail{% if not logo %} thumbnail-icon{% endif %}' href='{{ author.get_absolute_url }}'>{% if logo %}<img src="{{ logo }}" height="{{ logo.height }}" width="{{ logo.width }}" />{% else %}<i class='icon-sitemap'></i>{% endif %}</a></li>
      </ul>
    </div>

    <div class='span9'>
      <div>{{ category.description|safe }}</div>
      {% with child_set=category.child_set.all %}
        {% if child_set %}
          <ul class='nav nav-pills'>
            <li><span class='nav-header-item'>{% trans "Subcategories" %}</span></li>
            {% for subcat in child_set %}
              <li><a href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <hr />
{% endblock %}

{% block video %}
  <li class='span3'>{% include 'localtv/video/_thumbnail.html' with sorter=video.when|simpletimesince|add:" ago" %}</li>
{% endblock %}
