{% extends "localtv/__layouts/100.html" %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - Categories{% endblock %}

{% block main %}
	<header class="page-header">
	  <h1 class="page-title">{% trans "Categories" %}</h1>
	</header>
	<div class="padded page-content">
		<div class="pagination upper">
			{% if page_obj.has_other_pages %}
				{% pagetabs page_obj %}
			{% endif %}
		</div>

		{% include "localtv/_grid/category_list.html" %}

		<div class="pagination lower">
			{% if page_obj.has_other_pages %}
				{% pagetabs page_obj %}
			{% endif %}
		</div>
	</div>
{% endblock %}