{% extends "localtv/__base.html" %}
{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">{{ category.name }}</h1>
		<div class="page-actions">
			<ul class="action-list">
				<li><a class="rss" href="{% url localtv_feeds_category category.slug %}">RSS</a></li>
			</ul>
		</div>
	</header>
	<div class="row">
		<div class="col-two-thirds">
			<div class="content-box">
				{% include "localtv/_video_summary_list.html" %}
			</div>{# /.content-box #}
		</div>{# /.col-two-thirds #}
		<div class="col-one-third">
			<div class="content-box">
				{% if category.logo %}<img src="{{ category.logo.url }}">{% endif %}
				{{ category.description|safe }}
			</div>{# /.content-box #}
			{% with child_set=category.child_set.all %}
				{% if child_set %}
					<div class="pod">
						<header class="pod-header">
							<h1 class="pod-title">{% trans "Subcategories" %}</h1>
						</header>
						<div class="pod-content">
							<ul class="category-list">
								{% for subcat in child_set %}
									<li>
										<a title="{{ subcat.name }}" href="{{ subcat.get_absolute_url }}"><span>{{ subcat.name }}</span></a>
										{% with subcat_child_set=subcat.child_set.all %}
											{% if subcat_child_set %}
												<ul>
													{% for subsubcat in subcat_child_set %}
														<li><a href="{{ subsubcat.get_absolute_url }}">{{ subsubcat.name }}</a></li>
													{% endfor %}
												</ul>
											{% endif %}
										{% endwith %}
									</li>
								{% endfor %}
							</ul>
						</div>{# /.pod-content #}
					</div>{# /.pod #}
				{% endif %}
			{% endwith %}
		</div>{# /.col-one-third #}
	</div>{# /.row #}
{% endblock %}