{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block body_id %}home_page{% endblock %}


{% block content %}
  <div id="main">
    <div id="main_header">   
      <a href="{% url localtv_list_featured %}"><h2>Editor's Picks</h2></a>
      <div class="floatright">
        {% url localtv_feeds_featured as featured_rss%}
        <a href="{{ featured_rss }}" class="rss">RSS</a> |
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ featured_rss|urlencode }}" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
  
    {% for video in featured_videos|slice:":10" %}
      {% if forloop.first %}
        {% include "localtv/video_feature.html" %}
      {% else %}
        {% include "localtv/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}
  <br class="clear" /> 
  <div id="main_header">
      <a href="{% url localtv_list_popular %}"><h2>Popular in the Last 24 Hours</h2></a>
      <div class="floatright">
        <a href="{% url localtv_feeds_popular %}" class="rss">RSS</a> |
        <a href="#" class="miro-subscribe">Subscribe</a>
      </div>
    </div>

    {% for video in popular_videos|slice:":10" %}
      {% if forloop.first %}
        {% include "localtv/video_feature.html" %}
      {% else %}
        {% include "localtv/video_listing_individual.html" %}
      {% endif %}
    {% endfor %}

  </div>

  <div id="sidebar">
    {% if sitelocation.sidebar_html %}
    <div id="about" class="rounded {transparent}">
      {% autoescape off %}
        {{ sitelocation.sidebar_html }}
      {% endautoescape %}
    </div>
    {% endif %}

    <div id="sidebar_header">   
      <a href="{% url localtv_list_new %}"><h2>New Videos</h2></a>
              
      <div class="floatright">
        {% url localtv_feeds_new as new_rss%}
        <a href="{{ new_rss }}" class="rss">RSS</a> |
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ new_rss|urlencode }}" class="miro-subscribe">Subscribe</a>
      </div>
    </div>
    {% for video in new_videos|slice:":10" %}
      {% include "localtv/sidebar_video.html" %}
    {% endfor %}
  </div>

{% endblock content %}



