<ul class="pagetabs">
  {% for pagesection in pagesections %}
    {% for page in pagesection %}
      <li {% if page.number == selected_page.number %}
            class="selected"
          {% endif %}>
        <a href="{{ pagetabs_url }}?{% if pagetabs_args %}{{ pagetabs_args }}&amp;{% endif %}page={{ page.number }}">
          <span>{{ page.number }}</span></a>
      </li>
    {% endfor %}
    {% if not forloop.last %}
      <li class="ellipse"><span>...</span></li>
    {% endif %}
  {% endfor %}
</ul>