{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n localtv_thumbnail filters uploadtemplate_tags %}

<div class="video">
  <a href="{{ video.get_absolute_url }}" class="thumbnail rounded {transparent}" style="background: url({% get_thumbnail_url video 140 110 %}) center no-repeat;">
  <img src="{% get_static_url 'localtv/images/vid_overlay.png' %}" alt="Thumbnail for {{ video.name }}"/></a>
  <div class="title_desc">
    <h3><a href="{{ video.get_absolute_url }}">
      {% if video.name %}
      {{ video.name }}
      {% else %}
      {% trans "(no title)" %}
      {% endif %}
    </a>
    </h3>
    {% autoescape off %}
      <p>{{ video.description|striptags }}</p>
    {% endautoescape %}
  </div>
  <p>
    <a href="{{ video.get_absolute_url }}">{{ video.when_prefix|title }} {{ video.when|simpletimesince }} ago</a>
  </p>
</div>
