{% extends "localtv/__base.html" %}

{% load uploadtemplate i18n %}{% load url from future %}

{% block title %}{% trans "Submit a Video" %} – {{ block.super }}{% endblock %}

{% block main %}
  <div class='row'>
    <div class='col-sm-6 col-xs-12'>
      <h2>{% trans "Submit a Video" %}</h2>

      <form action="{% url 'localtv_submit_video' %}" method='post'>{% csrf_token %}
        {% if form.own_duplicate or form.other_duplicate %}
          <div class='alert'>
            <p>{% if form.own_duplicate %}
              You already submitted a <a href="{{ form.own_duplicate.get_absolute_url }}">similar video</a>.
            {% else %}
              It look a <a href="{{ form.duplicate_video.get_absolute_url }}">similar video</a> already exists on the site.
            {% endif %}

            You can still submit this video by checking the box below.</p>

            <label class='checkbox' for="id_submit_duplicate"><input type='checkbox' name='submit_duplicate' id="id_submit_duplicate"> <strong>Yes, I want to submit a duplicate video.</strong></label>
          </div>
        {% endif %}
        <div class='input-group{% if form.url.errors %} has-error{% endif %}'>
          <input class='col-xs-5 form-control' type='url' name='url'{% if form.url.value %} value="{{ form.url.value }}"{% endif %} placeholder='Enter video URL' />
          <span class='input-group-btn'>
            <button class='btn btn-success'>{% trans "Submit" %}</button>
          </span>
        </div>
        {% for error in form.url.errors %}
          <span class='help-block'><span class='text-error'>{{ error }}</span></span>
        {% endfor %}
        {% if form.fields.email %}
          <input class='col-xs-5 form-control' type='email' name='email' placeholder='Email{% if not form.fields.email.required %} (optional){% endif %}'{% if form.fields.email.required %} required{% endif %}{% if form.email.value %} value="{{ form.email.value }}"{% endif %}>
        {% endif %}
      </form>
    </div>
    <div class='col-sm-6 col-xs-12 clearfix'>
      <h3>Tips</h3>
      <ul>
        <li>Miro Community automatically imports metadata for video URLs from a variety of video sites, including <a href='http://youtube.com'>YouTube</a>, <a href='http://vimeo.com'>Vimeo</a>, and <a href='http://blip.tv'>blip.tv</a>. Just submit the URL for the video page: <code>http://www.youtube.com/watch?v=wuGbLY-l930</code></li>
        <li>If Miro Community doesn't know how to handle your video automatically, you can also manually enter <code>&lt;embed&gt;</code> code for the video during the submission process.</li>
        <li>The URL can also be a video file: <code>http://www.ted.com/clips.mov</code></li>
      </ul>
    </div>
  </div>
{% endblock %}
