{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail i18n filters uploadtemplate_tags %}
{% if video.has_thumbnail %}
<a href="{{ video.get_absolute_url }}" class="image rounded" style="background: #000 url({% get_thumbnail_url video 375 295 %}) no-repeat;">
   <img src="{% get_static_url "/images/play.png" %}" />
</a> 
{% else %}
<a href="{{ video.get_absolute_url }}" class="image rounded" style="background: #fff url({% get_static_url "/images/default_big.jpg" %}) center -50px no-repeat;">
  <img src="{% get_static_url "/images/play.png" %}" />
</a>

{% endif %}
<div class="copy"> 
{% if video.name %}
  <h2><a href="{{ video.get_absolute_url }}" title="{{ video.name }}">{{ video.name }}</a></h2>
{% else %}
  <h2><a href="{{ video.get_absolute_url }}">{% trans "(no title)" %}</a></h2>
{% endif %}
  <span>
    {{ video.when_prefix|title }} {{ video.when|simpletimesince }} ago
    {% if video.authors.count %}
    by {% for user in video.authors.all %}<span class="author"><a href="{% url localtv_author user.pk %}">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</a></span>{% if not forloop.last %}, {% endif %}{% endfor %}
    {% else %}
    {% if video.video_service %}
    by <span class="author">{% if video.feed %}<a href="{{ video.feed.webpage }}">{{ video.feed.name }}</a>{% else %}<a href="{{ video.video_service_url }}">{{ video.video_service_user }}</a>{% endif %}</span>
    {% else %}
    {% if video.user %}
    by <span class="author"><a href="{% url localtv_author video.user.pk %}">{% if video.user.first_name %}{{ video.user.first_name }} {{ video.user.last_name }}{% else %}{{ video.user.username }}{% endif %}</a></span>
    {% endif %}
    {% endif %}
    {% endif %}

  </span>
  <div>
      {{ video.description|sanitize }}</div>
</div>
<a href="{{ video.get_absolute_url }}" class="watch med_button"><span>Watch</span></a>
