{% extends "localtv/__video_list.html" %}

{% load filters i18n %}

{% block title %}{{ block.super }} - {% trans "Playlist" %}: {{ playlist.name }}{% endblock %}

{% block body_classes %}{{ block.super }} playlist-videos{% endblock %}

{% block rss_url %}{% url localtv_feeds_playlist playlist.pk %}{% endblock %}

{% block page_title %}{% trans "Playlist" %}: {{ playlist.name }}{% if playlist.status != 2 %} <span class="private">(<a href="{% url localtv_playlist_index %}">{% trans 'private' %}</a>)</span>{% endif %}{% endblock %}

{% block page_header %}
	{{ block.super }}
	{% if playlist.description %}
		<div class="playlist-description">
			{{ playlist.description|sanitize }}
		</div>
	{% endif %}
{% endblock %}
