{% extends "localtv/__video_list.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Search" %}{% endblock %}

{% block body_classes %}{{ block.super }} search-results{% endblock %}

{% block page_title %}{% blocktrans with query=query %}Search Results for {{ query }}{% endblocktrans %}{% endblock %}

{% block rss_link %}{% if query %}{{ block.super }}{% endif %}{% endblock %}

{% block rss_url %}{% url localtv_feeds_search query %}{% if request.GET.sort == 'latest' %}?sort=latest{% endif %}{% endblock %}

{% block content %}
	{% if not video_list %}
		<h2>{% trans "Sorry, we could not find any videos matching that query." %}</h2>
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}