{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}



{% block body_class %}incomingvids{% endblock body_class %}
{% block next_link%}{% endblock %}
{% load pagetabs i18n %}

{% block title %}{{ block.super }} - {% trans "Confirm Vote" %}{% endblock %}

{% block content %}
    <h1>Are you sure you want to {% if direction == "clear" %}undo your vote{% else %}vote{% endif %} for {{ video }}</h1>
    <br class="clear" />
    <form method="POST" action="{% url localtv_video_vote video.pk direction %}">{% csrf_token %}
      <button class="approve_button" name="confirm" value="yes"><span>Yes, {% if direction == "clear" %}Clear{% else %}Vote{% endif %}</span></button>
      <a class="reject_button" href="{{ video.get_absolute_url }}"><span>Cancel</span></a>
    </form>
{% endblock content %}
