{% extends "localtv/__video_list.html" %}

{% load filters i18n %}

{% block title %}{{ block.super }} - {% trans "Playlist" %}: {{ playlist.name }}{% endblock %}

{% block body_classes %}{{ block.super }} playlist-videos{% endblock %}

{% block rss_url %}{% url localtv_feeds_playlist playlist.pk %}{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">{% trans "Playlist" %}: {{ playlist.name }}{% if playlist.status != 2 %} <span class="private">(<a href="{% url localtv_playlist_index %}">{% trans 'private' %}</a>)</span>{% endif %}</h1>
	</header>
	<div class="page-content padded">
		{% if playlist.description %}
			<div class="playlist-description">
				{{ playlist.description|sanitize }}
			</div>
			{% include "localtv/_video_grid_list.html" with columns=4 %}
		{% endif %}
	</div>
{% endblock %}
