{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load pagetabs %}

{% block content %}
  
  <h2 class="page_title">{% block page_title %}Page Title{% endblock %}</h2>
  
  {% block pagination %}
    <div class="pag">
      {% if page_obj.has_other_pages %}
        <b>Pages</b> {% pagetabs page_obj %}
      {% endif %}
    </div>
  {% endblock pagination %}

  {% for video in video_list %}
    {% include "localtv/video_listing_individual.html" %}
  {% endfor %}

  {% block pagination2 %}
  <div class="pag bottom">
    {% pagetabs page_obj %}
  </div>
  {% endblock %}

{% endblock content %}
