{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n localtv_thumbnail filters uploadtemplate_tags %}

<div class="video">

  <a href="{{ video.get_absolute_url }}{{ video_url_extra }}" class="thumbnail" style="background: url({% get_thumbnail_url video 140 110 %}) center no-repeat;">
  <img src="{% get_static_url 'localtv/images/vid_overlay.png' %}" /></a>

  <div class="title_desc">
    <h3>
      <a href="{{ video.get_absolute_url }}{{ video_url_extra }}" title="{{ video.name }}">
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>
    <span class="desc">
    {% autoescape off %}
    {{ video.description|sanitize:"whitelist|a br p|href" }}
    {% endautoescape %}
    </span>
  </div>
  <p>
    {% if is_featured_video %}
    Featured {{ video.last_featured|simpletimesince }} ago
    {% else %}
    {{ video.when_prefix|title }} {{ video.when|simpletimesince }} ago
    {% endif %}
  </p>
  <p>
    {% with authors=video.authors.all %}
    {% if authors %}
    By {% for user in authors %}
    <span class="author"><a href="{% url localtv_author user.pk %}" title="{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}">{% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</a></span>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    {% if video.feed %}
    By <span class="author"><a href="{% url localtv_list_feed video.feed.pk %}" title="{{ video.feed.name }}">{{ video.feed.name }}</a></span>
    {% endif %}
    {% endif %}
    {% endwith %}
  </p>
</div>
