{% extends "localtv/__base.html" %}
{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load video i18n comments filters uploadtemplate_tags editable_widget localtv_thumbnail cache video_list email_share_tags %}

{% block body_classes %}{{ block.super }} video-detail{% endblock %}

{% block title %}{{ current_video.name }} - {{ block.super }}{% endblock %}

{% block head %}
	{% if user_is_admin %}
		{% include "localtv/inline_edit/header.html" %}
	{% endif %}
	{% get_comment_form for current_video as comment_form %}
	{% if comment_form.fields.captcha %}
		<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
		<script type="text/javascript">
			function recaptcha_ajax_callback() {
				Recaptcha.create("{{ settings.RECAPTCHA_PUBLIC_KEY }}", "recaptcha_ajax_field", {})
			}
		</script>
	{% endif %}
	<script type="text/javascript" src="{% get_static_url 'localtv/js/extern/jquery.form.js' bundled %}?version={{ mc_version }}"></script>
	<script type="text/javascript" src="{% get_static_url 'localtv/js/comment.js' bundled %}?version={{ mc_version }}"></script>
	{% if playlistitem_set or playlists or user_is_admin and sitelocation.playlists_enabled or request.user.is_authenticated and sitelocation.playlists_enabled == 1 %}<script type="text/javascript" src="{% get_static_url 'localtv/js/playlist.js' bundled %}?version={{ mc_version }}"></script>{% endif %}
	{% include "localtv/_video_meta.html" %}
	{% if current_video.video_service %}
		<style type="text/css">
			.video_wrapper embed, .video_wrapper object, .video_wrapper video .video_wrapper div.djvideo-flowplayer {
				width: 100%;
				height: 430px;
				margin: 0 auto;
			}
		</style>
	{% endif %}
{% endblock %}

{% block pre_content %}
	<section class="video-full">
		<div class="container">
			<section class="video-player">
				{% if current_video.embed_code %}
					{{ current_video.embed_code|wmode_transparent }}
				{% else %}
					{% get_thumbnail_url current_video 534 430 as video_thumbnail %}
					{% video current_video.file_url mime_type=current_video.file_url_mimetype width=534 height=430 autoplay=0 poster=video_thumbnail %}
					{% if current_video.file_url_mimetype|is_ogg_media %}
						<p class="help">
							{% blocktrans %}
								This video displays best with a browser that supports the HTML5 &lt;video&gt; tag &mdash; if you're having trouble viewing it, try the <a href="http://www.mozilla.com/firefox/">Firefox</a> browser.
							{% endblocktrans %}
						</p>
					{% endif %}
				{% endif %}
			</section>{# /.video-player #}
			<section class="video-details">
				<header class="video-header">
					<h1>
						{% if current_video.name %}
							{{ current_video.name }}
						{% else %}
							{% trans "(no title)" %}
						{% endif %}
					</h1>
				</header>{# /.video-header #}
				<div class="video-description">
					<p>{{ current_video.description|sanitize }}</p>
				</div>{# /.video-description #}
				<div class="details-list">
					<li class="when">
						{% if user_is_admin %}
							{% editable_widget current_video "when_published" %}
						{% else %}
							{% with current_video as instance %}
								{% include "localtv/inline_edit/video_when_published.html" %}
							{% endwith %}
						{% endif %}
					</li>
					<li class="authors">
						{% if user_is_admin %}
							{% editable_widget current_video "authors" %}
						{% else %}
							{% with current_video as instance %}
								{% include "localtv/inline_edit/video_authors.html" %}
							{% endwith %}
						{% endif %}
					</li>
				</div>{# /.details-list #}
			</section>{# /.video-details #}
		</div>{# /.container #}
	</section>{# /.video-stage #}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-two-thirds">
			{% get_comment_list for current_video as comments %}
			{% if comments %}
				<div class="comments pod">
					{% get_comment_count for current_video as comment_count %}
					<header class="pod-header">
						{% if comment_count %}<h1 class="pod-title comments-count">{{ comment_count }} {% blocktrans %}Comment{{ comment_count|pluralize }}{% endblocktrans %}</h1>{% endif %}
					</header>
					<div class="pod-content">
						<ul class="comments-list">
							{% for comment in comments %}
								<li class="comment">
									<div class="comment-poster">
										<h4 id="c{{ comment.id }}">{% if comment.user %}<a href="{% url localtv_author comment.user.pk %}">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %}</h4>
										<span>{{ comment.submit_date|date:"F j, Y," }}<br/> {{ comment.submit_date|date:"g:i a T" }}</span>
										{% if user_is_admin %}
											<div class="comment-moderation">
												<form action="{% url comments-delete comment.id %}" method="post">{% csrf_token %}
													<input type="hidden" name="next" value="{{ request.META.PATH_INFO }}">
													<button type="submit">{% trans "delete" %}</button>
												</form>
												<form action="{% url comments-spam comment.id %}" method="post">{% csrf_token %}
													<input type="hidden" name="next" value="{{ request.META.PATH_INFO }}">
													<button type="submit">{% trans "spam" %}</button>
												</form>
											</div>
										{% endif %}
									</div>
									<div class="comment-body">
										{{ comment.comment|sanitize }}
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>{# /.comments.pod #}
			{% endif %}{# endif comments #}
			{% if not sitelocation.comments_required_login or request.user.is_authenticated %}
				{% get_comment_form for current_video as comment_form %}
				<div class="pod">
					<header class="pod-header">
						<h1 class="pod-title">{% trans "Post a comment" %}</h1>
					</header>
					<div class="pod-content">
						<form class="comments-form" action="{% comment_form_target %}" method="post">{% csrf_token %}
						{% with comment_form as form %}
								{% include "localtv/_form_inner.html" %}
								<footer class="form-actions">
									<button>Submit</button>
								</footer>
						{% endwith %}
						</form>{# /.comments-form #}
					</div>
				</div>{# /.pod #}
			{% endif %}
		</div>{# /.col-two-thirds #}
		<aside class="col-one-third right">
			<section class="pod video-share">
				<header class="pod-header">
					<h1 class="pod-title">{% trans "Share This Video" %}</h1>
				</header>
				<div class="pod-content">
					<ul class="share_links">
						<li><a class="facebook" name="fb_share" type="icon_link" href="http://www.facebook.com/sharer.php">{% trans "Post to Facebook" %}</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></li>
						<li><a href="{% get_email_share_url_for current_video %}" rel="#overlay" class="email">{% trans "Email to Friends" %}</a></li>
						<li><a href="https://twitter.com/?status={% filter urlencode %}I'm watching {{ current_video.name|slice:":47" }}{% ifnotequal current_video.name current_video.name|slice:":47" %}...{% endifnotequal %} on {{ sitelocation.site.name }}: http://{{sitelocation.site.domain }}{% url localtv_view_video video_id=current_video.pk slug="" %}{% endfilter %}" target="_blank" class="twitter">{% trans "Tweet this Video" %}</a></li>
						{% if current_video.file_url %}
							<li><a href="{{ current_video.file_url }}" class="download">{% trans "Download Video File" %}</a></li>
						{% endif %}
					</ul>
				</div>{# /.pod-content #}
			</section>{# /.pod.video-share #}
			<section class="pod video-extra-details">
				<header class="pod-header">
					<h1 class="pod-title">{% trans "Details" %}</h1>
				</header>
				<div class="pod-content">
					{% if user_is_admin or current_video.categories %}
						<li class="item">
							{% if user_is_admin %}
								{% editable_widget current_video "categories" %}
							{% else %}
								{% with current_video as instance %}
									{% include "localtv/inline_edit/video_categories.html" %}
								{% endwith %}
							{% endif %}
						</li>
					{% endif %}
					{% if user_is_admin or current_video.tags %}
						<li class="item">
							{% if user_is_admin %}
								{% editable_widget current_video "tags" %}
							{% else %}
								{% with current_video as instance %}
									{% include "localtv/inline_edit/video_tags.html" %}
								{% endwith %}
							{% endif %}
						</li>
					{% endif %}
					{% if user_is_admin %}
						<li class="item">{% editable_widget current_video "website_url" %}</li>
						{% if current_video.submitter %}<li class="item"><h4>{% trans "Submitted by" %}</h4><ul><li> {{ current_video.submitter }}</li></ul></li>{% endif %}
						{% if current_video.search %}<li class="item"><h4>{% trans "From search" %}</h4><ul><li> {{ current_video.search }}</li></ul></li>{% endif %}
						{% if current_video.feed %}<li class="item"><h4>{% trans "From feed" %}</h4><ul><li> <a href="{% url localtv_list_feed current_video.feed.pk %}">{{ current_video.feed }}</a></li></ul></li>{% endif %}
						{% if current_video.contact %}<li class="item"><h4>{% trans "Contact" %}</h4><ul><li> {{ current_video.contact }}</li></ul></li>{% endif %}
						{% if current_video.notes %}<li class="item"><h4>{% trans "Notes" %}</h4><ul><li> {{ current_video.notes }}</li></ul></li>{% endif %}
					{% endif %}
				</div>
			</section>{# /.pod.video-extra-details #}
			<section class="pod video-playlists">
				<header class="pod-header">
					<h1 class="pod-title">{% trans "Playlists"%}</h1>
				</header>
				<div class="pod-content">
					{# TODO: I c/p'd all of the following playlist code from the previous template. Go through later and see what's really necessary. - Harris, 11 Feb 2012 #}
					{% if sitelocation.playlists_enabled %}
						{% if playlistitem %}
							<div class="sidebar_header">
								<h2>{% blocktrans with num=playlistitem.index count=playlistitem.playlist.items.count %}This video is number {{ num }} (of {{ count }}) in the playlist{% endblocktrans %}</h2>
							</div>
							<h3 class="playlist_title"><a href="{{ playlistitem.playlist.get_absolute_url }}">{{ playlistitem.playlist.name }}</a>{% if playlistitem.playlist.status != 2%} <span class="private">(<a href="{% url localtv_playlist_index %}">{% trans "private" %}</a>)</span>{% endif %}</h3>
							<div class="playlist_thumbs">
								{% for sibling in playlistitem.get_two_from_order %}
									<a href="{{ sibling.video.get_absolute_url }}?playlist={{ playlistitem.playlist.pk }}" style="float: {% if forloop.first %}left{% else %}right{% endif %};">
										<span class="thumb_number">{{ sibling.index }}</span>
										<img src="{% get_thumbnail_url sibling.video 140 110 %}"/>
										<div class="thumb_title">{{ sibling.video.name }}</div>
									</a>
								{% endfor %}
							</div>
						{% endif %}
						{# The logic I want is 'if can make playlists or (items and (not playlist or more than 1 item))' #}
						{% if user_is_admin and sitelocation.playlists_enabled or request.user.is_authenticated and sitelocation.playlists_enabled == 1 or playlistitem_set %}
							{% if user_is_admin and sitelocation.playlists_enabled or request.user.is_authenticated and sitelocation.playlists_enabled == 1 or playlistitem_set|length != 1 or not playlistitem %}
								{% if not playlistitem or playlistitem_set|length > 1 %}
									<div class="sidebar_header">
										<h2>{% if playlistitem %}{% trans "Other playlists that include this video" %}{% else %}{% trans "Playlists" %}{% endif %}</h2>
									</div>
								{% endif %}
								<div id="playlists">
									<div>
										<ul>
											{% for item in playlistitem_set %}
												{% if item != playlistitem %}
													<li>
														<div class="playlist_title">
															<a href="{{ item.playlist.get_absolute_url }}">{{ item.playlist.name }}</a>{% if item.playlist.status != 2%} <span class="private">(<a href="{% url localtv_playlist_index %}">{% trans "private" %}</a>)</span>{% endif %}
															{% with item.playlist.video_set.count as count %}<span class="playlist_count"><a href="{{ item.playlist.get_absolute_url }}">({{ count }} {% blocktrans %}video{{ count|pluralize }}{% endblocktrans %})</a></span>{% endwith %}
														</div>
														<div class="playlist_thumbs">
															{% for sibling in item.get_two_from_order %}
																<a href="{{ sibling.video.get_absolute_url }}?playlist={{ item.playlist.pk }}" style="float: {% if forloop.first %}left{% else %}right{% endif %};">
																	<span class="thumb_number">{{ sibling.index }}</span>
																	<img src="{% get_thumbnail_url sibling.video 140 110 %}"/>
																	<div class="thumb_title">{{ sibling.video.name }}</div>
																</a>
															{% endfor %}
														</div>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							{% endif %}
							{% if user_is_admin and sitelocation.playlists_enabled or request.user.is_authenticated and sitelocation.playlists_enabled == 1 %}
								<form method="POST" action="{% url localtv_playlist_add_video current_video.pk%}">{% csrf_token %}
									<select name="playlist" id="id_playlist">
										<option value="">{% trans "Add video to your playlist" %}</option>
										{% for playlist in playlists %}
											{% if playlist not in current_video.playlists.all %}<option value="{{ playlist.pk }}">{{ playlist.name }}</option>{% endif %}
										{% endfor %}
										{# <option value="new">New playlist...</option> #}
									</select>
									<input type="submit" value="Add"/>
								</form>
								<form method="POST" action="{% url localtv_playlist_index %}"> {% csrf_token %}
									<input type="text" name="name" />
									<input type="hidden" name="video" value="{{ current_video.pk }}">
									<input type="submit" value="Add New Playlist">
								</form>
							{% endif %}
						{% endif %}
					{% endif %}
					{# End c/p'd code. - Harris, 11 Feb 2012#}
				</div>
			</section>
		</aside>{# /.col-one-third.right #}
	</div>
{% endblock content %}
