{% extends "localtv/__base.html" %}
{% comment %}
Copyright 2012 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load video i18n comments filters uploadtemplate_tags editable_widget localtv_thumbnail cache video_list email_share_tags daguerre %}
{% load url from future %}

{% block body_classes %}{{ block.super }} video-detail{% endblock %}

{% block title %}{{ current_video.name }} - {{ block.super }}{% endblock %}

{% block head %}
	{{ block.super }}
	{% include "localtv/_video_meta.html" %}
{% endblock %}

{% block pre_content %}
	<section class="video-full precontent">
		<header class="video-detail-header precontent-header">
			<div class="container">
				<h1 class="title">
					{% if current_video.name %}
						{{ current_video.name }}
					{% else %}
						{% trans "(no title)" %}
					{% endif %}
				</h1>
				<h2 class="colophon">
					{% with current_video as instance %}
						{% include "localtv/_when_published.html" %} by {% include "localtv/inline_edit/video_authors.html" %}
					{% endwith %}
				</h2>
			</div>
		</header>
		<div class="precontent-content">
			<div class="container video-player">
				{% if current_video.embed_code %}
					{{ current_video.embed_code|wmode_transparent }}
				{% else %}
					{% get_thumbnail_url current_video 534 430 as video_thumbnail %}
					{% video current_video.file_url mime_type=current_video.file_url_mimetype width=534 height=430 autoplay=0 poster=video_thumbnail %}
					{% if current_video.file_url_mimetype|is_ogg_media %}
						<p class="help">
							{% blocktrans %}
								This video displays best with a browser that supports the HTML5 &lt;video&gt; tag &mdash; if you're having trouble viewing it, try the <a href="http://www.mozilla.com/firefox/">Firefox</a> browser.
							{% endblocktrans %}
						</p>
					{% endif %}
				{% endif %}
			</div>{# /.container #}
		</div>{# /.precontent-content #}
	</section>{# /.video-stage #}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-two-thirds">
			<div class="social-media-share">
				<ul class="social-link-list">
					<li>
						<div class="fb-like" data-send="false" data-layout="button_count" data-width="70" data-show-faces="false"></div>
					</li>
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ request.build_absolute_uri }}">Tweet</a>
					</li>
					<li>
						<g:plusone size="medium"></g:plusone>
					</li>
					<li>
						<a href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|iriencode }}&amp;media={% filter iriencode %}{% adjust current_video.thumbnail_url adjustment="fit" width=600 %}{% endfilter %}&amp;description={{ current_video.name|iriencode }}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
					</li>
					<li><a href="{% get_email_share_url_for current_video %}" rel="#overlay" class="email">{% trans "Email" %}</a></li>
					{% if current_video.file_url %}
						<li><a href="{{ current_video.file_url }}" class="download">{% trans "Download Video File" %}</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="content-box">
				<section class="video-details">
					{{ current_video.description|safe }}
					<div class="extra-details">
						{% if current_video.categories.count > 0 %}
							<div class="video-full-categories compact">
								{% with current_video as instance %}
									{% include "localtv/inline_edit/video_categories.html" %}
								{% endwith %}
							</div>{# /.video-full-categories #}
						{% endif %}
						{% if current_video.tags %}
							<div class="video-full-tags compact">
								{% with current_video as instance %}
									{% include "localtv/inline_edit/video_tags.html" %}
								{% endwith %}
							</div>{# /.video-full-tags #}
						{% endif %}
						{% if user_is_admin %}
							{% if current_video.submitter %}<div class="compact"><h4>{% trans "Submitted by" %}:</h4> {{ current_video.submitter }}</div>{% endif %}
							{% if current_video.search %}<div class="compact"><h4>{% trans "From search" %}:</h4> {{ current_video.search }}</div>{% endif %}
							{% if current_video.feed %}<div class="compact"><h4>{% trans "From feed" %}:</h4> <a href="{% url 'localtv_list_feed' current_video.feed.pk %}">{{ current_video.feed }}</a></div>{% endif %}
							{% if current_video.contact %}<div class="compact"><h4>{% trans "Contact" %}:</h4> {{ current_video.contact }}</div>{% endif %}
							{% if current_video.notes %}<div class="compact"><h4>{% trans "Notes" %}:</h4> {{ current_video.notes }}</div>{% endif %}
						{% endif %}
					</div>
				</section>{# /.video-details #}
			</div>
			<div class="content-box">
				<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-num-posts="2"></div>
			</div>
		</div>{# /.col-two-thirds #}
		<div class="col-one-third right-sidebar">
			<section class="pod video-suggested-videos">
				<header class="pod-header">
					<h1>{% trans "More Videos" %}</h1>
				</header>
				<div class="pod-content">
					{# TODO: calculate a suggested videos list #}
					{% with popular_videos|slice:"4" as video_list %}
						{% include "localtv/_video_summary_list.html" %}
					{% endwith %}
				</div>
				<div class="pod-footer">
					<ul class="pod-footer-actions">
						<li><a class="button-wide continue" href="{% url 'localtv_list_popular' %}">{% trans "All Popular Videos" %}</a></li>
					</ul>
				</div>
			</section>{# /.pod.video-suggested-videos #}
		</aside>{# /.col-one-third.right #}
	</div>
	{# Facebook #}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	{# Twitter #}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	{# Google+ #}
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
{% endblock content %}
