{% extends "localtv/subsite/base.html" %}

{% load pagetabs %}

{% block head %}
  <script src="/js/admin_tables.js"
          type="text/javascript">
  </script>
{% endblock head %}

{% block content %}
  <div id="above_admin_table">
    {% block above_table %}
    {% endblock above_table %}
  </div>

  <table id="admin_table">
    <tr>
      <td style="vertical-align: top; min-width: 400px;">
        <div id="admin_leftpane" style="overflow: auto">
          {% block leftpane %}
            <table>
              <tr id="admin_pagetab_row">
                <td>
                  {% block pagination %}
                    {% if page_obj %}
                      <b>Pages:</b> {% pagetabs page_obj %}
                    {% endif %}
                  {% endblock pagination %}
                </td>
              </tr>
              <tr id="admin_videolisting_row">
                <td>
                  {% block videolisting_rows %}
                    {% include "localtv/subsite/admin/video_listing.html" %}
                  {% endblock %}
                </td>
              </tr>
            </table>
          {% endblock leftpane %}
        </div>
      </td>
      <td style="vertical-align: top; min-width: 400px;">
        <div id="admin_rightpane" style="overflow: auto">
          {% block rightpane %}
            {% if current_video %}
              {% include "localtv/subsite/admin/video_preview.html" %}
            {% endif %}
          {% endblock rightpane %}
        </div>
      </td>
    </tr>
  </table>

{% endblock content %}
