{% extends "localtv/subsite/base.html" %}

{% load pagetabs %}

{% block head %}
  <script src="/js/admin_tables.js"
          type="text/javascript">
  </script>
{% endblock head %}

{% block content %}
  <table id="admin_table">
    <tr>
      <td style="vertical-align: top; min-width: 400px;">
        <div id="admin_leftpane" style="overflow: auto">
          {% block leftpane %}
            {% include "localtv/subsite/admin/video_listing.html" %}
            {% pagetabs page_obj %}
          {% endblock leftpane %}
        </div>
      </td>
      <td id="admin_table_resizebar">⬄</td>
      <td style="vertical-align: top; min-width: 400px;">
        <div id="admin_rightpane" style="overflow: auto">
          {% block rightpane %}
            {% include "localtv/subsite/admin/video_preview.html" %}
          {% endblock rightpane %}
        </div>
      </td>
    </tr>
  </table>

{% endblock content %}
