{% extends "localtv/subsite/admin/base.html" %}

{% load i18n %}
{% block head %}
  {{ block.super }}
  <script type="text/javascript">
      function edit_author(event) {
          if (event.target.nodeName === 'INPUT') {
              return false;
          }
          $(event.target).parent().hide().next().show();
      }
  </script>
{% endblock %}
{% block title %}{{ block.super }} - {% trans "Admin - Authors" %}{% endblock %}

{% block body_class %}authors_admin{% endblock body_class %}


{% block content %}


  <div id="label_sidebar" class="rounded">
    <h1>Add an Author</h1>
    <form action="" method="POST">
      {{ add_author_form.as_p }}
      <input type="submit" value="Add" name="submit">
    </form>
  </div>

  <div id="labels">
    <form method="POST" enctype="multipart/form-data" action="">
    <table class="rounded editable">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th width="30%"><span>Thumbnail</span></th>
          <th><span>Videos</span></th>
          <th><span>&nbsp;</span></th>
        </tr>
      </thead>
      {% for author in authors %}
      <tr class="{% cycle "grey" "white" %}" onclick="edit_author(event);" {% if author.form.errors %}style="display: none;"{% endif %}>
      {% include "localtv/subsite/admin/author_row.html" %}
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>
{% endblock content %}
