<td>{{ author.name }}</td>
<td>{% if author.logo %}<img src="{{ author.logo.url }}">{% else %}change image{% endif %}</td>
{% with author.video_set.count as count %}
<td width="5%" style="text-align: center !important;">{% if not count %}{{ count }}{% else %}<a href="{{ author.get_absolute_url }}">{{ count }}</a>{% endif %}</td>
{% endwith %}
<td width="5%"><a style="margin: 0 !important; float: none !important; width: 64px;" href="{% url localtv_admin_authors_delete %}?id={{ author.id }}" class="med_button reject"><span>Remove</span></a></td>

<tr class="author_edit" {% if author.form.errors %}style="display: table-row;"{% endif %}>
<td>{{ author.form.name }}</td>
<td>{{ author.form.logo }}</td>
<td><input type="submit" value="Save" name="submit"></td>
{% if category.form.errors %}
<td>{{ category.form.errors }}</td>
{% endif %}