{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% extends "localtv/subsite/admin/base.html" %}

{% load i18n %}
{% block head %}
  {{ block.super }}
  <script type="text/javascript">
      function edit_author(event) {
          if (event.target.nodeName === 'INPUT') {
              return false;
          }
          $(event.target).parent().hide().next().show();
      }
  </script>
{% endblock %}
{% block title %}{{ block.super }} - {% trans "Admin - Authors" %}{% endblock %}

{% block body_class %}authors_admin{% endblock body_class %}


{% block content %}


  <div id="label_sidebar" class="rounded">
    <h1>Add an Author</h1>
    <form action="" method="POST">
      {{ add_author_form.as_p }}
      <input type="submit" value="Add" name="submit">
    </form>
  </div>

  <div id="labels">
    <form method="POST" enctype="multipart/form-data" action="">
    <table class="rounded editable">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th width="30%"><span>Thumbnail</span></th>
          <th><span>Videos</span></th>
          <th><span>&nbsp;</span></th>
        </tr>
      </thead>
      {% for author in authors %}
      <tr class="{% cycle "grey" "white" %}" onclick="edit_author(event);" {% if author.form.errors %}style="display: none;"{% endif %}>
      {% include "localtv/subsite/admin/author_row.html" %}
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>
{% endblock content %}
