{% extends "localtv/subsite/admin/base.html" %}

{% block body_class %}bulkedit{% endblock body_class %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Bulk Edit" %}{% endblock %}

{% block content %}
  <div id="above_admin_table">
    {% include "localtv/subsite/admin/header.html" %}
  </div>

<div id="massedit" class="rounded">
  <h2>Batch Edit Mode (<span id="selected_count"></span> selected)</h2>
  <div>
  Edit these fields and apply changes to <strong>all checked videos.</strong> If unchecked, no changes will be made.</div>
  <ul class="bulk_operations">
  <li>
    <input type="checkbox" name="name" />
    <span>Title</span>
  </li>
  <li>
    <input type="checkbox" name="categories" />
    <span>Categories</span>
  </li>
  <li>
    <input type="checkbox" name="authors" />
    <span>Authors</span>
  </li>
  <li>
    <input type="checkbox" name="tags" />
    <span>Tags</span>
  </li>
  <li>
    <input type="checkbox" name="description" />
    <span>Description</span>
  </li>
  </ul>
  <button>Save multiple edits</button>
</div>
<form method="POST" action="">
  {{ formset.management_form }}
  <table>
    {% for form in formset.forms %}
    {% if forloop.first or forloop.counter|divisibleby:"10" %}
    <tr>
      <th width="20"><input type="checkbox" onclick="$('input[name$=bulk]').click().eq(0).change();"></th>
      {% for field in formset.forms.0 %}
      {% if not field.is_hidden %}
      {% ifnotequal field.name "bulk" %}
      <th width="20%"><strong>{{ field.label }}</strong</th>
      {% endifnotequal %}
      {% endif %}
      {% endfor %}
      <th>&nbsp;</th>

      <th><strong>Source</strong></th>
      <th>
        <input type="submit" value="Save">
      </th>
    </tr>
    {% endif %}
    <tr valign="top">
      <td class="check" valign="top">
        {{ form.bulk }}
        {{ form.errors }}
      </td>
      {% for field in form %}
      {% ifnotequal field.name "bulk" %}
      <td valign="top" class="noncheck">
        {% ifequal field.name "description" %}
        <div>click to edit</div>
        {% else %}
        {% ifequal field.name "categories" %}
        <div><input type="text" value="Example, Example, Example...more" /></div>
        {% else %}
        {% ifequal field.name "embed_code" %}
        <div>click to edit</div>
        {% else %}
        {% endifequal %}
	        {% endifequal %}
        {% endifequal %}
        {{ field }}
      </td>
      {% endifnotequal %}
      {% endfor %}
      <td valign="top" class="noncheck">
        {% if form.instance.feed %}
        Feed: {{ form.instance.feed }}
        {% else %}
        {% if form.instance.search %}
        Search: {{ form.instance.search }}
        {% endif %}
        {% endif %}
      </td>
      <td valign="top"><a href="{{ form.instance.get_absolute_url }}" class="med_button"><span>View</span></a></td>
    </tr>
    {% endfor %}
  </table>
</form>
<script type="text/javascript">
$("td div").click(
    function() {
        $(this).hide().next().show();
    });
$("input[name$='bulk']").change(
    function() {
        selected_count = $("input[name$='bulk']:checked").length;
        if (selected_count) {
            if (selected_count > 1) {
                $("#selected_count").text(selected_count + ' videos');
            } else {
                $("#selected_count").text(selected_count + ' video');
            }
            $("#massedit").show();
        } else {
            $("#massedit").hide();
        }
    });
$("#massedit input[type=checkbox]").click(
    function() {
        if (this.checked) {
            checked = $("input[name$='bulk']:checked:eq(0)");
            selector = "[name$='" + this.name + "']:eq(0)";
            input = checked.parent().parent().find(
                "input"+selector + ', textarea'+selector + ', select'+selector);
            $(this).next().after(input.clone());
        } else {
            $(this).next().next().remove();
        }
        if ($("#massedit input[type=checkbox]:checked").length) {
            $("#massedit button").show();
        } else {
            $("#massedit button").hide();
        }
    });
$("#massedit button").click(
    function() {
        $("input[name$='bulk']:checked").each(function() {
            row = $(this).parent().parent();
            $("#massedit input[type=checkbox]:checked").each(function() {
                mass_input = $(this).next().next();
                selector = "[name$='" + this.name + "']:eq(0)";
                input = row.find(
                    "input"+selector + ', textarea'+selector + ', select'+selector);
                input.val(mass_input.val());
            });
        });
        $('form').submit();
    });
</script>
{% endblock content %}
