{% extends "localtv/subsite/admin/base.html" %}

{% block body_class %}bulkedit{% endblock body_class %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Bulk Edit" %}{% endblock %}

{% block content %}
  <div id="above_admin_table">
    {% include "localtv/subsite/admin/header.html" %}
  </div>
  
<form method="POST" action="">
  {{ formset.management_form }}
  <table>
    {% for form in formset.forms %}
    {% if forloop.first or forloop.counter|divisibleby:"10" %}
    <tr>
      {% for field in formset.forms.0 %}
      {% if not field.is_hidden %}
      <td><strong>{{ field.label }}</strong</td>
      {% endif %}
      {% endfor %}
      <td>
        <input type="submit" value="Save">
      </td>
    </tr>
    {% endif %}
    <tr>
      {% for field in form %}
      <td>
        {% ifequal field.name "description" %}
        <div>click to edit</div>
        {% else %}
        {% ifequal field.name "embed_code" %}
        <div>click to edit</div>
        {% else %}
        {% endifequal %}
        {% endifequal %}
        {{ field }}
      </td>
      {% endfor %}
      <td><a href="{{ form.instance.get_absolute_url }}">link</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
<script type="text/javascript">
$("td div").click(
    function() {
        $(this).hide().next().show();
    });
</script>
{% endblock content %}
