{% extends "localtv/subsite/admin/base.html" %}

{% load i18n %}
{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="/js/urlify.js"></script>
  <script type="text/javascript">
      function edit_category(event) {
          console.log(event.target);
          if (event.target.nodeName === 'INPUT') {
              return false;
          }
          $(event.target).parent().hide().next().show();
      }
  </script>
{% endblock %}
{% block title %}{{ block.super }} - {% trans "Admin - Edit Design" %}{% endblock %}

{% block content %}
  <div id="above_admin_table">
    {% include "localtv/subsite/admin/header.html" %}
  </div>

  <div id="add_category" style="float: left;">
    <form action="" method="POST">
      {{ add_category_form.as_p }}
      <input type="submit" value="Add" name="submit">
    </form>
  </div>

  <div id="categories">
    <form action="" method="POST">
    <table>
      <thead>
        <tr>
          <td>
            <select name="action">
              <option value="">Bulk Actions</option>
              <option value="delete">Delete</option>
            </select>
          </td>
          <td>
            <input type="submit" value="Apply" name="submit"/>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"/></td>
          <td>Name</td>
          <td>Description</td>
          <td>Slug</td>
          <td>Videos</td>
        </tr>
      </thead>
      {% for category in categories %}
      <tr onclick="edit_category(event);" {% if category.form.errors %}style="display: none;"{% endif %}>
      {% include "localtv/subsite/admin/category_row.html" %}
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>

<script type="text/javascript">

    document.getElementById("id_slug").onchange = function() { this._changed = true; };

    document.getElementById("id_name").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_name").value, 50); }
    }

</script>

{% endblock content %}
