{% extends "localtv/subsite/admin/base.html" %}

{% load i18n versioned filters %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="{% versioned "/js/urlify.js" %}"></script>
  <script type="text/javascript" src="{% versioned "/js/bulk_edit.js" %}">
  </script>
{% endblock %}
{% block title %}{{ block.super }} - {% trans "Admin - Categories" %}{% endblock %}

{% block body_class %}category_admin{% endblock body_class %}

{% block content %}
  <div id="label_sidebar" class="rounded">
    <h1>Add a Category</h1>
    <form action="" method="POST">
      {{ add_category_form.as_p }}
      <input type="submit" value="Add" name="submit">
    </form>
  </div>

  <div id="labels">
    <form action="" method="POST" enctype="multipart/form-data">
      {{ formset.management_form }}
      {{ formset.non_form_errors }}
      <div class="actions">
      	<select name="action">
        	<option value="">Bulk Actions</option>
        	<option value="delete">Delete</option>
      	</select>
      	<input type="submit" value="Apply" name="submit"/>
      </div>
      <table class="rounded editable" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th valign="middle" class="checkbox"><input type="checkbox"/></td>
          <th valign="middle"><span>Name</span></th>
          <th valign="middle"><span>Description</span></th>
          <th><span>Slug</span></th>
          <th><span>Videos</span></th>
        </tr>
      </thead>
      {% for form in formset.forms %}
      <tr valign="middle" class="{% cycle "grey" "white" %}" {% if form.errors %}style="display: none;"{% endif %}>
        <td valign="middle" class="checkbox">{{ form.bulk }}</td>
        <td valign="middle">
          {{ form.instance.dashes }}{{ form.instance.name }}
          <div class="actions">
            <a href="#" onclick="return showEdit(this, true);">Edit</a> | <a href="#" class="delete_icon" onclick="return toggleDelete(this);">Delete</a> {{ form.DELETE.as_hidden }} | <a href="{{ form.instance.get_absolute_url }}" class="view_icon">View</a>
          </div>
          
        </td>
        <td valign="middle">{{ form.instance.description|sanitize }}</td>
        <td valign="middle">{{ form.instance.slug }}</td>
        {% with form.instance.video_set.count as count %}
        <td valign="middle">{% if not count %}{{ count }}{% else %}<a href="{{ category.get_absolute_url }}">{{ count }}</a>{% endif %}</td>
        {% endwith %}
      </tr>
      <tr class="editing" {% if not form.errors %}style="display: none;"{% endif %}
        <td colspan="6">
          {{ form.non_field_errors }}
          {{ form.name.errors }}
          <h3>{{ form.name }} <a href="{{ request.get_full_path }}" onclick="return showEdit(this, false);">(cancel)</a></h3>
          {{ form.id }}
          <table style="width: 100%; margin-bottom: 0">
            <tr>
              <td>
                {{ form.logo.errors }}
                {{ form.logo.label }}
                {{ form.logo }}
              </td>
              <td rowspan="4">
                {{ form.description.label }}
                {{ form.description }}
              </td>
            </tr>
            <tr>
              <td>
                {{ form.parent.errors }}
                {{ form.parent.label }}
                {{ form.parent }}
              </td>
            </tr>
            <tr>
              <td>
                {{ form.slug.errors }}
                {{ form.slug.label }}
                {{ form.slug }}
              </td>
            </tr>
          </table>
          <button class="med_button marginbottom behave" type="submit" name="submit" value="Save"><span>Update Video</span></button>
        </td>
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>

<script type="text/javascript">

    document.getElementById("id_slug").onchange = function() { this._changed = true; };

    document.getElementById("id_name").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_name").value, 50); }
    }

</script>

{% endblock content %}
