<td valign="middle" class="checkbox"><input type="checkbox" name="bulk_{{ category.id }}"></td>
<td valign="middle">
   {{ category.dashes }}{{ category.name }}
</td>
<td valign="middle">{{ category.description }}</td>
<td valign="middle">{{ category.slug }}</td>
{% with category.video_set.count as count %}
<td valign="middle">{% if not count %}{{ count }}{% else %}<a href="{{ category.get_absolute_url }}">{{ count }}</a>{% endif %}</td>
{% endwith %}
</tr>
<tr class="category_edit" {% if category.form.errors %}style="display: table-row;"{% endif %}>
  <td valign="middle" class="checkbox"><input type="checkbox" name="bulk_{{ category.id }}"></td>
  <td valign="middle">
    {{ category.form.parent }}
    {{ category.form.name }}
  </td>
  <td valign="middle">
      {{ category.form.description }}
      {{ category.form.logo }}
  </td>
  <td valign="middle">{{ category.form.slug }}</td>
  <td valign="middle"><input type="submit" value="Save" name="submit"></td>
  {% if category.form.errors %}
  <td>{{ category.form.errors }}</td>
  {% endif %}