{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load filters %}
<td valign="middle" class="checkbox"><input type="checkbox" name="bulk_{{ category.id }}"></td>
<td valign="middle">
   {{ category.dashes }}{{ category.name }}
</td>
<td valign="middle">{{ category.description|sanitize }}</td>
<td valign="middle">{{ category.slug }}</td>
{% with category.video_set.count as count %} 
<td valign="middle">{% if not count %}{{ count }}{% else %}<a href="{{ category.get_absolute_url }}">{{ count }}</a>{% endif %}</td>
{% endwith %}
</tr>
<tr class="category_edit" {% if category.form.errors %}style="display: table-row;"{% endif %}>
  <td valign="middle" class="checkbox"><input type="checkbox" name="bulk_{{ category.id }}"></td>
  <td valign="middle">
    {{ category.form.parent }}
    {{ category.form.name }}
  </td>
  <td valign="middle">
      {{ category.form.description }}
      {{ category.form.logo }}
  </td>
  <td valign="middle">{{ category.form.slug }}</td>
  <td valign="middle"><input type="submit" value="Save" name="submit"></td>
  {% if category.form.errors %}
  <td>{{ category.form.errors }}</td>
  {% endif %}