{% extends "localtv/subsite/admin/base.html" %}

{% load i18n %}
{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="/js/urlify.js"></script>
  <script type="text/javascript">
      function edit_category(event) {
          if (event.target.nodeName === 'INPUT') {
              return false;
          }
          $(event.target).parent().hide().next().show();
      }
  </script>
{% endblock %}
{% block title %}{{ block.super }} - {% trans "Admin - Categories" %}{% endblock %}

{% block content %}
  <div id="above_admin_table">
    {% include "localtv/subsite/admin/header.html" %}
  </div>

  <div id="label_sidebar">
    <h1>Add a Category</h1>
    <form action="" method="POST">
      {{ add_category_form.as_p }}
      <input type="submit" value="Add" name="submit">
    </form>
  </div>

  <div id="labels">
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="actions">
      	<select name="action">
        	<option value="">Bulk Actions</option>
        	<option value="delete">Delete</option>
      	</select>
      	<input type="submit" value="Apply" name="submit"/>
      </div>
      <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th valign="middle" class="checkbox"><input type="checkbox"/></td>
          <th valign="middle">Name</th>
          <th valign="middle">Description</th>
          <th>Slug</th>
          <th>Videos</th>
        </tr>
      </thead>
      {% for category in categories %}
      <tr valign="middle" class="{% cycle "grey" "white" %}" onclick="edit_category(event);" {% if category.form.errors %}style="display: none;"{% endif %}>
      {% include "localtv/subsite/admin/category_row.html" %}
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>

<script type="text/javascript">

    document.getElementById("id_slug").onchange = function() { this._changed = true; };

    document.getElementById("id_name").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_name").value, 50); }
    }

</script>

{% endblock content %}
