{% extends "localtv/subsite/admin/base.html" %}

{% block body_class %}editdesign{% endblock body_class %}


{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Edit Design" %}{% endblock %}

{% block content %}
  <div id="above_admin_table">
    {% include "localtv/subsite/admin/header.html" %}
  </div>
  
  
  <table>
  <tr>
  <td width="20%">
  <div class="info rounded">
    <h2>Site Information</h2>

  <form method="POST" action="">
    {{ title_form.as_p }}
    <input type="submit" name="type_title" value="save">
  </form>
  </div>
  
  
  <div class="about_me rounded">
      <h2>Organization Information</h2>

  <form method="POST" action="">
    {{ sidebar_form.as_p }}
    <input type="submit" name="type_sidebar" value="save">
  </form>
  </div>
	</td>
		
	<td>
  <div class="look rounded">
      <h2>Design Settings</h2>
      
  <form method="POST" action="" enctype="multipart/form-data">
    {{ misc_form.as_p }}
    <input type="submit" name="type_misc" value="save">
  </form>
    </div>
</td>
</tr>
</table>
{% endblock content %}
