{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<div id="edit_video_wrapper" class="rounded">
  <form method="POST" action="{% url localtv_admin_edit_video %}" enctype="multipart/form-data">
    {{ edit_video_form }}
    <input type="hidden" name="video_id" value="{{ current_video.pk }}">
    <input type="hidden" name="redirect" value="{{ current_video.get_absolute_url }}">
  </form>
  {% ifnotequal current_video.status VIDEO_STATUS_REJECTED %}
  <p><a href="{% url localtv_admin_reject_video %}?video_id={{ current_video.id }}" class="med_button"><span>Reject this video</span></a></p>
  {%else %}
  <p><a href="{% url localtv_admin_approve_video %}?video_id={{ current_video.id }}" class="med_button"><span>Approve this video</span></a></p>
  {% endifnotequal %}
  {% if current_video.last_featured %}
  <p><a href="{% url localtv_admin_unfeature_video %}?video_id={{ current_video.id }}" class="med_button"><span>Unfeature this video</span></a></p>
  {% else %}
  <p><a href="{% url localtv_admin_feature_video %}?video_id={{ current_video.id }}" class="med_button"><span>Feature this video</span></a></p>
  {% endif %}
  <p class="med_button"><span class="thumbnail editable">Upload a new thumbnail</span></p>
  <br clear="all"/>
</div>