{% extends "localtv/subsite/admin/base.html" %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Feeds" %}{% endblock %}

{% block head %}
  <script src="/js/admin_feed.js"
          type="text/javascript">
  </script>
{% endblock head %}

{% block content %}
  {% include "localtv/subsite/admin/header.html" %}

  <div style="margin-top: 10px" id="admin_feed_add">
    <form method="POST" action="{% url localtv_admin_feed_add %}">
      <b>Feed URL:</b>
      {% if page_obj %}
        <input type="hidden" name="page" value="{{ page_obj.number }}">
      {% endif %}
      <input id="livesearch_feed_url"
             name="feed_url"/>
      <input type="submit" />
    </form>
  </div>

  <div style="margin-top: 10px">
    <b>Pages:</b> {% pagetabs page_obj %}
  </div>

  <div style="margin-top: 10px">
    {% include "localtv/subsite/admin/feed_listing.html" %}
  </div>

{% endblock content %}
