{% load i18n editable_widget %}
<div class="admin_feed">
  {% editable_widget feed "name" %}

  <a class="feed_link" href="{{ feed.feed_url }}">{{ feed.name }}</a>
  <span class="admin_feed_actions">
    <a class="stop_watching"
       href="{% url localtv_admin_feed_stop_watching %}?feed_id={{ feed.id }}">
      ({% trans "Stop Watching" %})</a>
    <a class="auto_approve"
       {% if feed.auto_approve %}
         style="display: none"
       {% endif %}
       href="{% url localtv_admin_feed_auto_approve %}?feed_id={{ feed.id }}">
      ({% trans "Auto-Approve" %})
    </a>
    <a class="disable_auto_approve"
       {% if not feed.auto_approve %}
         style="display: none"
       {% endif %}
       href="{% url localtv_admin_feed_auto_approve %}?feed_id={{ feed.id }}&disable=true">
      ({% trans "Disable Auto-Approve" %})
    </a>
  </span>
  <br />
  <a class="feed_link" href="{{ feed.feed_url }}">{{ feed.feed_url }}</a>
  <table class="auto_properties_edit">
    <tr>
      <td>
        {% editable_widget feed "auto_categories" %}
      </td>
      
      <td>
        <h3 class="authors editable">{% trans "Authors" %}</h3>
        <ul>
          {% for author in feed.auto_authors.all %}
            <li><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></li> 
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>
