{% extends "localtv/subsite/admin/base_wait.html" %}
{% block error %}
{% endblock %}
{% block top %}
  <p>Finishing importing {{ feed.video_set.count }} videos from <strong style="font-size: 24px">{{ feed.name }}</strong>
{% endblock %}
{% block bottom %}
<p>
  {% if feed.auto_approve %}
  <a href="{% url localtv_subsite_list_feed feed.pk %}">See these videos</a>
  {% else %}
  <a href="{% url localtv_admin_approve_reject %}">Review these videos</a>
  {% endif %}
  or
  <a href="{% url localtv_admin_manage_page %}">go back to Manage Sources</a>.
</p>
{% endblock %}