{% load i18n editable_widget %}
<ul class="admin_feed">
<li class="rounded">



  <span class="admin_feed_actions">
    <a class="stop_watching med_button"
       href="{% url localtv_admin_feed_stop_watching %}?feed_id={{ feed.id }}"><span>
      {% trans "Remove Source" %}</span></a>
    <a class="auto_approve med_button"
       {% if feed.auto_approve %}
         style="display: none"
       {% endif %}
       href="{% url localtv_admin_feed_auto_approve %}?feed_id={{ feed.id }}">
      <span>{% trans "Auto-Approve" %}</span>
    </a>
    <a class="disable_auto_approve med_button"
       {% if not feed.auto_approve %}
         style="display: none"
       {% endif %}
       href="{% url localtv_admin_feed_auto_approve %}?feed_id={{ feed.id }}&disable=true">
      <span>{% trans "Disable Auto-Approve" %}</span>
    </a>
  </span>

<table class="auto_properties_edit">
    <tr>
      <td>
        {% editable_widget feed "auto_categories" %}
      </td>
      
      <td>
        {% editable_widget feed "auto_authors" %}
      </td>
    </tr>
  </table>
  
  
  
  
  {% editable_widget feed "name" %}

  <div class="user">{% if not feed.is_user %}FEED{% else %}USER{% endif %}</div>
  <a class="feed_link" href="{{ feed.feed_url }}">{{ feed.feed_url }}</a>
  
  </li>
</ul>
