 <ul id="admin_nav">
    <li><a class="sub" href="{% url localtv_admin_approve_reject %}" {% if video_list %}class="current"{% endif %}><span>Submissions</span></a></li>
    <li><a class="watched" href="{% url localtv_admin_feed_page %}" {% if feed_list %}class="current"{% endif %}><span>Watched Feeds</span></a></li>
    <li><a class="saved" href="{% url localtv_admin_livesearch_page %}" {% if saved_searches %}class="current"{% endif %}><span>Saved Searches</span></a></li>
    <li><a class="design" href="{% url localtv_admin_edit_design %}" {% if title_form %}class="current"{% endif %}><span>Edit Design</span></a></li>
 </ul>
<br style="clear:both;" />
