 <ul id="admin_nav">
    <li><a class="sub" href="{% url localtv_admin_approve_reject %}" {% if video_list %}class="current"{% endif %}><span>Incoming Videos</span></a></li>
    <li><a class="watched" href="{% url localtv_admin_feed_page %}" {% if feed_list %}class="current"{% endif %}><span>Incoming Feeds</span></a></li>
    <li><a class="saved" href="{% url localtv_admin_livesearch_page %}" {% if saved_searches %}class="current"{% endif %}><span>Cross-Site Searches</span></a></li>
    <li><a class="design" href="{% url localtv_admin_edit_design %}" {% if title_form %}class="current"{% endif %}><span>Customize Design</span></a></li>
    <li><a class="categories" href="{% url localtv_admin_edit_categories %}" {% if add_category_form %}class="current"{% endif %}><span>Categories</span></a></li>
 </ul>
<br style="clear:both;" />
