<ul class="pagetabs">
  {% for pagesection in pagesections %}
    {% for page in pagesection %}
      <li {% ifequal page.number selected_page.number %}
            class="selected"
          {% endifequal %}>
        <a href="{% url localtv_admin_search %}?page={{ page.number }}&query={{ query_string }}&order_by={{ order_by}}">
          <span>{{ page.number }}</span></a>
      </li>
    {% endfor %}
    {% if not forloop.last %}
      <li class="ellipse"><span>...</span></li>
    {% endif %}
  {% endfor %}
</ul>
