{% extends "localtv/subsite/admin/approve_reject_table.html" %}

{% load pagetabs i18n %}

{% block name %}{% trans "Admin - Livesearch" %}{% endblock %}
{% block body_class %}searches{% endblock body_class %}

{% block above_table %}
  {{ block.super }}
  <form method="GET" action="{% url localtv_admin_livesearch_page %}">
    <input id="livesearch_query_input" class="left"
           name="query"
           value="{{ query_string }}"/>
           <span class="left">and sort by</span>
    <select name="order_by" class="left">
      <option value="relevant"
              {% ifequal order_by "relevant" %}
                selected="selected"
              {% endifequal %}>Relevance</option>
      <option value="latest"
              {% ifequal order_by "latest" %}
                selected="selected"
              {% endifequal %}>Latest</option>
    </select>
<button class="med_button"><span>Search All Sites</span></button>
  </form>
<br class="clear" />
  {% if is_saved_search %}
    <i>This search is saved</i>
  {% else %}
    <a href="{% url localtv_admin_livesearch_save_search %}?query={{ query_string|urlencode }}">
      Save this search</a><br /><br />
  {% endif %}
  <br />
  <h4>Saved Searches</h4>
  
  {% for search in saved_searches %}
    {% include "localtv/subsite/admin/search_listing_individual.html" %}
  {% endfor %}
{% endblock above_table %}

{% block pagination %}
  {% if page_obj and page_obj.has_other_pages %}
   {% pagetabs page_obj "localtv/subsite/admin/livesearch_pagetabs.html" %}
  {% endif %}
{% endblock pagination %}

{% block pagination2 %}
  {% if page_obj and page_obj.has_other_pages  %}
   {% pagetabs page_obj "localtv/subsite/admin/livesearch_pagetabs.html" %}
  {% endif %}
{% endblock pagination2 %}
