{% extends "localtv/subsite/admin/base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Users" %}{% endblock %}

{% block body_class %}user_admin{% endblock body_class %}

{% block content %}

  <div id="label_sidebar">
    <div id="add_user" class="rounded">
      <h1>Add a User</h1>
      <form action="" method="POST">
        {{ add_user_form.as_p }}
        <input type="submit" value="Add" name="submit">
      </form>
    </div>

    <div id="create_user" class="rounded">
      <h1>Create a User</h1>
      <form action="" method="POST">
        {{ create_user_form.as_p }}
        <input type="submit" value="Create" name="submit">
      </form>
    </div>
  </div>

  <div id="labels">
    <table class="rounded">
      <thead>
        <th><span>Username</span></th>
        <th><span>Email</span></th>
        <th><span>OpenID</span></th>
        <th></th>
      </thead>
      <tbody>
      {% for user in admins %}
      <tr class="{% cycle "grey" "white" %}">
        <form action="" method="POST">
          <input type="hidden" name="id" value="{{ user.pk }}">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td style="max-width: 150px; overflow: hidden;">{{ user.openiduser.url }}</td>
          <td><button class="med_button" type="submit" name="submit" value="Delete"><span class="reject">Delete</span></button></td>
        </form>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
