{% extends "localtv/subsite/admin/base.html" %}

{% load i18n versioned %}

{% block title %}{{ block.super }} - {% trans "Admin - Users" %}{% endblock %}

{% block body_class %}user_admin{% endblock body_class %}

{% block head %}{{ block.super }}
  <script type="text/javascript" src="{% versioned "/js/bulk_edit.js" %}"></script>
{% endblock %}

{% block content %}

  <div id="labels">
    <form action="" method="POST" enctype="multipart/form-data">
      {{ formset.management_form }}
      <table class="rounded">
        <thead>
          {% for header in headers %}
          <th>
          {% if header.sort %}
          <a class="{% if forloop.last %}last {% endif %}{{ header.class }}" href="{{ header.link }}">
            {{ header.label }}
          </a>
          {% else %}
          <span>{{ header.label }}</span>
          {% endif %}
          </th>
          {% endfor %}
        </thead>
        <tbody>
          {% for form in formset.forms %}
          <tr class="{% cycle "grey" "white" %}" {% if form.errors %}style="display: none;"{% endif %}>
            <td>
                {{ form.instance.username }}
                <div class="actions">
                  <a href="#" onclick="return showEdit(this, true);">Edit</a> | <a href="#" class="delete_icon" onclick="return toggleDelete(this);">Delete</a> {{ form.DELETE.as_hidden }} | <a href="{% url localtv_subsite_author form.instance.pk %}" class="view_icon">View</a>
          </div>

            </td>
            <td>{{ form.instance.first_name }} {{ form.instance.last_name }}</td>
            <td>{{ form.instance.email }}</td>
            <td style="max-width: 150px; overflow: hidden;">{{ form.instance.openiduser.url }}</td>
            <td>{% ifequal form.role.field.initial "admin" %}{% if form.instance.is_superuser %}Superuser{% else %}Admin{% endif %}{% else %}User{% endifequal %}</td>
            <td>{% if form.instance.get_profile.logo %}<img src="{{ form.instance.get_profile.logo.url }}">{% endif %}</td>
            <td>{% if form.instance.get_profile.description %}{{ form.instance.get_profile.description }}{% endif %}</td>
            <td>{% if form.instance.authored_set__count %}<a href="{% url localtv_subsite_author form.instance.pk %}">{{ form.instance.authored_set__count }}</a>{% else %}0{% endif %}</td>
          </tr>
          <tr class="editing {% cycle "grey" "white" %}"{% if not form.errors %} style="display: none;"{% endif %}>
            <td>{{ form.id }}{{ form.errors }}{{ form.username }}</td>
            <td>{{ form.first_name }}{{ form.last_name }}</td>
            <td>{{ form.email }}</td>
            <td></td>
            <td>{% if not form.instance.is_superuser %}{{ form.role }}{% endif %}</td>
            <td>{{ form.logo }}</td>
            <td colspan="2">
                {{ form.description }}
                <input type="submit" name="submit" value="Save">
                <input type="button" value="Cancel" onclick="return showEdit(this, false);">
            </td>
          </tr>
          {% endfor %}
          <tr><td colspan="7"><input type="submit" name="submit" value="Save"></td></tr>
        </tbody>
      </table>
    </form>
  </div>
  <div id="label_sidebar">
    <div id="add_user" class="rounded">
      <h1>Add a User</h1>
      <form action="" method="POST" enctype="multipart/form-data">
        {{ add_user_form.as_p }}
        <input type="submit" value="Add" name="submit">
      </form>
    </div>
  </div>

{% endblock content %}
