{% load video i18n filters %}

{% if current_video.name %}
  <h2 class="vid_title">{{ current_video.name }}</h2>
{% else %}
  <h2 class="vid_title">{% trans "(no title)" %}</h2>
{% endif %}
<span class="date">{% blocktrans with current_video.when|simpletimesince as timesince %}{{ timesince }} ago{% endblocktrans %}</span>

<div id="video_wrapper">
  {% if current_video.embed_code %}
  {{ current_video.embed_code|safe }}
  {% else %}
  {% video current_video.file_url mime_type=current_video.file_url_mimetype autoplay=0 %}
  {% endif %}
</div>        

<div class="description">
  {{ current_video.description|removetags:"iframe title frame frameset object script embed applet meta link body html img table thead th tbody tr td div span"|safe }}
</div>

<div id="tags">
  {% if current_video.categories.objects.count %}
    <h3>Categories - </h3>
  
    <ul>
      {% for category in current_video.categories.objects.all %}
        <li>{{ category.name }}</li> 
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if current_video.tags.objects.count %}
    <h3>Tags - </h3>
  
    <ul>
      {% for tag in current_video.tags.objects.all %}
        <li>{{ tag.name }}</li> 
      {% endfor %}
    </ul>
  {% endif %}

<!--  <h3>{{ current_video|pprint }}</h3>-->
  {% if currrent_video.submitter %}<h3>Submitted by {{ current_video.submitter }}</h3>{% endif %}
  {% if current_video.search %}<h3>From search {{ current_video.search }}</h3>{% endif %}
  {% if current_video.feed %}<h3>From feed {{ current_video.feed }}</h3>{% endif %}
  <h3>Website URL {{ current_video.website_url|urlize }}</h3>
  
  <div class="clear">&nbsp;</div>
</div>
