{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load video i18n filters %}

{% if current_video.name %}
  <h2 class="vid_title">{{ current_video.name }}</h2>
{% else %}
  <h2 class="vid_title">{% trans "(no title)" %}</h2>
{% endif %}
<span class="date">{% blocktrans with current_video.when|simpletimesince as timesince %}{{ timesince }} ago{% endblocktrans %}</span>

<div id="video_wrapper">
  {% if current_video.embed_code %}
  {{ current_video.embed_code|safe }}
  {% else %}
  {% video current_video.file_url mime_type=current_video.file_url_mimetype autoplay=0 %}
  {% endif %}
</div>        

<div class="description">
  {{ current_video.description|sanitize }}
</div>

<div id="tags">
  {% if current_video.categories.objects.count %}
    <h3>Categories - </h3>
  
    <ul>
      {% for category in current_video.categories.objects.all %}
        <li>{{ category.name }}</li> 
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if current_video.tags.objects.count %}
    <h3>Tags - </h3>
  
    <ul>
      {% for tag in current_video.tags.objects.all %}
        <li>{{ tag.name }}</li> 
      {% endfor %}
    </ul>
  {% endif %}

<!--  <h3>{{ current_video|pprint }}</h3>-->
  {% if currrent_video.submitter %}<h3>Submitted by {{ current_video.submitter }}</h3>{% endif %}
  {% if current_video.search %}<h3>From search {{ current_video.search }}</h3>{% endif %}
  {% if current_video.feed %}<h3>From feed {{ current_video.feed }}</h3>{% endif %}
  <h3>Website URL {{ current_video.website_url|urlize }}</h3>
  
  <div class="clear">&nbsp;</div>
</div>
