{% load i18n localtv_thumbnail %}

<div {% ifequal video current_video %}
       class="video hoverable selected"
     {% endifequal %}
     {% ifnotequal video current_video %}
       class="video hoverable unselected"
     {% endifnotequal %}>
  <span class="video_id">{{ video.id }}</span>
  <a class="thumbnail click_to_display"
     {% if video.metasearch_vid %}
       href="{% url localtv_admin_livesearch_display %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
     {% else %}
       href="{% url localtv_admin_preview_video %}?video_id={{ video.id }}"
     {% endif %}>
    <div>
      {% if video.thumbnail_url %}
        <img src="{{ video.thumbnail_url }}" width="142" height="104"/>
      {% else %}
        <img src="/images/default_vid.gif" />
      {% endif %}
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a class="click_to_display"
         {% if video.metasearch_vid %}
           href="{% url localtv_admin_livesearch_display %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
         {% else %}
           href="{% url localtv_admin_preview_video %}?video_id={{ video.id }}"
         {% endif %}>
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>

    {% autoescape off %}
      <p>{{ video.description|striptags }}</p>
    {% endautoescape %}

  </div>
  
  <div class="approve_reject">
      <a class="feature"
         {% if video.metasearch_vid %}
           href="{% url localtv_admin_livesearch_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}&feature=true"
         {% else %}
           href="{% url localtv_admin_approve_video %}?video_id={{ video.id }}&feature=true"
         {% endif %}>[ ☺ Feature ]</a>
    <a class="approve"
       {% if video.metasearch_vid %}
         href="{% url localtv_admin_livesearch_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
       {% else %}
         href="{% url localtv_admin_approve_video %}?video_id={{ video.id }}"
       {% endif %}>[ ✓ Approve ]</a> &nbsp;
    {% if not video.metasearch_vid %}
      <a class="reject"
         href="{% url localtv_admin_reject_video %}?video_id={{ video.id }}">[ ✗ Reject ]</a>
    {% endif %}
  </div>
</div>
