{% load i18n %}

<div {% ifequal video current_video %}
       class="video hoverable selected"
     {% endifequal %}
     {% ifnotequal video current_video %}
       style="cursor: pointer"
       class="video hoverable unselected"
     {% endifnotequal %}>
  <span class="video_id">{{ video.id }}</span>
  <a href="{% url localtv_view_video video_id=video.id %}" class="thumbnail">
    <div>
      <img src="/images/vid_overlay.png" />
    </div>
  </a>
  <div class="title_desc">
    <h3>
      <a href="{% url localtv_view_video video_id=video.id %}">
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>

    {% autoescape off %}
      <p>{{ video.description|striptags }}</p>
    {% endautoescape %}

  </div>
  
  <div class="approve_delete">
    <span class="approve">[ ✓ Approve ]</span> &nbsp;
    <span class="delete">[ ✗ Reject ]</span>
  </div>
</div>
