{% load i18n localtv_thumbnail filters versioned %}

<div {% ifequal video current_video %}
       class="video hoverable selected rounded {9px transparent}"
     {% endifequal %}
     {% ifnotequal video current_video %}
       class="video hoverable unselected rounded {9px transparent}"
     {% endifnotequal %}>
  <span class="video_id">{{ video.id }}</span>
  <a class="thumbnail rounded {transparent}" style="background: url({% get_thumbnail_url video 140 110 %}) no-repeat;"
     {% if video.metasearch_vid %}
       href="{% url localtv_admin_search_video_display %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
     {% else %}
       href="{% url localtv_admin_preview_video %}?video_id={{ video.id }}"
     {% endif %}>
    <span>
      <img alt="{{ video.name }} thumbnail" src="{% versioned "/images/vid_overlay.png" %}" />
    </span>
  </a>
   
   
  <div class="title_desc">
    <h3>
      <a class="click_to_display"
         {% if video.metasearch_vid %}
           href="{% url localtv_admin_search_video_display %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
         {% else %}
           href="{% url localtv_admin_preview_video %}?video_id={{ video.id }}"
         {% endif %}>
        {% if video.name %}
          {{ video.name }}
        {% else %}
          {% trans "(no title)" %}
        {% endif %}
      </a>
    </h3>

    {% autoescape off %}
      <div class="desc">{{ video.description|sanitize|truncatewords_html:50 }}</div>
    {% endautoescape %}
 
    {% if video.when_submitted %}
    <p class="submitted"><strong>Submitted</strong> {{ video.when_submitted|simpletimesince }} ago</p>
    {% endif %}
    {% if video.when %} 
    <p class="published"><strong>{% if video.when_published %}Posted{% else %}Submitted{% endif %}</strong> {{ video.when|simpletimesince }} ago</p>
    {% endif %}
  </div>
  
  <div class="approve_reject rounded">
      <a class="feature med_button"
         {% if video.metasearch_vid %}
           href="{% url localtv_admin_search_video_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}&feature=true"
         {% else %}
           href="{% url localtv_admin_feature_video %}?video_id={{ video.id }}"
         {% endif %}><span>Feature</span></a>
    <a class="approve med_button"
       {% if video.metasearch_vid %}
         href="{% url localtv_admin_search_video_approve %}?query={{ query_string|urlencode }}&video_id={{ video.id }}&order_by={{ order_by|default:"relevant" }}"
       {% else %}
         href="{% url localtv_admin_approve_video %}?video_id={{ video.id }}"
       {% endif %}><span>Approve</span></a> 
    {% if not video.metasearch_vid %}
      <a class="reject med_button"
         href="{% url localtv_admin_reject_video %}?video_id={{ video.id }}"><span>Reject</span></a>
    {% endif %}
  </div>
</div>
