{% extends "localtv/admin/list.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n filters comments %}

{% block body_classes %}{{ block.super }} comments{% endblock %}


{% block title %}{% trans "Comment Review Queue" %} — {% trans "Moderation" %}{{ block.super }}{% endblock %}


{% block content_title %}<h1>{% trans "Comment Review Queue" %}</h1>{% endblock %}


{% block content %}
  {% if not object_list %}
    <p>{% trans "No comments to moderate" %}</p>
  {% else %}
    <form method="post" action="{{ request.path }}">

      <button type="submit">Run all actions</button>
      {% csrf_token %}
      {{ formset.management_form }}
      {{ formset.non_form_errors }}

      {{ block.super }}

      <button type="submit">Run all actions</button>
    </form>
  {% endif %}
</section>
{% endblock %}


{% block object_list_item_headers %}
  {{ block.super }}
  <th>{% trans 'Action' %}</th>
{% endblock %}


{% block object_list_item_fields %}
  {{ form.id }}
  {{ block.super }}
  <td class='form-fields-field'>{{ form.action }}</td>
{% endblock %}
