{% extends "localtv/admin/__base.html" %}

{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n filters comments %}

{% block body_classes %}{{ block.super }} comments{% endblock %}


{% block title %}{% trans "Review Queue" %} — {% trans "Videos" %} — {{ block.super }}{% endblock %}


{% block content %}
<section>
  <header>
    <h1>Comment Review Queue</h1>
  </header>

  <ul class="messages">
    {% if not paginator.count %}
      <li class="messages-info">{% trans "No comments to moderate" %}</li>
    {% endif %}
  </ul>

  {% if paginator.count %}
    {% if page.has_other_pages %}
      {% include "localtv/admin/_pagination.html" %}
    {% endif %}
    <form class="bulk-edit" method="post" action="">
      {{ formset.management_form }}
      {{ formset.non_form_errors }}
      {% for form in formset.forms %}
        <article>
          <table>
            {{ form }}
          </table>
        </article>
      {% endfor %}
      <button type="submit">Save all changes</button>
    </form>
  {% endif %}
</section>
{% endblock %}
