<object width="{{ width }}" height="{{ height }}"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
  <param value="{{ file_url }}" name="movie"/>
  <param value="true" name="allowfullscreen"/>
  <param value="high" name="quality"/>
  <param value="autoplay=1" name="FlashVars"/>
  <param value="transparent" name="wmode"/>
  <embed width="{{ width }}"
         height="{{ height }}"
         allowfullscreen="true"
         type="application/x-shockwave-flash"
         pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
         wmode="transparent"
         quality="high"
         enablehref="false"
         flashvars="autoplay=1"
         src="{{ file_url }}"/>
</object>
