<object id="video"
        classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
        width="{{ width }}" height="{{ height }}"
        codebase="http://www.apple.com/qtactivex/qtplugin.cab">
  <param name="src" value="{{ file_url }}">
  <param name="scale" value="aspect">
  <param name="autoplay" value="true">
  <param name="controller" value="true">
  <embed src="{{ file_url }}"
         name="movieobject"
         scale="aspect"
         width="{{ width }}" height="{{ height }}"
         autoplay="true" controller="true"
         pluginspage="http://www.apple.com/quicktime/download/">
  </embed>
</object>
