<script type="text/javascript" src="/js/flowplayer-3.0.6.min.js"></script>
<script type="text/javascript">
if (flashembed.isSupported([9, 115])) {
    document.write('<div id="video_id_{{ file_url|slugify }}"></div>');
    $f("video_id_{{ file_url|slugify }}", "/swf/flowplayer-3.0.7.swf", {
        clip: {
            url: '{{ file_url }}',
            autoPlay: false,
            scaling: 'fit',
        }
    });
} else {
    document.write("{% filter escapejs %}<object id="video" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="{{ width }}" height="{{ height }}" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
                   <param name="src" value="{{ file_url }}">
                   <param name="scale" value="aspect">
                   <param name="autoplay" value="true">
                   <param name="controller" value="true">
                   <embed src="{{ file_url }}" name="movieobject" scale="aspect" width="{{ width }}" height="{{ height }}" autoplay="false" controller="true" pluginspage="http://www.apple.com/quicktime/download/">
                   </embed>
                   </object>{% endfilter %}");      // quicktime
}
</script>