{% extends "localtv/__base.html" %}

{% load i18n daguerre %}

{% block title %}Share “{{ content_object.name }}” - {{ block.super }}{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">Share “{{ content_object.name }}”</h1>
	</header>
	<div class="row">
		<div class="col-one-half">
			<div class="padded">
				<form id="share_form" action="{{ request.path }}" method="POST">
					{% csrf_token %}
					{% include "localtv/_form_inner.html" %}
					<footer class="form-actions">
						<button>Share</button>
					</footer>
				</form>{# /#share_form #}
			</div>{# /.padded #}
		</div>{# /.col-one-half #}
		
		{% adjust content_object.thumbnail_path adjustment="fit" width=440 as image %}
		{% if image %}
			<div class="col-one-half">
				<div class="padded">
					<img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" />
					<h1>{{ content_object.name }}</h1>
					{{ content_object.description|safe }}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
