#dashboard h1, #dashboard h2, #dashboard h3 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  float: none;
  font-size: 12px;
  letter-spacing: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#dashboard a {
  text-decoration: none;
}

#dashboard h1#hdr_activity {
  color: #1f6f5b;
  font-size: 30px;
  letter-spacing: -1px;
  padding: 0 0 0 48px;
  font-weight: bold;
  background: transparent url(/images/admin/icon_dash_activity.png) 0 0 no-repeat;
  float: left;
}

#dashboard #video_limit {
  float: right;
  margin: -10px 0 0 0;
}

#dashboard #video_limit h2 {
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin: 0 0 5px 0;
}

#dashboard #video_limit h2 strong {
  color: #1f6f5b;
}

#dashboard #video_limit #limit_bar {
  background: #e4e4e4;
  background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#e4e4e4));
  background: -moz-linear-gradient(top,  #cdcdcd,  #e4e4e4) no-repeat;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 0 1px #bfbfbf, inset 0 -1px 0 #FFF;
  -webkit-box-shadow: inset 0 1px #bfbfbf, inset 0 -1px 0 #FFF;
  border: 1px #a2a2a2 solid;
  position: relative;
}

#dashboard #video_limit #limit_bar #limit_progress {
  background: #e4e4e4;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b8b77), to(#257561));
  background: -moz-linear-gradient(top,  #3b8b77,  #257561) no-repeat;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 1px 1px #48aa91, inset -1px -1px 0 #2c8e75;
  -webkit-box-shadow: inset 1px 1px #48aa91, inset -1px -1px 0 #2c8e75;
  border: 1px #005741 solid;
  border-bottom: 2px #005741 solid;
  border-right: 2px #005741 solid;
  padding: 18px 0 18px 0;
  margin: -1px;
}

#dashboard #video_limit #limit_bar #limit_progress a {
  background: rgba(0,0,0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px rgba(0,0,0, 0.2) solid;
  -moz-box-shadow: 0 0 2px rgba(0,0,0, 0.2), inset 0 -1px 0 rgba(255,255,255, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.3), inset 0 -1px 0 rgba(255,255,255, 0.2);
  text-shadow: 0 1px 0 rgba(0,0,0, 0.4);
  position: absolute;
  right: 6px;
  top: 7px;
  color: #FFF;
  text-transform: uppercase;
  padding: 5px 10px 4px 10px;
  font-size: 10px;
  line-height: 11px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

#dashboard #video_limit #limit_bar #limit_progress a:hover {
  background: rgba(0,0,0, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px rgba(0,0,0, 0.4) solid;
  -moz-box-shadow: 0 0 2px rgba(0,0,0, 0.5), inset 0 -1px 0 rgba(255,255,255, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.5), inset 0 -1px 0 rgba(255,255,255, 0.2);
  text-shadow: 0 1px 0 rgba(0,0,0, 0.7);
}

#dashboard #video_limit #limit_bar #limit_progress a:active {
  -moz-box-shadow: 0 0 0 rgba(0,0,0, 0.5);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0, 0.5);
  top: 8px;
}

#dashboard #video_limit #limit_bar #limit_progress a em {
  display: block;
  background: transparent url(/images/admin/icon_upgrade_arrow.png) 0 0 no-repeat;
  width: 11px;
  height: 11px;
  float: right;
  margin: -1px 0 0 5px;
}

#dashboard #account_stats {
  border-top: 1px #DDD solid;
  border-bottom: 1px #DDD solid;
  margin: 25px 0 25px 0;
}

#dashboard #account_stats #comments_pending, #dashboard #account_stats #videos_pending,
#dashboard #account_stats #videos_week {
  padding: 25px 26px 0 25px;
}

#dashboard #account_stats #comments_pending h1, #dashboard #account_stats #videos_pending h1,
#dashboard #account_stats #videos_week h1 {
  font-weight: bold;
  font-size: 40px;
  color: #565656;
  letter-spacing: -2px;
  float: right;
  margin: 0 0 0 15px;
}

#dashboard #account_stats #comments_pending h2, #dashboard #account_stats #videos_pending h2,
#dashboard #account_stats #videos_week h2 {
  color: #1f6f5b;
  font-size: 25px;
  text-align: right;
  letter-spacing: -1px;
  line-height: 14px;
  margin: 5px 0 0 0;
}

#dashboard #account_stats #comments_pending h3, #dashboard #account_stats #videos_pending h3,
#dashboard #account_stats #videos_week h3 {
  color: #777;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.5px;
}

#dashboard #account_stats #comments_pending a, #dashboard #account_stats #videos_pending a,
#dashboard #account_stats #videos_week a {
  background: transparent url(/images/admin/btn_account_stats.png) 0 0 no-repeat;
  text-indent: -99999px;
  display: block;
  width: 138px;
  height: 35px;
  float: right;
  margin: 15px 0 -1px 0;
}

#dashboard #account_stats #comments_pending a, #dashboard #account_stats #videos_pending a {
  width: 123px;
}

#dashboard #account_stats #videos_week a:hover {
  background-position: 0 -35px;
}

#dashboard #account_stats #videos_week a:active {
  background-position: 0 -70px;
}

#dashboard #account_stats #comments_pending a, #dashboard #account_stats #videos_pending a {
  background-position: 0 -105px;
}

#dashboard #account_stats #comments_pending a:hover, #dashboard #account_stats #videos_pending a:hover {
  background-position: 0 -140px;
}

#dashboard #account_stats #comments_pending a:active, #dashboard #account_stats #videos_pending a:active {
  background-position: 0 -175px;
}

#dashboard #account_stats #comments_pending {
  border-left: 1px #DDD solid;
  float: left;
}

#dashboard #account_stats #videos_pending {
  border-left: 1px #DDD solid;
  float: left;
}

#dashboard #account_stats #videos_week {
  border-left: 1px #DDD solid;
  border-right: 1px #DDD solid;
  float: left;
}

#dashboard #get_started {
  border: 1px #c4c4c4 solid;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -moz-linear-gradient(top,  #ffffff,  #ededed) no-repeat;
  -moz-box-shadow: inset 0 -1px #FFF;
  -webkit-box-shadow: inset 0 -1px #FFF;
  margin: 0 0 25px 0;
}

#dashboard #get_started #hd {
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background: -moz-linear-gradient(top,  #ffffff,  #f1f1f1) no-repeat;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-box-shadow: inset 0 -1px #FFF;
  -webkit-box-shadow: inset 0 -1px #FFF;
  border-bottom: 1px #c4c4c4 solid;
  padding: 20px;
}

#dashboard #get_started #hd h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #1f526f;
  float: left;
  text-shadow: 0 1px 0 #FFF;
  background: transparent url(/images/admin/icon_get_started.png) 0 0 no-repeat;
  padding: 8px 0 8px 55px;
}

#dashboard #get_started #hd a#started_hide {
  float: right;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #656565;
  text-shadow: 0 1px 0 #FFF;
  position: relative;
  top: 10px;
  background: transparent url(/images/admin/icon_started_hide.png) 0 0 no-repeat;
  padding: 7px 0 7px 35px;
}

#dashboard #get_started #hd a:hover#started_hide {
  opacity: 0.8;
}

#dashboard #get_started #hd a:active#started_hide {
  position: relative;
  top: 11px;
}

#dashboard #get_started ul {
  margin: 20px;
}

#dashboard #get_started ul li {
  margin: 10px 0 10px 0;
  padding: 8px 0 10px 45px;
  font-size: 16px;
  color: #BBB;
  text-shadow: 0 1px 0 #FFF;
}

#dashboard #get_started ul li#step1 {
  background: transparent url(/images/admin/icon_started_one.png) 0 0 no-repeat;
}

#dashboard #get_started ul li#step2 {
  background: transparent url(/images/admin/icon_started_two.png) 0 0 no-repeat;
}

#dashboard #get_started ul li#step3 {
  background: transparent url(/images/admin/icon_started_three.png) 0 0 no-repeat;
}

#dashboard #get_started ul li#step4 {
  background: transparent url(/images/admin/icon_started_four.png) 0 0 no-repeat;
}

#dashboard #get_started ul li strong a {
  color: #1f526f;
  font-size: 20px;
  font-weight: bold;
}

#dashboard #get_started ul li span {
  color: #777;
  font-size: 14px;
}

#dashboard #video_views h1, #dashboard #user_activity h1,
#dashboard #widget_stats h1, #dashboard #site_referrals h1 {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  letter-spacing: -1px;
  border-bottom: 1px #DDD solid;
  padding: 0 0 10px 55px;
}

#dashboard #site_referrals h1 {
  padding: 0 0 10px 35px;
}

#dashboard #video_views h1 {
  background: transparent url(/images/admin/icon_video_views.png) 0 3px no-repeat;
}

#dashboard #user_activity h1 {
  background: transparent url(/images/admin/icon_user_activity.png) 0 -3px no-repeat;
}

#dashboard #widget_stats h1 {
  background: transparent url(/images/admin/icon_widget_stats.png) 0 -3px no-repeat;
}

#dashboard #site_referrals h1 {
  background: transparent url(/images/admin/icon_site_referrals.png) 0 2px no-repeat;
}

#dashboard .trending_stats ul li {
  border-bottom: 1px #DDD solid;
  font-size: 20px;
  color: #444;
  padding: 21px 0 21px 0;
}

#dashboard .trending_stats ul li strong {
  color: #1f6f5b;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

#dashboard .trending_stats ul li em {
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

#dashboard .trending_stats ul li em.stats_up {
  color: #47a700;
  background: transparent url(/images/admin/icon_stats_up_arrow.png) 0 7px no-repeat;
  padding: 0 0 0 25px;
}

#dashboard .trending_stats ul li em.stats_down {
  color: #8f0000;
  background: transparent url(/images/admin/icon_stats_down_arrow.png) 0 7px no-repeat;
  padding: 0 0 0 25px;
}

#dashboard #video_views, #dashboard #widget_stats {
  margin: 0 0 25px 0;
}

#dashboard #widget_stats h1 a.wiki_link, #dashboard #site_referrals h1 a.wiki_link {
  font-size: 16px;
  color: #888;
  font-weight: normal;
  position: relative;
  top: -5px;
}

#dashboard ul.stats_filter {
  border-bottom: 1px #DDD solid;
}

#dashboard ul.stats_filter li {
  float: left;
  display: block;
  margin: 5px 5px 0 0;
}

#dashboard ul.stats_filter li a.filter_title {
  background: #e8e8e8;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-box-shadow: inset 0 1px #FFF;
  -webkit-box-shadow: inset 0 1px #FFF;
  border: 1px #DDD solid;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 #FFF;
  display: block;
  padding: 11px 40px 11px 15px;
  position: relative;
  bottom: -1px;
}

#dashboard ul.stats_filter li a:hover.filter_title {
  background: #25856d;
  background: -webkit-gradient(linear, left top, left bottom, from(#25856d), to(#195b4b));
  background: -moz-linear-gradient(top,  #25856d,  #195b4b) no-repeat;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-box-shadow: inset 0 1px #30a98e;
  -webkit-box-shadow: inset 0 1px #30a98e;
  border-color: #0e4d3d;
  color: #FFF;
  text-shadow: 0 1px 0 #0e4d3d;
}

#dashboard ul.stats_filter li.selected a.filter_title {
  background: #195b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#25856d), to(#195b4b));
  background: -moz-linear-gradient(top,  #25856d,  #195b4b) no-repeat;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-box-shadow: inset 0 1px #30a98e;
  -webkit-box-shadow: inset 0 1px #30a98e;
  border-color: #0e4d3d;
  color: #FFF;
  text-shadow: 0 -1px 0 #0e4d3d;
}

#dashboard ul.stats_filter li.selected a:hover.filter_title {
  color: #c0e8de;
}

#dashboard ul.stats_filter li a.filter_title em.icon {
  background: url(/images/admin/icon_menu_arrow.png) 0 0 no-repeat;
  display: block;
  width: 9px;
  height: 7px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#dashboard ul.stats_filter li a:hover.filter_title em.icon {
  background: url(/images/admin/icon_selected_menu_arrow.png) 0 0 no-repeat;
}

#dashboard ul.stats_filter li.selected a.filter_title em.icon {
  background: url(/images/admin/icon_selected_menu_arrow.png) 0 0 no-repeat;
}

#dashboard ul.stats_filter li a ul.filter_menu {
  display: none;
}

#dashboard ul.stats_filter li a:hover ul.filter_menu {
  display: block;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 0 0 10px 0;
  background: #195b4b;
  border: 1px #0e4d3d solid;
  border-top: 0;
  -moz-box-shadow: inset 0 -1px #24826d;
  -webkit-box-shadow: inset 0 -1px #24826d;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  margin: 0 -1px 0 -1px;
  width: 100%;
}

#dashboard ul.stats_filter li a ul.filter_menu li {
  padding: 5px 11px 0 11px;
  margin: 0;
  color: #c0e8de;
  text-shadow: 0 -1px 0 #0e4d3d;
  display: block !important;
  float: none !important;
}

#dashboard ul.stats_filter li a ul.filter_menu li:hover {
  color: #FFF;
}

#dashboard table.stats_table {
  width: 100%;
}

#dashboard table.stats_table th {
  font-weight: bold;
  font-size: 10px;
  color: #888;
  text-transform: uppercase;
  border-bottom: 1px #DDD solid;
  padding: 10px 0 5px 0;
}

#dashboard table.stats_table th.right_col, #dashboard table.stats_table td.right_col {
  text-align: right;
}

#dashboard table.stats_table td {
  padding: 10px 0 10px 0;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px #DDD solid;
}

#dashboard table.stats_table td a {
  color: #1f6f5b;
  font-weight: bold;
  font-size: 14px;
}

#dashboard table.stats_table td a:hover {
  text-decoration: underline;
}