body#tier #upgrade_title {
  margin: 0 0 30px 0;
  background: transparent url(/images/admin/icon_upgrade_shield.png) 0 0 no-repeat;
  padding: 5px 0 30px 55px;
  border-bottom: 1px #DDD solid;
}

body#tier #upgrade_title h1 {
  font-size: 25px;
  font-weight: bold;
  color: #523d30;
  letter-spacing: -1px;
}

body#tier #upgrade_title p {
  color: #656565;
  margin: 5px 0 0 0;
}

body#tier #upgrade_title p strong {
  color: #333;
  font-weight: bold;
}

/*
Basic Plan
*/

body#tier #basic_plan {
  width: 941px;
  height: 49px;
  background: transparent url(/images/admin/upgrade_basic_bg.png) 0 0 no-repeat;
  display: block;
  margin: 0 0 0 0;
}

body#tier #basic_plan h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #9e5900;
  margin: 18px 0 0 25px;
  font-size: 16px;
  letter-spacing: -0.5px;
  text-shadow: 0 1px 0 #ffff00;
  float: left;
}

body#tier #basic_plan h1 strong {
  font-weight: bold;
}

body#tier #basic_plan p {
  color: #7f7f6e;
  float: left;
  margin: 18px 0 0 65px;
  font-size: 15px;
  letter-spacing: -0.5px;
  text-shadow: 0 1px 0 #ffffcf;
}

/*
Switch to basic
*/

body#tier #switchbasic {
  width: 941px;
  height: 49px;
  background: transparent url(/images/admin/switch_basic_bg.png) 0 0 no-repeat;
  display: block;
  margin: 0 0 0 0;
}

body#tier #switchbasic h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #FFF;
  margin: 13px 0 0 25px;
  font-size: 21px;
  letter-spacing: -0.5px;
  text-shadow: 0 -1px 0 #000;
  float: left;
}

body#tier #switchbasic h1 strong {
  font-weight: bold;
}

body#tier #switchbasic p {
  color: #555;
  float: left;
  margin: 18px 0 0 45px;
  font-size: 15px;
  letter-spacing: -0.5px;
  text-shadow: 0 1px 0 #FFF;
}

body#tier #switchbasic .buttons_like_links button {
  float: right;
  display: block;
  width: 164px;
  height: 35px;
  background: transparent url(/images/admin/btn_switch_basic.png) 0 0 no-repeat;
  text-indent: -9999px;
  margin: 8px 8px 0 0;
}

body#tier #switchbasic .buttons_like_links button:hover {
  background-position: 0 -35px;
}

body#tier #switchbasic .buttons_like_links button:active {
  background-position: 0 -70px;
}

body#tier span.downgrade {
  font-size: 18px;
  color: #777;
  letter-spacing: -0.5px;
  text-align: center;
  display: block;
  position: relative;
  top: 10px;
}

body#tier span.downgrade a {
  font-weight: bold;
  color: #555;
  border-bottom: 1px #DDD solid;
  text-decoration: none;
}

body#tier span.downgrade a:hover {
  color: #222;
  border-color: #BBB;
}

body#tier .selected .hdr {
  background: transparent url(/images/admin/current_hdr_bg.png) 0 0 no-repeat;
}

body#tier .selected .hdr h1 {
  font-family: Helvetica, Arial, sans-serif;
  padding: 25px 0 8px 0;
  color: #bad8e3;
  font-size: 20px;
  text-shadow: 0 1px 0 #223841;
  display: none;
}

body#tier .selected .hdr h2 {
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  text-shadow: 0 1px 0 #333;
  letter-spacing: -1px;
  padding: 60px 0 0 0;
  text-align: center;
  float: none;
  display: block;
  
}

body#tier .selected .ft {
  background: transparent url(/images/admin/current_ft_bg.png) 0 0 no-repeat;
}

body#tier .selected .ft a {
  display: none;
}

body#tier .ft p {
  display: none;
}

body#tier .selected .ft p {
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  padding: 0 0 5px 0;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
  top: 18px;
  left: -5px;
  text-shadow: 0 -1px 0 #000;
}

body#tier .ft div.buttons_like_links {
    text-align: center;
}

body#tier .ft button {
  color: rgba(255,255,255, 0.3);
  background-color: inherit;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  text-decoration: underline;
  display: block;
  text-align: center;
  float: none;
  position: relative;
  top: 23px;
  left: 0;
  border: 0;
  width: 300px;
  -moz-box-shadow: inset 0 0 0 #377454;
  -webkit-box-shadow: inset 0 0 0 #377454;
}

body#tier .ft button em {
    margin: 0 auto;
    color: #FFF;
}

#signup_form #error_container {
  width: 900px;
}

#signup_form #error_container ul {
  margin: 55px 0 0 0;
}

body#tier form {
  float: none !important;
  width: 950px;
}

body#tier fieldset {
  width: 400px;
  float: left;
}

body#tier fieldset#account_info_set {
  width: 400px;
  margin: 0 100px 0 0;
}

body#tier fieldset#account_info_set h1 {
  width: 400px;
}

body#tier fieldset#billing_info_set h1 {
  width: 400px;
}

body#tier h1#billing span#we_accept {
  background: transparent url(/images/admin/icon_we_accept.png) 0 0 no-repeat;
  text-indent: -99999px;
  display: inline-block;
  width: 214px;
  height: 24px;
  margin: 0 0 0 20px;
  display: none;
}

body#tier div#site_url input {
  width: 200px;
}

body#tier form h1 {
  width: 400px;
}

body#tier form h1#account {
  margin: 49px 0 0 0;
}

#signup_form .msg {
  width: 900px;
}

body.downgrade_confirm h1 {
  background: #910000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  color: #FFF !important;
  float: left;
  font-size: 14px !important;
}

body.downgrade_confirm h2 {
  padding: 9px 0 0 10px;
  color: #910000 !important;
}

body.downgrade_confirm h3 {
  font-size: 20px;
  font-weight: bold;
}

body.downgrade_confirm p, body.downgrade_confirm ol {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: #333;
}

/* Crazy buttons that look like links */

.buttons_like_links a, .buttons_like_links button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons_like_links button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons_like_links button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons_like_links button img, .buttons_like_links a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

body.downgrade_confirm ol {
    list-style: decimal;
    margin-left: 3em;
}