{% extends "localtv/admin/__form.html" %}

{% load i18n %}

{% block title %}{% trans "User Profile" %} – {{ block.super }}{% endblock %}

{% block body_id %}user_profile{% endblock %}
{% block body_class %}user_profile{% endblock %}

{% block preform %}
  {% include "localtv/user_profile/header.html" %}
  <h2>Profile | Edit profile</h2>
  <br class="clear" />
{% endblock %}

{% block buttons %}
  <button type="submit" class="approve_button"><span>Save Changes</span></button>
  <a class="plain_button" href="{% url localtv_author request.user.pk %}"><span>View Profile</span></a>
{% endblock %}
