{% extends "localtv/base.html" %}

{% load uploadtemplate_tags %}
{% block title %}User Profile {% endblock %}
{% block body_id %}user_profile{% endblock %}
{% block content %}
<div class="tabs">
  <ul class="tabNavigation">
    {% url localtv_user_profile as localtv_user_profile %}
    {% url localtv_user_notifications as localtv_user_notifications %}
    <li{% ifequal request.path localtv_user_profile %} class="selected"{% endifequal %}><a href="{{ localtv_user_profile }}">Bio</a></li>
    <li{% ifequal request.path localtv_user_notifications %} class="selected"{% endifequal %}><a href="{{ localtv_user_notifications }}">Notifications</a></li>
    <li><a href="{% url localtv_author request.user.pk %}">View Profile</a></li>
  </ul>
  <div>
    <div class="form_container">

      <form action="{{ request.path }}" method="POST" enctype="multipart/form-encoding">
        {% block form %}
        {% for field in form %}
        <div class="form_box">
          {{ field.label_tag }}
          {{ field.errors }}
          {{ field }}
        </div>
        {% endfor %}
        {% endblock %}
        <input type="image" src="{% get_static_url "/images/submit_green.gif" %}" />
      </form>

    </div>
  </div>
</div>
{% endblock %}