/*////////////////////////////////////////////

~ HTML

////////////////////////////////////////////*/


body{
margin: 0;

padding: 0;
font-family: arial, helvetica, sans-serif;
font-size: 13px;
}

a{
color: #013e9a;
text-decoration: underline
}


a:hover{
color: #555555;
text-decoration: underline;
}

#main p, .full p{
line-height: 1.4;
color: #444;
margin: 0px 0 10px 0 !important;
}

h1 a{
padding-top: 79px;
margin: 0;
height: 0;
overflow: hidden;
display: block;

}

h1 a:hover{

}


h2{
font-size: 18px;
margin: 0 0 10px 0;
color: #333;
padding: 0;
font-weight: normal;
}


h3{
font-weight: normal;
margin: 30px 0 5px 0;

}

h4{
margin: 20px 0 0 0;
padding: 0;

}

/*////////////////////////////////////////////

~ Classes

////////////////////////////////////////////*/

.image{
padding: 5px;
background: #fff;
border-top: 1px double #dedede;
border-right: 1px double #aaa;
border-bottom: 1px double #888;
border-left: 1px double #cecece;
}

.floatright{
display: block;
float: right;
margin: 0 0 20px 20px;
}

.floatleft{
display: block;
float: left;
margin: 0 20px 30px 0;
}

.centered{
	margin: 0 auto;
	text-align: center;
}




.normal a{
display: block !important;
background: none !important;
clear: both !important;
font-size: 11px !important;
float: none !important;
line-height: 1.5em;
list-style: unordered !important;
padding: 3px 0 3px 23px! important;
margin: 0 0 0 10px !important;

}



/*////////////////////////////////////////////

~ Layout

////////////////////////////////////////////*/


#college {
background: url(/images/stripe.png) top repeat-x;
margin: 0;
padding: 0;

}



#blue{
background: url(/images/blue_bg.png) left top repeat-x;
}



#wrap{
width: 900px;
padding:0 5px 20px 15px;
margin: 0 auto;
}


#stripe{

	top: 342px;

	position: absolute;

	width: 900px;
	padding: 0px;
	margin: 0px;

}

#stripe img{
clear:both;
}

#stripe_left{


	margin-left: 25px;


	margin-bottom: 0px;


	margin-right: 0px;


	margin-top: 0px;


	float: left;


	padding: 0px;


	text-align: left;


	width: 375px;


}

#stripe_right{

	position: relative;

	text-align: left;

	margin-left: 100px;

	margin-bottom: 0px;

	margin-right: 0px;

	margin-top: 0px;

	width: 350px;

	padding: 0px;

	float: right;

}

#stripe h1{
text-align: center;
margin-right: auto;
margin-left: auto;
margin-bottom: 0;
margin-top: 0;
letter-spacing: -1px;
color: #cc0000;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 26px;
}

#stripe p{
line-height: 1.5em;
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 10px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 16px;
}


#content{
padding-left: 0px;
clear: both;
width: 900px;
margin: 0;
letter-spacing: .015em;

}


#main{
padding-top: 25px;
border-top-color: #efefef;
border-top-style: solid;
border-top-width: 1px;
padding-left: 0px;
clear: both;
width: 900px;

}


#college #main{
border-top-width: 0px;
margin-top: 30px;
top: 830px;
position: absolute;
width: 900px;
}

#features #main{
border-top-width: 0px;
margin-top: 30px;
top: 830px;
width: 900px;
}

.featuredmain{
	padding:0 !important;
	margin:0 !important;
}

#main_left{
padding-left: 0px;
padding-bottom: 30px;
padding-right: 20px;
float: left;
width: 550px;
}

#main_right{
padding-left: 20px;
padding-bottom: 30px;
padding-right: 20px;
padding-top: 20px;
background-color: #f9f1f7;
float: right;
width: 250px;

}


#main h1{
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
margin-top: 0;
color: black;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
font-size: 22px;
}

#main h2{
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
margin-top: 0;
color: black;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
font-size: 14px;
}

h4.partners{
margin:0;
padding:0 0 6px 0;
color: #7d7d7d;
font-weight: normal;
font-size: 12px;
}

#partnerlogos{
	height: 70px;
	border-top: 1px solid #EFEFEF;
	background-repeat: no-repeat;
	background-image: url(/images/partnerlogos.png);
}

a#wnyc{
	float:left;
	padding: 20px 95px 35px 95px;
	text-decoration: none;
	margin-left: 40px;
}

a#economystory{
	float:left;
	padding: 20px 150px 35px 150px;
	text-decoration: none;
	margin-left: 57px;
}

a#bavc{
	float:left;
	padding: 20px 95px 35px 95px;
	text-decoration: none;
	margin-left: 52px;
}
	

#main p{
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
line-height: 1.8em;
margin-top: 30px;
color: black;
font-weight: normal;
font-size: 16px;
}


#main li{
	line-height: 1.5em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	list-style-position: inside;
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: disc;
	margin-bottom: 20px;
}   


#main ul{
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
	margin-bottom: 20px;
}   


#get_started{
padding-bottom: 0px;
padding-top: 12px;
background-repeat: no-repeat;
background-image: url(/images/long_heading.png);
padding-right: 40px;
padding-left: 40px;
float: left;
clear: both;
top: 0px;
position: relative;
margin-top: 10px;
width: 850px;

}


#get_started  h1{
text-transform: uppercase;
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 5px;
margin-top: 5px;
color: black;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
font-size: 16px;
}

#get_started p{
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
line-height: 1.8em;
margin-top: 30px;
color: black;
font-weight: normal;
font-size: 16px;
}

#get_started a{
	color: #000000;
}


#third{
padding: 30px;
}

/*////////////////////////////////////////////

~ Footer

////////////////////////////////////////////*/


#footer{
top: 30px;
position: relative;
clear: both;
font-size: 11px;
text-align: center;
margin: 80px 40px 80px;
}

#footer p{
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-top: 0px;
line-height: 1.8em;
color: black;
font-weight: normal;
font-size: 10px;
}



#footer .first{
font-weight: bold;
}




/*////////////////////////////////////////////

~ Intro

////////////////////////////////////////////*/


#index #intro {
padding-left: 0px;
padding-right: 20px;
padding-top: 30px;
clear: both;
}

#index #intro h1{
text-align: left;
margin-top: 10px;
line-height: 33px;
clear: right;
float: left;
display: block;
margin-left: 0;
margin-bottom: 10px;
margin-right: 0;
letter-spacing: 0px;
color: #cc0000;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 28px;
}

#index #intro p{
letter-spacing: 0px;
line-height: 1.5em;
font-family: Helvetica, Verdana, Arial, sans-serif;
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 20px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 18px;
}


#intro {
margin-bottom: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 20px;
padding-top: 30px;
width: 900px;
}

#intro_left {
	margin-bottom: 0px;
	padding-bottom: 0px;
	float: left;
	margin-right: 0px;
	padding-left: 0px;
	width: 380px;
}

#intro_right {
	float: right;
	width: 500px;
	height: 350px;
	padding: 0px;
	margin: 15px 1px 80px 0;
}

#intro_right img{
	border: 1px solid #aaa;
}

#intro h1{
float: left;
margin: 10px 0 0 0;
margin-left: 0;
margin-bottom: 0;
margin-right: 10px;
letter-spacing: -1px;
color: #cc0000;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 36px;
}

#intro h2{
margin-bottom: -10px;
margin-right: 0;
margin-top: 30px;
color: #949494;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 12px;
}


#intro p{
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 20px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 18px;
line-height: 2em;
}


#intro span{
float: right;
margin-right: 30px;
}

#intro_left img{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 25px;
	text-align: right;
}

/*////////////////////////////////////////////

~ Header

////////////////////////////////////////////*/

#solution_button{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 16px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	color: white;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
	height: 35px;
	width: 302px;
	background-repeat: no-repeat;
	background-image: url(/images/solution_button.png);
	text-align: center;
}


#solution_button a{
	text-decoration: none;
	color: white;
	padding: 12px 60px;
}


#solution_button a:hover{
	text-decoration: none;
	color: #c3c3c3;
}

p.subtext {
	font-size: 10px !important;
	color: #444444 !important;
	margin: 0 !important;
	text-align: center !important;
	width: 302px !important;
}

#header {
	height: 90px;
	background-position: 0px 16px;
	background-image: url(/images/miro_community_logo.png);
	background-repeat: no-repeat;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 20px;
	padding-top: 30px;
}

#header img{

	left: 0px;

	top: 0px;

	position: relative;

	float: left;

}


#header h1{
padding-bottom: 0px;
padding-left: 105px;
display: block;
clear: right;
margin-bottom: 0;
margin-top: 0;
letter-spacing: -1px;
color: #cc0000;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 48px;
}

#header a{
	text-decoration: none;
}

#header h2{
padding-left: 105px;
margin-bottom: 0px;
margin-top: 0;
padding-top: 5px;
padding-bottom: 10px;
clear: left;
display: block;
color: #333333;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 18px;
}


#header p{
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
margin-top: 40px;
color: black;
font-weight: normal;
padding: 0px;
font-size: 18px;
line-height: 2em;
}


#header span{
float: right;
margin-right: 30px;
}




.clear{
clear: both;
}



/*////////////////////////////////////////////

~ Sidebar 

////////////////////////////////////////////*/


#sidebar{
padding-left: 0px;
padding-bottom: 30px;
padding-right: 20px;
padding-top: 0px;
border-left-color: #efefef;
border-left-style: solid;
border-left-width: 1px;
float: right;
width: 306px;
}



#sidebar h1{
margin-left: 25px;
margin-bottom: 10px;
margin-right: 0;
margin-top: 1px;
font-size: 14px;
color: #333;
}


#sidebar ul{
padding: 0px;
margin: 0 0 0px 0;
}

#sidebar ul li{
padding-left: 90px;
padding-bottom: 20px;
padding-right: 20px;
padding-top: 20px;
margin:  0;
list-style: none;
font-size: 12px;
font-weight: bold;
text-decoration: none;
display: block;
list-style: none;
border-bottom: 1px solid #efefef;

}





#sidebar ul li div{
padding: 0px !important;
margin:  0px 0 0 0 !important;
color: black;
font-size: 11px;
font-weight: normal;
}

#sidebar .domain{
background: url(/images/film_thumb.png) 22px center no-repeat;
_background: url(http://s3.getmiro.3.0.com.s3.amazonaws.com/i/hd_big1.gif) 29px center no-repeat;
}



#sidebar .existing{
background: url(/images/publish_icon.png) 20px center no-repeat;
_background: url(http://s3.getmiro.3.0.com.s3.amazonaws.com/i/bittorrent.gif) 31px center no-repeat;
}

#sidebar .free{
background: url(/images/gift_small.png) 11px center no-repeat;
_background: url(http://s3.getmiro.3.0.com.s3.amazonaws.com/i/branded.gif) 35px center no-repeat;
}


#sidebar .variety{
background: url(/images/guide.png) 20px center no-repeat;
_background: url(http://s3.getmiro.3.0.com.s3.amazonaws.com/i/earth.gif) 29px center no-repeat;
}

#sidebar .automatic{
background: url(/images/rss_big.png) 18px center no-repeat;
}



#sidebar .discussion{
background: url(/images/earth.png) 15px center no-repeat;
_background: url(http://s3.getmiro.3.0.com.s3.amazonaws.com/i/cnet.gif) 25px center no-repeat;
}


#sidebar .opensource{
background: url(/images/open_small.png) 8px center no-repeat;
}

#miro_can_do h1{
font-style: normal;
font-weight: normal;
font-family: Helvetica, Verdana, Arial, sans-serif;
color: #cc0000;
text-align: left;
font-size: 24px;
padding-top: 10px;
}

#miro_can_do p{
background-position: 0 15px;
background-image: url(/images/bubble.png);
background-repeat: no-repeat;
padding-left: 60px;
color: black;
border-bottom-color: #efefef;
border-bottom-style: solid;
border-bottom-width: 1px;
text-align: left;
font-size: 16px;
float: left;
font-family: georgia, times, sans-serif;
font-weight: normal;
font-style: italic;
padding-top: 10px;
}

/*////////////////////////////////////////////

~ Features 

////////////////////////////////////////////*/

#featuresnav{
	width: 210px;
	float: left;
	font-size: 15px; 
	font-family: arial, helvetica, sans-serif;
	color: 444444;
	padding: 55px 0 0 0;
	margin: 0;
	list-style-type: none;
}

#featuresnav li{
	padding: 6px 10px 6px 10px;
	cursor:pointer;
	display:block;
}

#featuresnav li.current{
	color: #ffffff;
	background-color: #444444;
}

#featuresmatrix{
	width: 668px;
	float: right;
	border: 1px solid #dedede;
	background-color: #ffffff;
	padding-top: 22px;
}

.matrixheader{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.matrixheader li{
	padding: 5px 0px 5px 15px;
	font-weight: bold;
	font-size: 18px;
	color: #444444;
}

.matrixfeature{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.matrixfeature li{
	padding: 5px 30px 10px 35px;
	line-height: 130%;
	font-weight: normal;
	font-size: 13px;
	color: #444444;
}

.matrixfeature li.alt{
	background-color: #eaeaea;
}

.subfeature{
	padding-bottom: 10px;
}

.subfeature li{
	margin: 0px 30px 0 35px;
	padding: 0;
	list-style-type: disc;
	font-weight: normal;
	font-size: 13px;
	color: #444444;
}

.management{
	display: block;
}

.presentation{
	display: none;
}

.engagement{
	display: none;
}

#get_started p {
	margin-top: 0;
}

/*////////////////////////////////////////////

~ Signup Form 

////////////////////////////////////////////*/

#signupform{
	margin: 70px 0 30px 0;
}

#signupform label{
	font-weight: bold;
	margin-right: 8px;
}

#signupform p{
	margin-top: 0px;
	margin-bottom: 4px;
}

.errorlist{
	margin:0;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom:3px;
	padding: 0;
	color: red;
}

#signupform input{
	margin-top:13px;
}
