{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Miro</title>
<link rel="stylesheet" type="text/css" href="/nav.css" />
<link rel="stylesheet" type="text/css" href="/styles.css" />

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body id="{% block body_id %}{% endblock %}">

<div id="blue">
<div id="wrap">

<div id="header">
        		<h1>Miro Community</h1>
        		<h2>elegant video presentation on your own website</h2>
        		 
</div><!-- header -->


	<ul id="nav">
	
		<li class="intro_link"><a href="/">Introduction</a></li>
<!-->		<li class="features_link"><a href="http://www.getmiro.com/using-miro/">Features and Demos</a></li>
		<li class="faq_link"><a href="http://www.getmiro.com/publish/">FAQ</a></li> -->
		<li class="colleges_link"><a href="/college/">Colleges and Universities<span class="bump"></a></span></li>

	</ul>

<div id="content">
{% block content %}
{% endblock %}
</div>


<div id="sidebar">
	<h1>Advantages of Miro Community</h1>
	
	<ul>
		 <li class="domain"><div>Run a beautiful video presentation website on your own domain, without having to maintain the software.</div></li>

		 <li class="existing"><div>Works with your existing video hosting setup and workflow - no need to re-post videos.</div></li>
		 <li class="free"><div>Works with free video hosting services, if you don't already have videos online.</div></li>
		  <li class="variety"><div>Let's you bring together videos from a wide-variety of hosts and sources, into one curated experience.</div></li>

		 <li class="automatic"><div>Automatically import and publish RSS feeds of videos from any source.</div></li>
		 <li class="discussion"><div>Create a discussion space for video about your community; strengthen your relationships with your community.</div></li>
		 <li class="opensource"><div>Runs on open-source software.</div></li>
	</ul>
	<br /><br />
		
	
</div> 

<div id="get_started">
<h1>Getting Started</h1>
<p>Interested in Miro Community?  Email <a href="mailto:mirocommunity@pculture.org">mirocommunity@pculture.org</a> and we'll give you a quote for your organization.</p>
</div>

<div id="footer">
           		
                <p class="first">Miro is a project of the Participatory Culture Foundation, a non-profit organization.</p>

				<p>The Miro name, logo, and icon are trademarks of the Participatory Culture Foundation (PCF).</p>
				
				<p>All text and image content on getmiro.com, unless otherwise specified, is released by PCF into the public domain. This does not include the Miro name, logo, and icon. This does not include the software code, which is licensed under the GPL. Please share, re-publish, re-use, and re-imagine this site.</p>
			</div>
            


<!-- /content -->
         



            

    
</div><!-- /wrap -->
</div><!-- /blue -->


    {% if settings.GOOGLE_ANALYTICS_UA %}
    <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ?
  "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
      var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_UA }}");
      {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
      pageTracker._setDomainName(".{{ settings.GOOGLE_ANALYTICS_DOMAIN }}");
      {% endif %}
      pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}
</body>

</html>