{% extends "localtv/mainsite/base.html" %}
{% block body_id %}college{% endblock %}
{% block content %}
<div id="intro">
        	<h1>Upgrade your school's video strategy</h1>
        		<h2>(and do it quickly and cheaply)</h2>
<p><strong>Does your college or university rely on iTunes U and YouTube for delivering your videos?</strong>  The leading educational organizations don't.  We can help you do better.</p>
        	</div>
        	
        	
        	<div id="stripe">
        	 <img src="/images/MC_uniqueu_package.png" alt="placeholder" width="906" height="304"/>
                	<div id="stripe_left"><h1>Miro Community</h1> <p>Get your videos on the web, without just sending people to YouTube.  Present your communications, lecture, and courseware videos on your own video website with Miro Community.</p></div>
        	<div id="stripe_right"><h1>Miro Desktop Player</h1> <p>Offer your own custom desktop video player, that comes with your own branding and your own content built in.  Based on Miro, an open-source desktop video player used by millions of people around the world.</p>  </div>
        	
        	</div>
        	
	<div id="main">
	<div id="main_left">
		<h1>Your videos represent your school. Use them well.</h1>
		<p>  Whether you are focused on videos for PR and communications, for public events and lectures, or for courseware, your videos are a representation of your schools reputation and community.  When you offer those videos on a YouTube page you are losing the chance to reinforce your own community and brand.</p>
		
		<p>The TED Conference and MIT are two of the world's leading providers of educational videos.  It's not a surprise: both have excellent internal technology teams and the have used that expertise to build their own custom video sites, TED.com and MIT World.  <strong>Why would these organizations invest the time and money to build video sites on their own websites?</strong>  Because they know that when you send your users off to iTunes or YouTube, you are weakening your viewers connection to your school and your community.</p>
		
		<p>But most schools don't have the internal capacity to build a world-class video website.  Miro Community gives you chance to setup your own video presentation site on your own domain name for very little cost and no IT expenses (we host the site and keep the software up to date).  The service is inexpensive and can be setup very quickly and easily.</p>
		
		<p>In addition, we offer custom versions of the Miro video player, an open-source podcast and video podcast player.  With a custom version of Miro, you can offer your own desktop video player, with your schools' own brand, websites, and content built in.  Members of your community can download and play content whenever they'd like.</p>
{% endblock %}