{% extends "localtv/mainsite/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block body_id %}features{% endblock %}
{% block content %}
<div id="intro"> 
	
	
<div style="text-align: center; background-color: #f1f1f1; padding: 10px; margin-bottom: 10px;"><embed src="http://blip.tv/play/hMtugaj_OgI" type="application/x-shockwave-flash" width="480" height="300" allowscriptaccess="always" allowfullscreen="true"></embed><br />
	Click to watch a demo of features and management of a Miro Community site.
	<br />
	</div>
	
	<ul id="featuresnav">
		<li id="management" class="current">Easy Video Management</li>		
		<li id="presentation">Elegant Video Presentation</li>
		<li id="engagement">Community Engagement</li>	
		<li id="morefeatures">Upcoming Features</li>	
	</ul>
	<div id="featuresmatrix">
	
		<!-- Easy Video Management -->
		<div class="management">	
			<ul class="matrixheader">
				<li>Flexible Content Importing</li>
				<ul class="matrixfeature">
					<li class="alt">Miro Community allows importing from almost any video source. The following mechanisms allow both automated and individual importing of videos:</li>
					<ul class="subfeature">
							<li>RSS</li>
							<li>Saved Searches</li>
							<li>User Profiles for Popular Video Sites</li>
							<li>Individual Video Submission</li>
						</ul>
					</ul>
				</ul>
			
			<ul class="matrixheader">
				<li>Edit and Manage Meta-data</li>
				<ul class="matrixfeature">
					<li class="alt">Automatically import meta-data for videos including descriptions, titles, images, tags, categories and others.</li>
					<li>Enable users to submit tags for videos</li>
					<li class="alt">Individually edit video meta-data adding custom titles, descriptions, categories, tags, links and images.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Simple Curation</li>
				<ul class="matrixfeature">
					<li class="alt">Highlight videos for extra exposure by featuring them, which gives them a prominent spot on your site's home page.</li>
					<li>Define a separate hierarchy of categories for use on each site within your university, if desired, providing as much flexibility of organization as needed.</li>
					<li class="alt">Automatically categorize videos based on their source.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Create, Export & Distribute Feeds</li>
				<ul class="matrixfeature">
					<li class="alt"><strong>Categories:</strong> Each category you create automatically generates an RSS feed, making the hard work you put into organizing your site portable. Easily place these feeds in other sites and podcasting applications such as iTunes, Miro or your university's custom podcast player.</li>
					<li><strong>New Videos:</strong> As new content flows into your sites, it appears in a unique feed for each site that highlights all new content.</li>
					<li class="alt"><strong>Featured Videos:</strong> Each site automatically generates a feed containing videos featured by its administrators</li>
					<li><strong>Popular Videos:</strong> Miro Community tracks viewing behavior, and uses this data to generate a list of the most popular content on a given site, and within given categories.</li>
					<li class="alt"><strong>Source Feeds:</strong> Of course, Miro Community also makes the source feeds it pulls together available to users and adminstrators.</li>
				</ul>
			</ul>
		</div>	
	
		<!-- Elegant Video Presentation -->
		<div class="presentation">				
			<ul class="matrixheader">
				<li>Flexible, beautiful layout and design</li>
				<ul class="matrixfeature">
					<li class="alt">Miro Community comes with templates that provide the commonly needed design features for 
	an elegant video site.</li>
					<li>You can customize the presentation to your heart's content:</li>
						<ul class="subfeature">
							<li>Sites can be hosted by us but can appear on www.yourDomain.com</li>
							<li>Customize your CSS to govern how the site looks</li>
							<li>Pick from a variety of layouts and templates</li>
							<li><a href="https://git.participatoryculture.org/localtv">Free and open source</a> software, written in Python on Django framework</li>
						</ul>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Video sites for every part of your organization</li>
				<ul class="matrixfeature">
					<li class="alt">Create any number of sites for different community organizations, schools, courses, or centers. Each with their own administrators and content. Give freedom and flexibility to community members, who can feature whatever content they choose.</li>
					<li>Pull the best content from these sites together into a central video portal, curated by the communications department to represent your organization appropriately.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Custom Desktop Video Player</li>
				<ul class="matrixfeature">
					<li class="alt">Get your own version of Miro, the award winning video podcast client with over one million users.</li>
					<li>Customize the application with your brand and your podcasts pre-installed. Distribute to your community for ease of use and centralization of communication, even while making your content portable.</li>
				</ul>
			</ul>
		</div>		
		
		<!-- Community Engagement -->
				<div class="engagement">	
			<ul class="matrixheader">
				<li>Community Engagement</li>
				<ul class="matrixfeature">
					<li class="alt">Threaded, sortable comments allow each video to become it's own discussion forum. For especially interesting and controversial videos, the comments section often holds as much insight and interest as the video itself.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Video Submission</li>
				<ul class="matrixfeature">
					<li class="alt">Audience members can submit videos for consideration by a site's curators. In the school of medicine or business, for example, students can submit videos from outside sources for their peers to enjoy and discuss, or they can create and submit their own videos.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Popularity Rankings</li>
				<ul class="matrixfeature">
					<li class="alt">As audience members watch videos, they influence which videos get promoted. The content of the site, therefore, is to some degree curated automatically according to the tastes of the audience members.</li>
				</ul>
			</ul>
		</div>	
		
		<!-- Upcoming Features -->
		<div class="morefeatures">	
			<ul class="matrixheader">
				<li>More Editorial Control</li>
				<ul class="matrixfeature">
					<li class="alt">We're developing layouts that will allow you to editorialize on top of videos in a seamless fashion. This will allow you to take the strengths of Miro Community's video management and presentation systems and combine them with the editorial power of a blog.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>Video Widgets</li>
				<ul class="matrixfeature">
					<li class="alt">We're also working on a widgeting system that will let you build custom Miro Community widgets for websites. The widgets will be elegant and fully customizable with a variety of shapes and sizes. They will display any type of video you like: new, popular, categories… whatever you prefer.</li>
				</ul>
			</ul>
			
			<ul class="matrixheader">
				<li>User Controlled Templates</li>
				<ul class="matrixfeature">
					<li class="alt">While Miro Community is <a href="https://git.participatoryculture.org/localtv">free and open source</a>, we will be making it much easier to take advantage of the templating system so that Miro Community layouts are infinitely customizable. Miro Community is based on the Django Python framework.</li>
				</ul>
			</ul>
		</div>		
		
		
	</div>
</div>
	<div class="clear"></div>
	
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>  
     <script type="text/javascript" src="/tabs.js"></script> 
	<div id="main" class="featuredmain">
	<div id="main_left">

{% endblock %}

{% block sidebar %}
{% endblock sidebar %}
