{% extends "localtv/mainsite/base.html" %}
{% block body_id %}index{% endblock %}
{% block content %}
<div id="intro">


        	<div id="intro_left">

<p style="font-size: 20px;"><strong style="color: #cc0000;">Miro Community</strong> lets you bring together all the videos about a topic, a community, or product into one elegant website, no matter where the videos are hosted.</p>

<!-- <p>Do you wish you could bring together all the videos about an issue, a community, or product into one place, no matter where they are hosted?</p>-->
<div id="solution_button"><a href="/signup/">Create a Site Now &gt;&gt;</a></div>

<div style="border: 3px solid #fcffae; padding: 10px; font-size: 14px; margin-top: 20px; background-color: #fcffae;">
<strong style="font-size: 16px;">Call for Local and Public Media Partners</strong><br />
In partnership with the Knight Foundation, we will soon launch several sites focused on specific cities and towns, curated by public media organizations: <a style="color:#000;" href="http://www.wnyc.org">WNYC</a> for New York, <a style="color:#000;" href="http://www.wdet.org">WDET</a> for Detroit, <a style="color:#000;" href="http://www.bavc.org">BAVC</a> for San Francisco, and others. We are seeking additional partners in other cities and towns that have a strong local connection and strong media experience.  Interested?  Contact anne@pculture.org.
</div>	
	
</div>

        	<div id="intro_right">
				<a href="http://floyd.mirocommunity.org"><img src="/images/Miro-floyd.jpg" alt="Miro Community Site" /></a>
				<br /><a style="margin-left: 70px;" href="http://floyd.mirocommunity.org">See the live Floyd Community site</a> and our <a href="/features/">video walkthrough</a>.
			</div>

</div>
        	
        	</div>
<div class="clear"></div>
        	
     	<h4 class="partners"><br /><br />Organizations launching Miro Community sites soon:</h4>
		<div id="partnerlogos">
			<a id="wnyc" href="http://wnyc.org/">&nbsp;</a>
			<a id="economystory" href="http://economystory.org/">&nbsp;</a>
			<a id="bavc" href="http://www.bavc.org/">&nbsp;</a>
		</div>
	<div id="main">
	<div id="main_left">
		<p><strong>Leverage Existing Video</strong> Your community already has a LOT of relevant video floating around on the internet. Miro Commnuity can aggregate it all in one central location. Videos can be created by you or your organization, but can also easily be brought in from a broader pool of creators. Videos can come from YouTube, blip.tv, Vimeo, or almost any video blog or site powered by drupal, plone, or other CMS that creates a media RSS feed.</p>
	
		<p><strong>A Video-Centric Approach</strong> Sites that maintain regular viewing audiences are usually video destinations first and foremost. In other words, websites that integrate video as a secondary function or as an afterthought generally never gain traction as places to go watch video. The most successful video sites are centered around the videos; for example, YouTube, Hulu, and the TED conference. These sites have regular viewers/visitors who come expecting entertainment, enrichment, and engagement. Therefore we developed Miro Community with the idea that a successful community is built around the videos themselves and we didn’t focus on integration or hiding videos behind organizational firewalls.</p>

		<div id="miro_can_do">
		<h1>What can Miro Community do for your organization?</h1>
		<p class="quote">"The product we build has an enthusiastic community and lots of users are making videos about it. We also produce how-to videos from time to time. We'd like bring our users together on a homebase for video on our website."</p>
		<p class="quote">"My non-profit creates a lot of video, but we don't have a good place to put it-- it just ends up buried on YouTube."</p>
		<p class="quote">"Our college is publishing courseware on iTunes U, but we aren't reaching people on the web."</p>
		<p class="quote">"The Communications Department can see that lots of people in our university community are making videos, but we don't have anywhere to bring them all together.  It would be great PR for us and would help build a stronger community. "</p>
		<p class="quote">"Our PBS station needs to find a way to present our videos on our website, but we don't want to be in the business of building and maintaing a web app. We want to focus on our expertise -- video creation and curation."</p>
		</div>
{% endblock %}