{% comment %}
# Miro Community
# Copyright 2009 - Participatory Culture Foundation
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% extends "localtv/mainsite/base.html" %}
{% block body_id %}index{% endblock %}
{% block content %}
<div id="intro">
        		<div id="intro_left"><h1>Instantly create an elegant video presentation website.</h1>
        		
<p>Are you sending your users to YouTube to watch your videos?  Are you struggling to find a way to get your video content onto your own site?  Do you wish you could bring together all the videos about your community or product  in one place?  <strong><em>Do you ever wish you had your own Hulu?</em></strong></p>
<div id="solution_button"><a href="mailto:mirocommunity@pculture.org">Need a Solution? Contact Us >></a></div></div>
        	
        	</div>

        	

        	
	<div id="main">
	<div id="main_left">
		<p><strong>Would the TED Conference ever send people to YouTube to see their videos?</strong> Of course not.  For an organization like TED or Hulu, their own brand is simply too important for them to send their users over to YouTube.  Instead, they built their own video presentation sites.  For your organization, presenting your videos well is just as important-- but designing and coding your own site is very expensive.  That's where we come in: Miro Community gives you a fast and simple way to create a beautiful video presentation site on your own website.</p>
		
		<p><strong>What is Miro Community?</strong> Miro Community is a web service that gives your organization a beautiful, easy customized and branded video presentation website on your own domain.  If your organization creates video or if people in your community do, Miro Community lets you bring it all together to reach more viewers and strengthen your relationships and your brand.  It's the missing link in your video plans.  <!-- ><a href="">See example sites and a full feature list >></a> --></p>
		<div id="miro_can_do">
		<h1>What can Miro Community do for your organization?</h1>
		<p class="quote">"The product we build has an enthusiastic community and lots of users are making videos about it. We also produce how-to videos from time to time. We'd like bring our users together on a homebase for video on our website."</p>
		<p class="quote">"My non-profit creates a lot of video, but we don't have a good place to put it-- it just ends up buried on YouTube."</p>
		<p class="quote">"Our college is publishing courseware on iTunes U, but we aren't reaching people on the web."</p>
		<p class="quote">"The Communications Department can see that lots of people in our university community are making videos, but we don't have anywhere to bring them all together.  It would be great PR for us and would help build a stronger community. "</p>
		<p class="quote">"Our PBS station needs to find a way to present our videos on our website, but we don't want to be in the business of building and maintaing a web app. We want to focus on our expertise -- video creation and curation."</p>
		</div>
{% endblock %}