{% extends "localtv/mainsite/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block extrahead %}
<style>
  label{
display:block;
margin:10px 0px 0px 0px;
}

#signupform input {
margin-top:0px;
}

#signupform input#id_username{
  display:block;
  margin-bottom:5px;
}

#signupform, #sidebar{
  margin-top:40px;
}


#content {
width:550px;
float:left;
}

.errorlist {
border-top:1px solid #CCCCCC;
padding:10px 0 0;
}

p.terms{
margin:0 0 40px 0px;
font-style:italic;
color:#555;
}

#signupform h1{
margin-bottom:10px;
}

</style>
{% endblock extrahead %}

{% block body_id %}signup{% endblock %}
{% block content %}

<div id="signupform"> 
<h1>Get Your Community Site Now</h1>
<p class='terms'> At this time, hosted Miro Community sites are free for everyone. Basic hosted sites will always remain free to individuals and small non-profit organizations. Once out of beta we will announce a pricing and payment system for larger non-profits and corporations.</p>

	<form method="post" action="">
          {% for field in form %}
          <p><label for="id_{{ field.name }}">{{ field.label }}</label> {{ field }} {{ field.help_text }}</p>
          {% endfor %}
	  <input type="submit" value='Create my Site'>
	</form>
<br /><p class='terms'>Need help getting your site off the ground? Feel free to contact <span style="color:red;">Anne [a] pculture.org</span> for assistance.</p>

</div>
{% endblock %}
